environment:

  matrix:

    # For Python versions available on Appveyor, see
    # http://www.appveyor.com/docs/installed-software#python
    # The list here is complete (excluding Python 2.6, which
    # isn't covered by this document) at the time of writing.

    #- PYTHON: "C:\\Python27"
    - MINICONDA: "C:\\Miniconda"
    #- PYTHON: "C:\\Python33"
    #- PYTHON: "C:\\Python34"
    #- PYTHON: "C:\\Python35"
    #- PYTHON: "C:\\Python27-x64"
    #- PYTHON: "C:\\Python33-x64"
    #  DISTUTILS_USE_SDK: "1"
    #- PYTHON: "C:\\Python34-x64"
    #  DISTUTILS_USE_SDK: "1"
    #- PYTHON: "C:\\Python35-x64"

install:
  # We need wheel installed to build wheels
  - "set PATH=%MINICONDA%;%MINICONDA%\\Scripts;%PATH%"
  - "appveyor DownloadFile https://github.com/DigitalGlobe/gbdxtools-windows-binaries/raw/master/GDAL-2.1.3-cp27-cp27m-win32.whl"
  - "python -m pip install GDAL-2.1.3-cp27-cp27m-win32.whl"
  - "conda config --set always_yes yes --set changeps1 no"
  - "conda update -q conda"
  - "set GDAL_VERSION=2.1.3"
  - "conda install -c conda-forge shapely rasterio>=v1.0a3"
  - "conda install pycurl numpy scipy scikit-image gdal pyproj matplotlib pytest"
  #- "appveyor DownloadFile https://github.com/DigitalGlobe/gbdxtools-windows-binaries/raw/master/pycurl-7.43.0-cp27-cp27m-win32.whl"
  #- "%PYTHON%\\python.exe -m pip install pycurl-7.43.0-cp27-cp27m-win32.whl"
  #- "appveyor DownloadFile https://github.com/DigitalGlobe/gbdxtools-windows-binaries/raw/master/numpy-1.13.1+mkl-cp27-cp27m-win32.whl"
  #- "%PYTHON%\\python.exe -m pip install numpy-1.13.1+mkl-cp27-cp27m-win32.whl"
  #- "appveyor DownloadFile https://github.com/DigitalGlobe/gbdxtools-windows-binaries/raw/master/scipy-0.19.1-cp27-cp27m-win32.whl"
  #- "%PYTHON%\\python.exe -m pip install scipy-0.19.1-cp27-cp27m-win32.whl"
  #- "appveyor DownloadFile https://github.com/DigitalGlobe/gbdxtools-windows-binaries/raw/master/scikit_image-0.13.0-cp27-cp27m-win32.whl"
  #- "%PYTHON%\\python.exe -m pip install scikit_image-0.13.0-cp27-cp27m-win32.whl"
  #- "appveyor DownloadFile https://github.com/DigitalGlobe/gbdxtools-windows-binaries/raw/master/Shapely-1.5.17-cp27-cp27m-win32.whl"
  #- "%PYTHON%\\python.exe -m pip install Shapely-1.5.17-cp27-cp27m-win32.whl"
  #- "appveyor DownloadFile https://github.com/DigitalGlobe/gbdxtools-windows-binaries/raw/master/rasterio-1.0a5-cp27-cp27m-win32.whl"
  #- "%PYTHON%\\python.exe -m pip install rasterio-1.0a5-cp27-cp27m-win32.whl"
  #- "appveyor DownloadFile https://github.com/DigitalGlobe/gbdxtools-windows-binaries/raw/master/pyproj-1.9.5.1-cp27-cp27m-win32.whl"
  #- "%PYTHON%\\python.exe -m pip install pyproj-1.9.5.1-cp27-cp27m-win32.whl"
  #- "%PYTHON%\\python.exe -m pip install matplotlib pytest"
  #- "%PYTHON%\\python.exe -m pip install -r requirements_windows_build.txt"
  #- "pip install -r requirements_windows_build.txt"
  - "conda install --yes --file requirements.txt"

build: off

test_script:
  # Put your test command here.
  # If you don't need to build C extensions on 64-bit Python 3.3 or 3.4,
  # you can remove "build.cmd" from the front of the command, as it's
  # only needed to support those cases.
  # Note that you must use the environment variable %PYTHON% to refer to
  # the interpreter you're using - Appveyor does not do anything special
  # to put the Python version you want to use on PATH.
  #- "build.cmd %PYTHON%\\python.exe setup.py test"
  #- "%PYTHON%\\python.exe unit_tests.py"
  - "python unit_tests.py"

after_test:
  # This step builds your wheels.
  # Again, you only need build.cmd if you're building C extensions for
  # 64-bit Python 3.3/3.4. And you need to use %PYTHON% to get the correct
  # interpreter
  #- "build.cmd %PYTHON%\\python.exe setup.py bdist_wheel"
  #- "%PYTHON%\\python.exe setup.py bdist_wheel"
  - "python setup.py bdist_wheel"

artifacts:
  # bdist_wheel puts your built wheel in the dist directory
  - path: dist\*

#on_success:
#  You can use this step to upload your artifacts to a public website.
#  See Appveyor's documentation for more details. Or you can simply
#  access your wheels from the Appveyor "artifacts" tab for your build.
