six
future
requests==2.13.0
boto
gbdx-auth==0.2.4
pygeoif==0.6
pytest
pytest-runner
geomet==0.1.1
vcrpy
mock
ndg-httpsclient
bumpversion
shapely
ephem
toolz
cloudpickle
dask
numpy
pycurl
rasterio>=1.0a3
pyproj
requests_futures
configparser
