six==1.10.0
future==0.15.2
requests==2.12.1
boto==2.39.0
gbdx-auth==0.2.4
pygeoif==0.6
pytest==2.9.1
pytest-runner==2.7
geomet==0.1.1
vcrpy
mock
ndg-httpsclient==0.4.2
bumpversion
shapely
ephem
toolz
dask==0.13.0
cloudpickle
numpy
pygdal
rasterio==1.0a3
pyproj
