requests>=2.12.1
boto3
gbdx-auth>=0.2.6
shapely
ephem
pycurl
pyproj>=2.4.2
requests_futures
configparser
mercantile>=0.10.0
imageio
tifffile
affine

# dask reqs
dask[array]>=2.0.0
numpy>=1.14

# compatibilty stuff
six>=1.10.0
future>=0.15.2
cachetools>=2.0.0