interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1030010076B8F500+AND+NOT+item_type%3AIDAHOImage+AND+NOT+item_type%3ADigitalGlobeAcquisition&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-105.0940403607103,39.76545050633882],[-104.8671507659262,39.78142313642779],[-104.8670590026835,39.66453712684333],[-105.0938051077258,39.64804554864559],[-105.0940403607103,39.76545050633882]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2018-01-20T17:54:28.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","WV02","DigitalGlobeProduct","1BProduct"],"name":null,"format":null,"ingest_date":"2018-01-21T00:03:13.275Z","attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":159.6,"bands":"Multi","xmlFile":"18JAN20175428-M1BS-057475420010_01_P001.XML","browseJpgFile":"18JAN20175428-M1BS-057475420010_01_P001-BROWSE.JPG","cloudCover_int":0,"imdFile":"18JAN20175428-M1BS-057475420010_01_P001.IMD","attFile":"18JAN20175428-M1BS-057475420010_01_P001.ATT","resolution_dbl":2.164,"bandsList":"BAND_C,BAND_B,BAND_G,BAND_Y,BAND_R,BAND_RE,BAND_N,BAND_N2","geoFile":"18JAN20175428-M1BS-057475420010_01_P001.GEO","imageFile":"18JAN20175428-M1BS-057475420010_01_P001.TIF","vendor":"DigitalGlobe","sunElevation_dbl":27.8,"platformName":"WORLDVIEW02","tilFile":"18JAN20175428-M1BS-057475420010_01_P001.TIL","sensorPlatformName":"WORLDVIEW02","readmeTxtFile":"18JAN20175428-M1BS-057475420010_01_P001_README.TXT","rpbFile":"18JAN20175428-M1BS-057475420010_01_P001.RPB","offNadirAngle_dbl":23.1,"soli":"057475420","catalogID":"1030010076B8F500","productLevel":"LV1B","part_int":1,"ephFile":"18JAN20175428-M1BS-057475420010_01_P001.EPH","bucketPrefix":"057475420010_01_003/057475420010_01/057475420010_01_P001_MUL"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1030010076B8F500_P001_MUL_057475420010","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1030010076B8F500+AND+attributes.colorInterpretation%3AWORLDVIEW_8_BAND&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-105.09383492,39.67521188],[-104.86701573,39.69160431],[-104.86705835,39.64502653],[-105.09366748,39.62850459],[-105.09383492,39.67521188]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2018-01-20T17:54:29.300Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV02"],"name":null,"format":null,"ingest_date":"2018-01-21T00:18:08.852Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2018-01-20T17:54:29.300Z","bucketName":"rda-images-1","numBands_int":8,"sunAzimuth_dbl":159.6,"nativeTileFileFormat":"TIF","colorInterpretation":"WORLDVIEW_8_BAND","cloudCover_int":0,"idahoImageId":"8042c083-8030-4988-a75a-919d101b6a68","satAzimuth_dbl":56.7,"satElevation_dbl":63.9,"pniirs_dbl":2.9,"numYTiles_int":10,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":27.9,"platformName":"WORLDVIEW02","imageHeight_int":2474,"numXTiles_int":35,"sensorPlatformName":"WORLDVIEW02","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":8820,"tileXSize_int":0,"tileYSize_int":0,"offNadirAngle_dbl":23.2,"tileBucketName":"rda-images-1","vendorName":"DigitalGlobe,
        Inc.","version":"1.0","tileYOffset_int":0,"catalogID":"1030010076B8F500","vendorDatasetIdentifier":"LV1B:057475420010_01_P002:1030010076B8F500:A01001033A05B400","groundSampleDistanceMeters_dbl":2.165},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"8042c083-8030-4988-a75a-919d101b6a68","source":null,"text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-105.09404036,39.76545051],[-104.86715077,39.78142314],[-104.867059,39.66453713],[-105.09380511,39.64804555],[-105.09404036,39.76545051]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1030010076B8F500+AND+attributes.colorInterpretation%3APAN&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-105.09356176,39.67523864],[-104.8673652,39.69158628[...]
- request:
    body: !!python/unicode '{"edges": [{"destination": "fc24c2af-b0d3-528a-853e-dd0a00077f7f",
      "id": "56e52190-a9b4-5bd7-ab8f-0690234adeec", "index": 1, "source": "d1affd93-ffb7-5192-8fe1-cd17fe60151b"},
      {"destination": "fc24c2af-b0d3-528a-853e-dd0a00077f7f", "id": "7c60b5cf-f2f3-548b-ace5-0a77b6b8b13b",
      "index": 2, "source": "6599d81d-afa9-5883-bdc8-d6b5a47cec34"}, {"destination":
      "d1affd93-ffb7-5192-8fe1-cd17fe60151b", "id": "8e69cf55-003b-5bae-bb9c-14cbc267631f",
      "index": 1, "source": "28f4a8ed-2e33-5059-b256-843b0d8e85fd"}, {"destination":
      "28f4a8ed-2e33-5059-b256-843b0d8e85fd", "id": "e5e61279-d4fb-5d2d-af18-d234fa618e1c",
      "index": 1, "source": "7b4e6407-7933-50f8-91f2-8dd3c259a939"}, {"destination":
      "7b4e6407-7933-50f8-91f2-8dd3c259a939", "id": "ce864686-05f9-5a8d-ac6d-92fd7e3c86b5",
      "index": 1, "source": "8971c5bf-742b-55bb-a8e8-8bffff764b39"}, {"destination":
      "6599d81d-afa9-5883-bdc8-d6b5a47cec34", "id": "d3da7f11-ec1f-5f67-ae81-77fa6a6a9dba",
      "index": 1, "source": "40cce719-22f2-59ef-8905-38af2bf3901d"}, {"destination":
      "40cce719-22f2-59ef-8905-38af2bf3901d", "id": "cace2960-2416-5f05-bb21-37cf57fb94c6",
      "index": 1, "source": "8359aed0-0138-5905-8dd9-2d41ce428706"}, {"destination":
      "8359aed0-0138-5905-8dd9-2d41ce428706", "id": "d2247633-459a-50ca-a360-654ea70f4992",
      "index": 1, "source": "f34dc9b8-0e0b-57f0-bfb7-31a94cdd5542"}], "nodes": [{"id":
      "fc24c2af-b0d3-528a-853e-dd0a00077f7f", "operator": "GeospatialMosaic", "parameters":
      {"Dest SRS Code": "EPSG:4326"}}, {"id": "d1affd93-ffb7-5192-8fe1-cd17fe60151b",
      "operator": "Format", "parameters": {"dataType": "1"}}, {"id": "28f4a8ed-2e33-5059-b256-843b0d8e85fd",
      "operator": "MultiplyConst", "parameters": {"constants": "[10000]"}}, {"id":
      "7b4e6407-7933-50f8-91f2-8dd3c259a939", "operator": "TOAReflectance", "parameters":
      {}}, {"id": "8971c5bf-742b-55bb-a8e8-8bffff764b39", "operator": "IdahoRead",
      "parameters": {"bucketName": "rda-images-1", "imageId": "8042c083-8030-4988-a75a-919d101b6a68",
      "objectStore": "S3"}}, {"id": "6599d81d-afa9-5883-bdc8-d6b5a47cec34", "operator":
      "Format", "parameters": {"dataType": "1"}}, {"id": "40cce719-22f2-59ef-8905-38af2bf3901d",
      "operator": "MultiplyConst", "parameters": {"constants": "[10000]"}}, {"id":
      "8359aed0-0138-5905-8dd9-2d41ce428706", "operator": "TOAReflectance", "parameters":
      {}}, {"id": "f34dc9b8-0e0b-57f0-bfb7-31a94cdd5542", "operator": "IdahoRead",
      "parameters": {"bucketName": "rda-images-1", "imageId": "d4bda01f-dfd4-43ae-a281-df2e2ce2ff79",
      "objectStore": "S3"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://idahoapi.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode 5a98dbc4b2091b00b9aff50d6bbc428a8e8ce823fec08f58fe4a7a3e1d2ea0e3}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/5a98dbc4b2091b00b9aff50d6bbc428a8e8ce823fec08f58fe4a7a3e1d2ea0e3/fc24c2af-b0d3-528a-853e-dd0a00077f7f/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"8042c083-8030-4988-a75a-919d101b6a68","version":1.0,"profileName":"georectified_image","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":46,"numYTiles":32,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"UNSIGNED_SHORT","imageHeight":7868,"imageWidth":11679,"sensorPlatformName":"WV02","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:057475420010_01_P002:1030010076B8F500:A01001033A05B400","acquisitionDate":"2018-01-20T17:54:29.300Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-105.09404036 39.78144257945383, -104.86700697875673 39.78144257945383,
        -104.86700697875673 39.62849295674452, -105.09404036 39.62849295674452, -105.09404036
        39.78144257945383))","groundSampleDistanceMeters":2.165,"minX":0,"minY":-1,"maxX":11678,"maxY":7866,"minTileX":0,"minTileY":-1,"maxTileX":45,"maxTileY":30,"sunAzimuth":159.6,"sunElevation":27.9,"satAzimuth":56.7,"satElevation":63.9,"cloudCover":0.0,"offNadirAngle":23.2,"sensorAlias":"WV02_MULTI","absoluteCalibrationFactors":[0.009295654,0.007291212,0.005654403,0.005101088,0.007858034,0.004539619,0.008726365,0.009042234],"effectiveBandwidths":[0.0473,0.0543,0.063,0.0374,0.0574,0.0393,0.0989,0.0996],"tdiLevels":[24.0,24.0,24.0,24.0,14.0,24.0,14.0,24.0],"bandAliases":["C","B","G","Y","R","RE","N","N2"],"pniirs":2.9},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":1.9439453826805608E-5,"scaleY":-1.9439453826805608E-5,"translateX":-105.09404036,"translateY":39.78142314,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":-105.09383492,"y":39.67521188},"upperRightCorner":{"x":-104.86701573,"y":39.69160431},"lowerRightCorner":{"x":-104.86705835,"y":39.64502653},"lowerLeftCorner":{"x":-105.09366748,"y":39.62850459},"gsd":1.9448436938555515E-5,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":1236.0,"sampleOffset":4409.0,"latOffset":39.6599,"lonOffset":-104.9807,"heightOffset":1643.0,"lineScale":1237.0,"sampleScale":4410.0,"latScale":0.0328,"lonScale":0.1159,"heightScale":500.0,"lineNumCoefs":[0.007931825,0.3608555,-1.404477,0.04433356,5.587833E-4,3.2712E-5,1.183653E-4,-0.00299958,-0.005404117,-1.443395E-6,-2.553089E-6,5.397931E-6,4.878162E-5,7.856168E-6,-4.252511E-5,-1.254671E-4,-3.04983E-5,1.150034E-6,5.669844E-6,9.546972E-7],"lineDenCoefs":[1.0,-9.96015E-4,0.003337169,-1.970808E-4,8.835706E-5,-2.457908E-6,1.129951E-5,7.223892E-6,-1.202379E-4,2.145747E-5,1.898311E-6,-4.486176E-7,-3.005946E-5,-6.402001E-8,6.462727E-6,3.895122E-5,1.063542E-7,-2.19394E-7,-3.726566E-6,0.0],"sampleNumCoefs":[-0.005865848,1.021999,-1.14153E-4,-0.02099445,-2.767265E-4,2.138081E-4,-4.049118E-5,0.00546273,-8.528946E-7,-3.676946E-6,-3.695733E-7,2.138043E-5,6.632414E-6,-1.566274E-6,-1.599281E-6,-2.251043E-5,-1.079158E-7,2.588541E-6,2.313561E-6,3.624772E-8],"sampleDenCoefs":[1.0,4.162984E-4,2.812871E-4,-3.417538E-4,-3.535346E-7,-1.733537E-6,1.204395E-6,7.221406E-6,-7.956313E-6,-1.671889E-6,0.0,-4.697501E-8,-7.744537E-8,0.0,-5.148954E-8,3.778944E-7,0.0,-2.030268E-8,-2.490264E-8,0.0]},"histogram":{"histograms":{"0":[0,46,0,0,0,0,0,0,0,0,1,0,2,0,1,1,0,0,0,2,4,0,0,0,1,0,0,0,0,2,0,1,0,0,0,1,1,3,2,0,2,1,0,0,1,0,1,2,2,2,2,0,1,3,3,2,2,3,0,0,4,0,4,0,1,0,1,1,0,1,1,2,1,0,1,0,1,3,0,3,3,2,2,5,1,2,3,4,2,3,3,0,2,4,1,4,4,1,3,5,2,7,7,2,4,5,3,3,9,3,5,12,5,9,7,4,9,5,12,8,10,8,8,13,15,10,16,11,16,21,19,13,19,30,31,23,24,25,39,40,35,55,70,106,133,257,376,612,871,1311,1777,2366,2965,3787,4505,5129,5979,6968,8322,9495,11017,12815,14582,16905,18959,21884,24792,27667,31059,35183,40283,47227,55219,65229,76125,88927,102732,11[...]
