interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1050010009569E00+AND+NOT+item_type%3AIDAHOImage+AND+NOT+item_type%3ADigitalGlobeAcquisition&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-107.0285891746167,38.43814057709461],[-106.8278780862746,38.42311301996205],[-106.8274452447164,38.28628519668077],[-107.0266933986514,38.29878284814359],[-107.0285891746167,38.43814057709461]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-04-20T17:54:00.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","GE01","DigitalGlobeProduct","1BProduct"],"name":null,"format":null,"ingest_date":"2017-07-26T20:51:24.723Z","attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":143.7,"bands":"Multi","xmlFile":"17APR20175400-M1BS-056817215010_01_P004.XML","browseJpgFile":"17APR20175400-M1BS-056817215010_01_P004-BROWSE.JPG","cloudCover_int":65,"imdFile":"17APR20175400-M1BS-056817215010_01_P004.IMD","attFile":"17APR20175400-M1BS-056817215010_01_P004.ATT","resolution_dbl":2.063,"bandsList":"BAND_B,BAND_G,BAND_R,BAND_N","geoFile":"17APR20175400-M1BS-056817215010_01_P004.GEO","imageFile":"17APR20175400-M1BS-056817215010_01_P004.TIF","vendor":"DigitalGlobe","sunElevation_dbl":59.0,"platformName":"GEOEYE01","tilFile":"17APR20175400-M1BS-056817215010_01_P004.TIL","sensorPlatformName":"GEOEYE01","readmeTxtFile":"17APR20175400-M1BS-056817215010_01_P004_README.TXT","rpbFile":"17APR20175400-M1BS-056817215010_01_P004.RPB","offNadirAngle_dbl":21.1,"soli":"056817215","catalogID":"1050010009569E00","productLevel":"LV1B","part_int":4,"ephFile":"17APR20175400-M1BS-056817215010_01_P004.EPH","bucketPrefix":"056817215010_01_003/056817215010_01/056817215010_01_P004_MUL"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1050010009569E00_P004_MUL_056817215010","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1050010009569E00+AND+attributes.colorInterpretation%3AWORLDVIEW_8_BAND&left=-180.0
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
