interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geobigdata.io/catalog/v2/record/1040010019B4A600?includeRelationships=false
  response:
    body: {string: !!python/unicode '{"identifier": "1040010019B4A600", "type": ["GBDXCatalogRecord",
        "Acquisition", "DigitalGlobeAcquisition", "WV03_VNIR"], "properties": {"bearing":
        180.001942003349, "offNadirAngle_min": 25.0274105072021, "offNadirAngle_start":
        26.6411170959473, "targetAzimuth_min": 330.091827392578, "multiResolution_min":
        1.47264468669891, "cloudCover": 82, "sunAzimuth_max": 155.529144287109, "targetAzimuth":
        331.273284912109, "multiResolution": 1.49004292488098, "catalogID": "1040010019B4A600",
        "panResolution_max": 0.377642244100571, "timestamp": "2016-03-07T18:00:50.000Z",
        "sunAzimuth_min": 155.529144287109, "browseURL": "https://geobigdata.io/thumbnails/v1/browse/1040010019B4A600.large.png",
        "targetAzimuth_max": 332.416595458984, "sunAzimuth": 155.529144287109, "sunElevation_min":
        42.8874855041504, "offNadirAngle": 25.7763481140137, "stereoPair": null, "platformName":
        "WORLDVIEW03_VNIR", "multiResolution_start": 1.51076924800873, "sunElevation":
        42.8874855041504, "vendor": "DigitalGlobe", "scanDirection": "Forward", "panResolution_end":
        0.368078887462616, "panResolution_start": 0.377642244100571, "targetAzimuth_end":
        332.416595458984, "panResolution_min": 0.368078887462616, "offNadirAngle_max":
        26.6411170959473, "multiResolution_end": 1.47264468669891, "multiResolution_max":
        1.51076924800873, "sunElevation_max": 42.8874855041504, "offNadirAngle_end":
        25.0274105072021, "panResolution": 0.372407972812653, "footprintWkt": "MULTIPOLYGON(((-105.358191
        40.03776623, -105.1785212 40.02127328, -105.1784372 39.98632695, -105.1784027
        39.95147233, -105.1783039 39.91661823, -105.1784357 39.88209049, -105.1785833
        39.8475929, -105.1787763 39.81321269, -105.1789138 39.77877266, -105.1786781
        39.74383013, -105.1782967 39.7087033, -105.1789354 39.6750295, -105.1789917
        39.64055277, -105.178896 39.60589065, -105.1784386 39.57076073, -105.1784753
        39.53634341, -105.1780899 39.50135014[...]
