interactions:
- request:
    body: !!python/unicode '{"edges": [], "nodes": [{"id": "dfef4280-02bf-54d5-aa42-f56dc1d5e7fd",
      "operator": "SentinelRead", "parameters": {"SentinelId": "tiles/21/U/VQ/2016/5/23/0",
      "sentinelProductSpec": "10m"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode 3d938e9f94c77b55106858283579768e9272233a9e0d78093d35309c766f8e12}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/3d938e9f94c77b55106858283579768e9272233a9e0d78093d35309c766f8e12/dfef4280-02bf-54d5-aa42-f56dc1d5e7fd/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"S2A_OPER_MSI_L1C_DS_MTI__20160523T195155_S20160523T145721_N02.02","version":1.1,"profileName":"georectified_image","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":43,"numYTiles":43,"tileXSize":256,"tileYSize":256,"numBands":4,"dataType":"UNSIGNED_SHORT","imageHeight":10980,"imageWidth":10980,"sensorPlatformName":"Sentinel2","sensorName":"Sentinel
        2 Scheme (10M): Blue (B02), Green (B03), Red (B04), NIR (B08)","vendorName":"ESA","vendorDatasetIdentifier":"S2A_OPER_PRD_MSIL1C_PDMC_20160523T204441_R082_V20160523T145721_20160523T145721:S2A_OPER_MSI_L1C_DS_MTI__20160523T195155_S20160523T145721_N02.02","acquisitionDate":"2016-05-23T14:57:21.462Z","colorInterpretation":"SENTINEL_2_10M","imageBoundsWGS84":"POLYGON
        ((-58.38572763180613 49.644430072971986, -56.86478640421985 49.6526438682633,
        -56.86744867287709 48.664955151350924, -58.358453774912164 48.657020774572565,
        -58.38572763180613 49.644430072971986))","groundSampleDistanceMeters":10.0,"minX":0,"minY":0,"maxX":10979,"maxY":10979,"minTileX":0,"minTileY":0,"maxTileX":42,"maxTileY":42,"cloudCover":1.17},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:32621","scaleX":10.0,"scaleY":-10.0,"translateX":399960.0,"translateY":5500020.0,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":null,"sensorMetadata":null,"imageAssociations":null,"rrdMetadata":null}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: ''}
version: 1
