interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/metadata/search?free-text=LandsatTemplate
  response:
    body:
      string: '[{"isPublic":false,"keywords":["LandsatTemplate"],"sensors":["Landsat"],"keynodes":[{"id":"Reproject","description":"Reproject"}],"description":"Landsat
        Read and Reproject","metadataAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"templateAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"datePublished":"2019-04-16T20:05:28.084Z","name":"LandsatTemplate","templateId":"5109a915f6c5ba62397e3f0bde2cbf6c7c5f4c9030b055361d77a90c605cf550","id":"e1b505a03d9446ee8c6dad96a83403b1"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/5109a915f6c5ba62397e3f0bde2cbf6c7c5f4c9030b055361d77a90c605cf550
  response:
    body:
      string: '{"id":"5109a915f6c5ba62397e3f0bde2cbf6c7c5f4c9030b055361d77a90c605cf550","defaultNodeId":"LandsatRead","edges":[{"id":"edge-1","index":1,"source":"LandsatRead","destination":"Reproject"}],"nodes":[{"id":"Reproject","operator":"Reproject","parameters":{"Dest
        SRS Code":"${DestSRSCode:-EPSG:4326}","Dest pixel-to-world transform":"null","Source
        SRS Code":"${SourceSRSCode:-EPSG:4326}","Source pixel-to-world transform":"null"}},{"id":"LandsatRead","operator":"LandsatRead","parameters":{"landsatId":"${catalogId}","productSpec":"${productSpec}"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/5109a915f6c5ba62397e3f0bde2cbf6c7c5f4c9030b055361d77a90c605cf550/metadata?catalogId=LC80370302014268LGN00&productSpec=multispectral
  response:
    body:
      string: '{"imageMetadata":{"imageId":"LC80370302014268LGN00","version":1.1,"profileName":"georectified_image","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":31,"numYTiles":31,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"UNSIGNED_SHORT","imageHeight":7831,"imageWidth":7701,"sensorPlatformName":"LANDSAT8","sensorName":"Operational
        Land Imager","vendorName":"NASA/USGS","vendorDatasetIdentifier":"Path=37:Row=30","acquisitionDate":"2014-09-25T18:01:18.581Z","colorInterpretation":"LANDSAT_8_30M","imageBoundsWGS84":"POLYGON
        ((-110.86347858369699 44.246853761678445, -107.97194650786913 44.2067849306098,
        -108.0745769190652 42.09413339961018, -110.86811390707854 42.13136397851653,
        -110.86347858369699 44.246853761678445))","groundSampleDistanceMeters":30.0,"minX":0,"minY":0,"maxX":7700,"maxY":7830,"minTileX":0,"minTileY":0,"maxTileX":30,"maxTileY":30,"sunAzimuth":156.24916298,"sunElevation":43.39473382,"cloudCover":0.04},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:32612","scaleX":30.0,"scaleY":-30.0,"translateX":510900.0,"translateY":4899300.0,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":null,"sensorMetadata":null,"imageAssociations":null,"rrdMetadata":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
