interactions:
- request:
    body: !!python/unicode '{"edges": [{"destination": "bb2de7ff-567f-527c-b2d9-ddf27cce21d9",
      "id": "bb2b647a-0278-5855-9c28-082a2ee828bd", "index": 1, "source": "dfef4280-02bf-54d5-aa42-f56dc1d5e7fd"}],
      "nodes": [{"id": "bb2de7ff-567f-527c-b2d9-ddf27cce21d9", "operator": "Reproject",
      "parameters": {"Dest SRS Code": "EPSG:4326", "Dest pixel-to-world transform":
      "null", "Source SRS Code": "EPSG:4326", "Source pixel-to-world transform": "null"}},
      {"id": "dfef4280-02bf-54d5-aa42-f56dc1d5e7fd", "operator": "SentinelRead", "parameters":
      {"SentinelId": "tiles/21/U/VQ/2016/5/23/0", "sentinelProductSpec": "10m"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode ac486cbbf99535e8272be67120859baa3607366c78ccbc3127df1d2ed14f2ae9}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/ac486cbbf99535e8272be67120859baa3607366c78ccbc3127df1d2ed14f2ae9/bb2de7ff-567f-527c-b2d9-ddf27cce21d9/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"S2A_OPER_MSI_L1C_DS_MTI__20160523T195155_S20160523T145721_N02.02","version":1.1,"profileName":"georectified_image","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":53,"numYTiles":36,"tileXSize":256,"tileYSize":256,"numBands":4,"dataType":"UNSIGNED_SHORT","imageHeight":8842,"imageWidth":13447,"sensorPlatformName":"Sentinel2","sensorName":"Sentinel
        2 Scheme (10M): Blue (B02), Green (B03), Red (B04), NIR (B08)","vendorName":"ESA","vendorDatasetIdentifier":"S2A_OPER_PRD_MSIL1C_PDMC_20160523T204441_R082_V20160523T145721_20160523T145721:S2A_OPER_MSI_L1C_DS_MTI__20160523T195155_S20160523T145721_N02.02","acquisitionDate":"2016-05-23T14:57:21.462Z","colorInterpretation":"SENTINEL_2_10M","imageBoundsWGS84":"POLYGON
        ((-58.37816710149235 49.65456221177575, -56.860757383144126 49.65456221177575,
        -56.860757383144126 48.65679789782951, -58.37816710149235 48.65679789782951,
        -58.37816710149235 49.65456221177575))","groundSampleDistanceMeters":10.0,"minX":67,"minY":-17,"maxX":13513,"maxY":8824,"minTileX":0,"minTileY":-1,"maxTileX":52,"maxTileY":34,"cloudCover":1.17},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":1.1284373602649111E-4,"scaleY":-1.1284373602649111E-4,"translateX":-58.38572763180613,"translateY":49.6526438682633,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":null,"sensorMetadata":null,"imageAssociations":null,"rrdMetadata":null}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: ''}
version: 1
