interactions:
- request:
    body: !!python/unicode '{"startDate": null, "filters": ["sensorPlatformName =
      ''WORLDVIEW03''"], "endDate": null, "types": ["Acquisition"], "searchAreaWkt":
      "POLYGON ((30.1 9.9, 30.1 10.1, 29.9 10.1, 29.9 9.9, 30.1 9.9))"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://geobigdata.io/catalog/v2/search
  response:
    body: {string: !!python/unicode '{"stats": {"recordsReturned": 0, "totalRecords":
        0, "typeCounts": {}}, "results": []}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [20121f83-131c-11e7-9422-397f59e9348c]
    status: {code: 200, message: OK}
version: 1
