interactions:
- request:
    body: !!python/unicode '{"startDate": "2004-01-01T00:00:00.000Z", "endDate": "2012-01-01T00:00:00.000Z",
      "types": ["Acquisition"], "searchAreaWkt": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://geobigdata.io/catalog/v2/search?includeRelationships=false
  response:
    body: {string: !!python/unicode '{"stats": {"recordsReturned": 1000, "totalRecords":
        1000, "typeCounts": {"GBDXCatalogRecord": 1000, "DigitalGlobeAcquisition":
        1000, "GE01": 55, "Acquisition": 1000, "WV01": 945}}, "results": [{"identifier":
        "1050410002CE6000", "type": ["GBDXCatalogRecord", "Acquisition", "DigitalGlobeAcquisition",
        "GE01"], "properties": {"bearing": 90.084053, "offNadirAngle_min": 16.6628093719482,
        "offNadirAngle_start": 16.6628093719482, "targetAzimuth_min": 259.63623046875,
        "multiResolution_min": 1.77203094959259, "cloudCover": 2, "sunAzimuth_max":
        125.748603820801, "targetAzimuth": 271.941833496094, "multiResolution": 1.79914963245392,
        "catalogID": "1050410002CE6000", "panResolution_max": 0.458224803209305, "timestamp":
        "2011-10-16T22:53:51.000Z", "sunAzimuth_min": 125.748603820801, "browseURL":
        "https://geobigdata.io/thumbnails/v1/browse/1050410002CE6000.large.png", "targetAzimuth_max":
        282.101470947266, "sunAzimuth": 125.748603820801, "sunElevation_min": 64.0750274658203,
        "offNadirAngle": 18.1906814575195, "stereoPair": null, "platformName": "GEOEYE01",
        "multiResolution_start": 1.77203094959259, "sunElevation": 64.0750274658203,
        "vendor": "DigitalGlobe", "scanDirection": "Reverse", "panResolution_end":
        0.458224803209305, "panResolution_start": 0.442957282066345, "targetAzimuth_end":
        282.101470947266, "panResolution_min": 0.442957282066345, "offNadirAngle_max":
        19.9632244110107, "multiResolution_end": 1.83295440673828, "multiResolution_max":
        1.83295440673828, "sunElevation_max": 64.0750274658203, "offNadirAngle_end":
        19.9632244110107, "panResolution": 0.449755698442459, "footprintWkt": "MULTIPOLYGON(((172.1185553
        6.311346849, 172.1157477 6.165061926, 172.0751673 6.165081644, 172.0344735
        6.165076062, 171.9936709 6.165037567, 171.9527464 6.164970569, 171.9117007
        6.164880542, 171.8705313 6.164767715, 171.8292289 6.164639397, 171.7877957
        6.164486934, 171.7462283 6.164316932, 171.7045182 6.164125149, 171.6626593
        6.16391653, 171.6206413 6.163686705, 171.5813549 6.163459172, 171.5763169
        6.313008495, 171.6164309 6.312799568, 171.6591382 6.312595979, 171.701671
        6.312408083, 171.7440343 6.312239649, 171.7862337 6.312084498, 171.8282793
        6.31194832, 171.8701748 6.311824092, 171.9119172 6.311719542, 171.9535187
        6.311628036, 171.9949798 6.311548701, 172.0363005 6.311477074, 172.0774916
        6.311406341, 172.1185553 6.311346849)))", "targetAzimuth_start": 259.63623046875,
        "imageBands": "PAN_MS1", "sensorPlatformName": "GEOEYE01"}}, {"identifier":
        "1050410002CE6100", "type": ["GBDXCatalogRecord", "Acquisition", "DigitalGlobeAcquisition",
        "GE01"], "properties": {"bearing": 90.873711, "offNadirAngle_min": 18.0179862976074,
        "offNadirAngle_start": 18.0179862976074, "targetAzimuth_min": 1.41400265693665,
        "multiResolution_min": 1.78777825832367, "cloudCover": 2, "sunAzimuth_max":
        98.4418640136719, "targetAzimuth": 8.95339870452881, "multiResolution": 1.91711151599884,
       [...]
