interactions:
- request:
    body: '{"startDate": "2012-01-01T00:00:00.000Z", "endDate": null, "types": ["Acquisition"],
      "searchAreaWkt": "POLYGON ((30.1 9.9, 30.1 10.1, 29.9 10.1, 29.9 9.9, 30.1 9.9))"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://geobigdata.io/catalog/v1/search?includeRelationships=false
  response:
    body: {string: !!python/unicode '{"searchTag":null,"results":[{"identifier":"LC81740532015287LGN00","owner":"7b216bd9-6523-4ca9-aa3b-1d8a5994f054","type":"LandsatAcquisition","properties":{"path":"174","panResolution":"15.0","browseURL":"https://s3-us-west-2.amazonaws.com/landsat-pds/L8/174/053/LC81740532015287LGN00/LC81740532015287LGN00_thumb_large.jpg","epsgCode":"4326","footprintWkt":"POLYGON
        ((29.25006 9.05111, 29.25006 11.1657, 31.35772 11.1657, 31.35772 9.05111,
        29.25006 9.05111))","cloudCover":"19.05","multiResolution":"30.0","row":"53","timestamp":"2015-10-14T00:00:00.000Z","timestampWkt":"2015-10-14T08:17:04.000Z"}},{"identifier":"LC81740532015319LGN00","owner":"7b216bd9-6523-4ca9-aa3b-1d8a5994f054","type":"LandsatAcquisition","properties":{"path":"174","panResolution":"15.0","browseURL":"https://s3-us-west-2.amazonaws.com/landsat-pds/L8/174/053/LC81740532015319LGN00/LC81740532015319LGN00_thumb_large.jpg","epsgCode":"4326","footprintWkt":"POLYGON
        ((29.23909 9.051, 29.23909 11.16556, 31.34681 11.16556, 31.34681 9.051, 29.23909
        9.051))","cloudCover":"0.0","multiRes[...]
