interactions:
- request:
    body: '{"type": "Polygon", "coordinates": [[[180.0, -90.0], [180.0, 90.0], [-180.0,
      90.0], [-180.0, -90.0], [180.0, -90.0]]]}'
    headers:
    method: POST
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?q=item_type%3AGBDXCatalogRecord+AND+%28attributes.catalogID.keyword%3A104001003A32FA00+OR+id%3A104001003A32FA00%29+AND+NOT+item_type%3ADigitalGlobeAcquisition&count=1
  response:
    body:
      string: '[{"geometry":{"coordinates":[[[[-77.50334614071042,38.46889732279556],[-77.50332864387906,38.44036879803334],[-77.34725004705363,38.44231284787204],[-77.34719011103022,38.47085522630138],[-77.50334614071042,38.46889732279556]]]],"type":"MultiPolygon"},"type":"Feature","properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2018-03-31T16:26:28.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","WV03_VNIR","DigitalGlobeProduct","1BProduct"],"name":null,"format":null,"ingest_date":"2019-11-06T20:59:41.054Z","attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":159.4,"bands":"P","xmlFile":"18MAR31162628-P1BS-011357353010_01_P002.XML","browseJpgFile":"18MAR31162628-P1BS-011357353010_01_P002-BROWSE.JPG","cloudCover_int":0,"imdFile":"18MAR31162628-P1BS-011357353010_01_P002.IMD","attFile":"18MAR31162628-P1BS-011357353010_01_P002.ATT","resolution_dbl":0.327,"bandsList":"BAND_P","geoFile":"18MAR31162628-P1BS-011357353010_01_P002.GEO","imageFile":"18MAR31162628-P1BS-011357353010_01_P002.TIF","vendor":"DigitalGlobe","sunElevation_dbl":54.4,"platformName":"WORLDVIEW03_VNIR","tilFile":"18MAR31162628-P1BS-011357353010_01_P002.TIL","sensorPlatformName":"WORLDVIEW03_VNIR","readmeTxtFile":"18MAR31162628-P1BS-011357353010_01_P002_README.TXT","rpbFile":"18MAR31162628-P1BS-011357353010_01_P002.RPB","offNadirAngle_dbl":14.8,"soli":"011357353","catalogID":"104001003A32FA00","productLevel":"LV1B","part_int":2,"ephFile":"18MAR31162628-P1BS-011357353010_01_P002.EPH","bucketPrefix":"011357353010_01_003/011357353010_01/011357353010_01_P002_PAN"},"ingest_attributes":{"_rest_user":"application-fc581771-e816-4c23-a9a8-575a7b51d369","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"104001003A32FA00_P002_PAN_011357353010","source":null,"text":""}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/metadata/search?free-text=DigitalGlobeStripTemplate
  response:
    body:
      string: '[{"isPublic":false,"keywords":["DigitalGlobeStripTemplate"],"sensors":["DigitalGlobeStripTemplate"],"keynodes":[{"id":"Format","description":"Format"}],"description":"DigitalGlobeStripTemplate
        and Format","metadataAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"templateAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"datePublished":"2019-05-06T20:26:40.308Z","name":"DigitalGlobeStripTemplate","templateId":"d9b75d1acd350a65777e7533efb8a0eca02ca3d97572f0afb833c7f48bdf64a3","id":"8c1278beadd34612a531ba3d7fdd91ed"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/d9b75d1acd350a65777e7533efb8a0eca02ca3d97572f0afb833c7f48bdf64a3
  response:
    body:
      string: '{"id":"d9b75d1acd350a65777e7533efb8a0eca02ca3d97572f0afb833c7f48bdf64a3","defaultNodeId":"Format","edges":[{"id":"edge-1","index":1,"source":"DigitalGlobeStrip","destination":"Format"},{"id":"edge-2","index":1,"source":"DigitalGlobeStrip","destination":"RadiometricDRA"},{"id":"edge-3","index":1,"source":"DigitalGlobeStrip","destination":"SmartBandSelect"}],"nodes":[{"id":"Format","operator":"Format","parameters":{"dataType":"${dataType}"}},{"id":"DigitalGlobeStrip","operator":"DigitalGlobeStrip","parameters":{"CRS":"${crs}","GSD":"${gsd}","bands":"${bands}","catId":"${catId}","correctionType":"${correctionType}","fallbackToTOA":"${fallbackToTOA}"}},{"id":"RadiometricDRA","operator":"RadiometricDRA","parameters":{}},{"id":"SmartBandSelect","operator":"SmartBandSelect","parameters":{"bandSelection":"${bandSelection:-All}"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/d9b75d1acd350a65777e7533efb8a0eca02ca3d97572f0afb833c7f48bdf64a3/metadata?catId=104001003A32FA00&crs=EPSG%3A4326&gsd=null&correctionType=TOAREFLECTANCE&bands=MS&fallbackToTOA=True&nodeId=Format&dataType=4
  response:
    body:
      string: '{"imageMetadata":{"imageId":"217ab342-9ada-47ca-b344-890d0b3e78ef","version":1.1,"profileName":"georectified_image","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":53,"numYTiles":41,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"FLOAT","imageHeight":10327,"imageWidth":13356,"sensorPlatformName":"WV03","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:011357353010_01_P001:104001003A32FA00:A0100105369F8800","acquisitionDate":"2018-03-31T16:26:27.479Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-77.50367386 38.56161618, -77.34686203822494 38.56161618, -77.34686203822494
        38.440367626280995, -77.50367386 38.440367626280995, -77.50367386 38.56161618))","groundSampleDistanceMeters":1.307,"minX":0,"minY":0,"maxX":13355,"maxY":10326,"minTileX":0,"minTileY":0,"maxTileX":52,"maxTileY":40,"sunAzimuth":159.5,"sunElevation":54.3,"satAzimuth":12.5,"satElevation":74.0,"cloudCover":0.0,"offNadirAngle":14.8,"sensorAlias":"WV03_MULTI","oneBResamplingKernel":"MTF","absoluteCalibrationFactors":[0.0143287,0.0116076,0.00885668,0.00684307,0.0102,0.00621996,0.0117971,0.0106378],"effectiveBandwidths":[0.0405,0.054,0.0618,0.0381,0.0585,0.0387,0.1004,0.0889],"tdiLevels":[24.0,21.0,21.0,24.0,14.0,24.0,14.0,24.0],"bandAliases":["C","B","G","Y","R","RE","N","N2"],"pniirs":3.6},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":1.174092705713259E-5,"scaleY":-1.174092705713259E-5,"translateX":-77.50367386,"translateY":38.56161618,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,0,0,0,0,0,0,0,0,0,0,0,71,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,68,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,73,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,70,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,73,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,80,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,85,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,87,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,76,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,28,54,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,35,62,0,0,0,0,0,0,0,0[...]
