interactions:
- request:
    body: !!python/unicode '{"type": "Polygon", "coordinates": [[[-76.65, 40.1], [-76.65,
      40.14], [-76.55, 40.14], [-76.55, 40.1], [-76.65, 40.1]]]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vector.geobigdata.io/insight-vector/api/index/aggregation/vector-sma-twitter*?count=10&query=item_type%3Atweet&end_date=now&start_date=now-2M&aggs=geohash%3A4%3Bdate_hist%3Amonth
  response:
    body:
      string: !!python/unicode '{"responseDate":"2019-06-14T19:52:30.351Z","geom":{"type":"Polygon","coordinates":[[[-76.65,40.1],[-76.65,40.14],[-76.55,40.14],[-76.55,40.1],[-76.65,40.1]]]},"query":"item_type:tweet","startDate":null,"endDate":null,"totalItems":195,"aggregations":[{"name":"geohash:4","terms":[{"term":"dr1s","count":194,"aggregations":[{"name":"date_hist:month","terms":[{"term":"2019-02-01T00:00:00.000Z","count":2,"aggregations":null},{"term":"2019-03-01T00:00:00.000Z","count":44,"aggregations":null},{"term":"2019-04-01T00:00:00.000Z","count":47,"aggregations":null},{"term":"2019-05-01T00:00:00.000Z","count":76,"aggregations":null},{"term":"2019-06-01T00:00:00.000Z","count":25,"aggregations":null}]}]},{"term":"dr1k","count":1,"aggregations":[{"name":"date_hist:month","terms":[{"term":"2019-05-01T00:00:00.000Z","count":1,"aggregations":null}]}]}]}]}'
    headers:
      content-type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
