interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?q=item_type%3AGBDXCatalogRecord+AND+%28attributes.catalogID.keyword%3A03f4955d-c7da-45a8-8289-ba73bec5e127-inv+OR+id%3A03f4955d-c7da-45a8-8289-ba73bec5e127-inv%29+AND+NOT+item_type%3ADigitalGlobeAcquisition&count=1&left=-180.0&right=180.0&lower=-90.0&upper=90.0
  response:
    body:
      string: '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-73.50374537,-3.64680909],[-73.37784988,-3.64894879],[-73.37794553,-3.73924315],[-73.5036181,-3.73710012],[-73.50374537,-3.64680909]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2018-03-23T15:23:20.609Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV04"],"name":null,"format":null,"ingest_date":"2018-03-29T03:23:09.487Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2018-03-23T15:23:20.609Z","bucketName":"rda-images-1","numBands_int":1,"sunAzimuth_dbl":79.1,"nativeTileFileFormat":"PNG","colorInterpretation":"PAN","cloudCover_int":99,"idahoImageId":"88239a1a-aa65-4584-a1f1-8f4eb30c03bc","satAzimuth_dbl":104.4,"satElevation_dbl":74.6,"pniirs_dbl":5.6,"numYTiles_int":31,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":65.3,"platformName":null,"imageHeight_int":30800,"numXTiles_int":41,"sensorPlatformName":null,"sensorName":"Panchromatic","dataType":"UNSIGNED_SHORT","imageWidth_int":41888,"tileXSize_int":0,"tileYSize_int":0,"offNadirAngle_dbl":14.0,"tileBucketName":"rda-images-1","vendorName":"DigitalGlobe,
        Inc.","version":"1.1","tileYOffset_int":0,"catalogID":"03f4955d-c7da-45a8-8289-ba73bec5e127-inv","vendorDatasetIdentifier":"LV1B:I00000049224_01_P001:03f4955d-c7da-45a8-8289-ba73bec5e127-inv:None","groundSampleDistanceMeters_dbl":0.329},"ingest_attributes":{"_rest_user":"acquisition-gbdx-support@digitalglobe.com","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"88239a1a-aa65-4584-a1f1-8f4eb30c03bc","source":null,"text":""}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/metadata/search?free-text=DigitalGlobeStripTemplate
  response:
    body:
      string: '[{"isPublic":false,"keywords":["DigitalGlobeStripTemplate"],"sensors":["DigitalGlobeStripTemplate"],"keynodes":[{"id":"Format","description":"Format"}],"description":"DigitalGlobeStripTemplate
        and Format","metadataAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"templateAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"datePublished":"2019-04-16T20:01:15.299Z","name":"DigitalGlobeStripTemplate","templateId":"dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3","id":"8c1278beadd34612a531ba3d7fdd91ed"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3
  response:
    body:
      string: '{"id":"dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3","defaultNodeId":"Format","edges":[{"id":"edge-1","index":1,"source":"DigitalGlobeStrip","destination":"Format"},{"id":"edge-2","index":1,"source":"DigitalGlobeStrip","destination":"RadiometricDRA"}],"nodes":[{"id":"Format","operator":"Format","parameters":{"dataType":"${dataType}"}},{"id":"DigitalGlobeStrip","operator":"DigitalGlobeStrip","parameters":{"CRS":"${crs}","GSD":"${gsd}","bands":"${bands}","catId":"${catId}","correctionType":"${correctionType}","fallbackToTOA":"${fallbackToTOA}"}},{"id":"RadiometricDRA","operator":"RadiometricDRA","parameters":{}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3/metadata?catId=03f4955d-c7da-45a8-8289-ba73bec5e127-inv&crs=EPSG%3A4326&gsd=null&correctionType=TOAREFLECTANCE&bands=PAN&fallbackToTOA=True&nodeId=Format&dataType=4
  response:
    body:
      string: '{"imageMetadata":{"imageId":"314f3fa0-1c1c-4a36-b8c2-c61ba53714f2","version":1.1,"profileName":"georectified_image","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"PNG","tileXOffset":0,"tileYOffset":0,"numXTiles":168,"numYTiles":709,"tileXSize":256,"tileYSize":256,"numBands":1,"dataType":"FLOAT","imageHeight":181501,"imageWidth":42868,"sensorPlatformName":"WV04","sensorName":"Panchromatic","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:I00000049224_01_P001:03f4955d-c7da-45a8-8289-ba73bec5e127-inv:None","acquisitionDate":"2018-03-23T15:23:17.797Z","colorInterpretation":"PAN","imageBoundsWGS84":"POLYGON
        ((-73.50395278 -3.4841001, -73.3776439046856 -3.4841001, -73.3776439046856
        -4.018885655156306, -73.50395278 -4.018885655156306, -73.50395278 -3.4841001))","groundSampleDistanceMeters":0.33,"minX":0,"minY":0,"maxX":42867,"maxY":181500,"minTileX":0,"minTileY":0,"maxTileX":167,"maxTileY":708,"sunAzimuth":79.5,"sunElevation":65.3,"satAzimuth":103.6,"satElevation":74.3,"cloudCover":0.997,"offNadirAngle":14.3,"sensorAlias":"WV04_P","oneBResamplingKernel":"MTF","absoluteCalibrationFactors":[0.05333822],"effectiveBandwidths":[0.306681],"tdiLevels":[48.0],"bandAliases":["P"],"pniirs":5.6},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":2.9464606539705354E-6,"scaleY":-2.9464606539705354E-6,"translateX":-73.50395278,"translateY":-3.4841001,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,[...]
