interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/paging?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1050410002D77600+AND+NOT+item_type%3AIDAHOImage+AND+NOT+item_type%3ADigitalGlobeAcquisition&ttl=5m&left=-180.0
  response:
    body: {string: !!python/unicode '{ "data" : [{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-94.97539484958556,29.12722299904154],[-94.9823681323632,28.97907280929035],[-95.13218142834862,28.97795930863359],[-95.12499602440046,29.12864520684073],[-94.97539484958556,29.12722299904154]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["_ALL_"],"users":["_ALL_"]},"item_date":"2012-11-02T17:07:06.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","GE01","DigitalGlobeProduct","1BProduct"],"format":null,"ingest_date":"2017-04-15T06:57:04.129Z","source":null,"name":null,"attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":160.8,"bands":"Multi","xmlFile":"12NOV02170706-M1BS-056067713010_01_P001.XML","browseJpgFile":"12NOV02170706-M1BS-056067713010_01_P001-BROWSE.JPG","cloudCover_int":0,"imdFile":"12NOV02170706-M1BS-056067713010_01_P001.IMD","attFile":"12NOV02170706-M1BS-056067713010_01_P001.ATT","resolution_dbl":2.047,"bandsList":"BAND_B,BAND_G,BAND_R,BAND_N","geoFile":"12NOV02170706-M1BS-056067713010_01_P001.GEO","imageFile":"12NOV02170706-M1BS-056067713010_01_P001.TIF","vendor":"DigitalGlobe","sunElevation_dbl":44.0,"platformName":"GEOEYE01","tilFile":"12NOV02170706-M1BS-056067713010_01_P001.TIL","sensorPlatformName":"GEOEYE01","readmeTxtFile":"12NOV02170706-M1BS-056067713010_01_P001_README.TXT","rpbFile":"12NOV02170706-M1BS-056067713010_01_P001.RPB","offNadirAngle_dbl":16.4,"soli":"056067713","catalogID":"1050410002D77600","productLevel":"LV1B","part_int":1,"ephFile":"12NOV02170706-M1BS-056067713010_01_P001.EPH","bucketPrefix":"056067713010_01_003/056067713010_01/056067713010_01_P001_MUL"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1050410002D77600_P001_MUL_056067713010","text":""}}],"next_paging_id":"DnF1ZXJ5VGhlbkZldGNoHwAAAAABZqEtFjdJbDhrTHNEU1FpdWZaREFWYzA2LWcAAAAAAMUsbhZsV3k2eEx2V1RqQ0xWZi1HYVRhYkFnAAAAAAF-gnEWZjlXdWEyNUVUZ0NZUUJ4ZFd3NzdSQQAAAAACG-5cFm4tTzhIUElJVEpheG1NZXdsc1NJX3cAAAAAAhvuWxZuLU84SFBJSVRKYXhtTWV3bHNTSV93AAAAAADFLG8WbFd5NnhMdldUakNMVmYtR2FUYWJBZwAAAAABA5srFkVNZ1JCVUtWUnRpY2VHUzl0RW04dncAAAAAAkrWrBZPck9HY2laMVR6eVJrWk5IS3RrbTRRAAAAAAF-gnIWZjlXdWEyNUVUZ0NZUUJ4ZFd3NzdSQQAAAAAA333FFlNxNUYwQk9YUUN1TDdZQXpzWjVBQncAAAAAAYZPdxZzNmRUV0o0elNPaXhhUUZ1Z3BPTkd3AAAAAAJK1q0WT3JPR2NpWjFUenlSa1pOSEt0a200UQAAAAABrQg2FlA4MWNtZk9pVGp1STZsV0UyRGdhd3cAAAAAAhvuXRZuLU84SFBJSVRKYXhtTWV3bHNTSV93AAAAAAFQrA4WWnREamNITXZUUzIxcWM3NnNzSDJkQQAAAAABpY6oFlVxV2dQcmpaVHVpRVN2SkVNam9XMHcAAAAAAYZPeBZzNmRUV0o0elNPaXhhUUZ1Z3BPTkd3AAAAAAF7YF4WQUx5eDhWSzJUbDJNZ1hGdmNoNnl3UQAAAAAA333GFlNxNUYwQk9YUUN1TDdZQXpzWjVBQncAAAAAAaXutRY1bGx2QVZTQ1Q2aWI4RWlPVHVGd0t3AAAAAAIM2hYWUS1vb0x2WjNRb3lyY0VwdG1ndW9YZwAAAAACStauFk9yT0djaVoxVHp5UmtaTkhLdGttNFEAAAAAAkrWrxZPck9HY2laMVR6eVJrWk5IS3RrbTRRAAAAAAFmoS4WN0lsOGtMc0RTUWl1ZlpEQVZjMDYtZwAAAAAA5EUjFndaZEdJSGI5Um5tM20zc2loLWd1WGcAAAAAAa0INxZQODFjbWZPaVRqdUk2bFdFMkRnYXd3AAAAAAEmwh4WYTVXLXczVlVSUGlQWE5odFcwQWdVdwAAAAABXuJlFm1CaW5jWjYxVDJ1WFQ3akZKTDF0VUEAAAAAAN99xxZTcTVGMEJPWFFDdUw3WUF6c1o1QUJ3AAAAAAIb7l4Wbi1POEhQSUlUSmF4bU1ld2xzU0lfdwAAAAABhk95FnM2ZFRXSjR6U09peGFRRnVncE9OR3c=","item_count":"1","total_count":"18"}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/paging?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1050410002D77600+AND+attributes.colorInterpretation%3APAN&ttl=5m&left=-180.0
  response:
    body: {string: !!python/unicode '{ "data" : [{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-95.21173194,29.12948261],[-95.21894882,28.97714437],[-95.37999231,28.97541021],[-95.37288145,29.13115078],[-95.21173194,29.12948261]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["_ALL_"],"users":["_ALL_"]},"item_date":"2012-11-02T17:07:11.452Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","GE01"],"format":null,"ingest_date":"2017-06-17T05:35:31.535Z","source":null,"name":null,"attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2012-11-02T17:07:11.452Z","bucketName":"idaho-images","numBands_int":1,"sunAzimuth_dbl":160.5,"nativeTileFileFormat":"PNG","colorInterpretation":"PAN","cloudCover_int":1,"idahoImageId":"ce23c197-363d-4ebc-b182-b66f2da12edb","satAzimuth_dbl":200.8,"satElevation_dbl":69.4,"pniirs_dbl":4.9,"numYTiles_int":31,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":43.9,"platformName":"GEOEYE01","imageHeight_int":31252,"numXTiles_int":32,"sensorPlatformName":"GEOEYE01","sensorName":"Panchromatic","dataType":"UNSIGNED_SHORT","imageWidth_int":32325,"tileXSize_int":1024,"tileYSize_int":1024,"offNadirAngle_dbl":18.4,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"1050410002D77600","vendorDatasetIdentifier":"LV1B:056067713010_01_P003:1050410002D77600:A010010247577D00","groundSampleDistanceMeters_dbl":0.515},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"ce23c197-363d-4ebc-b182-b66f2da12edb","text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-95.08830171,29.12829982],[-95.09545109,28.97826267],[-95.25579867,28.97676852],[-95.24858742,29.12984256],[-95.08830171,29.12829982]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","acces[...]
[...]
- request:
    body: !!python/unicode '{"edges": [{"destination": "22f4ab42-6d61-59a1-bfd7-affb986158cb",
      "id": "7e46296f-1741-59f8-8369-393bba17d0dd", "index": 1, "source": "a55ef05c-4750-593e-8207-89ba5e12bdb3"},
      {"destination": "22f4ab42-6d61-59a1-bfd7-affb986158cb", "id": "feb2e947-13bf-5112-9c94-c957e47de0aa",
      "index": 2, "source": "8c0ee032-41b8-558b-9c5f-dfe2df6e8c7c"}, {"destination":
      "22f4ab42-6d61-59a1-bfd7-affb986158cb", "id": "36cb76a5-686d-5528-b28d-4599abcbfefe",
      "index": 3, "source": "85274c8f-4882-58f3-8e5f-01adb730adda"}, {"destination":
      "22f4ab42-6d61-59a1-bfd7-affb986158cb", "id": "a1fec0ae-171b-578e-9a3d-77cc23edecc2",
      "index": 4, "source": "f85d5601-2a09-58c8-b078-d6f19e9e9790"}, {"destination":
      "22f4ab42-6d61-59a1-bfd7-affb986158cb", "id": "340881c3-b71b-51e5-a7e8-ec590dadead5",
      "index": 5, "source": "a4130342-358c-5a6d-8cb7-631c79269d55"}, {"destination":
      "22f4ab42-6d61-59a1-bfd7-affb986158cb", "id": "528105e2-e63e-58f3-8834-814fd446cd83",
      "index": 6, "source": "b0018bc0-fbdb-538b-98af-7c3d447875d5"}, {"destination":
      "22f4ab42-6d61-59a1-bfd7-affb986158cb", "id": "a5064429-6773-5f48-bfaa-4bc58b489869",
      "index": 7, "source": "90b1ae02-2d3b-5e11-a0ec-ed3ec3051db6"}, {"destination":
      "22f4ab42-6d61-59a1-bfd7-affb986158cb", "id": "8aa7b4fc-8fe5-5079-89f7-094cea505330",
      "index": 8, "source": "c42ba415-63ce-5b4f-89b6-a0e3b26c6ba4"}, {"destination":
      "22f4ab42-6d61-59a1-bfd7-affb986158cb", "id": "3b436866-a1ad-5f98-b1ea-c81b8dc96a2d",
      "index": 9, "source": "ba107929-3797-5354-a7ac-4ca02d8fa8a1"}], "nodes": [{"id":
      "22f4ab42-6d61-59a1-bfd7-affb986158cb", "operator": "GeospatialMosaic", "parameters":
      {"Dest SRS Code": "EPSG:4326"}}, {"id": "a55ef05c-4750-593e-8207-89ba5e12bdb3",
      "operator": "IdahoRead", "parameters": {"bucketName": "idaho-images", "imageId":
      "0179cd84-83f8-4f3d-8252-6e70f0fea01a", "objectStore": "S3"}}, {"id": "8c0ee032-41b8-558b-9c5f-dfe2df6e8c7c",
      "operator": "IdahoRead", "parameters": {"bucketName": "idaho-images", "imageId":
      "0da95718-fc89-47c7-bd8a-a7985102673d", "objectStore": "S3"}}, {"id": "85274c8f-4882-58f3-8e5f-01adb730adda",
      "operator": "IdahoRead", "parameters": {"bucketName": "idaho-images", "imageId":
      "3d42e76e-1108-4b00-b85a-a3f018351280", "objectStore": "S3"}}, {"id": "f85d5601-2a09-58c8-b078-d6f19e9e9790",
      "operator": "IdahoRead", "parame[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/b5f72a4aaaa79556cad55f53592a9d3c4bfa49f2306044ae5cb1e5e0aaab0a1b/22f4ab42-6d61-59a1-bfd7-affb986158cb/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"0179cd84-83f8-4f3d-8252-6e70f0fea01a","version":"1.0","profileName":"dg_1b","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":887,"numYTiles":148,"tileXSize":256,"tileYSize":256,"numBands":1,"dataType":"UNSIGNED_SHORT","imageHeight":37695,"imageWidth":227026,"sensorPlatformName":"GE01","sensorName":"Panchromatic","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:056067713010_01_P004:1050410002D77600:A010010247575900","acquisitionDate":"2012-11-02T17:07:14.246Z","colorInterpretation":"PAN","imageBoundsWGS84":"POLYGON
        ((-96.01955409 29.13980538, -94.97538132679483 29.13980538, -94.97538132679483
        28.96643276052461, -96.01955409 28.96643276052461, -96.01955409 29.13980538))","groundSampleDistanceMeters":0.518,"minX":0,"minY":0,"maxX":227025,"maxY":37694,"minTileX":0,"minTileY":0,"maxTileX":886,"maxTileY":147,"sunAzimuth":160.4,"sunElevation":43.9,"satAzimuth":197.4,"satElevation":68.2,"cloudCover":0.026,"offNadirAngle":19.5,"pniirs":4.8},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":4.599353215954006E-6,"scaleY":-4.599353215954006E-6,"translateX":-96.01955409,"translateY":29.13980538,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":-95.3358002,"y":29.13075142},"upperRightCorner":{"x":-95.34295625,"y":28.97582905},"lowerRightCorner":{"x":-95.5048519,"y":28.97389794},"lowerLeftCorner":{"x":-95.49798401,"y":29.13256675},"gsd":4.653251886453468E-6,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":15713.0,"sampleOffset":16255.0,"latOffset":29.0533,"lonOffset":-95.4203,"heightOffset":-19.0,"lineScale":15714.0,"sampleScale":16256.0,"latScale":0.0812,"lonScale":0.0852,"heightScale":500.0,"lineNumCoefs":[7.80155E-4,-1.051736,0.04503092,-0.006636728,8.219753E-4,-2.962528E-4,1.186916E-5,-0.001470865,8.78832E-5,-1.352119E-6,-1.192504E-6,5.882692E-5,2.518884E-5,2.011974E-5,-1.238886E-4,-8.071458E-7,-8.667303E-7,-2.433745E-6,1.763965E-7,1.278846E-7],"lineDenCoefs":[1.0,-7.529498E-4,8.260805E-4,-3.070592E-4,-8.160488E-5,-1.766736E-6,-2.014158E-7,3.984385E-5,-2.938363E-6,-1.928457E-5,-2.164957E-7,-3.847903E-5,6.058174E-7,3.571727E-8,1.128692E-6,0.0,-3.14291E-8,-4.92069E-7,2.225357E-8,1.115467E-8],"sampleNumCoefs":[-0.005113634,4.864824E-4,-1.036083,-0.02198993,-0.00630693,0.00110052,-3.218427E-4,7.112718E-6,0.005288888,1.613058E-6,-1.215841E-5,-2.875995E-6,-1.099535E-4,1.079374E-6,1.743955E-4,4.007688E-5,4.586095E-5,1.254939E-5,7.818432E-7,9.707181E-7],"sampleDenCoefs":[1.0,-0.006506287,1.782085E-4,-4.467588E-4,-7.720384E-5,-9.620846E-6,4.576017E-6,1.374341E-4,-4.302223E-5,-4.463793E-5,-4.508868E-7,6.535882E-6,3.171514E-6,5.58655E-7,-9.727227E-6,-3.009408E-7,-2.344343E-7,9.08814E-7,6.146463E-8,3.506786E-8]},"histogram":{"histograms":{"0":[0,4371,19,27,24,40,24,21,23,23,32,26,34,23,37,33,22,33,29,34,26,23,40,24,42,40,34,27,25,32,30,29,28,42,43,48,31,30,42,44,37,41,41,59,40,37,60,61,50,62,58,51,61,59,52,56,55,65,55,62,63,57,66,69,79,71,81,74,91,93,92,104,106,105,137,108,128,121,116,129,128,180,157,181,235,360,482,761,1298,2199,3731,6016,8972,13018,18523,25767,35018,46470,60472,76938,96677,119399,145254,174141,205752,242350,280927,324925,373732,426268,484876,548096,616417,685060,757461,831888,901909,970763,1036073,1093962,1147[...]
