interactions:
- request:
    body: !!python/unicode '{"startDate": null, "filters": ["sensorPlatformName =
      ''WORLDVIEW03''"], "endDate": null, "types": ["Acquisition"], "searchAreaWkt":
      "POLYGON((29.9 10.1, 30.1 10.1, 30.1 9.9, 29.9 9.9, 29.9 10.1))"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://geobigdata.io/catalog/v1/search?includeRelationships=false
  response:
    body: {string: !!python/unicode '{"searchTag":null,"results":[{"identifier":"1040010018BA8F00","owner":"7b216bd9-6523-4ca9-aa3b-1d8a5994f054","type":"DigitalGlobeAcquisition","properties":{"targetAzimuth":"152.93952941894","ordered":"false","sunElevation":"57.11289","sensorPlatformName":"WORLDVIEW03","browseURL":"https://browse.digitalglobe.com/imagefinder/showBrowseMetadata?catalogId=1040010018BA8F00","sunAzimuth":"140.8107","footprintWkt":"POLYGON
        ((29.812914 9.957906, 29.88369 9.95607, 29.935314 9.954738, 29.93553 9.889398,
        29.935818 9.831078, 29.812122 9.834894, 29.812338 9.871254, 29.812698 9.957906,
        29.812914 9.957906))","available":"false","cloudCover":"0.0","multiResolution":"1.295967221","vendorName":"DigitalGlobe","timestampWkt":"2016-02-06T00:00:00.000Z","offNadirAngle":"14.0","panResolution":"0.32371071","catalogID":"1040010018BA8F00","imageBands":"Pan_MS1_MS2","timestamp":"2016-02-06T00:00:00.000Z"}},{"identifier":"104001000301F000","owner":"7b216bd9-6523-4ca9-aa3b-1d8a5994f054","type":"DigitalGlobeAcquisition","properties":{"sunElevation":"63.32843","targetAzimuth":"142.07825","sensorPlatformName":"WORLDVIEW03","browseURL":"https://browse.digitalglobe.com/imagefinder/showBrowseMetadata?catalogId=104001000301F000","sunAzimuth":"132.2698","footprintWkt":"POLYGON
        ((29.996838 11.031102, 30.083994 11.029194, 30.09465 11.029014, 30.118986
        11.028438, 30[...]
