interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geobigdata.io/catalog/v2/record/LC81740532014364LGN00
  response:
    body: {string: !!python/unicode '{"identifier": "LC81740532014364LGN00", "type":
        ["GBDXCatalogRecord", "Acquisition", "Landsat8", "LandsatAcquisition"], "properties":
        {"vendor": "Landsat", "browseURL": "https://s3-us-west-2.amazonaws.com/landsat-pds/L8/174/053/LC81740532014364LGN00/LC81740532014364LGN00_thumb_large.jpg",
        "timestamp": "2014-12-30T08:17:06.000Z", "bucketPrefix": "L8/174/053/LC81740532014364LGN00",
        "footprintWkt": "MULTIPOLYGON(((29.25006 9.05111, 29.25006 11.1657, 31.35772
        11.1657, 31.35772 9.05111, 29.25006 9.05111)))", "cloudCover": 0, "catalogID":
        "LC81740532014364LGN00", "bucketName": "landsat-pds", "path": 174, "sensorPlatformName":
        "LANDSAT08", "multiResolution": 30.0, "row": 53, "platformName": "LANDSAT08",
        "panResolution": 15.0}}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [b9cc4fd0-1322-11e7-a155-2b8ab47f5ef9]
    status: {code: 200, message: OK}
version: 1
