interactions:
- request:
    body: !!python/unicode '{"startDate": null, "filters": ["sensorPlatformName =
      ''WORLDVIEW03''"], "endDate": null, "types": ["Acquisition"], "searchAreaWkt":
      "POLYGON((29.9 10.1, 30.1 10.1, 30.1 9.9, 29.9 9.9, 29.9 10.1))"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://geobigdata.io/catalog/v2/search?includeRelationships=false
  response:
    body: {string: !!python/unicode '{"stats": {"recordsReturned": 0, "totalRecords":
        0, "typeCounts": {}}, "results": []}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [49817fa5-130f-11e7-a3e7-cf6652d7354d]
    status: {code: 200, message: OK}
version: 1
