interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/metadata/search?free-text=ModisTemplate
  response:
    body:
      string: '[{"isPublic":false,"keywords":["ModisTemplate"],"sensors":["ModisTemplate"],"keynodes":[{"id":"Reproject","description":"Reproject"}],"description":"Modis
        and Reproject","metadataAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"templateAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"datePublished":"2019-04-17T19:27:38.088Z","name":"ModisTemplate","templateId":"0d318ce0ffbbd096d485fc669daf2474d15ce70685440d3e9b1a71d313698a89","id":"511202d9f9d047f49911e2e458df32d5"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/0d318ce0ffbbd096d485fc669daf2474d15ce70685440d3e9b1a71d313698a89
  response:
    body:
      string: '{"id":"0d318ce0ffbbd096d485fc669daf2474d15ce70685440d3e9b1a71d313698a89","defaultNodeId":"ModisRead","edges":[{"id":"edge-1","index":1,"source":"ModisRead","destination":"Reproject"}],"nodes":[{"id":"Reproject","operator":"Reproject","parameters":{"Dest
        SRS Code":"${DestSRSCode}","Dest pixel-to-world transform":"null","Source
        SRS Code":"${SourceSRSCode}","Source pixel-to-world transform":"null"}},{"id":"ModisRead","operator":"ModisRead","parameters":{"modisId":"${modisId}"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/0d318ce0ffbbd096d485fc669daf2474d15ce70685440d3e9b1a71d313698a89/metadata?modisId=MOD09GA.A2017137.h20v15.006.2017139030449&nodeId=Reproject&SourceSRSCode=EPSG%3A4326&DestSRSCode=EPSG%3A4326
  response:
    body:
      string: '{"imageMetadata":{"imageId":"MOD09GA.A2017137.h20v15.006.2017139030449","version":1.1,"profileName":"georectified_image","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":27,"numYTiles":6,"tileXSize":256,"tileYSize":256,"numBands":7,"dataType":"SHORT","imageHeight":1220,"imageWidth":6547,"sensorPlatformName":"Terra","sensorName":"MOD09GA
        Version 6 product provides an estimate of the surface spectral reflectance
        of Terra MODIS Bands 1 through 7","vendorName":"NASA","vendorDatasetIdentifier":"MOD09GA.A2017137.h20v15.006.2017139030449","acquisitionDate":"2017-05-17T06:50:00Z","colorInterpretation":"MODIS_MOD09GA","imageBoundsWGS84":"POLYGON
        ((35.382870356801966 -60.15006046727456, 88.94635161064662 -60.15006046727456,
        88.94635161064662 -70.13134153183702, 35.382870356801966 -70.13134153183702,
        35.382870356801966 -60.15006046727456))","groundSampleDistanceMeters":463.3127165279169,"minX":-570,"minY":-1,"maxX":5976,"maxY":1218,"minTileX":-3,"minTileY":-1,"maxTileX":23,"maxTileY":4,"cloudCover":0.0},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":0.008181377921772513,"scaleY":-0.008181377921772513,"translateX":40.0462557722123,"translateY":-60.15824184519633,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":null,"sensorMetadata":null,"imageAssociations":null,"rrdMetadata":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
