interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/graph/37397242be83610fe4923c866ab07d8aeb0044c206c5c39b4b9deb41629e9eae
  response:
    body: {string: !!python/unicode '{"id":"37397242be83610fe4923c866ab07d8aeb0044c206c5c39b4b9deb41629e9eae","edges":[{"id":"1303fbb1-27b7-465c-aabe-099886430b5e","index":1,"source":"PanSharpen_plain","destination":"TileSize_1024"},{"id":"97e6deca-8334-41bc-ab44-33dddc27dcc1","index":1,"source":"Rescale_ms","destination":"Format_ms"},{"id":"b48b4c7d-eb34-450b-b549-592c575a2539","index":1,"source":"IdahoRead_pan","destination":"Acomp_pan"},{"id":"ff8a1494-f10c-4219-9b3c-9396de3b6730","index":1,"source":"Orthorectify_pan","destination":"Rescale_pan"},{"id":"e6d3c244-2888-4a7d-8db6-55578c8048b1","index":1,"source":"Rescale_pan","destination":"Format_pan"},{"id":"40b8ccf1-dd3d-44cc-ad8e-4af8f7f41f41","index":1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/37397242be83610fe4923c866ab07d8aeb0044c206c5c39b4b9deb41629e9eae/Orthorectify_ms_plain/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"59106228-0f17-4836-b9f2-8160b92b881a","version":1.0,"profileName":"georectified_image","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":43,"numYTiles":45,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"UNSIGNED_SHORT","imageHeight":11164,"imageWidth":10975,"sensorPlatformName":"WV03","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:057428522010_01_P003:104001003766BD00:A0100103336D2100","acquisitionDate":"2018-01-09T16:40:59.959Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-84.38857790774703 9.950845863359683, -84.2595240539921 9.950845863359683,
        -84.2595240539921 9.819569578774702, -84.38857790774703 9.819569578774702,
        -84.38857790774703 9.950845863359683))","groundSampleDistanceMeters":1.309,"minX":7,"minY":-6,"maxX":10981,"maxY":11157,"minTileX":0,"minTileY":-1,"maxTileX":42,"maxTileY":43,"sunAzimuth":154.1,"sunElevation":54.5,"satAzimuth":291.6,"satElevation":73.2,"cloudCover":0.009,"offNadirAngle":15.3,"sensorAlias":"WV03_MULTI","absoluteCalibrationFactors":[0.0143287,0.0116076,0.00885668,0.00684307,0.0102,0.00621996,0.0117971,0.0106378],"effectiveBandwidths":[0.0405,0.054,0.0618,0.0381,0.0585,0.0387,0.1004,0.0889],"tdiLevels":[24.0,21.0,21.0,24.0,14.0,24.0,14.0,24.0],"bandAliases":["C","B","G","Y","R","RE","N","N2"],"pniirs":3.6},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":1.1758893280632411E-5,"scaleY":-1.1758893280632411E-5,"translateX":-84.38866022,"translateY":9.95077531,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":-84.38835618,"y":9.95077531},"upperRightCorner":{"x":-84.26001386,"y":9.94728821},"lowerRightCorner":{"x":-84.25947458,"y":9.81958535},"lowerLeftCorner":{"x":-84.38866022,"y":9.82331567},"gsd":1.1758893280632411E-5,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":5480.0,"sampleOffset":5324.0,"latOffset":9.8853,"lonOffset":-84.3243,"heightOffset":769.0,"lineScale":5481.0,"sampleScale":5326.0,"latScale":0.0662,"lonScale":0.0659,"heightScale":501.0,"lineNumCoefs":[0.001153051,-0.02975703,-1.038031,0.007355299,-1.271557E-6,8.690582E-7,3.888306E-5,-1.607278E-4,-8.797132E-4,-8.077918E-7,-5.711721E-7,5.807173E-7,5.045763E-6,8.086688E-7,1.991564E-5,9.80188E-5,2.803165E-5,-1.528913E-7,-8.886796E-7,-1.993675E-7],"lineDenCoefs":[1.0,2.803606E-5,2.297412E-4,3.206376E-5,6.976781E-6,4.737262E-7,-1.688341E-6,-2.024683E-5,6.668726E-5,-2.700749E-5,-2.910322E-7,0.0,1.981106E-5,0.0,6.666801E-7,2.143549E-4,4.623553E-8,0.0,-4.762494E-6,0.0],"sampleNumCoefs":[0.004081947,1.021445,3.882855E-4,0.01987002,6.002415E-4,3.358241E-4,-1.959351E-4,-0.003681436,1.449326E-4,7.989515E-6,8.194708E-7,7.630144E-6,-1.269566E-5,-3.189412E-6,8.720629E-6,-1.574709E-4,-8.268005E-8,-2.661352E-6,3.092442E-6,-6.313216E-8],"sampleDenCoefs":[1.0,-4.159608E-4,-6.113754E-4,-4.244152E-4,-1.842111E-5,1.62976E-6,-1.333227E-6,1.732301E-6,8.579853E-6,-3.342768E-6,-1.367399E-8,0.0,0.0,0.0,1.382028E-7,-5.095898E-8,0.0,-1.266718E-8,0.0,0.0]},"histogram":{"histograms":{"0":[0,495,9,7,8,4,8,8,5,5,5,6,6,6,6,10,3,7,13,6,5,3,6,11,10,17,11,6,17,9,11,14,11,11,17,12,7,11,10,14,14,14,11,8,13,16,9,16,21,17,17,18,22,16,16,24,27,18,20,16,16,21,22,20,17,13,19,21,22,27,24,28,28,33,32,37,35,30,35,38,43,40,45,37,45,46,44,41,65,56,64,58,58,46,61,66,64,62,76,80,81,83,81,82,100,95,96,98,127,106,121,119,126,124,138,164,143,158,169,186,190,212,207,230,233,277,269,272,293,305,315,357,343,326,424,471,475,479,559,554,633,644,676,766,817,884,980,1230,1591,2347,3837,6750,12199,21930,[...]
