interactions:
- request:
    body: !!python/unicode '{"startDate": "2012-01-01T00:00:00.000Z", "endDate": null,
      "types": ["Acquisition"], "searchAreaWkt": "POLYGON((29.9 10.1, 30.1 10.1, 30.1
      9.9, 29.9 9.9, 29.9 10.1))"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://geobigdata.io/catalog/v2/search?includeRelationships=false
  response:
    body: {string: !!python/unicode '{"stats": {"recordsReturned": 416, "totalRecords":
        416, "typeCounts": {"DigitalGlobeAcquisition": 327, "WV03_SWIR": 13, "IKONOS":
        2, "LandsatAcquisition": 87, "WV02": 108, "WV01": 98, "WV03_VNIR": 61, "GBDXCatalogRecord":
        416, "GE01": 32, "Landsat8": 87, "IKONOSAcquisition": 2, "Acquisition": 416,
        "QB02": 15}}, "results": [{"identifier": "LC81740532017004LGN00", "type":
        ["GBDXCatalogRecord", "Acquisition", "Landsat8", "LandsatAcquisition"], "properties":
        {"vendor": "Landsat", "browseURL": "https://s3-us-west-2.amazonaws.com/landsat-pds/L8/174/053/LC81740532017004LGN00/LC81740532017004LGN00_thumb_large.jpg",
        "timestamp": "2017-01-04T08:17:16.000Z", "bucketPrefix": "L8/174/053/LC817405320174LGN00",
        "footprintWkt": "MULTIPOLYGON(((29.23087 9.05091, 29.23087 11.16546, 31.33862
        11.16546, 31.33862 9.05091, 29.23087 9.05091)))", "cloudCover": 0, "catalogID":
        "LC81740532017004LGN00", "bucketName": "landsat-pds", "path": 174, "sensorPlatformName":
        "LANDSAT08", "multiResolution": 30.0, "row": 53, "platformName": "LANDSAT08",
        "panResolution": 15.0}}, {"identifier": "LC81740532017020LGN00", "type": ["GBDXCatalogRecord",
        "Acquisition", "Landsat8", "LandsatAcquisition"], "properties": {"vendor":
        "Landsat", "browseURL": "https://s3-us-west-2.amazonaws.com/landsat-pds/L8/174/053/LC81740532017020LGN00/LC81740532017020LGN00_thumb_large.jpg",
        "timestamp": "2017-01-20T08:17:12.000Z", "bucketPrefix": "L8/174/053/LC8174053201720LGN00",
        "footprintWkt": "MULTIPOLYGON(((29.23087 9.05091, 29.23087 11.16546, 31.33862[...]
