interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1030010048532600+AND+NOT+item_type%3AIDAHOImage+AND+NOT+item_type%3ADigitalGlobeAcquisition&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-107.0620950030799,39.04524407914834],[-106.8651832803352,39.04856901664532],[-106.8657767089329,38.93751413390529],[-107.0628587435718,38.9334026245108],[-107.0620950030799,39.04524407914834]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["7b216bd9-6523-4ca9-aa3b-1d8a5994f054"],"users":["acquisitionsvc"]},"item_date":"2015-09-24T17:59:20.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","WV02","DigitalGlobeProduct","1BProduct"],"format":null,"ingest_date":"2017-09-25T18:13:13.758Z","source":null,"name":null,"attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":156.9,"bands":"Multi","xmlFile":"15SEP24175920-M1BS-057046878010_01_P002.XML","browseJpgFile":"15SEP24175920-M1BS-057046878010_01_P002-BROWSE.JPG","cloudCover_int":0,"imdFile":"15SEP24175920-M1BS-057046878010_01_P002.IMD","attFile":"15SEP24175920-M1BS-057046878010_01_P002.ATT","resolution_dbl":1.929,"bandsList":"BAND_C,BAND_B,BAND_G,BAND_Y,BAND_R,BAND_RE,BAND_N,BAND_N2","geoFile":"15SEP24175920-M1BS-057046878010_01_P002.GEO","imageFile":"15SEP24175920-M1BS-057046878010_01_P002.TIF","vendor":"DigitalGlobe","sunElevation_dbl":48.3,"platformName":"WORLDVIEW02","tilFile":"15SEP24175920-M1BS-057046878010_01_P002.TIL","sensorPlatformName":"WORLDVIEW02","readmeTxtFile":"15SEP24175920-M1BS-057046878010_01_P002_README.TXT","rpbFile":"15SEP24175920-M1BS-057046878010_01_P002.RPB","offNadirAngle_dbl":11.5,"soli":"057046878","catalogID":"1030010048532600","productLevel":"LV1B","part_int":2,"ephFile":"15SEP24175920-M1BS-057046878010_01_P002.EPH","bucketPrefix":"057046878010_01_003/057046878010_01/057046878010_01_P002_MUL"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1030010048532600_P002_MUL_057046878010","text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1030010048532600+AND+attributes.colorInterpretation%3AWORLDVIEW_8_BAND&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-107.062095,39.04524408],[-106.86518328,39.04856902],[-106.86577671,38.93751413],[-107.06285874,38.93340262],[-107.062095,39.04524408]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["7b216bd9-6523-4ca9-aa3b-1d8a5994f054"],"users":["acquisitionsvc"]},"item_date":"2015-09-24T17:59:20.821Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV02"],"format":null,"ingest_date":"2017-09-25T18:17:13.895Z","source":null,"name":null,"attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2015-09-24T17:59:20.821Z","bucketName":"idaho-images","numBands_int":8,"sunAzimuth_dbl":156.9,"nativeTileFileFormat":"TIF","colorInterpretation":"WORLDVIEW_8_BAND","cloudCover_int":0,"idahoImageId":"a9677f5e-c541-40f6-a29a-582df570fff2","satAzimuth_dbl":57.6,"satElevation_dbl":77.2,"pniirs_dbl":3.1,"numYTiles_int":26,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":48.3,"platformName":"WORLDVIEW02","imageHeight_int":6495,"numXTiles_int":35,"sensorPlatformName":"WORLDVIEW02","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":8820,"tileXSize_int":256,"tileYSize_int":256,"offNadirAngle_dbl":11.5,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"1030010048532600","vendorDatasetIdentifier":"LV1B:057046878010_01_P002:1030010048532600:A0100102F2EFFE00","groundSampleDistanceMeters_dbl":1.929},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"a9677f5e-c541-40f6-a29a-582df570fff2","text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-107.06310536,38.9600578],[-106.86539535,38.96434049],[-106.8654903,38.84835994],[-107.06293554,38.84354057],[-107.06310536,38.9600578]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":[[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://idaho.timbr.io/a8b80138-58dd-415b-8779-cca557c72f36.json
  response:
    body: {string: !!python/unicode '{"geometry": {"type": "Polygon", "coordinates":
        [[[-107.06293554, 38.84354057], [-107.06293554, 38.96434049], [-106.86539535,
        38.96434049], [-106.86539535, 38.84354057], [-107.06293554, 38.84354057]]]},
        "_acquisitionDate": {"$date": 1443117559833}, "type": "Feature", "id": "a8b80138-58dd-415b-8779-cca557c72f36",
        "properties": {"bandid": "Multi", "latlonhae": [38.9600578, -107.06310536,
        2940.15], "mean_sun_el": 48.4, "band_centers": [428.58, 479.35, 548.07, 607.78,
        658.92, 723.27, 825.06, 914.55], "catid": "1030010048532600", "cloud_cover":
        0.001, "tdilevel": [24.0, 24.0, 14.0, 24.0, 14.0, 24.0, 10.0, 10.0], "img_datetime_obj_utc":
        {"$date": 1443117559833}, "center": {"type": "Point", "coordinates": [-106.96416544499999,
        38.90394053]}, "warp": {"yStep": 100, "xStep": 100, "numXCells": 114, "yStart":
        0, "targetGeoTransform": {"translateX": -107.06310536, "translateY": 38.96434049,
        "scaleX": 1.741825368307582e-05, "scaleY": -1.741825368307582e-05, "shearY":
        0.0, "shearX": 0.0, "spatialReferenceSystemCode": "EPSG:4326"}, "xStart":
        0, "numYCells": 70}, "rrds": {"reducedResolutionDataset": [{"targetImage":
        "e24268a4-09d5-47bc-ba84-2e7133157a13", "sourceImage": "a8b80138-58dd-415b-8779-cca557c72f36",
        "inverseScaleFactor": 2.0}, {"targetImage": "a2bd24a4-736e-4747-92e4-473f2a712629",
        "sourceImage": "e24268a4-09d5-47bc-ba84-2e7133157a13", "inverseScaleFactor":
        2.0}, {"targetImage": "a57edda5-0780-40e5-aa32-373a9f91978f", "sourceImage":
        "a2bd24a4-736e-4747-92e4-473f2a712629", "inverseScaleFactor": 2.0}, {"targetImage":
        "de997ec3-2711-42ed-a613-f73ee05ed1ca", "sourceImage": "a57edda5-0780-40e5-aa32-373a9f91978f",
        "inverseScaleFactor": 2.0}, {"targetImage": "36962be9-2bfe-4347-8a2a-84771e3a1fdb",
        "sourceImage": "de997ec3-2711-42ed-a613-f73ee05ed1ca", "inverseScaleFactor":
        2.0}]}, "effbandwidth": [0.0996, 0.0393, 0.063, 0.0374, 0.0543, 0.0473, 0.0989,
        0.0574], "abscalfactor": [0.009042234, 0.004539619, 0.009713071, 0.005101088,
        0.01260825, 0.009295654, 0.0122438, 0.01103623], "bbox": [-107.06293554, 38.84354057,
        -106.86539535, 38.96434049], "satid": "WV02", "band_names": ["C", "B", "G",
        "Y", "R", "RE", "N1", "N2"], "product_level": "LV1B", "image": {"satAzimuth":
        53.1, "sunAzimuth": 156.8, "cloudCover": 0.001, "imageId": "a8b80138-58dd-415b-8779-cca557c72f36",
        "tileXOffset": 0, "numXTiles": 35, "imageWidth": 8820, "tileYSize": 256, "sensorName":
        "8-band (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral",
        "vendorDatasetIdentifier": "LV1B:057046878010_01_P001:1030010048532600:A0100102F2EFE600",
        "version": "1.0", "numBands": 8, "imageHeight": 6749, "offNadirAngle": 12.3,
        "vendorName": "DigitalGlobe, Inc.", "imageBoundsWGS84": "POLYGON ((-107.06310536
        38.9600578, -106.86539535 38.96434049, -106.8654903 38.84835994, -107.06293554
        38.84354057, -107.06310536 38.9600578))", "sunElevation": 48.4, "acquisitionDate":
        "2015-09-24T17:59:19.833Z", "dataType": "UNSIGNED_SHORT", "tileYOffset": 0,
        "tileXSize": 256, "colorInterpretation": "WORLDVIEW_8_BAND", "profileName":
        "dg_1b", "tilePartition": "0000", "groundSampleDistanceMeters": 1.939, "tileBucketName":
        "idaho-images", "nativeTileFileFormat": "TIF", "pniirs": 3.0, "satElevation":
        76.3, "sensorPlatformName": "WV02", "numYTiles": 27}, "off_nadir": 12.3}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1030010048532600+AND+attributes.colorInterpretation%3APAN&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-107.06286822,38.96007686],[-106.86568949,38.9643537[...]
[...]
- request:
    body: !!python/unicode '{"edges": [{"destination": "f2925a8c-240f-53da-8b17-af652dff60bc",
      "id": "6e7fb597-359c-5d4c-9620-a8b4ea70b1af", "index": 1, "source": "5ef288c5-16a3-54eb-acf6-bd8c8a5e0072"},
      {"destination": "5ef288c5-16a3-54eb-acf6-bd8c8a5e0072", "id": "a340b3d0-3965-5571-8d83-13998fbb6747",
      "index": 1, "source": "e324df70-4c82-5689-a8ad-764275e0f213"}, {"destination":
      "e324df70-4c82-5689-a8ad-764275e0f213", "id": "e9418502-e7e8-545e-b024-c3aa4db70a15",
      "index": 1, "source": "9096e88b-b22a-5810-8246-414ad2381383"}, {"destination":
      "9096e88b-b22a-5810-8246-414ad2381383", "id": "5eaead6c-6a76-512e-8a75-c0416dde4963",
      "index": 1, "source": "af58cd08-992b-5987-9f0c-70607c359140"}, {"destination":
      "af58cd08-992b-5987-9f0c-70607c359140", "id": "3515406b-1c90-5302-9529-9b58f24d164f",
      "index": 1, "source": "29780570-5e4c-5929-a1e3-21db7b996d40"}, {"destination":
      "af58cd08-992b-5987-9f0c-70607c359140", "id": "fd0e58d1-a12b-534d-b108-480fe307e9fb",
      "index": 2, "source": "3013319f-c339-583a-b820-1c51dfe4ec2f"}], "nodes": [{"id":
      "f2925a8c-240f-53da-8b17-af652dff60bc", "operator": "MultiplyConst", "parameters":
      {"constants": "[0.002383534485111818, 0.0021063122076433135, 0.0023108280982041046,
      0.0024843184211512143, 0.0027474655132314354, 0.0031409023951119125, 0.004014334562942048,
      0.004935725240207137]"}}, {"id": "5ef288c5-16a3-54eb-acf6-bd8c8a5e0072", "operator":
      "AddConst", "parameters": {"constants": "[-10.474, -7.795, -4.047, -3.467, -2.257,
      -4.103, -3.081, -2.818]"}}, {"id": "e324df70-4c82-5689-a8ad-764275e0f213", "operator":
      "MultiplyConst", "parameters": {"constants": "[0.10404016228915662, 0.11585846964376588,
      0.14692947084126984, 0.13161898181818182, 0.22499805248618782, 0.1971150309090909,
      0.12144760161779576, 0.19938276149825782]"}}, {"id": "9096e88b-b22a-5810-8246-414ad2381383",
      "operator": "Format", "parameters": {"dataType": "4"}}, {"id": "af58cd08-992b-5987-9f0c-70607c359140",
      "operator": "GeospatialMosaic", "parameters": {"Dest SRS Code": "EPSG:4326"}},
      {"id": "29780570-5e4c-5929-a1e3-21db7b996d40", "operator": "IdahoRead", "parameters":
      {"bucketName": "idaho-images", "imageId": "a8b80138-58dd-415b-8779-cca557c72f36",
      "objectStore": "S3"}}, {"id": "3013319f-c339-583a-b820-1c51dfe4ec2f", "operator":
      "IdahoRead", "parameters": {"bucketName": "idaho-images", "imageId": "a9677f5e-c541-40f6-a29a-582df570fff2",
      "objectStore": "S3"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://idahoapi.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode f779e9ed91b051acc0929fb193fd2b462fe648b500c51626c0c21f710dbf18ea}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/f779e9ed91b051acc0929fb193fd2b462fe648b500c51626c0c21f710dbf18ea/f2925a8c-240f-53da-8b17-af652dff60bc/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"a8b80138-58dd-415b-8779-cca557c72f36","version":"1.0","profileName":"dg_1b","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":45,"numYTiles":47,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"FLOAT","imageHeight":11832,"imageWidth":11422,"sensorPlatformName":"WV02","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:057046878010_01_P001:1030010048532600:A0100102F2EFE600","acquisitionDate":"2015-09-24T17:59:19.833Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-107.06310536 39.04856902, -106.86518011745598 39.04856902, -106.86518011745598
        38.8435391242041, -107.06310536 38.8435391242041, -107.06310536 39.04856902))","groundSampleDistanceMeters":1.939,"minX":0,"minY":0,"maxX":11421,"maxY":11831,"minTileX":0,"minTileY":0,"maxTileX":44,"maxTileY":46,"sunAzimuth":156.8,"sunElevation":48.4,"satAzimuth":53.1,"satElevation":76.3,"cloudCover":0.001,"offNadirAngle":12.3,"pniirs":3.0},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":1.7328422565576715E-5,"scaleY":-1.7328422565576715E-5,"translateX":-107.06310536,"translateY":39.04856902,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":-107.06310536,"y":38.9600578},"upperRightCorner":{"x":-106.86539535,"y":38.96434049},"lowerRightCorner":{"x":-106.8654903,"y":38.84835994},"lowerLeftCorner":{"x":-107.06293554,"y":38.84354057},"gsd":1.741825368307582E-5,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":3373.0,"sampleOffset":4409.0,"latOffset":38.9038,"lonOffset":-106.9641,"heightOffset":3271.0,"lineScale":3375.0,"sampleScale":4410.0,"latScale":0.061,"lonScale":0.1,"heightScale":600.0,"lineNumCoefs":[0.01020532,0.03670082,-1.049262,0.01302531,-0.001824808,4.853847E-5,-5.865869E-4,-7.934903E-4,-0.006737647,7.428409E-6,-2.943067E-6,-8.499081E-7,4.916597E-6,1.136293E-6,-2.866181E-5,-1.646295E-4,-3.124397E-5,-1.381714E-7,-6.22809E-6,3.873198E-7],"lineDenCoefs":[1.0,-0.002261464,0.003582568,-7.505794E-4,1.788798E-5,-2.822262E-6,1.162463E-6,2.4702E-5,-4.20421E-5,2.908465E-5,1.061613E-6,-7.431735E-8,-4.355843E-5,-1.373257E-7,1.348363E-6,4.182243E-4,1.043476E-7,-6.740461E-8,-1.597923E-5,-4.205896E-8],"sampleNumCoefs":[-0.002909177,1.01564,3.207518E-4,-0.01365133,8.881635E-4,3.703135E-4,9.162239E-5,0.002561957,-6.419013E-5,-5.620125E-6,3.774504E-6,-1.118277E-5,-5.626934E-5,-1.101052E-5,-5.347832E-6,-1.269662E-4,8.189973E-8,1.920605E-6,5.765607E-6,1.468713E-7],"sampleDenCoefs":[1.0,3.571264E-4,-9.002378E-4,-4.161346E-4,-6.406174E-6,-1.129983E-6,-3.452183E-6,-1.070907E-5,4.503153E-5,-1.102E-5,-4.610437E-8,3.965092E-8,1.324787E-6,2.278214E-8,2.281461E-7,2.06349E-6,0.0,0.0,2.465189E-7,0.0]},"histogram":{"histograms":{"0":[0,62,0,2,1,1,2,1,1,4,2,0,2,2,3,0,3,3,1,3,5,0,3,2,2,1,1,7,1,3,0,1,0,0,3,0,0,3,5,5,3,4,2,6,4,5,3,2,7,2,5,8,4,4,8,5,2,11,5,8,7,4,3,6,7,7,5,4,8,5,10,9,10,14,12,13,8,14,10,13,10,10,13,15,11,10,16,16,20,17,17,20,14,13,22,21,26,18,30,23,18,20,29,29,23,34,27,41,31,36,36,35,34,38,55,41,37,62,60,57,69,74,68,87,81,98,102,132,154,190,228,254,344,395,556,708,976,1256,1762,2278,3070,4261,5778,8134,10929,15020,20379,27088,35926,46967,60720,77443,96922,121212,149236,180522,215467,254604,295564,338427,3810[...]
