interactions:
- request:
    body: !!python/unicode '{"direction": "both", "labels": ["_acquisition", "_imageFiles"],
      "rootRecordId": "1030010045539700", "maxdepth": 2}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://geobigdata.io/catalog/v1/traverse
  response:
    body: {string: !!python/unicode '{"searchTag":null,"results":[{"identifier":"1030010045539700","owner":"7b216bd9-6523-4ca9-aa3b-1d8a5994f054","type":"DigitalGlobeAcquisition","properties":{"ordered":"false","targetAzimuth":"25.5832939147949","available":"true","imageBands":"Pan_MS1_MS2","timestamp":"2015-07-31T00:00:00.000Z","timestampWkt":"2015-07-31T14:44:49.350Z"},"inEdges":{"_acquisition":[{"identifier":"07e8f6ec-928f-4274-9f72-31550387426b","label":"_acquisition","fromObjectId":"fa500d14-eccd-4bcf-979c-252dc7b6de77","toObjectId":"1030010045539700"},{"identifier":"ba24749a-f721-4111-b47f-c4ddfacd661e","label":"_acquisition","fromObjectId":"3cce60d4-87c5-4b0c-9623-1d285398008a","toObjectId":"1030010045539700"},{"identifier":"429d2b2c-a2e0-4caa-b739-4be094354d95","label":"_acquisition","fromObjectId":"55310e05-ec3b-4bb9-b0a2-75b03abe5d35","toObjectId":"1030010045539700"},{"identifier":"3b122ebc-f103-45b7-970d-a6bd76968ff9","label":"_acquisition","fromObjectId":"eee6fa14-dd10-4984-8a8c-1c203d43459f","toObjectId":"1030010045[...]
