interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/paging?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A2001110218231680000010116110+AND+NOT+item_type%3AIDAHOImage&ttl=5m&left=-180.0
  response:
    body: {string: !!python/unicode '{ "data" : [{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-111.9638092715832,36.81290122853262],[-111.9220226439808,36.81333419017205],[-111.8780593901595,36.8137297020557],[-111.878233367483,36.73823564577017],[-111.8786437208202,36.66135830113915],[-111.8788147517245,36.58600618050397],[-111.8790214764845,36.51046531992353],[-111.8791970504102,36.43523775625811],[-111.879411616176,36.35959502210984],[-111.8795646355624,36.28477106266746],[-111.8797135837009,36.21044042311449],[-111.8799081088434,36.13506797045719],[-111.8800834017154,36.05967334793932],[-111.8802966984626,35.98667824819438],[-111.9234781911831,35.98663839979486],[-111.9644571623843,35.98685240144139],[-112.0076944545667,35.98696882545276],[-112.0079088829463,36.05930271225932],[-112.007888792491,36.13454660365724],[-112.0076502103475,36.21136271655836],[-112.0075481850336,36.28692491948179],[-112.0076901343817,36.36107411992036],[-112.0078443516058,36.43542125456277],[-112.0078861551266,36.51053366350892],[-112.0079530835287,36.58563784475736],[-112.0080514790949,36.66074691401304],[-112.0081148814706,36.7361257478548],[-112.0079154245067,36.81258741609538],[-111.9638092715832,36.81290122853262]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["_ALL_"],"users":["_ALL_"]},"item_date":"2001-11-02T18:23:16.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","Acquisition","IKONOS","IKONOSAcquisition"],"format":null,"ingest_date":"2017-03-09T19:20:10.785Z","source":null,"name":null,"attributes":{"bucketName":"ikonos-product","sunAzimuth_dbl":165.19904,"sensorPlatformName":"IKONOS","offNadirAngle_dbl":11.908405147224427,"cloudCover_int":4,"catalogID":"2001110218231680000010116110","zone":"12N","panResolution_dbl":0.8621521,"vendor":"DigitalGlobe","bucketPrefix":"po_1090993","components_int":1,"sunElevation_dbl":37.572853,"imageBands":"PAN_MS1","platformName":"IKONOS","multiResolution_dbl":3.4486084,"targetAzimuth_dbl":6.311525},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"2001110218231680000010116110","text":""}}],"next_paging_id":"DnF1ZXJ5VGhlbkZldGNoHwAAAAAAOGAuFmxXeTZ4THZXVGpDTFZmLUdhVGFiQWcAAAAAAEq0rRZRLW9vTHZaM1FveXJjRXB0bWd1b1hnAAAAAAA_7PEWYVdyZkhoYjVSeGFLU1kyT0dIODlKZwAAAAAAOwzgFm4tTzhIUElJVEpheG1NZXdsc1NJX3cAAAAAADsM4RZuLU84SFBJSVRKYXhtTWV3bHNTSV93AAAAAAA4YC8WbFd5NnhMdldUakNMVmYtR2FUYWJBZwAAAAAAOGAwFmxXeTZ4THZXVGpDTFZmLUdhVGFiQWcAAAAAADh8qhZPck9HY2laMVR6eVJrWk5IS3RrbTRRAAAAAAAiP94WbUJpbmNaNjFUMnVYVDdqRkpMMXRVQQAAAAAAVOj-FlNxNUYwQk9YUUN1TDdZQXpzWjVBQncAAAAAADZSUxZzNmRUV0o0elNPaXhhUUZ1Z3BPTkd3AAAAAABBfHMWa1p0di1UNFJRV0NDNUZWa2RLZjU2ZwAAAAAAKXH7FlA4MWNtZk9pVGp1STZsV0UyRGdhd3cAAAAAADsM4hZuLU84SFBJSVRKYXhtTWV3bHNTSV93AAAAAAAu4KIWVXFXZ1ByalpUdWlFU3ZKRU1qb1cwdwAAAAAAQXx0FmtadHYtVDRSUVdDQzVGVmtkS2Y1NmcAAAAAAC2CERZFWVlSTTFMSFJPLWtPbTRISGp0ZnNnAAAAAAA4YDEWbFd5NnhMdldUakNMVmYtR2FUYWJBZwAAAAAAKXH8FlA4MWNtZk9pVGp1STZsV0UyRGdhd3cAAAAAADZGkhY1bGx2QVZTQ1Q2aWI4RWlPVHVGd0t3AAAAAAA2RpMWNWxsdkFWU0NUNmliOEVpT1R1RndLdwAAAAAAFtuBFmE1Vy13M1ZVUlBpUFhOaHRXMEFnVXcAAAAAADh8qxZPck9HY2laMVR6eVJrWk5IS3RrbTRRAAAAAAAsTigWN0lsOGtMc0RTUWl1ZlpEQVZjMDYtZwAAAAAASrSuFlEtb29MdlozUW95cmNFcHRtZ3VvWGcAAAAAAClx_RZQODFjbWZPaVRqdUk2bFdFMkRnYXd3AAAAAAAta5YWZjlXdWEyNUVUZ0NZUUJ4ZFd3NzdSQQAAAAAAOwzjFm4tTzhIUElJVEpheG1NZXdsc1NJX3cAAAAAAC2CEhZFWVlSTTFMSFJPLWtPbTRISGp0ZnNnAAAAAAA7DOQWbi1POEhQSUlUSmF4bU1ld2xzU0lfdwAAAAAANlJUFnM2ZFRXSjR6U09peGFRRnVncE9OR3c=","item_count":"1","total_count":"1"}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"edges": [{"destination": "3ceba622-eefb-5549-b216-3a8faa449312",
      "id": "18de6e20-20d5-5ce3-991a-024444bbb6a3", "index": 1, "source": "c9a10f46-4a07-5e6f-b4d1-c8f5566da0ae"}],
      "nodes": [{"id": "3ceba622-eefb-5549-b216-3a8faa449312", "operator": "Orthorectify",
      "parameters": {"Elevation Source": "", "Output Coordinate Reference System":
      "EPSG:3857", "Output Pixel to World Transform": "", "Sensor Model": "null"}},
      {"id": "c9a10f46-4a07-5e6f-b4d1-c8f5566da0ae", "operator": "IkonosRead", "parameters":
      {"path": "ikonos-product/po_1090993/po_1090993_0000000:multispectral"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://idahoapi.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode 96687a324d3a6fbe8bfb5d7ec3f5a1e43865ce804dc2f316025d977b71ed9c81}
    headers:
      content-type: [text/plain]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/96687a324d3a6fbe8bfb5d7ec3f5a1e43865ce804dc2f316025d977b71ed9c81/3ceba622-eefb-5549-b216-3a8faa449312/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"2001110218231680000010116110","version":"1.0","profileName":"orthoready_image","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":20,"numYTiles":133,"tileXSize":256,"tileYSize":256,"numBands":4,"dataType":"UNSIGNED_SHORT","imageHeight":33626,"imageWidth":4871,"sensorPlatformName":"IKONOS-2","sensorName":"Four
        band (QuickBird and Ikonos scheme): Blue, Green, Red, Near-infrared","vendorDatasetIdentifier":"Geo:000:2001110218231680000010116110:1090993","acquisitionDate":"2001-11-02T18:23:00Z","colorInterpretation":"BGRN","imageBoundsWGS84":"POLYGON
        ((-112.01839916658867 36.81448684225783, -111.86827128003017 36.81448684225783,
        -111.86827128003017 35.980299505960716, -112.01839916658867 35.980299505960716,
        -112.01839916658867 36.81448684225783))","groundSampleDistanceMeters":3.430950500013,"minX":10,"minY":-14,"maxX":4880,"maxY":33611,"minTileX":0,"minTileY":-1,"maxTileX":19,"maxTileY":131,"sunAzimuth":165.3678,"sunElevation":37.41572,"satAzimuth":6.206315161856,"satElevation":76.76812769369,"sensorAlias":"IK02_MULTI","bandAliases":["B","G","R","N"]},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:3857","scaleX":3.430950500013,"scaleY":-3.430950500013,"translateX":-1.2469865464207312E7,"translateY":4413232.061134045,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":-112.018707374116,"y":36.813019586264566},"upperRightCorner":{"x":-111.87805169372926,"y":36.814141398832334},"lowerRightCorner":{"x":-111.86875994703911,"y":35.98381701809311},"lowerLeftCorner":{"x":-112.00792775123575,"y":35.98272852999076},"gsd":2.8745957599712565E-5,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":14392.12,"sampleOffset":1960.12,"latOffset":36.3984,"lonOffset":-111.9437,"heightOffset":1412.0,"lineScale":14392.5,"sampleScale":1960.5,"latScale":0.4146,"lonScale":0.0749,"heightScale":1412.0,"lineNumCoefs":[-0.001946965180893967,0.001425267076325787,-0.9987030379975046,0.007123747902049607,-7.179446755131883E-8,1.438937307385285E-6,-1.342304118738191E-8,-5.621811733783419E-5,-1.709531644675479E-9,-1.508955708596888E-6,-2.118481776979018E-7,8.088301638678051E-11,-1.297505210707186E-8,1.856707048130281E-8,-2.04520353969603E-8,6.083466225713669E-9,7.304991535341669E-9,-1.254978657078579E-6,-7.746648053474883E-7,-4.429648318236981E-9],"lineDenCoefs":[1.0,7.121810280842407E-6,-3.139824701022767E-5,4.570026574735414E-4,-1.076008527546033E-7,-2.08042425828675E-6,-7.734694617212393E-6,-2.412760696426733E-7,-3.427027209935134E-9,-3.680767438140699E-8,-1.005544830479195E-7,8.212109921991719E-11,-2.553535867573985E-9,7.350740799058291E-9,5.574473987437357E-9,3.861528443590605E-8,1.878597621246622E-8,2.954250493822688E-8,-1.863659542111371E-7,-5.89986206425123E-10],"sampleNumCoefs":[-0.003804001506251489,1.069912827819751,0.07303534673274827,-0.006254695134759323,-7.937454515791534E-5,3.397004700919887E-4,-0.004972339294189028,7.083525999933263E-6,7.302726523382083E-4,3.474173374681991E-5,-5.781485126344042E-6,1.476907535113852E-7,6.089962510731068E-6,-2.237143931502638E-7,-1.219211873707526E-6,5.512522679848588E-6,1.668148781119858E-6,1.024304867429764E-6,-5.712184795062989E-6,-1.343070617978934E-8],"sampleDenCoefs":[1.0,1.03629475036144E-5,0.005239704419389691,-0.001981470036441984,-1.272508911226413E-6,-8.662869110725083E-7,-2.007448725117906E-5,5.570621739812584E-8,5.995784829104024E-5,-3.988664303964471E-7,1.216207299869283E-7,-2.486175927913614E-9,-8.59887876148624E-9,-3.152151652491055E-9,4.7021621557714E-9,4.09874204848807E-7,4.495123116238433E-8,-1.075130722974021E-8,-5.091287440603395E-7,1.488873039725279E-9]},"histogram":null,"sensorMetadata":{"version":"v1.0","sensorName":"IK02_MULTI","numBands":4,"bandAliases":["B","G","R","N"],"weightedBandCenters":[483.07,550.62,663.25,794.37],"eSun":[1921.26,1803.28,1517.76,1145.8],"absoluteCalibrationGains":[1.073,0.99,0.94,1.043],"absoluteCalibrationOffsets":[-9.699,-7.937,-4.767,-8.869]},"imageAssociations":null,"rrdMetadata":{"reducedResolutionDataset":[{"sourceImage":"ikonos-product/po_1090993/po_1090993_0000000:multispectral","targetImage":"ikonos-product/po_1090993/po_1090993_0000000:multispectral","inverseScaleFactor":2.0},{"sourceImage":"ikonos-product/po_1090993/po_1090993_0000000:multispectral","targetImage":"ikonos-product/po_1090993/po_1090993_0000000:multispectral","inverseScaleFactor":4.0},{"sourceImage":"ikonos-product/po_1090993/po_1090993_0000000:multispectral","targetImage":"ikonos-product/po_1090993/po_1090993_0000000:multispectral","inverseScaleFactor":8.0},{"sourceImage":"ikonos-product/po_1090993/po_1090993_0000000:multispectral","targetImage":"ikonos-product/po_1090993/po_1090993_0000000:multispectral","inverseScaleFactor":16.0},{"sourceImage":"ikonos-product/po_1090993/po_1090993_0000000:multispectral","targetImage":"ikonos-product/po_1090993/po_1090993_0000000:multispectral","inverseScaleFactor":32.0}]}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: ''}
version: 1
