interactions:
- request:
    body: !!python/unicode '{"edges": [], "nodes": [{"id": "79c59ebf-a95d-5084-a5d6-66e8ed69096f",
      "operator": "LandsatRead", "parameters": {"landsatId": "LC80370302014268LGN00",
      "productSpec": "multispectral"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode 4ca6ca968937f8e87001b3b78b2bf4930a8312e2cd4ac61844970e83d91c6789}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/4ca6ca968937f8e87001b3b78b2bf4930a8312e2cd4ac61844970e83d91c6789/79c59ebf-a95d-5084-a5d6-66e8ed69096f/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"LC80370302014268LGN00","version":1.1,"profileName":"georectified_image","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":31,"numYTiles":31,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"UNSIGNED_SHORT","imageHeight":7831,"imageWidth":7701,"sensorPlatformName":"LANDSAT8","sensorName":"Operational
        Land Imager","vendorName":"NASA/USGS","vendorDatasetIdentifier":"Path=37:Row=30","acquisitionDate":"2014-09-25T18:01:18.581Z","colorInterpretation":"LANDSAT_8_30M","imageBoundsWGS84":"POLYGON
        ((-110.86347858369699 44.246853761678445, -107.97194650786913 44.20678493060979,
        -108.0745769190652 42.09413339961017, -110.86811390707854 42.13136397851653,
        -110.86347858369699 44.246853761678445))","groundSampleDistanceMeters":30.0,"minX":0,"minY":0,"maxX":7700,"maxY":7830,"minTileX":0,"minTileY":0,"maxTileX":30,"maxTileY":30,"sunAzimuth":156.24916298,"sunElevation":43.39473382,"cloudCover":0.04},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:32612","scaleX":30.0,"scaleY":-30.0,"translateX":510900.0,"translateY":4899300.0,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":null,"sensorMetadata":null,"imageAssociations":null,"rrdMetadata":null}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: ''}
version: 1
