interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1010010002B93F00&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[125.1242948567494,40.92319574494742],[125.3837204435143,40.89390159965966],[125.38490970779,40.74376688210813],[125.1235481955323,40.77212657803891],[125.1242948567494,40.92319574494742]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2004-02-20T02:33:07.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","QB02","DigitalGlobeProduct","1BProduct"],"name":null,"format":null,"ingest_date":"2017-10-16T22:56:26.778Z","attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":155.9,"bands":"P","xmlFile":"04FEB20023307-P1BS-057114153010_01_P003.XML","browseJpgFile":"04FEB20023307-P1BS-057114153010_01_P003-BROWSE.JPG","cloudCover_int":-999,"imdFile":"04FEB20023307-P1BS-057114153010_01_P003.IMD","attFile":"04FEB20023307-P1BS-057114153010_01_P003.ATT","resolution_dbl":0.774,"bandsList":"BAND_P","geoFile":"04FEB20023307-P1BS-057114153010_01_P003.GEO","imageFile":"04FEB20023307-P1BS-057114153010_01_P003.TIF","vendor":"DigitalGlobe","sunElevation_dbl":35.0,"platformName":"QUICKBIRD02","tilFile":"04FEB20023307-P1BS-057114153010_01_P003.TIL","sensorPlatformName":"QUICKBIRD02","readmeTxtFile":"04FEB20023307-P1BS-057114153010_01_P003_README.TXT","rpbFile":"04FEB20023307-P1BS-057114153010_01_P003.RPB","offNadirAngle_dbl":29.7,"soli":"057114153","catalogID":"1010010002B93F00","productLevel":"LV1B","part_int":3,"ephFile":"04FEB20023307-P1BS-057114153010_01_P003.EPH","bucketPrefix":"057114153010_01_003/057114153010_01/057114153010_01_P003_PAN"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1010010002B93F00_P003_PAN_057114153010","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"edges": [{"destination": "f33f950e-3619-5260-9f4e-f8f89cf3d442",
      "id": "60ac313f-d0a6-598c-a9ff-892f437706ba", "index": 1, "source": "141fe420-62e8-592d-8b00-6098e9e81281"}],
      "nodes": [{"id": "f33f950e-3619-5260-9f4e-f8f89cf3d442", "operator": "Format",
      "parameters": {"dataType": "4"}}, {"id": "141fe420-62e8-592d-8b00-6098e9e81281",
      "operator": "DigitalGlobeStrip", "parameters": {"CRS": "EPSG:4326", "GSD": "null",
      "bands": "MS", "catId": "1010010002B93F00", "correctionType": "ACOMP", "fallbackToTOA":
      "true"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode c5235088f49a346c30ce6b48cca9a6a7a07ecff02fb28c9b8dd27f8f6298131d}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/c5235088f49a346c30ce6b48cca9a6a7a07ecff02fb28c9b8dd27f8f6298131d/f33f950e-3619-5260-9f4e-f8f89cf3d442/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"3430c260-1996-45b5-834e-e5c663c06259","version":1.0,"profileName":"georectified_image","tileBucketName":"idaho-images","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":39,"numYTiles":147,"tileXSize":256,"tileYSize":256,"numBands":4,"dataType":"FLOAT","imageHeight":37521,"imageWidth":9851,"sensorPlatformName":"QB02","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","vendorName":"DigitalGlobe, Inc.","vendorDatasetIdentifier":"LV1B:057114153010_01_P001:1010010002B93F00:A010010301A33A00","acquisitionDate":"2004-02-20T02:33:03.177Z","colorInterpretation":"BGRN","imageBoundsWGS84":"POLYGON
        ((125.12409803 41.14436097, 125.39718629805606 41.14436097, 125.39718629805606
        40.10420820320158, 125.12409803 40.10420820320158, 125.12409803 41.14436097))","groundSampleDistanceMeters":3.086,"minX":0,"minY":0,"maxX":9850,"maxY":37520,"minTileX":0,"minTileY":0,"maxTileX":38,"maxTileY":146,"sunAzimuth":156.0,"sunElevation":34.8,"satAzimuth":306.8,"satElevation":58.4,"cloudCover":-999.0,"offNadirAngle":29.5,"sensorAlias":"QB02_MULTI","absoluteCalibrationFactors":[0.0160412,0.0143847,0.0126735,0.0154242],"effectiveBandwidths":[0.068,0.099,0.071,0.114],"tdiLevels":[1.0,1.0,1.0,1.0],"bandAliases":["B","G","R","N"],"pniirs":2.4},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":2.772188286022278E-5,"scaleY":-2.772188286022278E-5,"translateX":125.12409803,"translateY":41.14436097,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,[...]
