interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1050010009569E00&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-107.0285891746167,38.43814057709461],[-106.8278780862746,38.42311301996205],[-106.8274452447164,38.28628519668077],[-107.0266933986514,38.29878284814359],[-107.0285891746167,38.43814057709461]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-04-20T17:54:00.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","GE01","DigitalGlobeProduct","1BProduct"],"name":null,"format":null,"ingest_date":"2017-07-26T20:51:24.723Z","attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":143.7,"bands":"Multi","xmlFile":"17APR20175400-M1BS-056817215010_01_P004.XML","browseJpgFile":"17APR20175400-M1BS-056817215010_01_P004-BROWSE.JPG","cloudCover_int":65,"imdFile":"17APR20175400-M1BS-056817215010_01_P004.IMD","attFile":"17APR20175400-M1BS-056817215010_01_P004.ATT","resolution_dbl":2.063,"bandsList":"BAND_B,BAND_G,BAND_R,BAND_N","geoFile":"17APR20175400-M1BS-056817215010_01_P004.GEO","imageFile":"17APR20175400-M1BS-056817215010_01_P004.TIF","vendor":"DigitalGlobe","sunElevation_dbl":59.0,"platformName":"GEOEYE01","tilFile":"17APR20175400-M1BS-056817215010_01_P004.TIL","sensorPlatformName":"GEOEYE01","readmeTxtFile":"17APR20175400-M1BS-056817215010_01_P004_README.TXT","rpbFile":"17APR20175400-M1BS-056817215010_01_P004.RPB","offNadirAngle_dbl":21.1,"soli":"056817215","catalogID":"1050010009569E00","productLevel":"LV1B","part_int":4,"ephFile":"17APR20175400-M1BS-056817215010_01_P004.EPH","bucketPrefix":"056817215010_01_003/056817215010_01/056817215010_01_P004_MUL"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1050010009569E00_P004_MUL_056817215010","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"edges": [{"destination": "80b35896-6229-541b-a28c-464b19393d70",
      "id": "8e099099-f31c-56ad-8bd0-65e0073eb083", "index": 1, "source": "18b9edfa-52d9-5771-998c-c5d6a2db0b51"}],
      "nodes": [{"id": "80b35896-6229-541b-a28c-464b19393d70", "operator": "Format",
      "parameters": {"dataType": "4"}}, {"id": "18b9edfa-52d9-5771-998c-c5d6a2db0b51",
      "operator": "DigitalGlobeStrip", "parameters": {"CRS": "EPSG:4326", "GSD": "null",
      "bands": "MS", "catId": "1050010009569E00", "correctionType": "ACOMP", "fallbackToTOA":
      "true"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode 1058672ba0c7f05fa3caa5c2e9b6e96cc2ae79549ac6d11094bfaaa8fae684b9}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/1058672ba0c7f05fa3caa5c2e9b6e96cc2ae79549ac6d11094bfaaa8fae684b9/80b35896-6229-541b-a28c-464b19393d70/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"bd6204d5-50c0-4cca-a2c8-baaf4dc1bb33","version":1.0,"profileName":"georectified_image","tileBucketName":"idaho-images","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":46,"numYTiles":224,"tileXSize":256,"tileYSize":256,"numBands":4,"dataType":"FLOAT","imageHeight":57317,"imageWidth":11689,"sensorPlatformName":"GE01","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","vendorName":"DigitalGlobe, Inc.","vendorDatasetIdentifier":"LV1B:056817215010_01_P001:1050010009569E00:A0100102CE7B5000","acquisitionDate":"2017-04-20T17:53:53.235Z","colorInterpretation":"BGRN","imageBoundsWGS84":"POLYGON
        ((-107.03227196 39.04357119, -106.8175396118146 39.04357119, -106.8175396118146
        37.990631331933166, -107.03227196 37.990631331933166, -107.03227196 39.04357119))","groundSampleDistanceMeters":2.086,"minX":0,"minY":0,"maxX":11688,"maxY":57316,"minTileX":0,"minTileY":0,"maxTileX":45,"maxTileY":223,"sunAzimuth":143.3,"sunElevation":59.3,"satAzimuth":110.7,"satElevation":69.2,"cloudCover":0.18,"offNadirAngle":18.7,"sensorAlias":"GE01_MULTI","absoluteCalibrationFactors":[0.0150102,0.0120281,0.0097083,0.0134302],"effectiveBandwidths":[0.06,0.07,0.035,0.14],"tdiLevels":[6.0,6.0,6.0,6.0],"bandAliases":["B","G","R","N"],"pniirs":2.8},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":1.8370463528566294E-5,"scaleY":-1.8370463528566294E-5,"translateX":-107.03227196,"translateY":39.04357119,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,0,129,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,124,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,150,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,154,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,135,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,116,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,142,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,164,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,161,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,185,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,142,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,171,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,191,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,116,55,0,0,0,0,0,0,0,0,0,0,0,0,0,0,112,72,4,0,0,[...]
