interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/vectors/query/items?count=1&upper=25.4184701193&lower=19.40961155&right=24.08203125&q=item_type%3AWV03&left=17.75390625
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[23.746158,25.009542],[23.799474,25.008714],[23.877954,25.007382],[23.877846,24.940746],[23.877702,24.922242],[23.877522,24.82947],[23.877414,24.75729],[23.877342,24.57819],[23.877414,24.540354],[23.877522,24.487722],[23.877774,24.389838],[23.87781,24.389802],[23.878134,24.292854],[23.878386,24.23007],[23.878458,24.222474],[23.878782,24.145362],[23.879142,24.085674],[23.87943,24.04755],[23.879754,23.99103],[23.775138,23.986386],[23.743818,23.985018],[23.743674,23.985018],[23.743782,24.003414],[23.743818,24.00345],[23.743998,24.037146],[23.744142,24.047658],[23.744358,24.086142],[23.74479,24.170238],[23.745114,24.234894],[23.74515,24.24339],[23.745294,24.26679],[23.74551,24.32619],[23.745618,24.349806],[23.745798,24.43239],[23.746086,24.54849],[23.746194,24.615702],[23.746266,24.63147],[23.746266,24.824178],[23.746194,24.874722],[23.74605,24.97185],[23.745942,25.009542],[23.746158,25.009542]]]]},"properties":{"ingest_source":"DG
        Catalog","access":{"groups":["_ALL_"],"users":["_ALL_"]},"item_date":"2014-10-15T00:00:00.000Z","original_crs":"EPSG:4326","item_type":["WV03"],"format":"shapefile","ingest_date":"2016-03-03T14:47:44.764Z","source":null,"name":null,"attributes":{"MXTARGETAZ_dbl":317.43808,"ACQDATE":"2014-10-15","y4_dbl":24.0,"MXPANRES_dbl":0.332414448,"CATALOGID":"1040010003669800","x1_dbl":24.0,"AVMULTIRES_dbl":1.273315668,"AVSUNAZIM_dbl":100.0,"PLATFORM":"WV03","AVTARGETAZ_dbl":258.12927,"AVSUNELEV_dbl":50.0,"MXOFFNADIR_int":16,"MXSUNAZIM_dbl":100.0,"x2_dbl":24.0,"MNTARGETAZ_dbl":212.6395,"AVPANRES_dbl":0.318244964,"y1_dbl":25.0,"STEREOPAIR":"NONE","AVOFFNADIR_int":10,"MNMULTIRES_dbl":1.252035022,"x4_dbl":24.0,"MXSUNELEV_dbl":50.0,"x3_dbl":24.0,"IMAGEBANDS":"Pan_MS1_MS2","MNSUNELEV_dbl":50.0,"y2_dbl":25.0,"MXMULTIRES_dbl":1.33095932,"CLOUDCOVER_int":0,"MNSUNAZIM_dbl":100.0,"MNPANRES_dbl":0.312991261,"BROWSEURL":"https://browse.digitalglobe.com/imagefinder/showBrowseMetadata?catalogId=1040010003669800","y3_dbl":24.0,"MNOFFNADIR_int":7},"ingest_attributes":{"shapefile_name":"WV03_ImageLibraryStrips_merge.shp"},"id":"2ea4c76a-7860-4852-b956-918b224bf380","text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
