interactions:
- request:
    body: !!python/unicode '{"startDate": null, "endDate": null, "types": ["LandsatAcquisition"],
      "searchAreaWkt": "POLYGON((29.9 10.1, 30.1 10.1, 30.1 9.9, 29.9 9.9, 29.9 10.1))"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://geobigdata.io/catalog/v1/search?includeRelationships=false
  response:
    body: {string: !!python/unicode '{"searchTag":null,"results":[{"identifier":"LC81740532016098LGN00","owner":"7b216bd9-6523-4ca9-aa3b-1d8a5994f054","type":"LandsatAcquisition","properties":{"path":"174","panResolution":"15.0","browseURL":"https://s3-us-west-2.amazonaws.com/landsat-pds/L8/174/053/LC81740532016098LGN00/LC81740532016098LGN00_thumb_large.jpg","epsgCode":"4326","footprintWkt":"POLYGON
        ((29.23635 9.05097, 29.23635 11.16553, 31.34408 11.16553, 31.34408 9.05097,
        29.23635 9.05097))","cloudCover":"24.09","multiResolution":"30.0","row":"53","timestamp":"2016-04-07T00:00:00.000Z","timestampWkt":"2016-04-07T08:16:42.000Z"}},{"identifier":"LC81740532016018LGN00","owner":"7b216bd9-6523-4ca9-aa3b-1d8a5994f054","type":"LandsatAcquisition","properties":{"path":"174","panResolution":"15.0","browseURL":"https://s3-us-west-2.amazonaws.com/landsat-pds/L8/174/053/LC81740532016018LGN00/LC81740532016018LGN00_thumb_large.jpg","epsgCode":"4326","footprintWkt":"POLYGON
        ((29.23361 9.05094, 29.23361 11.16549, 31.34408 11.16549, 31.34408 9.05094,
        29.23361 9.05094))","cloudCover":"2.84","m[...]
