interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-dgcatalog-2016/paging?count=1000&upper=25.4184701193&lower=19.40961155&right=24.08203125&q=item_type%3AWV03&ttl=5m&left=17.75390625
  response:
    body: {string: !!python/unicode '{ "data" : [{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[21.255894,20.017494],[21.256434,20.01753],[21.25629,20.005866],[21.256038,19.989126],[21.255894,19.964358],[21.255858,19.964322],[21.255642,19.924074],[21.25557,19.91277],[21.255642,19.900674],[21.255498,19.861218],[21.255354,19.84599],[21.255138,19.79253],[21.254958,19.748214],[21.254814,19.72845],[21.254526,19.67157],[21.254418,19.659114],[21.254238,19.595178],[21.254202,19.595106],[21.253986,19.526922],[21.253842,19.503738],[21.253806,19.495998],[21.253698,19.459278],[21.253554,19.448874][...]
