interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3ALC80380302013160LGN00&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-112.47753,42.16063],[-112.47753,44.18066],[-109.64058,44.18066],[-109.64058,42.16063],[-112.47753,42.16063]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2013-06-09T18:09:25.351Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","Acquisition","Landsat8","LandsatAcquisition"],"name":null,"format":null,"ingest_date":"2018-04-13T14:14:16.778Z","attributes":{"row_int":30,"bucketName":"landsat-pds","productID":"LC80380302013160LGN00","sensorPlatformName":"LANDSAT08","browseURL":"https://s3-us-west-2.amazonaws.com/landsat-pds/L8/038/030/LC80380302013160LGN00/LC80380302013160LGN00_thumb_large.jpg","cloudCover_int":0,"path_int":38,"catalogID":"LC80380302013160LGN00","panResolution_dbl":15.0,"vendor":"Landsat","bucketPrefix":"L8/038/030/LC80380302013160LGN00","platformName":"LANDSAT08","multiResolution_dbl":30.0},"ingest_attributes":{"_rest_user":"acquisition-gbdx-support@digitalglobe.com","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"LC80380302013160LGN00","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"edges": [], "nodes": [{"id": "def4ecb5-c566-59e1-900d-7551cf98dd9c",
      "operator": "LandsatRead", "parameters": {"landsatId": "LC80380302013160LGN00",
      "productSpec": "multispectral"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode a62ef2e7c23a3cfb2e4ae9d3845792620adda44abd9880ba6636e3abb632edad}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/a62ef2e7c23a3cfb2e4ae9d3845792620adda44abd9880ba6636e3abb632edad/def4ecb5-c566-59e1-900d-7551cf98dd9c/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"LC80380302013160LGN00","version":1.1,"profileName":"georectified_image","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":31,"numYTiles":30,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"UNSIGNED_SHORT","imageHeight":7481,"imageWidth":7681,"sensorPlatformName":"LANDSAT8","sensorName":"Operational
        Land Imager","vendorName":"NASA/USGS","vendorDatasetIdentifier":"Path=38:Row=30","acquisitionDate":"2013-06-09T18:09:25.351Z","colorInterpretation":"LANDSAT_8_30M","imageBoundsWGS84":"POLYGON
        ((-112.47752985513819 44.18065964691234, -109.59463558795882 44.181570383531195,
        -109.64022151298292 42.16120798827132, -112.4296050212112 42.16035900061368,
        -112.47752985513819 44.18065964691234))","groundSampleDistanceMeters":30.0,"minX":0,"minY":0,"maxX":7680,"maxY":7480,"minTileX":0,"minTileY":0,"maxTileX":30,"maxTileY":29,"sunAzimuth":136.6577385,"sunElevation":64.79784228,"cloudCover":0.95},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:32612","scaleX":30.0,"scaleY":-30.0,"translateX":381900.0,"translateY":4893000.0,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":null,"sensorMetadata":null,"imageAssociations":null,"rrdMetadata":null}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: ''}
version: 1
