interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/paging?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1020010044CEA300+AND+NOT+item_type%3AIDAHOImage+AND+NOT+item_type%3ADigitalGlobeAcquisition&ttl=5m&left=-180.0
  response:
    body: {string: !!python/unicode '{ "data" : [{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-95.6084276071431,29.82776079985136],[-95.38886722042383,29.81759458017033],[-95.38947891786417,29.67449854081606],[-95.60778766711665,29.68345984765868],[-95.6084276071431,29.82776079985136]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["_ALL_"],"users":["_ALL_"]},"item_date":"2015-11-23T19:03:29.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","WV01","DigitalGlobeProduct","1BProduct"],"format":null,"ingest_date":"2017-06-13T10:38:26.595Z","source":null,"name":null,"attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":196.5,"bands":"P","xmlFile":"15NOV23190329-P1BS-056653255010_01_P003.XML","browseJpgFile":"15NOV23190329-P1BS-056653255010_01_P003-BROWSE.JPG","cloudCover_int":0,"imdFile":"15NOV23190329-P1BS-056653255010_01_P003.IMD","attFile":"15NOV23190329-P1BS-056653255010_01_P003.ATT","resolution_dbl":0.576,"bandsList":"BAND_P","geoFile":"15NOV23190329-P1BS-056653255010_01_P003.GEO","imageFile":"15NOV23190329-P1BS-056653255010_01_P003.TIF","vendor":"DigitalGlobe","sunElevation_dbl":38.3,"platformName":"WORLDVIEW01","tilFile":"15NOV23190329-P1BS-056653255010_01_P003.TIL","sensorPlatformName":"WORLDVIEW01","readmeTxtFile":"15NOV23190329-P1BS-056653255010_01_P003_README.TXT","rpbFile":"15NOV23190329-P1BS-056653255010_01_P003.RPB","offNadirAngle_dbl":23.7,"soli":"056653255","catalogID":"1020010044CEA300","productLevel":"LV1B","part_int":3,"ephFile":"15NOV23190329-P1BS-056653255010_01_P003.EPH","bucketPrefix":"056653255010_01_003/056653255010_01/056653255010_01_P003_PAN"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1020010044CEA300_P003_PAN_056653255010","text":""}}],"next_paging_id":"DnF1ZXJ5VGhlbkZldGNoHwAAAAABPeR-FmxXeTZ4THZXVGpDTFZmLUdhVGFiQWcAAAAAAT3kfxZsV3k2eEx2V1RqQ0xWZi1HYVRhYkFnAAAAAADMIjsWZjlXdWEyNUVUZ0NZUUJ4ZFd3NzdSQQAAAAABLEAPFm4tTzhIUElJVEpheG1NZXdsc1NJX3cAAAAAAVtINhZTcTVGMEJPWFFDdUw3WUF6c1o1QUJ3AAAAAACpzp8WN0lsOGtMc0RTUWl1ZlpEQVZjMDYtZwAAAAABPeSAFmxXeTZ4THZXVGpDTFZmLUdhVGFiQWcAAAAAAUCywxZPck9HY2laMVR6eVJrWk5IS3RrbTRRAAAAAADMIjwWZjlXdWEyNUVUZ0NZUUJ4ZFd3NzdSQQAAAAAA2pGIFlVxV2dQcmpaVHVpRVN2SkVNam9XMHcAAAAAAPaS1xZhV3JmSGhiNVJ4YUtTWTJPR0g4OUpnAAAAAAFAssQWT3JPR2NpWjFUenlSa1pOSEt0a200UQAAAAAA3ldHFlA4MWNtZk9pVGp1STZsV0UyRGdhd3cAAAAAASYecRZRLW9vTHZaM1FveXJjRXB0bWd1b1hnAAAAAACplAcWWnREamNITXZUUzIxcWM3NnNzSDJkQQAAAAABHregFmtadHYtVDRSUVdDQzVGVmtkS2Y1NmcAAAAAANtXDxZFWVlSTTFMSFJPLWtPbTRISGp0ZnNnAAAAAAE95IEWbFd5NnhMdldUakNMVmYtR2FUYWJBZwAAAAAA3ldIFlA4MWNtZk9pVGp1STZsV0UyRGdhd3cAAAAAAMs0LRZBTHl4OFZLMlRsMk1nWEZ2Y2g2eXdRAAAAAAEmHnIWUS1vb0x2WjNRb3lyY0VwdG1ndW9YZwAAAAAAjKR3FmE1Vy13M1ZVUlBpUFhOaHRXMEFnVXcAAAAAAOVayxY1bGx2QVZTQ1Q2aWI4RWlPVHVGd0t3AAAAAACpzqAWN0lsOGtMc0RTUWl1ZlpEQVZjMDYtZwAAAAABJh5zFlEtb29MdlozUW95cmNFcHRtZ3VvWGcAAAAAAN5XSRZQODFjbWZPaVRqdUk2bFdFMkRnYXd3AAAAAADMIj0WZjlXdWEyNUVUZ0NZUUJ4ZFd3NzdSQQAAAAAArUW9Fm1CaW5jWjYxVDJ1WFQ3akZKTDF0VUEAAAAAANtXEBZFWVlSTTFMSFJPLWtPbTRISGp0ZnNnAAAAAAEsQBAWbi1POEhQSUlUSmF4bU1ld2xzU0lfdwAAAAAA1FWvFnM2ZFRXSjR6U09peGFRRnVncE9OR3c=","item_count":"1","total_count":"10"}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/paging?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1020010044CEA300+AND+attributes.colorInterpretation%3APAN&ttl=5m&left=-180.0
  response:
    body: {string: !!python/unicode '{ "data" : [{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-95.60793731,29.71633779],[-95.38932813,29.70709902],[-95.38994428,29.5645127],[-95.60733788,29.57256406],[-95.60793731,29.71633779]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["_ALL_"],"users":["_ALL_"]},"item_date":"2015-11-23T19:03:29.974Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV01"],"format":null,"ingest_date":"2017-06-16T17:59:46.141Z","source":null,"name":null,"attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2015-11-23T19:03:29.974Z","bucketName":"idaho-images","numBands_int":1,"sunAzimuth_dbl":196.6,"nativeTileFileFormat":"PNG","colorInterpretation":"PAN","cloudCover_int":0,"idahoImageId":"d0232f84-14f4-4686-a827-c626f9d8779f","satAzimuth_dbl":104.7,"satElevation_dbl":64.6,"pniirs_dbl":4.8,"numYTiles_int":29,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":38.4,"platformName":"WORLDVIEW01","imageHeight_int":29120,"numXTiles_int":35,"sensorPlatformName":"WORLDVIEW01","sensorName":"Panchromatic","dataType":"UNSIGNED_SHORT","imageWidth_int":35180,"tileXSize_int":1024,"tileYSize_int":1024,"offNadirAngle_dbl":23.4,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"1020010044CEA300","vendorDatasetIdentifier":"LV1B:056653255010_01_P004:1020010044CEA300:20200102B4982B00","groundSampleDistanceMeters_dbl":0.574},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"d0232f84-14f4-4686-a827-c626f9d8779f","text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-95.60904201,29.93957481],[-95.38847247,29.92845997],[-95.3890043,29.78485629],[-95.60828762,29.79474843],[-95.60904201,29.93957481]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access[...]
- request:
    body: !!python/unicode '{"edges": [{"destination": "d425db0b-5c3e-5c83-8953-0b112ea047a8",
      "id": "846f86bc-bd64-58bf-a75b-7726e7ddc39a", "index": 1, "source": "26265e60-e973-55ce-838a-6e52fd161d40"},
      {"destination": "d425db0b-5c3e-5c83-8953-0b112ea047a8", "id": "27fe00b6-0a52-5349-a7ac-fadab5d6fb3e",
      "index": 2, "source": "8ce9aa54-c30c-57ef-81d9-fd1e9a1e9cb0"}, {"destination":
      "d425db0b-5c3e-5c83-8953-0b112ea047a8", "id": "33392a27-3d9f-5bb8-95ad-0b05e749842a",
      "index": 3, "source": "70720ccc-bf84-5bdf-8cc7-65934f88955f"}, {"destination":
      "d425db0b-5c3e-5c83-8953-0b112ea047a8", "id": "54ca3207-613c-5e67-804[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/d5c317536be119cfb265e94494b4d71025dbb9390797b7654c82cbde0b5c83ea/d425db0b-5c3e-5c83-8953-0b112ea047a8/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"0d79f96c-4ca0-406e-9549-21147d59fd64","version":"1.0","profileName":"dg_1b","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":171,"numYTiles":810,"tileXSize":256,"tileYSize":256,"numBands":1,"dataType":"UNSIGNED_SHORT","imageHeight":207247,"imageWidth":43651,"sensorPlatformName":"WV01","sensorName":"Panchromatic","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:056653255010_01_P005:1020010044CEA300:20200102B4982600","acquisitionDate":"2015-11-23T19:03:30.911Z","colorInterpretation":"PAN","imageBoundsWGS84":"POLYGON
        ((-95.60960245 30.04264836, -95.38805362678764 30.04264836, -95.38805362678764
        28.990774887129, -95.60960245 28.990774887129, -95.60960245 30.04264836))","groundSampleDistanceMeters":0.572,"minX":0,"minY":0,"maxX":43650,"maxY":207246,"minTileX":0,"minTileY":0,"maxTileX":170,"maxTileY":809,"sunAzimuth":196.6,"sunElevation":38.5,"satAzimuth":103.3,"satElevation":64.9,"cloudCover":0.0,"offNadirAngle":23.2,"pniirs":4.8},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":5.075458138699245E-6,"scaleY":-5.075458138699245E-6,"translateX":-95.60960245,"translateY":30.04264836,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":-95.60746492,"y":29.60532769},"upperRightCorner":{"x":-95.38980448,"y":29.59700849},"lowerRightCorner":{"x":-95.39046413,"y":29.45486161},"lowerLeftCorner":{"x":-95.6069331,"y":29.46200794},"gsd":5.138339920948616E-6,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":14559.0,"sampleOffset":17589.0,"latOffset":29.5301,"lonOffset":-95.4988,"heightOffset":-3.0,"lineScale":14560.0,"sampleScale":17590.0,"latScale":0.0758,"lonScale":0.1113,"heightScale":501.0,"lineNumCoefs":[-0.004578429,-0.05557748,-1.061981,-0.005614127,-0.001779062,-2.097532E-5,-1.850142E-4,-6.537573E-4,0.002998729,-7.174378E-7,-9.370764E-7,-1.458765E-6,1.916885E-6,-6.139421E-7,-6.825511E-6,-4.844896E-5,-1.16802E-5,-2.015476E-7,7.122226E-7,-6.119045E-8],"lineDenCoefs":[1.0,-0.002180279,-0.001776299,-2.233551E-4,-4.998585E-6,-6.633263E-7,-3.148996E-7,7.009532E-6,-2.136375E-5,1.095045E-5,0.0,-2.674451E-8,-4.588333E-7,-4.470117E-8,-1.434782E-7,-3.660394E-6,1.132428E-8,0.0,-9.473946E-8,0.0],"sampleNumCoefs":[-0.009988874,1.025235,-3.656978E-4,-0.02174196,-0.001446653,2.522192E-4,-8.000556E-5,0.009421132,1.175207E-4,-8.432777E-6,-2.248474E-6,7.057577E-5,-1.373816E-5,-5.664725E-6,-2.738819E-6,5.138759E-5,-5.343299E-8,6.144541E-6,1.457666E-6,1.193591E-7],"sampleDenCoefs":[1.0,5.862475E-4,0.001477976,-4.761061E-4,2.320714E-6,-4.489712E-6,1.235597E-6,8.489557E-6,7.025849E-6,-5.715483E-6,1.331974E-8,-4.541717E-7,3.517868E-7,4.003586E-8,-2.120772E-7,-6.339762E-7,-1.307092E-8,-1.191327E-7,1.858036E-8,0.0]},"histogram":{"histograms":{"0":[0,10919,90,98,130,99,118,127,129,106,121,115,109,135,117,132,124,122,134,136,159,141,166,171,165,175,172,197,210,200,185,206,213,232,266,249,269,280,307,286,328,339,327,402,391,421,438,437,518,558,627,652,721,717,879,915,1009,1055,1148,1249,1385,1483,1647,1768,1988,2395,2734,3138,3667,4806,6209,8532,11767,16777,24156,34216,46735,63823,85852,114522,149376,195966,254151,325922,412005,510464,625084,746949,880371,1022202,1166135,1316968,1470499,1624079,1771841,1918862,2055858,2186609,2307182,2[...]
