interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template
  response:
    body: {string: !!python/unicode "{\n    \"defaultNodeId\": \"SmartBandSelect\",\"id\": \"DigitalGlobeStrip\",\n
        \   \"edges\": [\n        {\n            \"id\": \"56585213-84b1-441b-afc3-ff8f2aa50517\",\n
        \           \"index\": 1,\n            \"source\": \"DigitalGlobeStrip\",\n
        \           \"destination\": \"UniversalDRA\"\n        },\n        {\n            \"id\":
        \"13e2b267-c4d5-444e-9cf3-9cfd7670dbca\",\n            \"index\": 1,\n            \"source\":
        \"UniversalDRA\",\n            \"destination\": \"SmartBandSelect\"\n        }\n
        \   ],\n    \"nodes\": [\n        {\n            \"id\": \"DigitalGlobeStrip\",\n
        \           \"operator\": \"DigitalGlobeStrip\",\n            \"parameters\":
        {\n                \"catId\": \"${catalogId}\",\n                \"CRS\":
        \"${crs:-UTM}\",\n                \"correctionType\": \"${correctionType:-DN}\",\n
        \               \"GSD\": \"${GSD}\",\n                \"fallbackToTOA\": \"${fallbackToTOA}\",\n
        \               \"bands\": \"${bands:-MS}\"\n            }\n        },\n        {\n
        \           \"id\": \"UniversalDRA\",\n            \"operator\": \"UniversalDRA\",\n
        \           \"parameters\": {\n                \"draType\": \"${draType:-None}\"\n
        \           }\n        },\n        {\n            \"id\": \"SmartBandSelect\",\n
        \           \"operator\": \"SmartBandSelect\",\n            \"parameters\":
        {\n                \"bandSelection\": \"${bandSelection:-All}\"\n            }\n
        \       }\n    ]\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/DigitalGlobeStrip/metadata?nodeId=73a9f833-bd5e-5cc7-9a83-a2cba6622661&catalogId=e9d158c6-2af0-481d-a1f0-d82b7234db33-inv&correctionType=AComp&draType=HistogramDRA&bands=PanSharp&bandSelection=RGB&crs=UTM
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"LC80370302014268LGN00","version":1.1,"profileName":"georectified_image","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":31,"numYTiles":31,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"UNSIGNED_SHORT","imageHeight":7831,"imageWidth":7701,"sensorPlatformName":"LANDSAT8","sensorName":"Operational
        Land Imager","vendorName":"NASA/USGS","vendorDatasetIdentifier":"Path=37:Row=30","acquisitionDate":"2014-09-25T18:01:18.581Z","colorInterpretation":"LANDSAT_8_30M","imageBoundsWGS84":"POLYGON
        ((-110.86347858369699 44.246853761678445, -107.97194650786913 44.20678493060979,
        -108.0745769190652 42.09413339961017, -110.86811390707854 42.13136397851653,
        -110.86347858369699 44.246853761678445))","groundSampleDistanceMeters":30.0,"minX":0,"minY":0,"maxX":7700,"maxY":7830,"minTileX":0,"minTileY":0,"maxTileX":30,"maxTileY":30,"sunAzimuth":156.24916298,"sunElevation":43.39473382,"cloudCover":0.04},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:32612","scaleX":30.0,"scaleY":-30.0,"translateX":510900.0,"translateY":4899300.0,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":null,"sensorMetadata":null,"imageAssociations":null,"rrdMetadata":null}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: ''}
version: 1
