interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1010010002B93F00&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[125.1242948567494,40.92319574494742],[125.3837204435143,40.89390159965966],[125.38490970779,40.74376688210813],[125.1235481955323,40.77212657803891],[125.1242948567494,40.92319574494742]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2004-02-20T02:33:07.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","QB02","DigitalGlobeProduct","1BProduct"],"name":null,"format":null,"ingest_date":"2017-10-16T22:56:26.778Z","attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":155.9,"bands":"P","xmlFile":"04FEB20023307-P1BS-057114153010_01_P003.XML","browseJpgFile":"04FEB20023307-P1BS-057114153010_01_P003-BROWSE.JPG","cloudCover_int":-999,"imdFile":"04FEB20023307-P1BS-057114153010_01_P003.IMD","attFile":"04FEB20023307-P1BS-057114153010_01_P003.ATT","resolution_dbl":0.774,"bandsList":"BAND_P","geoFile":"04FEB20023307-P1BS-057114153010_01_P003.GEO","imageFile":"04FEB20023307-P1BS-057114153010_01_P003.TIF","vendor":"DigitalGlobe","sunElevation_dbl":35.0,"platformName":"QUICKBIRD02","tilFile":"04FEB20023307-P1BS-057114153010_01_P003.TIL","sensorPlatformName":"QUICKBIRD02","readmeTxtFile":"04FEB20023307-P1BS-057114153010_01_P003_README.TXT","rpbFile":"04FEB20023307-P1BS-057114153010_01_P003.RPB","offNadirAngle_dbl":29.7,"soli":"057114153","catalogID":"1010010002B93F00","productLevel":"LV1B","part_int":3,"ephFile":"04FEB20023307-P1BS-057114153010_01_P003.EPH","bucketPrefix":"057114153010_01_003/057114153010_01/057114153010_01_P003_PAN"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1010010002B93F00_P003_PAN_057114153010","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"edges": [{"destination": "69c86942-a034-5a17-ad6d-cf279868097b",
      "id": "f985aa73-9319-51d3-9255-b81ee87760bf", "index": 1, "source": "dc718556-754a-59f9-8ef5-fccba87f032a"}],
      "nodes": [{"id": "69c86942-a034-5a17-ad6d-cf279868097b", "operator": "Format",
      "parameters": {"dataType": "4"}}, {"id": "dc718556-754a-59f9-8ef5-fccba87f032a",
      "operator": "DigitalGlobeStrip", "parameters": {"CRS": "EPSG:4326", "GSD": "null",
      "bands": "PAN", "catId": "1010010002B93F00", "correctionType": "DN", "fallbackToTOA":
      "true"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode 94173e1efa6610892ebbdde3739e371d241bd73ee1e35819e25aedcc96d1eee8}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/94173e1efa6610892ebbdde3739e371d241bd73ee1e35819e25aedcc96d1eee8/69c86942-a034-5a17-ad6d-cf279868097b/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"aff17fd5-7cb8-4af5-813f-4f4e2ae9e521","version":1.0,"profileName":"georectified_image","tileBucketName":"idaho-images","tilePartition":"0000","nativeTileFileFormat":"PNG","tileXOffset":0,"tileYOffset":0,"numXTiles":155,"numYTiles":587,"tileXSize":256,"tileYSize":256,"numBands":1,"dataType":"FLOAT","imageHeight":150114,"imageWidth":39560,"sensorPlatformName":"QB02","sensorName":"Panchromatic","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:057114153010_01_P001:1010010002B93F00:A010010301A33A00","acquisitionDate":"2004-02-20T02:33:03.177Z","colorInterpretation":"PAN","imageBoundsWGS84":"POLYGON
        ((125.1235482 41.13525635, 125.39789530743802 41.13525635, 125.39789530743802
        40.094221423661516, 125.1235482 40.094221423661516, 125.1235482 41.13525635))","groundSampleDistanceMeters":0.772,"minX":0,"minY":0,"maxX":39559,"maxY":150113,"minTileX":0,"minTileY":0,"maxTileX":154,"maxTileY":586,"sunAzimuth":156.0,"sunElevation":34.8,"satAzimuth":307.2,"satElevation":58.3,"cloudCover":-999.0,"offNadirAngle":29.5,"pniirs":4.4},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":6.934962270930651E-6,"scaleY":-6.934962270930651E-6,"translateX":125.1235482,"translateY":41.13525635,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,1063,10,2,4,5,7,3,3,4,5,3,2,8,1,2,5,4,5,3,1,2,6,7,3,3,3,2,5,3,7,6,1,6,3,7,7,11,5,5,8,8,10,11,5,15,13,7,9,5,3,13,8,10,10,9,14,17,18,18,12,18,21,16,14,23,24,28,36,21,28,22,34,28,38,34,47,31,39,36,38,58,52,57,60,56,57,62,70,75,97,106,77,92,111,93,130,127,150,174,176,196,188,227,262,254,288,346,382,404,466,531,587,644,735,921,1058,1285,1492,1709,2020,2323,2701,3238,3921,4535,5216,6336,7300,8558,9734,11320,13054,14999,17197,19448,22184,24893,27965,31193,35018,38588,42602,46797,51933,56488,618[...]
