interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1020010044CEA300+AND+NOT+item_type%3AIDAHOImage+AND+NOT+item_type%3ADigitalGlobeAcquisition&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-95.60705963071031,29.49467393696834],[-95.3903039775753,29.48725837960351],[-95.39099207151781,29.34549999635883],[-95.60660503277191,29.35176175771141],[-95.60705963071031,29.49467393696834]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2015-11-23T19:03:31.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","WV01","DigitalGlobeProduct","1BProduct"],"name":null,"format":null,"ingest_date":"2017-06-13T10:38:26.595Z","attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":196.6,"bands":"P","xmlFile":"15NOV23190331-P1BS-056653255010_01_P006.XML","browseJpgFile":"15NOV23190331-P1BS-056653255010_01_P006-BROWSE.JPG","cloudCover_int":0,"imdFile":"15NOV23190331-P1BS-056653255010_01_P006.IMD","attFile":"15NOV23190331-P1BS-056653255010_01_P006.ATT","resolution_dbl":0.57,"bandsList":"BAND_P","geoFile":"15NOV23190331-P1BS-056653255010_01_P006.GEO","imageFile":"15NOV23190331-P1BS-056653255010_01_P006.TIF","vendor":"DigitalGlobe","sunElevation_dbl":38.6,"platformName":"WORLDVIEW01","tilFile":"15NOV23190331-P1BS-056653255010_01_P006.TIL","sensorPlatformName":"WORLDVIEW01","readmeTxtFile":"15NOV23190331-P1BS-056653255010_01_P006_README.TXT","rpbFile":"15NOV23190331-P1BS-056653255010_01_P006.RPB","offNadirAngle_dbl":22.9,"soli":"056653255","catalogID":"1020010044CEA300","productLevel":"LV1B","part_int":6,"ephFile":"15NOV23190331-P1BS-056653255010_01_P006.EPH","bucketPrefix":"056653255010_01_003/056653255010_01/056653255010_01_P006_PAN"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1020010044CEA300_P006_PAN_056653255010","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1020010044CEA300+AND+attributes.colorInterpretation%3APAN&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-95.60668731,29.38435402],[-95.39084126,29.37783472],[-95.3915523,29.23644458],[-95.60632697,29.24183165],[-95.60668731,29.38435402]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2015-11-23T19:03:32.783Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV01"],"name":null,"format":null,"ingest_date":"2017-06-17T20:47:02.586Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2015-11-23T19:03:32.783Z","bucketName":"idaho-images","numBands_int":1,"sunAzimuth_dbl":196.6,"nativeTileFileFormat":"PNG","colorInterpretation":"PAN","cloudCover_int":0,"idahoImageId":"377a1470-477a-4e7d-a2ef-cc6649814173","satAzimuth_dbl":100.5,"satElevation_dbl":65.4,"pniirs_dbl":4.8,"numYTiles_int":29,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":38.7,"platformName":"WORLDVIEW01","imageHeight_int":29124,"numXTiles_int":35,"sensorPlatformName":"WORLDVIEW01","sensorName":"Panchromatic","dataType":"UNSIGNED_SHORT","imageWidth_int":35180,"tileXSize_int":1024,"tileYSize_int":1024,"offNadirAngle_dbl":22.7,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"1020010044CEA300","vendorDatasetIdentifier":"LV1B:056653255010_01_P007:1020010044CEA300:20200102B4982E00","groundSampleDistanceMeters_dbl":0.569},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"377a1470-477a-4e7d-a2ef-cc6649814173","source":null,"text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-95.60746492,29.60532769],[-95.38980448,29.59700849],[-95.39046413,29.45486161],[-95.6069331,29.46200794],[-95.60746492,29.60532769]]]]},"properties":{"ingest_source":"GBDX_INGEST_[...]
- request:
    body: !!python/unicode '{"edges": [{"destination": "55796995-4d4f-58d6-b901-7577bf4539d3",
      "id": "919769d5-f9a3-5ae9-9cd0-30c0d6b3bd5c", "index": 1, "source": "d1a18df5-2285-5569-974b-239b7d231d53"},
      {"destination": "55796995-4d4f-58d6-b901-7577bf4539d3", "id": "4f1e7f7a-2fb9-54c6-a38f-1e8c511f66c5",
      "index": 2, "source": "9e6858d9-01e5-5f04-bef7-9a431258c508"}, {"destination":
      "55796995-4d4f-58d6-b901-7577bf4539d3", "id": "63038aea-1879-5ec2-912f-b6df342d2070",
      "index": 3, "source": "2861dec5-dec5-5b97-8cda-bbbea9c99a1b"}, {"destination":
      "55796995-4d4f-58d6-b901-7577bf4539d3", "id": "d3e0cb1b-4ece-5cc6-81f[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/98afcbc97688c0ed6b4f5f31613b9723538cb52d1ed861123188ceb245ec9ff1/55796995-4d4f-58d6-b901-7577bf4539d3/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"0d79f96c-4ca0-406e-9549-21147d59fd64","version":1.0,"profileName":"georectified_image","tileBucketName":"idaho-images","tilePartition":"0000","nativeTileFileFormat":"PNG","tileXOffset":0,"tileYOffset":0,"numXTiles":43,"numYTiles":203,"tileXSize":1024,"tileYSize":1024,"numBands":1,"dataType":"UNSIGNED_SHORT","imageHeight":207247,"imageWidth":43651,"sensorPlatformName":"WV01","sensorName":"Panchromatic","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:056653255010_01_P005:1020010044CEA300:20200102B4982600","acquisitionDate":"2015-11-23T19:03:30.911Z","colorInterpretation":"PAN","imageBoundsWGS84":"POLYGON
        ((-95.60960245 30.04264836, -95.38805362678764 30.04264836, -95.38805362678764
        28.990774887129, -95.60960245 28.990774887129, -95.60960245 30.04264836))","groundSampleDistanceMeters":0.572,"minX":0,"minY":0,"maxX":43650,"maxY":207246,"minTileX":0,"minTileY":0,"maxTileX":42,"maxTileY":202,"sunAzimuth":196.6,"sunElevation":38.5,"satAzimuth":103.3,"satElevation":64.9,"cloudCover":0.0,"offNadirAngle":23.2,"pniirs":4.8},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":5.075458138699245E-6,"scaleY":-5.075458138699245E-6,"translateX":-95.60960245,"translateY":30.04264836,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":-95.60746492,"y":29.60532769},"upperRightCorner":{"x":-95.38980448,"y":29.59700849},"lowerRightCorner":{"x":-95.39046413,"y":29.45486161},"lowerLeftCorner":{"x":-95.6069331,"y":29.46200794},"gsd":5.138339920948616E-6,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":14559.0,"sampleOffset":17589.0,"latOffset":29.5301,"lonOffset":-95.4988,"heightOffset":-3.0,"lineScale":14560.0,"sampleScale":17590.0,"latScale":0.0758,"lonScale":0.1113,"heightScale":501.0,"lineNumCoefs":[-0.004578429,-0.05557748,-1.061981,-0.005614127,-0.001779062,-2.097532E-5,-1.850142E-4,-6.537573E-4,0.002998729,-7.174378E-7,-9.370764E-7,-1.458765E-6,1.916885E-6,-6.139421E-7,-6.825511E-6,-4.844896E-5,-1.16802E-5,-2.015476E-7,7.122226E-7,-6.119045E-8],"lineDenCoefs":[1.0,-0.002180279,-0.001776299,-2.233551E-4,-4.998585E-6,-6.633263E-7,-3.148996E-7,7.009532E-6,-2.136375E-5,1.095045E-5,0.0,-2.674451E-8,-4.588333E-7,-4.470117E-8,-1.434782E-7,-3.660394E-6,1.132428E-8,0.0,-9.473946E-8,0.0],"sampleNumCoefs":[-0.009988874,1.025235,-3.656978E-4,-0.02174196,-0.001446653,2.522192E-4,-8.000556E-5,0.009421132,1.175207E-4,-8.432777E-6,-2.248474E-6,7.057577E-5,-1.373816E-5,-5.664725E-6,-2.738819E-6,5.138759E-5,-5.343299E-8,6.144541E-6,1.457666E-6,1.193591E-7],"sampleDenCoefs":[1.0,5.862475E-4,0.001477976,-4.761061E-4,2.320714E-6,-4.489712E-6,1.235597E-6,8.489557E-6,7.025849E-6,-5.715483E-6,1.331974E-8,-4.541717E-7,3.517868E-7,4.003586E-8,-2.120772E-7,-6.339762E-7,-1.307092E-8,-1.191327E-7,1.858036E-8,0.0]},"histogram":{"histograms":{"0":[0,295250,2565,2708,2793,2660,2778,2807,2826,2814,3075,2962,3048,3086,3193,3174,3350,3367,3363,3581,3641,3822,3730,3984,4015,4045,4313,4313,4549,4658,4783,5012,5198,5318,5467,5544,5789,6216,6429,6598,6924,7240,7786,8156,8416,9148,9343,9863,10527,11265,12092,12709,13262,14149,15626,16713,17893,19237,20999,22932,25078,27210,30708,35402,44009,60494,92893,147753,231132,343820,487155,661832,858088,1080731,1327302,1597120,1900677,2245839,2619431,3009804,3413511,3880596,4420198,5065619,5830993,671[...]
