interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/paging?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A104001002838EC00&ttl=5m&left=-180.0
  response:
    body: {string: !!python/unicode '{ "data" : [{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-85.82950162,10.19991869],[-85.68506436,10.21888305],[-85.6849708,10.08889286],[-85.82960616,10.0698825],[-85.82950162,10.19991869]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["_ALL_"],"users":["_ALL_"]},"item_date":"2017-02-14T09:15:03Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV03_VNIR"],"format":null,"ingest_date":"2017-02-14T09:15:03Z","source":null,"name":null,"attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2017-02-07T16:45:15.061Z","bucketName":"idaho-images","numBands_int":1,"sunAzimuth_dbl":144.5,"nativeTileFileFormat":"PNG","colorInterpretation":"PAN","cloudCover_int":0,"idahoImageId":"8a137140-6e20-41ad-bb56-7bdfe96573b9","satAzimuth_dbl":223.9,"satElevation_dbl":60.3,"pniirs_dbl":5.4,"numYTiles_int":38,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":59.2,"platformName":"WORLDVIEW03_VNIR","imageHeight_int":38412,"numXTiles_int":42,"sensorPlatformName":"WORLDVIEW03_VNIR","sensorName":"Panchromatic","dataType":"UNSIGNED_SHORT","imageWidth_int":42500,"tileXSize_int":1024,"tileYSize_int":1024,"offNadirAngle_dbl":26.8,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"104001002838EC00","vendorDatasetIdentifier":"LV1B:056165420010_01_P009:104001002838EC00:A01001025E726E00","groundSampleDistanceMeters_dbl":0.377},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"8a137140-6e20-41ad-bb56-7bdfe96573b9","text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-85.82911484,10.81864648],[-85.68537331,10.83722445],[-85.68432354,10.70820532],[-85.82925179,10.68847893],[-85.82911484,10.81864648]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["_ALL_"],"users":["_ALL_"]},"item_date":"2017-02-13T22:07:06Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV03_VNIR"],"format":null,"ingest_date":"2017-02-13T22:07:[...]
- request:
    body: !!python/unicode pagingId=%24%2428%24%24aqHGB-LDFtcGG2xVWn0D5w%3D%3D%24%24bSsEvtgQOlpT4jLC0anFxuM5srs%3DDnF1ZXJ5VGhlbkZldGNoGAAAAAAf65O0FlNxNUYwQk9YUUN1TDdZQXpzWjVBQncAAAAAH0Sm4RZmOVd1YTI1RVRnQ1lRQnhkV3c3N1JBAAAAAB_h4z4WT3JPR2NpWjFUenlSa1pOSEt0a200UQAAAAAfzj4lFmxXeTZ4THZXVGpDTFZmLUdhVGFiQWcAAAAAH9gS3BZhV3JmSGhiNVJ4YUtTWTJPR0g4OUpnAAAAACAiwXsWN0lsOGtMc0RTUWl1ZlpEQVZjMDYtZwAAAAAfzj4mFmxXeTZ4THZXVGpDTFZmLUdhVGFiQWcAAAAAH84-JBZsV3k2eEx2V1RqQ0xWZi1HYVRhYkFnAAAAAB_YEt0WYVdyZkhoYjVSeGFLU1kyT0dIODlKZwAAAAAZAHa1Fm4tTzhIUElJVEpheG1NZXdsc1NJX3cAAAAAH-uTtRZTcTVGMEJPWFFDdUw3WUF6c1o1QUJ3AAAAAB-N-eoWQUx5eDhWSzJUbDJNZ1hGdmNoNnl3UQAAAAAfWZdFFjVsbHZBVlNDVDZpYjhFaU9UdUZ3S3cAAAAAH6AmGRZtQmluY1o2MVQydVhUN2pGSkwxdFVBAAAAABCjugYWRVlZUk0xTEhSTy1rT200SEhqdGZzZwAAAAAQo7oHFkVZWVJNMUxIUk8ta09tNEhIanRmc2cAAAAAEDB7_hZrWnR2LVQ0UlFXQ0M1RlZrZEtmNTZnAAAAABAwe_0Wa1p0di1UNFJRV0NDNUZWa2RLZjU2ZwAAAAAf65O2FlNxNUYwQk9YUUN1TDdZQXpzWjVBQncAAAAAEKO6CBZFWVlSTTFMSFJPLWtPbTRISGp0ZnNnAAAAAB-ggzAWRU1nUkJVS1ZSdGljZUdTOXRFbTh2dwAAAAAgIsF8FjdJbDhrTHNEU1FpdWZaREFWYzA2LWcAAAAAH6pToRZadERqY0hNdlRTMjFxYzc2c3NIMmRBAAAAABAwe_8Wa1p0di1UNFJRV0NDNUZWa2RLZjU2Zw%3D%3D&ttl=5m
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://vector.geobigdata.io/insight-vector/api/vectors/paging
  response:
    body: {string: !!python/unicode '{ "data" : [],"next_paging_id":"$$28$$OHMVxMle3hcNpGKlf6taRA==$$TaeU77vAQn5qYv6d9W1DJJvLagM=DnF1ZXJ5VGhlbkZldGNoGAAAAAAf65O0FlNxNUYwQk9YUUN1TDdZQXpzWjVBQncAAAAAH0Sm4RZmOVd1YTI1RVRnQ1lRQnhkV3c3N1JBAAAAAB_h4z4WT3JPR2NpWjFUenlSa1pOSEt0a200UQAAAAAfzj4lFmxXeTZ4THZXVGpDTFZmLUdhVGFiQWcAAAAAH9gS3BZhV3JmSGhiNVJ4YUtTWTJPR0g4OUpnAAAAACAiwXsWN0lsOGtMc0RTUWl1ZlpEQVZjMDYtZwAAAAAfzj4mFmxXeTZ4THZXVGpDTFZmLUdhVGFiQWcAAAAAH84-JBZsV3k2eEx2V1RqQ0xWZi1HYVRhYkFnAAAAAB_YEt0WYVdyZkhoYjVSeGFLU1kyT0dIODlKZwAAAAAZAHa1Fm4tTzhIUElJVEpheG1NZXdsc1NJX3cAAAAAH-uTtRZTcTVGMEJPWFFDdUw3WUF6c1o1QUJ3AAAAAB-N-eoWQUx5eDhWSzJUbDJNZ1hGdmNoNnl3UQAAAAAfWZdFFjVsbHZBVlNDVDZpYjhFaU9UdUZ3S3cAAAAAH6AmGRZtQmluY1o2MVQydVhUN2pGSkwxdFVBAAAAABCjugYWRVlZUk0xTEhSTy1rT200SEhqdGZzZwAAAAAQo7oHFkVZWVJNMUxIUk8ta09tNEhIanRmc2cAAAAAEDB7_hZrWnR2LVQ0UlFXQ0M1RlZrZEtmNTZnAAAAABAwe_0Wa1p0di1UNFJRV0NDNUZWa2RLZjU2ZwAAAAAf65O2FlNxNUYwQk9YUUN1TDdZQXpzWjVBQncAAAAAEKO6CBZFWVlSTTFMSFJPLWtPbTRISGp0ZnNnAAAAAB-ggzAWRU1nUkJVS1ZSdGljZUdTOXRFbTh2dwAAAAAgIsF8FjdJbDhrTHNEU1FpdWZaREFWYzA2LWcAAAAAH6pToRZadERqY0hNdlRTMjFxYzc2c3NIMmRBAAAAABAwe_8Wa1p0di1UNFJRV0NDNUZWa2RLZjU2Zw==","item_count":"0","total_count":"21"}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://idaho.timbr.io/50942a6f-8765-468d-8dd8-c4f4f20bec73.json
  response:
    body: {string: !!python/unicode '{"geometry": {"type": "Polygon", "coordinates":
        [[[-85.82968334, 10.17291976], [-85.82968334, 10.3229359], [-85.68396602,
        10.3229359], [-85.68396602, 10.17291976], [-85.82968334, 10.17291976]]]},
        "properties": {"bandid": "Multi", "latlonhae": [10.30275313, -85.82977031,
        67.58], "mean_sun_el": 59.1, "center": {"type": "Point", "coordinates": [-85.75682468,
        10.247927829999998]}, "catid": "104001002838EC00", "cloud_cover": 0.0, "tdilevel":
        [24.0, 24.0, 14.0, 24.0, 14.0, 24.0, 14.0, 14.0], "img_datetime_obj_utc":
        {"$date": 1486485913540}, "warp": {"yStep": 100, "xStep": 100, "numXCells":
        108, "yStart": 0, "targetGeoTransform": {"translateX": -85.82977031, "translateY":
        10.3229359, "scaleX": 1.3537549407114624e-05, "scaleY": -1.3537549407114624e-05,
        "shearY": 0.0, "shearX": 0.0, "spatialReferenceSystemCode": "EPSG:4326"},
        "xStart": 0, "numYCells": 111}, "rrds": {"reducedResolutionDataset": [{"targetImage":
        "f1bef444-6c26-46e6-bf28-818350021117", "sourceImage": "50942a6f-8765-468d-8dd8-c4f4f20bec73",
        "inverseScaleFactor": 2.0}, {"targetImage": "2a496c7c-8921-4e1c-8992-114bb1f2a8a8",
        "sourceImage": "f1bef444-6c26-46e6-bf28-818350021117", "inverseScaleFactor":
        2.0}, {"targetImage": "3cd17843-5004-47b5-9d34-4c577bca1ad3", "sourceImage":
        "2a496c7c-8921-4e1c-8992-114bb1f2a8a8", "inverseScaleFactor": 2.0}, {"targetImage":
        "49b60315-ef12-4c3c-a5eb-0641c74c837e", "sourceImage": "3cd17843-5004-47b5-9d34-4c577bca1ad3",
        "inverseScaleFactor": 2.0}, {"targetImage": "f80b3620-187d-438f-aeb2-c060599c109f",
        "sourceImage": "49b60315-ef12-4c3c-a5eb-0641c74c837e", "inverseScaleFactor":
        2.0}]}, "effbandwidth": [0.0889, 0.0387, 0.0618, 0.0381, 0.054, 0.0405, 0.1004,
        0.0585], "abscalfactor": [0.0106378, 0.00621996, 0.0133187, 0.00684307, 0.0176201,
        0.0143287, 0.0117971, 0.0102], "bbox": [-85.82968334, 10.17291976, -85.68396602,
        10.3229359], "band_centers": [427.38, 481.92, 547.14, 604.28, 660.11, 722.73,
        824.04, 913.65], "satid": "WV03", "band_names": ["C", "B", "G", "Y", "R",
        "RE", "N1", "N2"], "off_nadir": 26.7, "image": {"satAzimuth": 223.5, "sunAzimuth":
        144.5, "cloudCover": 0.0, "imageId": "50942a6f-8765-468d-8dd8-c4f4f20bec73",
        "nativeTileFileFormat": "TIF", "numXTiles": 42, "imageWidth": 10651, "tileYSize":
        256, "sensorName": "8-band (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1,
        NIR2) Multispectral", "vendorDatasetIdentifier": "LV1B:056165420010_01_P008:104001002838EC00:A01001025E728600",
        "version": "1.0", "numBands": 8, "imageHeight": 9602, "offNadirAngle": 26.7,
        "vendorName": "DigitalGlobe, Inc.", "imageBoundsWGS84": "POLYGON ((-85.82977031
        10.30275313, -85.68396602 10.3229359, -85.68491035 10.19188948, -85.82968334
        10.17291976, -85.82977031 10.30275313))", "sunElevation": 59.1, "acquisitionDate":
        "2017-02-07T16:45:13.540Z", "dataType": "UNSIGNED_SHORT", "tileYOffset": 0,
        "tileXSize": 256, "colorInterpretation": "WORLDVIEW_8_BAND", "profileName":
        "dg_1b", "tilePartition": "0000", "groundSampleDistanceMeters": 1.507, "tileBucketName":
        "idaho-images", "tileXOffset": 0, "pniirs": 3.4, "satElevation": 60.3, "sensorPlatformName":
        "WV03", "numYTiles": 38}, "product_level": "LV1B"}, "_acquisitionDate": {"$date":
        1486485913540}, "_id": {"$oid": "58c97d4c9db347af059f580a"}, "type": "Feature",
        "id": "50942a6f-8765-468d-8dd8-c4f4f20bec73"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"nodes": [{"operator": "MultiplyConst", "id": "737acd95-20f3-54c2-b94a-bcbebbb01a7f",
      "parameters": {"constants": "[0.0020261254497146693, 0.0017767574075750001,
      0.0019460958303548943, 0.0020803504919769174, 0.0023198306988067197, 0.0026420580876497838,
      0.0033730189847897803, 0.004147450035281764]"}}, {"operator": "AddConst", "id":
      "e658aa89-f990-5035-995b-4fb3a73880f9", "parameters": {"constants": "[-7.154,
      -4.189, -3.287, -1.816, -1.35, -2.617, -3.752, -1.507]"}}, {"operator": "MultiplyConst",
      "id": "a982143e-bcbe-5f35-b511-7e49694bf925", "parameters": {"constants": "[0.10326683239595048,
      0.1454538449612403, 0.19547024110032363, 0.16847243202099735, 0.30835175, 0.3467191604938271,
      0.11538597808764939, 0.16633846153846152]"}}, {"operator": "Format", "id": "857f750f-7bc0-5a30-8a2c-b38d2e4660e0",
      "parameters": {"dataType": "4"}}, {"operator": "GeospatialMosaic", "id": "0a2351f5-ea09-5780-8f0b-c70a9d07f159",
      "parameters": {}}, {"operator": "Orthorectify", "id": "09baf631-2de9-5e96-8967-60ae7347aabe",
      "parameters": {"Elevation Source": "null", "Output Coordinate Reference System":
      "EPSG:4326", "Output Pixel to World Transform": "null", "Sensor Model": "null"}},
      {"operator": "IdahoRead", "id": "db707b3f-76c0-5964-9975-ac320db7728c", "parameters":
      {"objectStore": "S3", "bucketName": "idaho-images", "imageId": "50942a6f-8765-468d-8dd8-c4f4f20bec73"}},
      {"operator": "Orthorectify", "id": "84d8ad36-7d1a-5bd5-a220-a9829ca07432", "parameters":
      {"Elevation Source": "null", "Output Coordinate Reference System": "EPSG:4326",
      "Output Pixel to World Transform": "null", "Sensor Model": "null"}}, {"operator":
      "IdahoRead", "id": "199547ee-a223-59d6-9821-ec0d30688bfc", "parameters": {"objectStore":
      "S3", "bucketName": "idaho-images", "ima[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/idaho-virtual/250675a778f0a2c025c2eeddd3eb2bc14a03b5df6d5a45dbc9b3be382f8d253e/737acd95-20f3-54c2-b94a-bcbebbb01a7f/image.json
  response:
    body: {string: !!python/unicode '{"imageId":"50942a6f-8765-468d-8dd8-c4f4f20bec73","version":"1.0","profileName":"dg_1b","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":44,"numYTiles":311,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"FLOAT","imageHeight":79396,"imageWidth":10890,"sensorPlatformName":"WV03","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:056165420010_01_P008:104001002838EC00:A01001025E728600","acquisitionDate":"2017-02-07T16:45:13.540Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-85.83005343472905 11.034281730651855, -85.68350995312358 11.034281730651855,
        -85.68350995312358 9.965873441804433, -85.83005343472905 9.965873441804433,
        -85.83005343472905 11.034281730651855))","groundSampleDistanceMeters":1.507,"minX":-1,"minY":0,"maxX":10888,"maxY":79395,"minTileX":-1,"minTileY":0,"maxTileX":42,"maxTileY":310,"sunAzimuth":144.5,"sunElevation":59.1,"satAzimuth":223.5,"satElevation":60.3,"cloudCover":0.0,"offNadirAngle":26.7,"pniirs":3.4}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/idaho-virtual/250675a778f0a2c025c2eeddd3eb2bc14a03b5df6d5a45dbc9b3be382f8d253e/737acd95-20f3-54c2-b94a-bcbebbb01a7f/georeferencing.json
  response:
    body: {string: !!python/unicode '{"spatialReferenceSystemCode":"EPSG:4326","scaleX":1.3456701708491892E-5,"scaleY":-1.3456701708491892E-5,"translateX":-85.83003997802734,"translateY":11.034281730651855,"shearX":0.0,"shearY":0.0}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
