interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+%28attributes.catalogID%3A104A010010C29F00+OR+id%3A104A010010C29F00%29+AND+NOT+item_type%3ADigitalGlobeAcquisition&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[36.94581726853743,-1.343952898657514],[37.0454021237113,-1.348801289534644],[37.04535290200555,-1.478212097393773],[36.94582723153286,-1.473618633948015],[36.94581726853743,-1.343952898657514]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2015-09-17T08:11:39.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","WV03_SWIR","DigitalGlobeProduct","1BProduct"],"name":null,"format":null,"ingest_date":"2017-11-09T19:29:13.787Z","attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":78.8,"bands":"All-S","xmlFile":"15SEP17081139-A1BS-057199891010_01_P001.XML","browseJpgFile":"15SEP17081139-A1BS-057199891010_01_P001-BROWSE.JPG","cloudCover_int":0,"imdFile":"15SEP17081139-A1BS-057199891010_01_P001.IMD","attFile":"15SEP17081139-A1BS-057199891010_01_P001.ATT","resolution_dbl":7.662,"bandsList":"BAND_S1,BAND_S2,BAND_S3,BAND_S4,BAND_S5,BAND_S6,BAND_S7,BAND_S8","geoFile":"15SEP17081139-A1BS-057199891010_01_P001.GEO","imageFile":"15SEP17081139-A1BS-057199891010_01_P001.TIF","vendor":"DigitalGlobe","sunElevation_dbl":70.9,"platformName":"WORLDVIEW03_SWIR","tilFile":"15SEP17081139-A1BS-057199891010_01_P001.TIL","sensorPlatformName":"WORLDVIEW03_SWIR","readmeTxtFile":"15SEP17081139-A1BS-057199891010_01_P001_README.TXT","rpbFile":"15SEP17081139-A1BS-057199891010_01_P001.RPB","offNadirAngle_dbl":16.6,"soli":"057199891","catalogID":"104A010010C29F00","productLevel":"LV1B","part_int":1,"ephFile":"15SEP17081139-A1BS-057199891010_01_P001.EPH","bucketPrefix":"057199891010_01_003/057199891010_01/057199891010_01_P001_SWR"},"ingest_attributes":{"_rest_user":"acquisition-gbdx-support@digitalglobe.com","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"104A010010C29F00_P001_SWR_057199891010","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"edges": [{"destination": "6b829489-6305-5f60-a62f-4db3845b50e2",
      "id": "5e4e8f0d-b42a-5141-8c10-673331e9bd2b", "index": 1, "source": "3cdc5855-127c-59a2-b0e2-ed4034d2ab56"}],
      "nodes": [{"id": "6b829489-6305-5f60-a62f-4db3845b50e2", "operator": "Format",
      "parameters": {"dataType": "4"}}, {"id": "3cdc5855-127c-59a2-b0e2-ed4034d2ab56",
      "operator": "DigitalGlobeStrip", "parameters": {"CRS": "EPSG:4326", "GSD": "null",
      "bands": "SWIR", "catId": "104A010010C29F00", "correctionType": "TOAREFLECTANCE",
      "fallbackToTOA": "true"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode f3b7bca02ba2044b4504804e4383feb783ab88b14e188ea5a42e7e2d719fe2c6}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/f3b7bca02ba2044b4504804e4383feb783ab88b14e188ea5a42e7e2d719fe2c6/6b829489-6305-5f60-a62f-4db3845b50e2/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"e84edd5f-ff94-4240-a773-a618262e62a8","version":1.0,"profileName":"georectified_image","tileBucketName":"idaho-images","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":6,"numYTiles":8,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"FLOAT","imageHeight":1951,"imageWidth":1447,"sensorPlatformName":"WV03","sensorName":"SWIR","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:057199891010_01_P001:104A010010C29F00:202001030F6EA900","acquisitionDate":"2015-09-17T08:11:39.286Z","colorInterpretation":"WORLDVIEW_SWIR","imageBoundsWGS84":"POLYGON
        ((36.94581727 -1.3439529, 37.04541225742364 -1.3439529, 37.04541225742364
        -1.4782375029464605, 36.94581727 -1.4782375029464605, 36.94581727 -1.3439529))","groundSampleDistanceMeters":7.662,"minX":0,"minY":0,"maxX":1446,"maxY":1950,"minTileX":0,"minTileY":0,"maxTileX":5,"maxTileY":7,"sunAzimuth":78.8,"sunElevation":70.9,"satAzimuth":334.7,"satElevation":71.7,"cloudCover":0.0,"offNadirAngle":16.6,"sensorAlias":"WV03_ALL-S","absoluteCalibrationFactors":[3.57045E-4,2.30953E-4,2.10689E-4,1.95999E-4,8.931681E-5,9.21204E-5,9.29215E-5,9.57251E-5],"effectiveBandwidths":[0.033,0.0397,0.0373,0.0416,0.0389,0.0409,0.0476,0.0679],"tdiLevels":[16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0],"bandAliases":["S1","S2","S3","S4","S5","S6","S7","S8"],"pniirs":1.1},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":6.882860222781171E-5,"scaleY":-6.882860222781171E-5,"translateX":36.94581727,"translateY":-1.3439529,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,[...]
