interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geobigdata.io/orders/v2/location?acquisitionIds=[%22101001000DB2FB00%22]
  response:
    body: {string: !!python/unicode '{"acquisitions": [{"acquisition_id": "101001000DB2FB00",
        "state": "delivered", "location": "s3://receiving-dgcs-tdgplatform-com/055124209010_01_003"}]}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [cdd7ed78-89a8-11e6-ba46-7d1d62368754]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://geobigdata.io/orders/v2/location?acquisitionIds=[%2210400100120FEA00%22]
  response:
    body: {string: !!python/unicode '{"acquisitions": [{"acquisition_id": "10400100120FEA00",
        "state": "delivered", "location": "s3://receiving-dgcs-tdgplatform-com/055124063010_01_003"}]}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [d0a93586-89a8-11e6-9407-1756005c1f4a]
    status: {code: 200, message: OK}
version: 1
