interactions:
- request:
    body: !!python/unicode '{"startDate": null, "endDate": "2012-01-01T00:00:00.000Z",
      "types": ["Acquisition"], "searchAreaWkt": "POLYGON((29.9 10.1, 30.1 10.1, 30.1
      9.9, 29.9 9.9, 29.9 10.1))"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://geobigdata.io/catalog/v1/search?includeRelationships=false
  response:
    body: {string: !!python/unicode '{"searchTag":null,"results":[{"identifier":"102001000A8F1C00","owner":"7b216bd9-6523-4ca9-aa3b-1d8a5994f054","type":"DigitalGlobeAcquisition","properties":{"sunElevation":"55.3699","targetAzimuth":"345.115539550781","sensorPlatformName":"WORLDVIEW01","browseURL":"https://browse.digitalglobe.com/imagefinder/showBrowseMetadata?catalogId=102001000A8F1C00","sunAzimuth":"154.24","footprintWkt":"POLYGON
        ((30.014856 10.021752, 30.016584 10.021752, 30.182472 10.017144, 30.17988
        9.119304, 30.017304 9.121464, 30.014856 10.021752))","cloudCover":"2.0","multiResolution":"0.0","vendorName":"DigitalGlobe","offNadirAngle":"17.0","panResolution":"0.526153326","catalogID":"102001000A8F1C00","imageBands":"Pan","timestamp":"2009-11-30T00:00:00.000Z"}},{"identifier":"1020010015891300","owner":"7b216bd9-6523-4ca9-aa3b-1d8a5994f054","type":"DigitalGlobeAcquisition","properties":{"sunElevation":"74.81852","targetAzimuth":"77.043816","sensorPlatformName":"WORLDVIEW01","browseURL":"https://browse.digitalglobe.com/imagefinder/showBrowseMetadata?catalogId=1020010015891300","sunAzimuth":"80.51175","footprintWkt":"POLYGON
        ((30.224808 10.700856, 30.226104 10.700856, 30.226104 10.451016, 30.225816
        10.260936, 3[...]
