interactions:
- request:
    body: !!python/unicode '{"type": "Polygon", "coordinates": [[[-76.65, 40.1], [-76.65,
      40.14], [-76.55, 40.14], [-76.55, 40.1], [-76.65, 40.1]]]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://vector.geobigdata.io/insight-vector/api/aggregation?count=10&query=item_type%3Atweet&end_date=now&start_date=now-6M&aggs=geohash%3A4%3Bdate_hist%3AM
  response:
    body: {string: !!python/unicode '{"responseDate":"2017-04-20T18:10:36Z","geom":{"type":"Polygon","coordinates":[[[-76.65,40.1],[-76.65,40.14],[-76.55,40.14],[-76.55,40.1],[-76.65,40.1]]]},"query":"item_type:tweet","startDate":null,"endDate":null,"totalItems":109,"aggregations":[{"name":"geohash:4","terms":[{"term":"dr1s","count":109,"aggregations":[{"name":"date_hist:M","terms":[{"term":"2017-01-01T00:00:00.000Z","count":31,"aggregations":null},{"term":"2017-02-01T00:00:00.000Z","count":33,"aggregations":null},{"term":"2017-03-01T00:00:00.000Z","count":42,"aggregations":null},{"term":"2017-04-01T00:00:00.000Z","count":3,"aggregations":null}]}]}]}]}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
