interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/metadata/search?free-text=IdahoTemplate
  response:
    body:
      string: '[{"isPublic":false,"keywords":["IdahoTemplate"],"sensors":["IdahoTemplate"],"keynodes":[{"id":"GeospatialCrop","description":"GeospatialCrop"}],"description":"Idaho
        Read, GeospatialCrop, Reproject","metadataAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"templateAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"datePublished":"2019-04-16T20:03:13.573Z","name":"IdahoTemplate","templateId":"cbd64af51fe1d35baff8cb0b3790ab185a8fa3fa5d5dccafda714f0d6855c8c3","id":"da88fb5eb9014292ae8b78201b0b5f40"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/cbd64af51fe1d35baff8cb0b3790ab185a8fa3fa5d5dccafda714f0d6855c8c3
  response:
    body:
      string: '{"id":"cbd64af51fe1d35baff8cb0b3790ab185a8fa3fa5d5dccafda714f0d6855c8c3","edges":[{"id":"edge-2","index":1,"source":"GeospatialCrop","destination":"Reproject"},{"id":"edge-1","index":1,"source":"IdahoRead","destination":"GeospatialCrop"}],"nodes":[{"id":"Reproject","operator":"Reproject","parameters":{"Dest
        SRS Code":"${DestSRSCode:-EPSG:4326}","Dest pixel-to-world transform":"null","Source
        SRS Code":"${SourceSRSCode:-EPSG:4326}","Source pixel-to-world transform":"null"}},{"id":"GeospatialCrop","operator":"GeospatialCrop","parameters":{"geospatialWKT":"${geospatialWKT}"}},{"id":"IdahoRead","operator":"IdahoRead","parameters":{"bucketName":"${bucketName}","imageId":"${imageId}","objectStore":"${objectStore}","targetGSD":"${targetGSD:-}"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/cbd64af51fe1d35baff8cb0b3790ab185a8fa3fa5d5dccafda714f0d6855c8c3/metadata?bucketName=idaho-dems-2018&imageId=dgdem-v20180406-DEFLATED-ca4649c5acb&objectStore=S3&geospatialWKT=POLYGON+%28%28-109.49+43.19%2C+-109.49+43.34%2C+-109.72+43.34%2C+-109.72+43.19%2C+-109.49+43.19%29%29&nodeId=Reproject&SourceSRSCode=EPSG%3A4326&Source+pixel-to-world+transform=null&DestSRSCode=EPSG%3A3857&Dest+pixel-to-world+transform=null
  response:
    body:
      string: '{"imageMetadata":{"imageId":"dgdem-v20180406-DEFLATED-ca4649c5acb","version":1.0,"profileName":"georectified_image","tileBucketName":"idaho-dems-2018","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":3,"numYTiles":2,"tileXSize":256,"tileYSize":256,"numBands":1,"dataType":"SHORT","imageHeight":467,"imageWidth":715,"colorInterpretation":"PAN","imageBoundsWGS84":"POLYGON
        ((-109.71749899000943 39.688065734840215, -109.4871107975222 39.688065734840215,
        -109.4871107975222 39.57217144866847, -109.71749899000943 39.57217144866847,
        -109.71749899000943 39.688065734840215))","groundSampleDistanceMeters":30.10457451670201,"minX":8,"minY":15143,"maxX":722,"maxY":15609,"minTileX":0,"minTileY":59,"maxTileX":2,"maxTileY":60},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:3857","scaleX":35.86950527616922,"scaleY":-35.86950527616922,"translateX":-1.2213983074721567E7,"translateY":5363887.762763215,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,[...]
