interactions:
- request:
    body: '{"startDate": "2004-01-01T00:00:00.000Z", "endDate": "2012-01-01T00:00:00.000Z",
      "types": ["Acquisition"], "searchAreaWkt": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://geobigdata.io/catalog/v1/search?includeRelationships=false
  response:
    body: {string: !!python/unicode '{"status":"400 Bad Request","message":"Invalid
        Search Request. [The date-range for date-range based searches must be less
        than one week.]"}'}
    headers:
      content-type: [application/json]
    status: {code: 400, message: Bad Request}
version: 1
