interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?q=item_type%3AGBDXCatalogRecord+AND+%28attributes.catalogID%3A103001006F31E000+OR+id%3A103001006F31E000%29+AND+NOT+item_type%3ADigitalGlobeAcquisition&count=1&left=-180.0&right=180.0&lower=-90.0&upper=90.0
  response:
    body: {string: '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-95.54385496,29.35578983],[-95.28277241,29.43084143],[-95.28217036,29.3023059],[-95.54451502,29.22595435],[-95.54385496,29.35578983]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-08-30T17:14:55.517Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV02"],"name":null,"format":null,"ingest_date":"2017-08-31T00:43:11.502Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2017-08-30T17:14:55.517Z","bucketName":"idaho-images","numBands_int":8,"sunAzimuth_dbl":139.0,"nativeTileFileFormat":"TIF","colorInterpretation":"WORLDVIEW_8_BAND","cloudCover_int":19,"idahoImageId":"46abe4d5-7375-4aa0-892d-2698f40624f7","satAzimuth_dbl":13.6,"satElevation_dbl":38.5,"pniirs_dbl":2.2,"numYTiles_int":14,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":64.2,"platformName":"WORLDVIEW02","imageHeight_int":3376,"numXTiles_int":35,"sensorPlatformName":"WORLDVIEW02","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":8820,"tileXSize_int":256,"tileYSize_int":256,"offNadirAngle_dbl":44.4,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"103001006F31E000","vendorDatasetIdentifier":"LV1B:056958972010_01_P008:103001006F31E000:A0100102E4E10F00","groundSampleDistanceMeters_dbl":3.595},"ingest_attributes":{"_rest_user":"acquisition-gbdx-support@digitalglobe.com","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"46abe4d5-7375-4aa0-892d-2698f40624f7","source":null,"text":""}}]'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: '{"edges": [{"destination": "8f74aac5-7220-5e4a-8dc0-bd61047de36b", "id":
      "134601ba-1d7f-539a-88a6-bfbb2518e02a", "index": 1, "source": "8e79ee97-e818-53e0-b82e-56b6435ed704"}],
      "nodes": [{"id": "8f74aac5-7220-5e4a-8dc0-bd61047de36b", "operator": "Format",
      "parameters": {"dataType": "4"}}, {"id": "8e79ee97-e818-53e0-b82e-56b6435ed704",
      "operator": "DigitalGlobeStrip", "parameters": {"CRS": "EPSG:4326", "GSD": "null",
      "bands": "MS", "catId": "103001006F31E000", "correctionType": "TOAREFLECTANCE",
      "fallbackToTOA": "true"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: 9fa7c84d6fe045f86c8b9dab43a8e8947af1c9e993ee494b1719d483f51c16bc}
    headers:
      Content-Type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/9fa7c84d6fe045f86c8b9dab43a8e8947af1c9e993ee494b1719d483f51c16bc/8f74aac5-7220-5e4a-8dc0-bd61047de36b/metadata.json
  response:
    body: {string: '{"imageMetadata":{"imageId":"bab094dd-a994-4e2c-8216-e790b884c6c1","version":1.0,"profileName":"georectified_image","tileBucketName":"idaho-images","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":35,"numYTiles":219,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"FLOAT","imageHeight":55860,"imageWidth":8883,"sensorPlatformName":"WV02","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:056958972010_01_P001:103001006F31E000:A0100102E4E0DA00","acquisitionDate":"2017-08-30T17:14:51.914Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-95.54910653 30.0865228, -95.27787658928854 30.0865228, -95.27787658928854
        28.38091608063241, -95.54910653 28.38091608063241, -95.54910653 30.0865228))","groundSampleDistanceMeters":3.399,"minX":0,"minY":0,"maxX":8882,"maxY":55859,"minTileX":0,"minTileY":0,"maxTileX":34,"maxTileY":218,"sunAzimuth":139.8,"sunElevation":63.7,"satAzimuth":14.8,"satElevation":40.5,"cloudCover":0.997,"offNadirAngle":42.9,"sensorAlias":"WV02_MULTI","absoluteCalibrationFactors":[0.009295654,0.01783568,0.01364197,0.006810718,0.01103623,0.006063145,0.0122438,0.009042234],"effectiveBandwidths":[0.0473,0.0543,0.063,0.0374,0.0574,0.0393,0.0989,0.0996],"tdiLevels":[24.0,10.0,10.0,18.0,10.0,18.0,10.0,24.0],"bandAliases":["C","B","G","Y","R","RE","N","N2"],"pniirs":2.2},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":3.053359683794467E-5,"scaleY":-3.053359683794467E-5,"translateX":-95.54910653,"translateY":30.0865228,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,[...]
