interactions:
- request:
    body: !!python/unicode '{"searchAreaWkt": "POLYGON ((-105.0207996368408345 39.7338828628182839,
      -105.0207996368408345 39.7365972921260067, -105.0158751010894775 39.7365972921260067,
      -105.0158751010894775 39.7338828628182839, -105.0207996368408345 39.7338828628182839))",
      "types": ["IDAHOImage"], "filters": ["catalogID = ''10400100203F1300''"]}'
    headers:
    method: POST
    uri: https://geobigdata.io/catalog/v2/search
  response:
    body: {string: !!python/unicode "\n{\n  \"status\": \"401 Unauthorized\",\n  \"message\"
        : \"Authentication Failed.\"\n}\n"}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [1d9c2f78-629a-11e7-9c07-f3d6ecfdff6d]
    status: {code: 401, message: Unauthorized}
version: 1
