interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1010010002B93F00+AND+NOT+item_type%3AIDAHOImage+AND+NOT+item_type%3ADigitalGlobeAcquisition&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[125.1242948567494,40.92319574494742],[125.3837204435143,40.89390159965966],[125.38490970779,40.74376688210813],[125.1235481955323,40.77212657803891],[125.1242948567494,40.92319574494742]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2004-02-20T02:33:07.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","QB02","DigitalGlobeProduct","1BProduct"],"name":null,"format":null,"ingest_date":"2017-10-16T22:56:26.778Z","attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":155.9,"bands":"P","xmlFile":"04FEB20023307-P1BS-057114153010_01_P003.XML","browseJpgFile":"04FEB20023307-P1BS-057114153010_01_P003-BROWSE.JPG","cloudCover_int":-999,"imdFile":"04FEB20023307-P1BS-057114153010_01_P003.IMD","attFile":"04FEB20023307-P1BS-057114153010_01_P003.ATT","resolution_dbl":0.774,"bandsList":"BAND_P","geoFile":"04FEB20023307-P1BS-057114153010_01_P003.GEO","imageFile":"04FEB20023307-P1BS-057114153010_01_P003.TIF","vendor":"DigitalGlobe","sunElevation_dbl":35.0,"platformName":"QUICKBIRD02","tilFile":"04FEB20023307-P1BS-057114153010_01_P003.TIL","sensorPlatformName":"QUICKBIRD02","readmeTxtFile":"04FEB20023307-P1BS-057114153010_01_P003_README.TXT","rpbFile":"04FEB20023307-P1BS-057114153010_01_P003.RPB","offNadirAngle_dbl":29.7,"soli":"057114153","catalogID":"1010010002B93F00","productLevel":"LV1B","part_int":3,"ephFile":"04FEB20023307-P1BS-057114153010_01_P003.EPH","bucketPrefix":"057114153010_01_003/057114153010_01/057114153010_01_P003_PAN"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1010010002B93F00_P003_PAN_057114153010","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1010010002B93F00+AND+attributes.colorInterpretation%3ABGRN&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[125.12511322,40.82231137],[125.38410021,40.79450621],[125.38675151,40.64418511],[125.12534664,40.67120158],[125.12511322,40.82231137]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2004-02-20T02:33:10.093Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","QB02"],"name":null,"format":null,"ingest_date":"2017-10-12T18:44:11.997Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2004-02-20T02:33:10.093Z","bucketName":"idaho-images","numBands_int":4,"sunAzimuth_dbl":155.9,"nativeTileFileFormat":"TIF","colorInterpretation":"BGRN","cloudCover_int":-99900,"idahoImageId":"262f5097-6b8c-48cc-809f-861034a2bf66","satAzimuth_dbl":302.9,"satElevation_dbl":58.1,"pniirs_dbl":2.4,"numYTiles_int":22,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":35.1,"platformName":"QUICKBIRD02","imageHeight_int":5612,"numXTiles_int":27,"sensorPlatformName":"QUICKBIRD02","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":6876,"tileXSize_int":256,"tileYSize_int":256,"offNadirAngle_dbl":29.8,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"1010010002B93F00","vendorDatasetIdentifier":"LV1B:057114153010_01_P004:1010010002B93F00:A010010301A34200","groundSampleDistanceMeters_dbl":3.098},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"262f5097-6b8c-48cc-809f-861034a2bf66","source":null,"text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[125.12420442,40.71272984],[125.38571145,40.68508794],[125.38641884,40.53615434],[125.12635671,40.56111111],[125.12420442,40.71272984]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_da[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1010010002B93F00+AND+attributes.colorInterpretation%3APAN&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[125.12438616,40.70272049],[125.38608166,40.67512844][...]
- request:
    body: !!python/unicode '{"edges": [{"destination": "0fbc1cb5-6792-5656-a19e-12d700b963f7",
      "id": "ecdc3acc-67c0-501c-bc9b-8d45dfb83f45", "index": 1, "source": "995948bc-d0e8-5cf1-93ec-9df744ded613"},
      {"destination": "0fbc1cb5-6792-5656-a19e-12d700b963f7", "id": "36cfc5a7-6a28-5acf-8e5c-e9ca313fc386",
      "index": 2, "source": "c06c12d6-7453-55e1-9fbd-6c2b9b035861"}, {"destination":
      "0fbc1cb5-6792-5656-a19e-12d700b963f7", "id": "6ca02ebd-aea7-5ed9-bbd7-83c2542c5976",
      "index": 3, "source": "d0cd97ca-0df5-5954-a0d2-ce5d39b58fa4"}, {"destination":
      "0fbc1cb5-6792-5656-a19e-12d700b963f7", "id": "4d238147-dc91-5f28-bab[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/e6f5ce416fbfe7eb28931591a56f50e942f86220f2044961cd2a9cd142ae78b2/0fbc1cb5-6792-5656-a19e-12d700b963f7/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"1e6f7e3a-6edc-44bb-8c93-f8130a0f25a2","version":1.0,"profileName":"georectified_image","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":34,"numYTiles":167,"tileXSize":256,"tileYSize":256,"numBands":4,"dataType":"UNSIGNED_SHORT","imageHeight":42505,"imageWidth":8470,"sensorPlatformName":"QB02","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","vendorName":"DigitalGlobe, Inc.","vendorDatasetIdentifier":"LV1B:057114153010_01_P006:1010010002B93F00:A010010301936800","acquisitionDate":"2004-02-20T02:33:14.832Z","colorInterpretation":"BGRN","imageBoundsWGS84":"POLYGON
        ((125.12409803000001 41.14436096999999, 125.39719678880365 41.14436096999999,
        125.39719678880365 40.10419947485116, 125.12409803000001 40.10419947485116,
        125.12409803000001 41.14436096999999))","groundSampleDistanceMeters":3.109,"minX":0,"minY":0,"maxX":8469,"maxY":42504,"minTileX":0,"minTileY":0,"maxTileX":33,"maxTileY":166,"sunAzimuth":155.9,"sunElevation":35.3,"satAzimuth":300.3,"satElevation":57.8,"cloudCover":-999.0,"offNadirAngle":30.0,"pniirs":2.4},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:3857","scaleX":3.5892815544627235,"scaleY":-3.5892815544627235,"translateX":1.3928750878667245E7,"translateY":5033658.249202729,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":125.12622472,"y":40.60196575},"upperRightCorner":{"x":125.38616359,"y":40.57654044},"lowerRightCorner":{"x":125.38662897,"y":40.42816861},"lowerLeftCorner":{"x":125.12610591,"y":40.45193886},"gsd":2.7928494430470715E-5,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":2805.0,"sampleOffset":3437.0,"latOffset":40.516,"lonOffset":125.2547,"heightOffset":732.0,"lineScale":2806.0,"sampleScale":3438.0,"latScale":0.0895,"lonScale":0.1358,"heightScale":632.0,"lineNumCoefs":[-0.004315064,-0.1759881,-1.19523,0.01917361,-0.001799677,7.063068E-5,1.562076E-4,-0.001748836,0.002964719,-4.884737E-6,-3.099381E-7,-9.518679E-7,5.120036E-5,4.04286E-6,2.414038E-5,7.768702E-5,2.753319E-5,1.222107E-7,-2.147035E-6,-4.436692E-7],"lineDenCoefs":[1.0,-0.003220393,-0.001945512,2.821735E-4,5.536572E-5,6.770629E-7,-3.49417E-6,-2.322048E-5,8.534417E-5,-2.313299E-5,-9.540848E-7,3.861161E-7,2.58703E-5,1.233283E-7,4.903691E-6,5.267105E-5,3.905313E-8,-8.077485E-8,-2.948418E-6,-1.069285E-8],"sampleNumCoefs":[0.01613325,1.037889,0.007152078,0.03074322,0.001437089,9.377548E-5,-3.568419E-4,-0.01366369,-0.001139142,2.098179E-5,9.517269E-6,1.656196E-4,-4.418685E-5,-9.592568E-6,4.711828E-5,-4.498608E-5,-3.133923E-8,-8.892343E-6,2.740074E-6,-2.768962E-7],"sampleDenCoefs":[1.0,-0.002574286,-0.001587496,-5.915142E-4,-3.253489E-5,8.875038E-6,-3.741438E-6,1.72281E-5,5.037617E-5,-9.306749E-6,1.741754E-8,1.493683E-6,8.461524E-7,-7.974365E-8,1.789045E-6,3.226231E-7,2.304099E-8,-3.327662E-7,-6.166188E-8,0.0]},"histogram":{"histograms":{"0":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,4,2,0,1,9,6,7,11,17,42,59,92,145,263,381,585,876,1188,1686,2461,3452,4706,6250,8175,10660,13701,17323,21213,26455,32375,38443,46164,5512[...]
