interactions:
- request:
    body: !!python/unicode '{"edges": [], "nodes": [{"id": "5bf51a05-dacb-53d6-870d-dabc7a0c48de",
      "operator": "Sentinel1Read", "parameters": {"SentinelId": "S1A_IW_GRDH_1SDV_20180713T142443_20180713T142508_022777_027819_7A96",
      "sentinel1Polarization": "VH"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode 2e4ef960406d32668ea2704d108a722fd2a5a05b96103d0229914d1a13702e76}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/2e4ef960406d32668ea2704d108a722fd2a5a05b96103d0229914d1a13702e76/5bf51a05-dacb-53d6-870d-dabc7a0c48de/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"S1A_IW_GRDH_1SDV_20180713T142443_20180713T142508_022777_027819_7A96","version":1.1,"profileName":"georectified_image","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":58,"numYTiles":158,"tileXSize":512,"tileYSize":128,"numBands":1,"dataType":"UNSIGNED_SHORT","imageHeight":20217,"imageWidth":29672,"sensorPlatformName":"Sentinel1","sensorName":"Sentinel
        1 Scheme (VH): Panchromatic with vertical transmit and horizontal receive
        polarization","vendorName":"ESA","vendorDatasetIdentifier":"S1A_IW_GRDH_1SDV_20180713T142443_20180713T142508_022777_027819_7A96","acquisitionDate":"2018-07-13T14:24:43Z","colorInterpretation":"SENTINEL_1_VH","imageBoundsWGS84":"POLYGON
        ((53.66469819764833 26.38309922370827, 56.49763554143578 26.38309922370827,
        56.49763554143578 24.452879006690516, 53.66469819764833 24.452879006690516,
        53.66469819764833 26.38309922370827))","groundSampleDistanceMeters":10.628279246989898,"minX":0,"minY":0,"maxX":29671,"maxY":20216,"minTileX":0,"minTileY":0,"maxTileX":57,"maxTileY":157,"cloudCover":0.0},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":9.547510595131604E-5,"scaleY":-9.547510595131604E-5,"translateX":53.66469819764833,"translateY":26.38309922370827,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":null,"sensorMetadata":null,"imageAssociations":null,"rrdMetadata":{"reducedResolutionDataset":[{"sourceImage":"/vsis3/sentinel-s1-l1c/GRD/2018/7/13/IW/DV/S1A_IW_GRDH_1SDV_20180713T142443_20180713T142508_022777_027819_7A96/measurement/iw-vh.tiff","targetImage":"/vsis3/sentinel-s1-l1c/GRD/2018/7/13/IW/DV/S1A_IW_GRDH_1SDV_20180713T142443_20180713T142508_022777_027819_7A96/measurement/iw-vh.tiff","inverseScaleFactor":2.0},{"sourceImage":"/vsis3/sentinel-s1-l1c/GRD/2018/7/13/IW/DV/S1A_IW_GRDH_1SDV_20180713T142443_20180713T142508_022777_027819_7A96/measurement/iw-vh.tiff","targetImage":"/vsis3/sentinel-s1-l1c/GRD/2018/7/13/IW/DV/S1A_IW_GRDH_1SDV_20180713T142443_20180713T142508_022777_027819_7A96/measurement/iw-vh.tiff","inverseScaleFactor":4.0},{"sourceImage":"/vsis3/sentinel-s1-l1c/GRD/2018/7/13/IW/DV/S1A_IW_GRDH_1SDV_20180713T142443_20180713T142508_022777_027819_7A96/measurement/iw-vh.tiff","targetImage":"/vsis3/sentinel-s1-l1c/GRD/2018/7/13/IW/DV/S1A_IW_GRDH_1SDV_20180713T142443_20180713T142508_022777_027819_7A96/measurement/iw-vh.tiff","inverseScaleFactor":8.0},{"sourceImage":"/vsis3/sentinel-s1-l1c/GRD/2018/7/13/IW/DV/S1A_IW_GRDH_1SDV_20180713T142443_20180713T142508_022777_027819_7A96/measurement/iw-vh.tiff","targetImage":"/vsis3/sentinel-s1-l1c/GRD/2018/7/13/IW/DV/S1A_IW_GRDH_1SDV_20180713T142443_20180713T142508_022777_027819_7A96/measurement/iw-vh.tiff","inverseScaleFactor":16.0}]}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: ''}
version: 1
