interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+id%3A09d5acaf-12d4-4c67-adbb-cda26cbd2187&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-85.82927902,10.92158374],[-85.68464761,10.94127067],[-85.68470768,10.8109348],[-85.82914034,10.79162983],[-85.82927902,10.92158374]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-02-07T16:45:04.409Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV03_VNIR"],"name":null,"format":null,"ingest_date":"2017-06-18T17:38:34.465Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2017-02-07T16:45:04.409Z","bucketName":"idaho-images","numBands_int":8,"sunAzimuth_dbl":145.1,"nativeTileFileFormat":"TIF","colorInterpretation":"WORLDVIEW_8_BAND","cloudCover_int":0,"idahoImageId":"09d5acaf-12d4-4c67-adbb-cda26cbd2187","satAzimuth_dbl":220.9,"satElevation_dbl":60.7,"pniirs_dbl":3.4,"numYTiles_int":38,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":58.6,"platformName":"WORLDVIEW03_VNIR","imageHeight_int":9602,"numXTiles_int":42,"sensorPlatformName":"WORLDVIEW03_VNIR","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":10651,"tileXSize_int":256,"tileYSize_int":256,"offNadirAngle_dbl":26.4,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"104001002838EC00","vendorDatasetIdentifier":"LV1B:056165420010_01_P002:104001002838EC00:A01001025E723D00","groundSampleDistanceMeters_dbl":1.499},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"09d5acaf-12d4-4c67-adbb-cda26cbd2187","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"edges": [{"destination": "ec07845b-1b42-5b1d-abba-ae0f876a289e",
      "id": "50cbdc6f-2967-5757-aad0-ea6e7bf20df2", "index": 1, "source": "318c579f-d72c-5a54-89c2-49dcd205924d"},
      {"destination": "318c579f-d72c-5a54-89c2-49dcd205924d", "id": "85a43fa8-91a2-57e8-a08c-e19c13a5315f",
      "index": 1, "source": "98810056-dcbf-5b28-bc66-1070f4016055"}, {"destination":
      "98810056-dcbf-5b28-bc66-1070f4016055", "id": "caadf2f2-d3ce-5bd3-8572-77361207a4c2",
      "index": 1, "source": "5ff7fc08-d942-51b1-a345-9ef3017d160b"}], "nodes": [{"id":
      "ec07845b-1b42-5b1d-abba-ae0f876a289e", "operator": "Format", "parameters":
      {"dataType": "4"}}, {"id": "318c579f-d72c-5a54-89c2-49dcd205924d", "operator":
      "Orthorectify", "parameters": {"Elevation Source": "", "Output Coordinate Reference
      System": "EPSG:4326", "Output Pixel to World Transform": "", "Sensor Model":
      "null"}}, {"id": "98810056-dcbf-5b28-bc66-1070f4016055", "operator": "TOAReflectance",
      "parameters": {}}, {"id": "5ff7fc08-d942-51b1-a345-9ef3017d160b", "operator":
      "IdahoRead", "parameters": {"bucketName": "idaho-images", "imageId": "09d5acaf-12d4-4c67-adbb-cda26cbd2187",
      "objectStore": "S3"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode 8aecb0cabde54d6167ae4c401189bc6ea5eb22e08c13c133230b1bf3e4457e30}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/8aecb0cabde54d6167ae4c401189bc6ea5eb22e08c13c133230b1bf3e4457e30/ec07845b-1b42-5b1d-abba-ae0f876a289e/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"09d5acaf-12d4-4c67-adbb-cda26cbd2187","version":1.0,"profileName":"georectified_image","tileBucketName":"idaho-images","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":43,"numYTiles":44,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"FLOAT","imageHeight":11120,"imageWidth":10736,"sensorPlatformName":"WV03","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:056165420010_01_P002:104001002838EC00:A01001025E723D00","acquisitionDate":"2017-02-07T16:45:04.409Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-85.82934634842256 10.941095616101329, -85.68477875948976 10.941095616101329,
        -85.68477875948976 10.791357204315487, -85.82934634842256 10.791357204315487,
        -85.82934634842256 10.941095616101329))","groundSampleDistanceMeters":1.499,"minX":-5,"minY":13,"maxX":10730,"maxY":11132,"minTileX":-1,"minTileY":0,"maxTileX":41,"maxTileY":43,"sunAzimuth":145.1,"sunElevation":58.6,"satAzimuth":220.9,"satElevation":60.7,"cloudCover":0.0,"offNadirAngle":26.4,"sensorAlias":"WV03_MULTI","absoluteCalibrationFactors":[0.0143287,0.0176201,0.0133187,0.00684307,0.0102,0.00621996,0.0117971,0.0106378],"effectiveBandwidths":[0.0405,0.054,0.0618,0.0381,0.0585,0.0387,0.1004,0.0889],"tdiLevels":[24.0,14.0,14.0,24.0,14.0,24.0,14.0,24.0],"bandAliases":["C","B","G","Y","R","RE","N","N2"],"pniirs":3.4},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":1.3465684513115344E-5,"scaleY":-1.3465684513115344E-5,"translateX":-85.82927902,"translateY":10.94127067,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":-85.82927902,"y":10.92158374},"upperRightCorner":{"x":-85.68464761,"y":10.94127067},"lowerRightCorner":{"x":-85.68470768,"y":10.8109348},"lowerLeftCorner":{"x":-85.82914034,"y":10.79162983},"gsd":1.3465684513115344E-5,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":4800.0,"sampleOffset":5324.0,"latOffset":10.8655,"lonOffset":-85.7576,"heightOffset":263.0,"lineScale":4801.0,"sampleScale":5326.0,"latScale":0.0768,"lonScale":0.0741,"heightScale":501.0,"lineNumCoefs":[6.737999E-4,0.1538967,-1.179811,-0.02592757,-1.34987E-4,3.089847E-6,-6.547833E-5,1.519526E-4,-3.046844E-4,6.547323E-7,4.885644E-7,1.222962E-6,6.766148E-6,1.712263E-6,-9.702613E-6,-4.124339E-5,-1.309971E-5,-2.497002E-7,-1.583308E-6,-2.853226E-7],"lineDenCoefs":[1.0,-2.86281E-4,4.526989E-4,-6.02681E-5,1.268179E-5,-2.230942E-8,-2.761627E-6,7.659106E-6,-3.583723E-5,1.105606E-5,-1.233144E-7,-1.391757E-8,-2.504173E-6,0.0,3.533423E-7,5.629105E-6,1.257099E-8,0.0,4.125938E-7,0.0],"sampleNumCoefs":[0.005309651,1.025235,4.550763E-5,0.02328616,5.174153E-4,3.132505E-4,-1.665753E-4,-0.005083045,7.830129E-5,3.187289E-6,1.417171E-6,1.556087E-5,-1.068141E-5,-3.211675E-6,1.836339E-5,2.568506E-5,-2.958325E-8,-2.931681E-6,1.591466E-6,-7.583362E-8],"sampleDenCoefs":[1.0,-2.395645E-4,-5.26766E-4,-4.448583E-4,-1.303895E-5,1.831695E-6,-4.336998E-7,5.669405E-6,8.130466E-6,-3.363964E-6,-1.580069E-8,1.573978E-8,5.510985E-8,-1.24145E-8,2.03994E-7,-3.431004E-7,0.0,-1.828422E-8,-1.827795E-8,0.0]},"histogram":{"histograms":{"0":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,[...]
