interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geobigdata.io/workflows/v1/tasks/AOP_Strip_Processor
  response:
    body: {string: !!python/unicode '{"status": "401 Unauthorized", "message": "Authentication
        Failed."}'}
    headers:
      content-type: [text/html; charset=UTF-8]
    status: {code: 401, message: Unauthorized}
- request:
    body: !!python/unicode 'client_secret=dwada&grant_type=refresh_token&refresh_token=dwadwaN&client_id=3%40%3Bc%3FU'
    headers:
      Content-Type: [!!python/unicode 'application/x-www-form-urlencoded;charset=UTF-8']
    method: POST
    uri: https://geobigdata.io/auth/v1/oauth/token/
  response:
    body: {string: !!python/unicode '{"access_token": "dummyToken",
        "scope": "read write", "token_type": "Bearer", "expires_in": 604800, "refresh_token":
        "dummyToken"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://geobigdata.io/workflows/v1/tasks/AOP_Strip_Processor
  response:
    body: {string: !!python/unicode '{"containerDescriptors": [{"command": "/bin/bash
        /dg/aws/apps/AOP-Processing/aws/gbdx/aop_strip_processor_task/aop_strip_processor_task_runner.sh",
        "type": "DOCKER", "properties": {"image": "test", "domain": "raid"}}],
        "description": "Processes a 1B strip using the AOP processing stack.", "inputPortDescriptors":
        [{"required": true, "type": "directory", "description": "S3 location of 1B
        input data", "name": "data"}, {"required": false, "type": "directory", "description":
        "S3 location of Bundle Block Adjustment results", "name": "bba"}, {"required":
        false, "type": "string", "description": "Enable/disable AComp. Choices are
        ''true'' or ''false''. Default is ''true''.", "name": "enable_acomp"}, {"required":
        false, "type": "string", "description": "Enable/disable pan sharpening. Choices
        are ''true'' or ''false''. Default is ''true''.", "name": "enable_pansharpen[...]
