interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/DigitalGlobeStrip
  response:
    body: {string: !!python/unicode "{\n    \"defaultNodeId\": \"SmartBandSelect\",\n
        \   \"edges\": [\n        {\n            \"id\": \"56585213-84b1-441b-afc3-ff8f2aa50517\",\n
        \           \"index\": 1,\n            \"source\": \"DigitalGlobeStrip\",\n
        \           \"destination\": \"UniversalDRA\"\n        },\n        {\n            \"id\":
        \"13e2b267-c4d5-444e-9cf3-9cfd7670dbca\",\n            \"index\": 1,\n            \"source\":
        \"UniversalDRA\",\n            \"destination\": \"SmartBandSelect\"\n        }\n
        \   ],\n    \"nodes\": [\n        {\n            \"id\": \"DigitalGlobeStrip\",\n
        \           \"operator\": \"DigitalGlobeStrip\",\n            \"parameters\":
        {\n                \"catId\": \"${catalogId}\",\n                \"CRS\":
        \"${crs:-UTM}\",\n                \"correctionType\": \"${correctionType:-DN}\",\n
        \               \"GSD\": \"${GSD}\",\n                \"fallbackToTOA\": \"${fallbackToTOA}\",\n
        \               \"bands\": \"${bands:-MS}\"\n            }\n        },\n        {\n
        \           \"id\": \"UniversalDRA\",\n            \"operator\": \"UniversalDRA\",\n
        \           \"parameters\": {\n                \"draType\": \"${draType:-None}\"\n
        \           }\n        },\n        {\n            \"id\": \"SmartBandSelect\",\n
        \           \"operator\": \"SmartBandSelect\",\n            \"parameters\":
        {\n                \"bandSelection\": \"${bandSelection:-All}\"\n            }\n
        \       }\n    ]\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/DigitalGlobeStrip/metadata?crs=UTM&bands=PanSharp&nodeId=SmartBandSelect&catalogId=e9d158c6-2af0-481d-a1f0-d82b7234db33-inv&draType=HistogramDRA&correctionType=AComp&bandSelection=RGB
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"efd4ba9c-50af-4bbe-b6e8-e14bba5574d0","version":1.1,"profileName":"georectified_image","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"PNG","tileXOffset":0,"tileYOffset":0,"numXTiles":168,"numYTiles":373,"tileXSize":256,"tileYSize":256,"numBands":3,"dataType":"BYTE","imageHeight":95279,"imageWidth":42776,"sensorPlatformName":"WV04","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","vendorName":"DigitalGlobe, Inc.","vendorDatasetIdentifier":"LV1B:I00000106255_01_P001:e9d158c6-2af0-481d-a1f0-d82b7234db33-inv:None","acquisitionDate":"2018-08-15T10:27:49.434Z","colorInterpretation":"BGRN","imageBoundsWGS84":"POLYGON
        ((8.788528278318315 44.617639045176375, 8.988556056293108 44.61783425023612,
        8.988618046865351 44.29960212770848, 8.789673786862767 44.299409065050455,
        8.788528278318315 44.617639045176375))","groundSampleDistanceMeters":0.372,"minX":0,"minY":0,"maxX":42775,"maxY":95278,"minTileX":0,"minTileY":0,"maxTileX":167,"maxTileY":372,"sunAzimuth":152.0,"sunElevation":56.9,"satAzimuth":49.3,"satElevation":62.8,"cloudCover":0.023,"offNadirAngle":24.7,"sensorAlias":"WV04_P","absoluteCalibrationFactors":[0.05333822],"effectiveBandwidths":[0.306681],"tdiLevels":[48.0],"bandAliases":["P"],"pniirs":5.4},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:32632","scaleX":0.3709966672655408,"scaleY":-0.3709966672655408,"translateX":483222.31308798643,"translateY":4940498.119609111,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,136,2277,14053,62371,115017,155256,191403,227329,259892,290703,316121,337585,354065,363204,366506,368467,362373,353681,341373,325825,308695,287802,264550,241066,217282,195139,175536,158691,145863,134350,126114,121410,126793,122987,129227,142035,157564,152895,161631,158742,169014,158005,157764,146305,145365,140737,141937,138501,134506,130917,128181,123234,115205,106083,97566,90019,81834,76261,71542,65405,58997,54910,51672,46849,44246,41189,38825,36036,35124,34282,33163,33844,41466,56394,7[...]
