interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A104001002838EC00&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-85.82930142673992,10.61232163010509],[-85.68430690211953,10.63202914746609],[-85.68441104302723,10.50172236215794],[-85.8294093844424,10.48216396004404],[-85.82930142673992,10.61232163010509]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-02-07T16:45:08.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","WV03_VNIR","DigitalGlobeProduct","1BProduct"],"name":null,"format":null,"ingest_date":"2017-04-15T23:22:42.741Z","attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":144.8,"bands":"Multi","xmlFile":"17FEB07164508-M1BS-056165420010_01_P005.XML","browseJpgFile":"17FEB07164508-M1BS-056165420010_01_P005-BROWSE.JPG","cloudCover_int":0,"imdFile":"17FEB07164508-M1BS-056165420010_01_P005.IMD","attFile":"17FEB07164508-M1BS-056165420010_01_P005.ATT","resolution_dbl":1.503,"bandsList":"BAND_C,BAND_B,BAND_G,BAND_Y,BAND_R,BAND_RE,BAND_N,BAND_N2","geoFile":"17FEB07164508-M1BS-056165420010_01_P005.GEO","imageFile":"17FEB07164508-M1BS-056165420010_01_P005.TIF","vendor":"DigitalGlobe","sunElevation_dbl":58.8,"platformName":"WORLDVIEW03_VNIR","tilFile":"17FEB07164508-M1BS-056165420010_01_P005.TIL","sensorPlatformName":"WORLDVIEW03_VNIR","readmeTxtFile":"17FEB07164508-M1BS-056165420010_01_P005_README.TXT","rpbFile":"17FEB07164508-M1BS-056165420010_01_P005.RPB","offNadirAngle_dbl":26.6,"soli":"056165420","catalogID":"104001002838EC00","productLevel":"LV1B","part_int":5,"ephFile":"17FEB07164508-M1BS-056165420010_01_P005.EPH","bucketPrefix":"056165420010_01_003/056165420010_01/056165420010_01_P005_MUL"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"104001002838EC00_P005_MUL_056165420010","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A104001002838EC00+AND+attributes.colorInterpretation%3AWORLDVIEW_8_BAND&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-85.82977031,10.30275313],[-85.68396602,10.3229359],[-85.68491035,10.19188948],[-85.82968334,10.17291976],[-85.82977031,10.30275313]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-02-07T16:45:13.540Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV03_VNIR"],"name":null,"format":null,"ingest_date":"2017-06-15T17:05:55.755Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2017-02-07T16:45:13.540Z","bucketName":"idaho-images","numBands_int":8,"sunAzimuth_dbl":144.5,"nativeTileFileFormat":"TIF","colorInterpretation":"WORLDVIEW_8_BAND","cloudCover_int":0,"idahoImageId":"50942a6f-8765-468d-8dd8-c4f4f20bec73","satAzimuth_dbl":223.5,"satElevation_dbl":60.3,"pniirs_dbl":3.4,"numYTiles_int":38,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":59.1,"platformName":"WORLDVIEW03_VNIR","imageHeight_int":9602,"numXTiles_int":42,"sensorPlatformName":"WORLDVIEW03_VNIR","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":10651,"tileXSize_int":256,"tileYSize_int":256,"offNadirAngle_dbl":26.7,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"104001002838EC00","vendorDatasetIdentifier":"LV1B:056165420010_01_P008:104001002838EC00:A01001025E728600","groundSampleDistanceMeters_dbl":1.507},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"50942a6f-8765-468d-8dd8-c4f4f20bec73","source":null,"text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-85.82889103,11.01466775],[-85.68461246,11.03403918],[-85.68467815,10.91418624],[-85.82997948,10.89373459],[-85.82889103,11.01466775]]]]},"properties":{"ingest_source":"GBDX_INGEST[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A104001002838EC00+AND+attributes.colorInterpretation%3APAN&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-85.82958424,10.0969036],[-85.68499042,10.11590445],[...]
- request:
    body: !!python/unicode '{"edges": [{"destination": "121dff6d-0949-5a9d-a70a-d56b1d6122e3",
      "id": "178e7e0f-2722-53c7-844b-dc05d1dc2539", "index": 1, "source": "711ef24d-67df-5a1d-8865-b9cdfc9c8d74"},
      {"destination": "121dff6d-0949-5a9d-a70a-d56b1d6122e3", "id": "aaca6d0c-3f2d-5aeb-bb1f-2a33933f5d63",
      "index": 2, "source": "653d7fa2-244f-53ed-8a01-78fa0944183d"}, {"destination":
      "711ef24d-67df-5a1d-8865-b9cdfc9c8d74", "id": "65eab4a7-d699-5ab4-9c52-c12ae0248f4e",
      "index": 1, "source": "9ecf4405-fbcd-52ce-ae2d-f35abdc82fb6"}, {"destination":
      "9ecf4405-fbcd-52ce-ae2d-f35abdc82fb6", "id": "fca1054f-d2e7-5452-904[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/50cf30e8e5f2c270abcd59f50dbec74624b6d0b5c5e256b037551cebd7638578/121dff6d-0949-5a9d-a70a-d56b1d6122e3/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"09d5acaf-12d4-4c67-adbb-cda26cbd2187","version":1.0,"profileName":"georectified_image","tileBucketName":"idaho-images","tilePartition":"0000","nativeTileFileFormat":"PNG","tileXOffset":0,"tileYOffset":0,"numXTiles":170,"numYTiles":1243,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"FLOAT","imageHeight":317960,"imageWidth":43512,"sensorPlatformName":"WV03","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:056165420010_01_P002:104001002838EC00:A01001025E723D00","acquisitionDate":"2017-02-07T16:45:16.583Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-85.82979631 11.03402185, -85.68360974873518 11.03402185, -85.68360974873518
        9.965776790711462, -85.82979631 9.965776790711462, -85.82979631 11.03402185))","groundSampleDistanceMeters":0.377,"minX":0,"minY":0,"maxX":43511,"maxY":317959,"minTileX":0,"minTileY":0,"maxTileX":169,"maxTileY":1242,"sunAzimuth":144.4,"sunElevation":59.3,"satAzimuth":224.3,"satElevation":60.3,"cloudCover":0.0,"offNadirAngle":26.8,"sensorAlias":"WV03_P","absoluteCalibrationFactors":[0.0527336],"effectiveBandwidths":[0.2896],"tdiLevels":[48.0],"bandAliases":["P"],"pniirs":5.4},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":3.359683794466403E-6,"scaleY":-3.359683794466403E-6,"translateX":-85.82979631,"translateY":11.03402185,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":-85.82927902,"y":10.92158374},"upperRightCorner":{"x":-85.68464761,"y":10.94127067},"lowerRightCorner":{"x":-85.68470768,"y":10.8109348},"lowerLeftCorner":{"x":-85.82914034,"y":10.79162983},"gsd":1.3465684513115344E-5,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":4800.0,"sampleOffset":5324.0,"latOffset":10.8655,"lonOffset":-85.7576,"heightOffset":263.0,"lineScale":4801.0,"sampleScale":5326.0,"latScale":0.0768,"lonScale":0.0741,"heightScale":501.0,"lineNumCoefs":[6.737999E-4,0.1538967,-1.179811,-0.02592757,-1.34987E-4,3.089847E-6,-6.547833E-5,1.519526E-4,-3.046844E-4,6.547323E-7,4.885644E-7,1.222962E-6,6.766148E-6,1.712263E-6,-9.702613E-6,-4.124339E-5,-1.309971E-5,-2.497002E-7,-1.583308E-6,-2.853226E-7],"lineDenCoefs":[1.0,-2.86281E-4,4.526989E-4,-6.02681E-5,1.268179E-5,-2.230942E-8,-2.761627E-6,7.659106E-6,-3.583723E-5,1.105606E-5,-1.233144E-7,-1.391757E-8,-2.504173E-6,0.0,3.533423E-7,5.629105E-6,1.257099E-8,0.0,4.125938E-7,0.0],"sampleNumCoefs":[0.005309651,1.025235,4.550763E-5,0.02328616,5.174153E-4,3.132505E-4,-1.665753E-4,-0.005083045,7.830129E-5,3.187289E-6,1.417171E-6,1.556087E-5,-1.068141E-5,-3.211675E-6,1.836339E-5,2.568506E-5,-2.958325E-8,-2.931681E-6,1.591466E-6,-7.583362E-8],"sampleDenCoefs":[1.0,-2.395645E-4,-5.26766E-4,-4.448583E-4,-1.303895E-5,1.831695E-6,-4.336998E-7,5.669405E-6,8.130466E-6,-3.363964E-6,-1.580069E-8,1.573978E-8,5.510985E-8,-1.24145E-8,2.03994E-7,-3.431004E-7,0.0,-1.828422E-8,-1.827795E-8,0.0]},"histogram":{"histograms":{"0":[0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,[...]
