interactions:
- request:
    body: '{"type": "Polygon", "coordinates": [[[180.0, -90.0], [180.0, 90.0], [-180.0,
      90.0], [-180.0, -90.0], [180.0, -90.0]]]}'
    headers:
    method: POST
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?q=item_type%3AGBDXCatalogRecord+AND+%28attributes.catalogID.keyword%3A6060bafe-9c0a-4c7a-86c3-7bd10316ed61-inv+OR+id%3A6060bafe-9c0a-4c7a-86c3-7bd10316ed61-inv%29+AND+NOT+item_type%3ADigitalGlobeAcquisition&count=1
  response:
    body:
      string: '[{"geometry":{"coordinates":[[[[-104.66445426,37.47114577],[-104.50768051,37.47104771],[-104.50779401,37.38141664],[-104.66433514,37.38112462],[-104.66445426,37.47114577]]]],"type":"MultiPolygon"},"type":"Feature","properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2018-06-11T18:00:26.106Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV04"],"name":null,"format":null,"ingest_date":"2018-06-12T01:34:09.719Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2018-06-11T18:00:26.106Z","bucketName":"rda-images-1","numBands_int":4,"sunAzimuth_dbl":134.7,"nativeTileFileFormat":"TIF","colorInterpretation":"BGRN","cloudCover_int":9,"idahoImageId":"6c004e5c-fa57-4701-bb99-918cdde07245","satAzimuth_dbl":178.3,"satElevation_dbl":70.2,"pniirs_dbl":3.5,"numYTiles_int":28,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":71.2,"platformName":null,"imageHeight_int":6937,"numXTiles_int":41,"sensorPlatformName":null,"sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":10308,"tileXSize_int":0,"tileYSize_int":0,"offNadirAngle_dbl":17.8,"tileBucketName":"rda-images-1","vendorName":"DigitalGlobe,
        Inc.","version":"1.1","tileYOffset_int":0,"catalogID":"6060bafe-9c0a-4c7a-86c3-7bd10316ed61-inv","vendorDatasetIdentifier":"LV1B:I00000075525_01_P001:6060bafe-9c0a-4c7a-86c3-7bd10316ed61-inv:None","groundSampleDistanceMeters_dbl":1.392},"ingest_attributes":{"_rest_user":"idahosvc@digitalglobe.com","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"6c004e5c-fa57-4701-bb99-918cdde07245","source":null,"text":""}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/metadata/search?free-text=DigitalGlobeStripTemplate
  response:
    body:
      string: '[{"isPublic":false,"keywords":["DigitalGlobeStripTemplate"],"sensors":["DigitalGlobeStripTemplate"],"keynodes":[{"id":"Format","description":"Format"}],"description":"DigitalGlobeStripTemplate
        and Format","metadataAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"templateAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"datePublished":"2019-05-06T20:26:40.308Z","name":"DigitalGlobeStripTemplate","templateId":"d9b75d1acd350a65777e7533efb8a0eca02ca3d97572f0afb833c7f48bdf64a3","id":"8c1278beadd34612a531ba3d7fdd91ed"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/d9b75d1acd350a65777e7533efb8a0eca02ca3d97572f0afb833c7f48bdf64a3
  response:
    body:
      string: '{"id":"d9b75d1acd350a65777e7533efb8a0eca02ca3d97572f0afb833c7f48bdf64a3","defaultNodeId":"Format","edges":[{"id":"edge-1","index":1,"source":"DigitalGlobeStrip","destination":"Format"},{"id":"edge-2","index":1,"source":"DigitalGlobeStrip","destination":"RadiometricDRA"},{"id":"edge-3","index":1,"source":"DigitalGlobeStrip","destination":"SmartBandSelect"}],"nodes":[{"id":"Format","operator":"Format","parameters":{"dataType":"${dataType}"}},{"id":"DigitalGlobeStrip","operator":"DigitalGlobeStrip","parameters":{"CRS":"${crs}","GSD":"${gsd}","bands":"${bands}","catId":"${catId}","correctionType":"${correctionType}","fallbackToTOA":"${fallbackToTOA}"}},{"id":"RadiometricDRA","operator":"RadiometricDRA","parameters":{}},{"id":"SmartBandSelect","operator":"SmartBandSelect","parameters":{"bandSelection":"${bandSelection:-All}"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/d9b75d1acd350a65777e7533efb8a0eca02ca3d97572f0afb833c7f48bdf64a3/metadata?catId=6060bafe-9c0a-4c7a-86c3-7bd10316ed61-inv&crs=EPSG%3A3857&gsd=null&correctionType=TOAREFLECTANCE&bands=MS&fallbackToTOA=True&nodeId=Format&dataType=4
  response:
    body:
      string: '{"imageMetadata":{"imageId":"2e6f7fa2-74a6-46ca-a65c-c03661fe1445","version":1.1,"profileName":"georectified_image","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":50,"numYTiles":612,"tileXSize":256,"tileYSize":256,"numBands":4,"dataType":"FLOAT","imageHeight":156536,"imageWidth":12793,"sensorPlatformName":"WV04","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","vendorName":"DigitalGlobe, Inc.","vendorDatasetIdentifier":"LV1B:I00000075525_01_P001:6060bafe-9c0a-4c7a-86c3-7bd10316ed61-inv:None","acquisitionDate":"2018-06-11T18:00:09.334Z","colorInterpretation":"BGRN","imageBoundsWGS84":"POLYGON
        ((-104.66640969000001 38.52490482000001, -104.50655391925231 38.52490482000001,
        -104.50655391925231 36.9784496834961, -104.66640969000001 36.9784496834961,
        -104.66640969000001 38.52490482000001))","groundSampleDistanceMeters":1.398,"minX":0,"minY":0,"maxX":12792,"maxY":156535,"minTileX":0,"minTileY":0,"maxTileX":49,"maxTileY":611,"sunAzimuth":136.7,"sunElevation":70.4,"satAzimuth":171.2,"satElevation":69.7,"cloudCover":0.435,"offNadirAngle":18.3,"sensorAlias":"WV04_MULTI","oneBResamplingKernel":"MTF","absoluteCalibrationFactors":[0.011877,0.014523,0.006515,0.011564],"effectiveBandwidths":[0.058972,0.067195,0.034426,0.104893],"tdiLevels":[24.0,14.0,24.0,14.0],"bandAliases":["B","G","R","N"],"pniirs":3.5},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:3857","scaleX":1.391,"scaleY":-1.391,"translateX":-1.1651411429850955E7,"translateY":4653844.952582674,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,0,0,0,0,0,0,0,0,0,0,218,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,5,0,0,0,0,0,0,0,0,0,0,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,3,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,1,6,0,0,0,0,0,0,0,0,0,1,3,0,0,0,0,0,0,0,0,0,0,3,6,0,0,0,0,0,0,0,0,0,3,4,0,0,0,0,0,0,0,0,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/stripMetadata/6060bafe-9c0a-4c7a-86c3-7bd10316ed61-inv
  response:
    body:
      string: '{"catalogIdentifier":"6060bafe-9c0a-4c7a-86c3-7bd10316ed61-inv","vnirImages":[{"imageId":"2e6f7fa2-74a6-46ca-a65c-c03661fe1445","version":1.1,"profileName":"dg_1b","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":41,"numYTiles":28,"tileXSize":256,"tileYSize":256,"numBands":4,"dataType":"UNSIGNED_SHORT","imageHeight":6937,"imageWidth":10308,"sensorPlatformName":"WV04","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","vendorName":"DigitalGlobe, Inc.","vendorDatasetIdentifier":[...]
