interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1050010009569E00+AND+NOT+item_type%3AIDAHOImage+AND+NOT+item_type%3ADigitalGlobeAcquisition&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-107.0285891746167,38.43814057709461],[-106.8278780862746,38.42311301996205],[-106.8274452447164,38.28628519668077],[-107.0266933986514,38.29878284814359],[-107.0285891746167,38.43814057709461]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["_ALL_"],"users":["_ALL_"]},"item_date":"2017-04-20T17:54:00.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","GE01","DigitalGlobeProduct","1BProduct"],"format":null,"ingest_date":"2017-07-26T20:51:24.723Z","source":null,"name":null,"attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":143.7,"bands":"Multi","xmlFile":"17APR20175400-M1BS-056817215010_01_P004.XML","browseJpgFile":"17APR20175400-M1BS-056817215010_01_P004-BROWSE.JPG","cloudCover_int":65,"imdFile":"17APR20175400-M1BS-056817215010_01_P004.IMD","attFile":"17APR20175400-M1BS-056817215010_01_P004.ATT","resolution_dbl":2.063,"bandsList":"BAND_B,BAND_G,BAND_R,BAND_N","geoFile":"17APR20175400-M1BS-056817215010_01_P004.GEO","imageFile":"17APR20175400-M1BS-056817215010_01_P004.TIF","vendor":"DigitalGlobe","sunElevation_dbl":59.0,"platformName":"GEOEYE01","tilFile":"17APR20175400-M1BS-056817215010_01_P004.TIL","sensorPlatformName":"GEOEYE01","readmeTxtFile":"17APR20175400-M1BS-056817215010_01_P004_README.TXT","rpbFile":"17APR20175400-M1BS-056817215010_01_P004.RPB","offNadirAngle_dbl":21.1,"soli":"056817215","catalogID":"1050010009569E00","productLevel":"LV1B","part_int":4,"ephFile":"17APR20175400-M1BS-056817215010_01_P004.EPH","bucketPrefix":"056817215010_01_003/056817215010_01/056817215010_01_P004_MUL"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1050010009569E00_P004_MUL_056817215010","text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1050010009569E00+AND+attributes.colorInterpretation%3APAN&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-107.02982921,38.54817241],[-106.82816671,38.53185361],[-106.82834789,38.39183422],[-107.02884973,38.40637912],[-107.02982921,38.54817241]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["_ALL_"],"users":["_ALL_"]},"item_date":"2017-04-20T17:54:03.579Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","GE01"],"format":null,"ingest_date":"2017-07-26T21:37:09.914Z","source":null,"name":null,"attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2017-04-20T17:54:03.579Z","bucketName":"idaho-images","numBands_int":1,"sunAzimuth_dbl":143.8,"nativeTileFileFormat":"PNG","colorInterpretation":"PAN","cloudCover_int":24,"idahoImageId":"09b09a53-3ae3-4b7d-9b07-0e203be2b261","satAzimuth_dbl":134.2,"satElevation_dbl":65.1,"pniirs_dbl":4.9,"numYTiles_int":31,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":58.9,"platformName":"GEOEYE01","imageHeight_int":30736,"numXTiles_int":34,"sensorPlatformName":"GEOEYE01","sensorName":"Panchromatic","dataType":"UNSIGNED_SHORT","imageWidth_int":34374,"tileXSize_int":1024,"tileYSize_int":1024,"offNadirAngle_dbl":22.3,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"1050010009569E00","vendorDatasetIdentifier":"LV1B:056817215010_01_P005:1050010009569E00:A0100102CE720800","groundSampleDistanceMeters_dbl":0.514},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"09b09a53-3ae3-4b7d-9b07-0e203be2b261","text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-107.03010096,38.66001917],[-106.8260313,38.64146335],[-106.82839356,38.49953074],[-107.03013081,38.51578197],[-107.03010096,38.66001917]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","a[...]
[...]
- request:
    body: !!python/unicode '{"edges": [{"destination": "317a3607-b4be-5c4f-b8ab-0f8c49c3f6d8",
      "id": "1725d5e3-9e41-5373-be20-d090e9e3c54c", "index": 1, "source": "1dfe4228-9cbb-56e3-b8ce-f98058e76e5b"},
      {"destination": "317a3607-b4be-5c4f-b8ab-0f8c49c3f6d8", "id": "9b14a38a-c140-538b-b6ef-373bb430fe50",
      "index": 2, "source": "e57cc644-a1c0-5fbc-83dd-d1e39be568f5"}, {"destination":
      "317a3607-b4be-5c4f-b8ab-0f8c49c3f6d8", "id": "1c1596cd-9d80-5b16-a579-af34120f6898",
      "index": 3, "source": "85c154ef-21a8-55c1-8d0f-838b0b8b0a5c"}, {"destination":
      "317a3607-b4be-5c4f-b8ab-0f8c49c3f6d8", "id": "2869cc42-56eb-5ef2-8d1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/7b9baddbbcb3cf73d2646d50662a52ea71e3ac211a32025b87e0de7909522763/317a3607-b4be-5c4f-b8ab-0f8c49c3f6d8/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"09b09a53-3ae3-4b7d-9b07-0e203be2b261","version":"1.0","profileName":"dg_1b","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":183,"numYTiles":897,"tileXSize":256,"tileYSize":256,"numBands":1,"dataType":"UNSIGNED_SHORT","imageHeight":229380,"imageWidth":46783,"sensorPlatformName":"GE01","sensorName":"Panchromatic","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:056817215010_01_P005:1050010009569E00:A0100102CE720800","acquisitionDate":"2017-04-20T17:54:03.579Z","colorInterpretation":"PAN","imageBoundsWGS84":"POLYGON
        ((-107.03228692 39.04356212, -106.81753563541503 39.04356212, -106.81753563541503
        37.99062302549766, -107.03228692 37.99062302549766, -107.03228692 39.04356212))","groundSampleDistanceMeters":0.514,"minX":0,"minY":0,"maxX":46782,"maxY":229379,"minTileX":0,"minTileY":0,"maxTileX":182,"maxTileY":896,"sunAzimuth":143.8,"sunElevation":58.9,"satAzimuth":134.2,"satElevation":65.1,"cloudCover":0.245,"offNadirAngle":22.3,"pniirs":4.9},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":4.590370104204096E-6,"scaleY":-4.590370104204096E-6,"translateX":-107.03228692,"translateY":39.04356212,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":-107.02982921,"y":38.54817241},"upperRightCorner":{"x":-106.82816671,"y":38.53185361},"lowerRightCorner":{"x":-106.82834789,"y":38.39183422},"lowerLeftCorner":{"x":-107.02884973,"y":38.40637912},"gsd":4.617319439453827E-6,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":15367.0,"sampleOffset":17186.0,"latOffset":38.4702,"lonOffset":-106.9287,"heightOffset":2584.0,"lineScale":15368.0,"sampleScale":17187.0,"latScale":0.0795,"lonScale":0.1031,"heightScale":501.0,"lineNumCoefs":[-0.01819012,-0.1125722,-1.131728,-0.01880185,-0.002772451,-1.529006E-4,-5.737973E-4,-8.380027E-4,0.01465113,-1.119512E-5,8.488528E-7,2.445965E-6,2.16769E-4,5.769693E-6,6.745155E-5,-9.16712E-6,5.928099E-5,-1.617801E-7,2.538099E-5,9.808004E-7],"lineDenCoefs":[1.0,-0.005285422,-0.004322571,-0.001009571,1.683875E-4,-4.664839E-6,1.91285E-5,-2.6959E-5,2.053145E-4,-5.300245E-5,1.18507E-6,7.831942E-7,-4.279212E-6,4.731371E-7,3.397027E-6,-1.426371E-5,-3.761482E-7,1.411853E-7,1.924697E-7,9.073812E-8],"sampleNumCoefs":[-0.004770501,1.026311,-5.463827E-4,-0.01901358,-0.003694983,2.527566E-4,2.794797E-4,0.004261574,-6.137106E-6,-1.254815E-7,-9.147856E-6,-5.121695E-5,-2.255556E-4,-4.463399E-5,-1.192339E-4,-1.796387E-5,6.471519E-7,4.103277E-7,-2.276007E-7,8.411758E-7],"sampleDenCoefs":[1.0,5.229389E-4,0.00379423,-3.503031E-4,8.703124E-5,-1.328538E-6,9.375695E-6,-4.095717E-5,1.954943E-4,-4.356018E-5,7.67842E-7,4.469523E-7,4.173965E-6,1.694677E-7,2.451718E-6,-1.145398E-5,-2.715147E-7,1.164397E-7,1.048118E-6,2.896314E-8]},"histogram":{"histograms":{"0":[0,62,0,0,1,1,0,0,2,3,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0,0,1,1,0,2,0,0,0,1,0,0,1,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,1,1,0,4,1,0,0,0,0,0,0,1,2,0,1,0,0,0,0,2,1,3,0,3,0,1,0,2,1,1,0,2,2,0,0,2,0,2,2,0,1,2,1,2,2,7,9,13,19,49,75,134,275,473,746,1139,1539,2099,2738,3800,4807,6062,7549,9083,10402,12106,13669,15016,16452,17730,18911,20538,21812,22599,23751,24924,26611,27990,29902,32240,35184,37897,40964,44480,47953,52594,56525,61967,67446,72858,79713,86345,93229,101374[...]
