interactions:
- request:
    body: '{"type": "Polygon", "coordinates": [[[-76.65, 40.1], [-76.65, 40.14], [-76.55,
      40.14], [-76.55, 40.1], [-76.65, 40.1]]]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vector.geobigdata.io/insight-vector/api/index/aggregation/vector-sma-twitter*?count=10&aggs=geohash%3A4%3Bdate_hist%3Amonth&query=item_type%3Atweet&start_date=now-12M&end_date=now
  response:
    body:
      string: '{"responseDate":"2019-12-05T21:39:20.061Z","geom":{"type":"Polygon","coordinates":[[[-76.65,40.1],[-76.65,40.14],[-76.55,40.14],[-76.55,40.1],[-76.65,40.1]]]},"query":"item_type:tweet","startDate":null,"endDate":null,"totalItems":49,"aggregations":[{"name":"geohash:4","terms":[{"term":"dr1s","count":49,"aggregations":[{"name":"date_hist:month","terms":[{"term":"2019-11-01T00:00:00.000Z","count":46,"aggregations":null},{"term":"2019-12-01T00:00:00.000Z","count":3,"aggregations":null}]}]}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
