interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1020010044CEA300&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-95.60668731,29.38435402],[-95.39084126,29.37783472],[-95.3915523,29.23644458],[-95.60632697,29.24183165],[-95.60668731,29.38435402]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2015-11-23T19:03:32.783Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV01"],"name":null,"format":null,"ingest_date":"2017-06-17T20:47:02.586Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2015-11-23T19:03:32.783Z","bucketName":"idaho-images","numBands_int":1,"sunAzimuth_dbl":196.6,"nativeTileFileFormat":"PNG","colorInterpretation":"PAN","cloudCover_int":0,"idahoImageId":"377a1470-477a-4e7d-a2ef-cc6649814173","satAzimuth_dbl":100.5,"satElevation_dbl":65.4,"pniirs_dbl":4.8,"numYTiles_int":29,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":38.7,"platformName":"WORLDVIEW01","imageHeight_int":29124,"numXTiles_int":35,"sensorPlatformName":"WORLDVIEW01","sensorName":"Panchromatic","dataType":"UNSIGNED_SHORT","imageWidth_int":35180,"tileXSize_int":1024,"tileYSize_int":1024,"offNadirAngle_dbl":22.7,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"1020010044CEA300","vendorDatasetIdentifier":"LV1B:056653255010_01_P007:1020010044CEA300:20200102B4982E00","groundSampleDistanceMeters_dbl":0.569},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"377a1470-477a-4e7d-a2ef-cc6649814173","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"edges": [{"destination": "984dc887-f6f0-5398-9e98-4f44ed2bee60",
      "id": "803681b7-1c44-5e52-84dd-783a03ed78a9", "index": 1, "source": "47268b37-3869-5100-a0ac-3f172497fec4"}],
      "nodes": [{"id": "984dc887-f6f0-5398-9e98-4f44ed2bee60", "operator": "Format",
      "parameters": {"dataType": "4"}}, {"id": "47268b37-3869-5100-a0ac-3f172497fec4",
      "operator": "DigitalGlobeStrip", "parameters": {"CRS": "EPSG:4326", "GSD": "null",
      "bands": "PAN", "catId": "1020010044CEA300", "correctionType": "DN", "fallbackToTOA":
      "true"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode 4b7cc7f262699a5e402a0c89a7d7b5d739aafcba8c25864837fa7d506d2a4687}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/4b7cc7f262699a5e402a0c89a7d7b5d739aafcba8c25864837fa7d506d2a4687/984dc887-f6f0-5398-9e98-4f44ed2bee60/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"cd1d4bbc-9e4f-4340-bd0f-49d6ddad5f79","version":1.0,"profileName":"georectified_image","tileBucketName":"idaho-images","tilePartition":"0000","nativeTileFileFormat":"PNG","tileXOffset":0,"tileYOffset":0,"numXTiles":171,"numYTiles":810,"tileXSize":256,"tileYSize":256,"numBands":1,"dataType":"FLOAT","imageHeight":207247,"imageWidth":43651,"sensorPlatformName":"WV01","sensorName":"Panchromatic","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:056653255010_01_P001:1020010044CEA300:20200102B4983E00","acquisitionDate":"2015-11-23T19:03:27.242Z","colorInterpretation":"PAN","imageBoundsWGS84":"POLYGON
        ((-95.60960245 30.04264836, -95.38805362678764 30.04264836, -95.38805362678764
        28.990774887129, -95.60960245 28.990774887129, -95.60960245 30.04264836))","groundSampleDistanceMeters":0.58,"minX":0,"minY":0,"maxX":43650,"maxY":207246,"minTileX":0,"minTileY":0,"maxTileX":170,"maxTileY":809,"sunAzimuth":196.5,"sunElevation":38.1,"satAzimuth":108.6,"satElevation":63.7,"cloudCover":0.0,"offNadirAngle":24.2,"pniirs":4.8},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":5.075458138699245E-6,"scaleY":-5.075458138699245E-6,"translateX":-95.60960245,"translateY":30.04264836,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,295250,2565,2708,2793,2660,2778,2807,2826,2814,3075,2962,3048,3086,3193,3174,3350,3367,3363,3581,3641,3822,3730,3984,4015,4045,4313,4313,4549,4658,4783,5012,5198,5318,5467,5544,5789,6216,6429,6598,6924,7240,7786,8156,8416,9148,9343,9863,10527,11265,12092,12709,13262,14149,15626,16713,17893,19237,20999,22932,25078,27210,30708,35402,44009,60494,92893,147753,231132,343820,487155,661832,858088,1080731,1327302,1597120,1900677,2245839,2619431,3009804,3413511,3880596,4420198,5065619,5830993,671[...]
