interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1010010002B93F00+AND+NOT+item_type%3AIDAHOImage+AND+NOT+item_type%3ADigitalGlobeAcquisition&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[125.1242948567494,40.92319574494742],[125.3837204435143,40.89390159965966],[125.38490970779,40.74376688210813],[125.1235481955323,40.77212657803891],[125.1242948567494,40.92319574494742]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2004-02-20T02:33:07.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","QB02","DigitalGlobeProduct","1BProduct"],"name":null,"format":null,"ingest_date":"2017-10-16T22:56:26.778Z","attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":155.9,"bands":"P","xmlFile":"04FEB20023307-P1BS-057114153010_01_P003.XML","browseJpgFile":"04FEB20023307-P1BS-057114153010_01_P003-BROWSE.JPG","cloudCover_int":-999,"imdFile":"04FEB20023307-P1BS-057114153010_01_P003.IMD","attFile":"04FEB20023307-P1BS-057114153010_01_P003.ATT","resolution_dbl":0.774,"bandsList":"BAND_P","geoFile":"04FEB20023307-P1BS-057114153010_01_P003.GEO","imageFile":"04FEB20023307-P1BS-057114153010_01_P003.TIF","vendor":"DigitalGlobe","sunElevation_dbl":35.0,"platformName":"QUICKBIRD02","tilFile":"04FEB20023307-P1BS-057114153010_01_P003.TIL","sensorPlatformName":"QUICKBIRD02","readmeTxtFile":"04FEB20023307-P1BS-057114153010_01_P003_README.TXT","rpbFile":"04FEB20023307-P1BS-057114153010_01_P003.RPB","offNadirAngle_dbl":29.7,"soli":"057114153","catalogID":"1010010002B93F00","productLevel":"LV1B","part_int":3,"ephFile":"04FEB20023307-P1BS-057114153010_01_P003.EPH","bucketPrefix":"057114153010_01_003/057114153010_01/057114153010_01_P003_PAN"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1010010002B93F00_P003_PAN_057114153010","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1010010002B93F00+AND+attributes.colorInterpretation%3ABGRN&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[125.12511322,40.82231137],[125.38410021,40.79450621],[125.38675151,40.64418511],[125.12534664,40.67120158],[125.12511322,40.82231137]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2004-02-20T02:33:10.093Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","QB02"],"name":null,"format":null,"ingest_date":"2017-10-12T18:44:11.997Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2004-02-20T02:33:10.093Z","bucketName":"idaho-images","numBands_int":4,"sunAzimuth_dbl":155.9,"nativeTileFileFormat":"TIF","colorInterpretation":"BGRN","cloudCover_int":-99900,"idahoImageId":"262f5097-6b8c-48cc-809f-861034a2bf66","satAzimuth_dbl":302.9,"satElevation_dbl":58.1,"pniirs_dbl":2.4,"numYTiles_int":22,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":35.1,"platformName":"QUICKBIRD02","imageHeight_int":5612,"numXTiles_int":27,"sensorPlatformName":"QUICKBIRD02","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":6876,"tileXSize_int":256,"tileYSize_int":256,"offNadirAngle_dbl":29.8,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"1010010002B93F00","vendorDatasetIdentifier":"LV1B:057114153010_01_P004:1010010002B93F00:A010010301A34200","groundSampleDistanceMeters_dbl":3.098},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"262f5097-6b8c-48cc-809f-861034a2bf66","source":null,"text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[125.12420442,40.71272984],[125.38571145,40.68508794],[125.38641884,40.53615434],[125.12635671,40.56111111],[125.12420442,40.71272984]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_da[...]
