interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1050010009569E00+AND+NOT+item_type%3AIDAHOImage+AND+NOT+item_type%3ADigitalGlobeAcquisition&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-107.0285891746167,38.43814057709461],[-106.8278780862746,38.42311301996205],[-106.8274452447164,38.28628519668077],[-107.0266933986514,38.29878284814359],[-107.0285891746167,38.43814057709461]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["_ALL_"],"users":["_ALL_"]},"item_date":"2017-04-20T17:54:00.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","GE01","DigitalGlobeProduct","1BProduct"],"format":null,"ingest_date":"2017-07-26T20:51:24.723Z","source":null,"name":null,"attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":143.7,"bands":"Multi","xmlFile":"17APR20175400-M1BS-056817215010_01_P004.XML","browseJpgFile":"17APR20175400-M1BS-056817215010_01_P004-BROWSE.JPG","cloudCover_int":65,"imdFile":"17APR20175400-M1BS-056817215010_01_P004.IMD","attFile":"17APR20175400-M1BS-056817215010_01_P004.ATT","resolution_dbl":2.063,"bandsList":"BAND_B,BAND_G,BAND_R,BAND_N","geoFile":"17APR20175400-M1BS-056817215010_01_P004.GEO","imageFile":"17APR20175400-M1BS-056817215010_01_P004.TIF","vendor":"DigitalGlobe","sunElevation_dbl":59.0,"platformName":"GEOEYE01","tilFile":"17APR20175400-M1BS-056817215010_01_P004.TIL","sensorPlatformName":"GEOEYE01","readmeTxtFile":"17APR20175400-M1BS-056817215010_01_P004_README.TXT","rpbFile":"17APR20175400-M1BS-056817215010_01_P004.RPB","offNadirAngle_dbl":21.1,"soli":"056817215","catalogID":"1050010009569E00","productLevel":"LV1B","part_int":4,"ephFile":"17APR20175400-M1BS-056817215010_01_P004.EPH","bucketPrefix":"056817215010_01_003/056817215010_01/056817215010_01_P004_MUL"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1050010009569E00_P004_MUL_056817215010","text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1050010009569E00+AND+attributes.colorInterpretation%3ABGRN&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-107.03227196,39.01631176],[-106.81754716,38.98887685],[-106.82253772,38.83611501],[-107.03166138,38.85869407],[-107.03227196,39.01631176]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["_ALL_"],"users":["_ALL_"]},"item_date":"2017-04-20T17:54:13.921Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","GE01"],"format":null,"ingest_date":"2017-07-26T21:21:09.202Z","source":null,"name":null,"attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2017-04-20T17:54:13.921Z","bucketName":"idaho-images","numBands_int":4,"sunAzimuth_dbl":144.3,"nativeTileFileFormat":"TIF","colorInterpretation":"BGRN","cloudCover_int":38,"idahoImageId":"19d7deed-a670-47ff-8ea9-6a8e7369b8bf","satAzimuth_dbl":149.2,"satElevation_dbl":58.7,"pniirs_dbl":2.8,"numYTiles_int":32,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":58.6,"platformName":"GEOEYE01","imageHeight_int":8186,"numXTiles_int":36,"sensorPlatformName":"GEOEYE01","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":9158,"tileXSize_int":256,"tileYSize_int":256,"offNadirAngle_dbl":27.8,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"1050010009569E00","vendorDatasetIdentifier":"LV1B:056817215010_01_P009:1050010009569E00:A0100102CE7BD100","groundSampleDistanceMeters_dbl":2.096},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"19d7deed-a670-47ff-8ea9-6a8e7369b8bf","text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-107.02858917,38.43814058],[-106.82787809,38.42311302],[-106.82744524,38.2862852],[-107.0266934,38.29878285],[-107.02858917,38.43814058]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","ac[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1050010009569E00+AND+attributes.colorInterpretation%3APAN&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-107.02982921,38.54817241],[-106.82816671,38.5318536[...]
- request:
    body: !!python/unicode '{"edges": [{"destination": "d8df4367-ff5e-52ab-b0a7-de94ec70fb87",
      "id": "722d1235-c565-5e3d-87bf-f583c300d729", "index": 1, "source": "6d7a302b-6339-546c-a5a1-ee4472effb85"},
      {"destination": "d8df4367-ff5e-52ab-b0a7-de94ec70fb87", "id": "a04acbcb-f27e-5bea-942d-26305efcd1b4",
      "index": 2, "source": "317a3607-b4be-5c4f-b8ab-0f8c49c3f6d8"}, {"destination":
      "6d7a302b-6339-546c-a5a1-ee4472effb85", "id": "52d43dd7-73de-525d-960c-6d440e91db15",
      "index": 1, "source": "a7e0fdb2-3742-5e88-8df1-9e49715cabdd"}, {"destination":
      "6d7a302b-6339-546c-a5a1-ee4472effb85", "id": "fc06bccc-7b7e-5573-b8f[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/aac40e62355e86c061100f23e670ed232c90616c8700d3c029c619774b5755c8/d8df4367-ff5e-52ab-b0a7-de94ec70fb87/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"01d7bf95-5383-4873-a19a-74da01f34598","version":"1.0","profileName":"dg_1b","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":183,"numYTiles":897,"tileXSize":256,"tileYSize":256,"numBands":4,"dataType":"UNSIGNED_SHORT","imageHeight":229380,"imageWidth":46783,"sensorPlatformName":"GE01","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","vendorName":"DigitalGlobe, Inc.","vendorDatasetIdentifier":"LV1B:056817215010_01_P008:1050010009569E00:A0100102CE7BB400","acquisitionDate":"2017-04-20T17:54:03.579Z","colorInterpretation":"BGRN","imageBoundsWGS84":"POLYGON
        ((-107.03228692 39.04356212, -106.81753563541503 39.04356212, -106.81753563541503
        37.99062302549766, -107.03228692 37.99062302549766, -107.03228692 39.04356212))","groundSampleDistanceMeters":0.514,"minX":0,"minY":0,"maxX":46782,"maxY":229379,"minTileX":0,"minTileY":0,"maxTileX":182,"maxTileY":896,"sunAzimuth":143.8,"sunElevation":58.9,"satAzimuth":134.2,"satElevation":65.1,"cloudCover":0.245,"offNadirAngle":22.3,"pniirs":4.9},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":4.590370104204096E-6,"scaleY":-4.590370104204096E-6,"translateX":-107.03228692,"translateY":39.04356212,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":-107.03110658,"y":38.89332476},"upperRightCorner":{"x":-106.82046685,"y":38.8692204},"lowerRightCorner":{"x":-106.82494192,"y":38.72093467},"lowerLeftCorner":{"x":-107.03170379,"y":38.74187672},"gsd":1.8630973769313688E-5,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":4032.0,"sampleOffset":4510.0,"latOffset":38.8069,"lonOffset":-106.9268,"heightOffset":3070.0,"lineScale":4033.0,"sampleScale":4511.0,"latScale":0.0901,"lonScale":0.1074,"heightScale":584.0,"lineNumCoefs":[-0.02231185,-0.1506191,-1.179489,-0.02975707,-8.886805E-4,-1.948384E-4,-3.512484E-4,-7.464221E-4,0.01942955,-1.759526E-5,5.786336E-6,4.017013E-6,2.029426E-4,6.058972E-6,7.227589E-5,-1.686705E-4,4.912341E-5,1.745441E-7,3.108743E-5,1.223864E-6],"lineDenCoefs":[1.0,-0.004530041,-0.003536589,-0.001108953,1.993934E-4,-1.555724E-7,3.032536E-5,-3.1354E-6,2.132631E-4,-4.168209E-5,1.212442E-6,6.733949E-7,-9.363521E-6,3.161519E-7,1.975231E-6,-1.230474E-5,-4.297197E-7,1.967687E-7,-7.262069E-7,7.568672E-8],"sampleNumCoefs":[-0.005608502,1.030208,-3.270902E-4,-0.02038855,-0.005801541,2.332992E-4,3.534552E-4,0.004355612,-2.419503E-5,3.189516E-6,-1.403585E-5,-3.693109E-5,-1.761475E-4,-3.221461E-5,-1.501473E-4,1.236073E-5,7.832218E-7,-1.077878E-6,-1.158354E-6,6.585029E-7],"sampleDenCoefs":[1.0,0.001291698,0.005981539,-3.548983E-4,1.070076E-4,5.829535E-7,1.620201E-5,-1.692795E-5,1.584849E-4,-3.109252E-5,7.940396E-7,4.023964E-7,-2.167291E-6,1.127769E-7,1.76015E-6,-1.712742E-5,-2.992536E-7,1.507843E-7,2.244311E-7,2.095817E-8]},"histogram":{"histograms":{"0":[0,2,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,1,0,1,0,1,0,0,0,0,1,0,1,1,0,0,0,0,1,0,0,0,1,1,1,0,0,1,0,0,0,1,1,1,0,0,0,1,1,1,0,3,1,2,1,0,1,0,0,0,2,0,0,2,3,0,1,0,1,1,0,0,2,0,0,0,3,1,2,3,2,1,1,0,0,1,0,4,3,1,3,4,1,0,6,1,2,0,4,5,4,2,1,6,7,5,1,3,2,1,7,2,3,2,4,3,2,11,7,4,4,5,8,3,3,2,5,3,6,10,4,4,10,4,5,11,12,8,0,11,7,9,8,6,10,10,11,14,15,7,8,12,7,9,11,17,14,15,15,12,16,29,25,16,23,12,13,21,16,27,17,25,18,22,25,33,23,28,30,28,41,33,34,27,43,27,42,34,48,35,57,32,40,40,43,41,59,35,50,54,46,54,66,62,66[...]
