interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template
  response:
    body: {string: !!python/unicode "{\n    \"defaultNodeId\": \"SmartBandSelect\",\"id\": \"DigitalGlobeStrip\",\n
        \   \"edges\": [\n        {\n            \"id\": \"56585213-84b1-441b-afc3-ff8f2aa50517\",\n
        \           \"index\": 1,\n            \"source\": \"DigitalGlobeStrip\",\n
        \           \"destination\": \"UniversalDRA\"\n        },\n        {\n            \"id\":
        \"13e2b267-c4d5-444e-9cf3-9cfd7670dbca\",\n            \"index\": 1,\n            \"source\":
        \"UniversalDRA\",\n            \"destination\": \"SmartBandSelect\"\n        }\n
        \   ],\n    \"nodes\": [\n        {\n            \"id\": \"DigitalGlobeStrip\",\n
        \           \"operator\": \"DigitalGlobeStrip\",\n            \"parameters\":
        {\n                \"catId\": \"${catalogId}\",\n                \"CRS\":
        \"${crs:-UTM}\",\n                \"correctionType\": \"${correctionType:-DN}\",\n
        \               \"GSD\": \"${GSD}\",\n                \"fallbackToTOA\": \"${fallbackToTOA}\",\n
        \               \"bands\": \"${bands:-MS}\"\n            }\n        },\n        {\n
        \           \"id\": \"UniversalDRA\",\n            \"operator\": \"UniversalDRA\",\n
        \           \"parameters\": {\n                \"draType\": \"${draType:-None}\"\n
        \           }\n        },\n        {\n            \"id\": \"SmartBandSelect\",\n
        \           \"operator\": \"SmartBandSelect\",\n            \"parameters\":
        {\n                \"bandSelection\": \"${bandSelection:-All}\"\n            }\n
        \       }\n    ]\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/DigitalGlobeStrip/metadata?nodeId=73a9f833-bd5e-5cc7-9a83-a2cba6622661&catalogId=e9d158c6-2af0-481d-a1f0-d82b7234db33-inv&correctionType=AComp&draType=HistogramDRA&bands=PanSharp&bandSelection=RGB&crs=UTM
  response:
    body: {string: '{"imageMetadata":{"imageId":"LC80370302014268LGN00","version":1.1,"profileName":"georectified_image","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":61,"numYTiles":62,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"UNSIGNED_SHORT","imageHeight":15661,"imageWidth":15401,"sensorPlatformName":"LANDSAT8","sensorName":"Operational
        Land Imager","vendorName":"NASA/USGS","vendorDatasetIdentifier":"Path=37:Row=30","acquisitionDate":"2014-09-25T18:01:18.581Z","colorInterpretation":"LANDSAT_8_30M","imageBoundsWGS84":"POLYGON
        ((-110.86347858369699 44.246853761678445, -107.9721339914049 44.206789904569156,
        -108.07475186534529 42.09427294284964, -110.86811362682216 42.13149907506905,
        -110.86347858369699 44.246853761678445))","groundSampleDistanceMeters":15.0,"minX":0,"minY":0,"maxX":15400,"maxY":15660,"minTileX":0,"minTileY":0,"maxTileX":60,"maxTileY":61,"sunAzimuth":156.24916298,"sunElevation":43.39473382,"cloudCover":0.04},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:32612","scaleX":15.0,"scaleY":-15.0,"translateX":510900.0,"translateY":4899300.0,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":null,"sensorMetadata":null,"imageAssociations":null,"rrdMetadata":null}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: ''}
version: 1
