interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geobigdata.io/catalog/v1/record/1040010019B4A600?includeRelationships=false
  response:
    body: {string: !!python/unicode '{"identifier":"1040010019B4A600","owner":"7b216bd9-6523-4ca9-aa3b-1d8a5994f054","type":"DigitalGlobeAcquisition","properties":{"ordered":"false","sunElevation":"42.88748","targetAzimuth":"331.2732849121","sensorPlatformName":"WORLDVIEW03","sunAzimuth":"155.5291","browseURL":"https://browse.digitalglobe.com/imagefinder/showBrowseMetadata?catalogId=1040010019B4A600","footprintWkt":"POLYGON
        ((-105.35805 40.036662, -105.355206 40.036446, -105.34635 40.03569, -105.337962
        40.034898, -105.321294 40.033098, -105.30423 40.031622, -105.296418 40.03137,
        -105.287346 40.030902, -105.25653 40.027986, -105.222726 40.024674, -105.179022
        40.02021, -105.179022 40.006638, -105.178878 39.97737, -105.178842 39.977334,
        -105.178806 39.96855, -105.178878 39.946158, -105.17877 39.938238, -105.178842
        39.921714, -105.178734 39.912534, -105.178806 39[...]
