interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A10400100343F3D00&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-105.0443383800957,39.72480110635914],[-104.8388076590973,39.72372772701181],[-104.8388777961669,39.59617219419522],[-105.0435875624915,39.59718596031765],[-105.0443383800957,39.72480110635914]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-12-27T18:02:28.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","WV03_VNIR","DigitalGlobeProduct","1BProduct"],"name":null,"format":null,"ingest_date":"2017-12-28T04:10:21.800Z","attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":165.1,"bands":"Multi","xmlFile":"17DEC27180228-M1BS-057381114010_01_P004.XML","browseJpgFile":"17DEC27180228-M1BS-057381114010_01_P004-BROWSE.JPG","cloudCover_int":20,"imdFile":"17DEC27180228-M1BS-057381114010_01_P004.IMD","attFile":"17DEC27180228-M1BS-057381114010_01_P004.ATT","resolution_dbl":1.532,"bandsList":"BAND_C,BAND_B,BAND_G,BAND_Y,BAND_R,BAND_RE,BAND_N,BAND_N2","geoFile":"17DEC27180228-M1BS-057381114010_01_P004.GEO","imageFile":"17DEC27180228-M1BS-057381114010_01_P004.TIF","vendor":"DigitalGlobe","sunElevation_dbl":25.8,"platformName":"WORLDVIEW03_VNIR","tilFile":"17DEC27180228-M1BS-057381114010_01_P004.TIL","sensorPlatformName":"WORLDVIEW03_VNIR","readmeTxtFile":"17DEC27180228-M1BS-057381114010_01_P004_README.TXT","rpbFile":"17DEC27180228-M1BS-057381114010_01_P004.RPB","offNadirAngle_dbl":27.9,"soli":"057381114","catalogID":"10400100343F3D00","productLevel":"LV1B","part_int":4,"ephFile":"17DEC27180228-M1BS-057381114010_01_P004.EPH","bucketPrefix":"057381114010_01_003/057381114010_01/057381114010_01_P004_MUL"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"10400100343F3D00_P004_MUL_057381114010","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"edges": [{"destination": "318562cf-7301-5885-805c-a283ff0d1ba8",
      "id": "3cbbc44e-5163-53c0-8e16-af9140cc8d9a", "index": 1, "source": "ee2f34e8-be2f-5a77-9503-8ab4973aefc8"}],
      "nodes": [{"id": "318562cf-7301-5885-805c-a283ff0d1ba8", "operator": "Format",
      "parameters": {"dataType": "4"}}, {"id": "ee2f34e8-be2f-5a77-9503-8ab4973aefc8",
      "operator": "DigitalGlobeStrip", "parameters": {"CRS": "EPSG:4326", "GSD": "null",
      "bands": "MS", "catId": "10400100343F3D00", "correctionType": "TOAREFLECTANCE",
      "fallbackToTOA": "true"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode 99391f4ff56bd6cb7a7e83de49a2538bd15bfcaf64cc3442e2ad706dd2a86b2c}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/99391f4ff56bd6cb7a7e83de49a2538bd15bfcaf64cc3442e2ad706dd2a86b2c/318562cf-7301-5885-805c-a283ff0d1ba8/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"e858f155-b235-4a34-b1f6-61afca2041b1","version":1.0,"profileName":"georectified_image","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":61,"numYTiles":299,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"FLOAT","imageHeight":76415,"imageWidth":15412,"sensorPlatformName":"WV03","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:057381114010_01_P001:10400100343F3D00:A01001032DDAA000","acquisitionDate":"2017-12-27T18:02:23.667Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-105.04641075 40.01890131, -104.83749314310097 40.01890131, -104.83749314310097
        38.983056583086594, -105.04641075 38.983056583086594, -105.04641075 40.01890131))","groundSampleDistanceMeters":1.543,"minX":0,"minY":0,"maxX":15411,"maxY":76414,"minTileX":0,"minTileY":0,"maxTileX":60,"maxTileY":298,"sunAzimuth":165.1,"sunElevation":25.5,"satAzimuth":91.8,"satElevation":58.6,"cloudCover":0.958,"offNadirAngle":28.3,"sensorAlias":"WV03_MULTI","absoluteCalibrationFactors":[0.0143287,0.0259527,0.0186196,0.00908216,0.0143856,0.00822459,0.0166926,0.0106378],"effectiveBandwidths":[0.0405,0.054,0.0618,0.0381,0.0585,0.0387,0.1004,0.0889],"tdiLevels":[24.0,10.0,10.0,18.0,10.0,18.0,10.0,24.0],"bandAliases":["C","B","G","Y","R","RE","N","N2"],"pniirs":3.4},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":1.3555515630614444E-5,"scaleY":-1.3555515630614444E-5,"translateX":-105.04641075,"translateY":40.01890131,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,17,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,18,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,9,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,10,8,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,2,6,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,[...]
