interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A03f4955d-c7da-45a8-8289-ba73bec5e127-inv&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-73.50352057,-3.97155153],[-73.37807167,-3.97371656],[-73.3781641,-4.01888064],[-73.50344951,-4.01673252],[-73.50352057,-3.97155153]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2018-03-23T15:23:26.234Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV04"],"name":null,"format":null,"ingest_date":"2018-03-28T20:39:09.316Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2018-03-23T15:23:26.234Z","bucketName":"rda-images-1","numBands_int":4,"sunAzimuth_dbl":78.5,"nativeTileFileFormat":"TIF","colorInterpretation":"BGRN","cloudCover_int":99,"idahoImageId":"44c7d7a0-a4c9-4bd6-be6c-eaecd758f39a","satAzimuth_dbl":105.9,"satElevation_dbl":75.2,"pniirs_dbl":3.6,"numYTiles_int":16,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":65.3,"platformName":null,"imageHeight_int":3863,"numXTiles_int":42,"sensorPlatformName":null,"sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":10497,"tileXSize_int":0,"tileYSize_int":0,"offNadirAngle_dbl":13.4,"tileBucketName":"rda-images-1","vendorName":"DigitalGlobe,
        Inc.","version":"1.1","tileYOffset_int":0,"catalogID":"03f4955d-c7da-45a8-8289-ba73bec5e127-inv","vendorDatasetIdentifier":"LV1B:I00000049224_01_P001:03f4955d-c7da-45a8-8289-ba73bec5e127-inv:None","groundSampleDistanceMeters_dbl":1.31},"ingest_attributes":{"_rest_user":"acquisition-gbdx-support@digitalglobe.com","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"44c7d7a0-a4c9-4bd6-be6c-eaecd758f39a","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"edges": [], "nodes": [{"id": "1a3f8b22-9bce-5d74-a4e3-d229cc2d6b08",
      "operator": "DigitalGlobeStrip", "parameters": {"CRS": "EPSG:4326", "GSD": "null",
      "bands": "MS", "catId": "03f4955d-c7da-45a8-8289-ba73bec5e127-inv", "correctionType":
      "TOAREFLECTANCE", "fallbackToTOA": "true"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode 04604bc023044919f8c9a46218a08b6dab81f183aa6f7a8ba21cdea28c706dde}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/04604bc023044919f8c9a46218a08b6dab81f183aa6f7a8ba21cdea28c706dde/1a3f8b22-9bce-5d74-a4e3-d229cc2d6b08/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"04e2f2f0-a587-4aa0-b2de-2c296747fea2","version":1.1,"profileName":"georectified_image","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":43,"numYTiles":178,"tileXSize":256,"tileYSize":256,"numBands":4,"dataType":"SHORT","imageHeight":45444,"imageWidth":10759,"sensorPlatformName":"WV04","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","vendorName":"DigitalGlobe, Inc.","vendorDatasetIdentifier":"LV1B:I00000049224_01_P001:03f4955d-c7da-45a8-8289-ba73bec5e127-inv:None","acquisitionDate":"2018-03-23T15:23:23.422Z","colorInterpretation":"BGRN","imageBoundsWGS84":"POLYGON
        ((-73.50410817 -3.48410187, -73.37749758789435 -3.48410187, -73.37749758789435
        -4.0188812447754225, -73.50410817 -4.0188812447754225, -73.50410817 -3.48410187))","groundSampleDistanceMeters":1.313,"minX":0,"minY":0,"maxX":10758,"maxY":45443,"minTileX":0,"minTileY":0,"maxTileX":42,"maxTileY":177,"sunAzimuth":78.8,"sunElevation":65.3,"satAzimuth":105.1,"satElevation":75.0,"cloudCover":0.995,"offNadirAngle":13.7,"sensorAlias":"WV04_MULTI","absoluteCalibrationFactors":[0.01146947,0.01016338,0.00570105,0.00717746],"effectiveBandwidths":[0.058972,0.067195,0.034426,0.104893],"tdiLevels":[24.0,18.0,24.0,18.0],"bandAliases":["B","G","R","N"],"pniirs":3.6},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":1.1767876392382321E-5,"scaleY":-1.1767876392382321E-5,"translateX":-73.50410817,"translateY":-3.48410187,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[525511311,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,[...]
