interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A104A010010C29F00+AND+NOT+item_type%3AIDAHOImage+AND+NOT+item_type%3ADigitalGlobeAcquisition&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[36.94581726853743,-1.343952898657514],[37.0454021237113,-1.348801289534644],[37.04535290200555,-1.478212097393773],[36.94582723153286,-1.473618633948015],[36.94581726853743,-1.343952898657514]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["7b216bd9-6523-4ca9-aa3b-1d8a5994f054"],"users":["acquisitionsvc"]},"item_date":"2015-09-17T08:11:39.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","WV03_SWIR","DigitalGlobeProduct","1BProduct"],"format":null,"ingest_date":"2017-11-09T19:29:13.787Z","source":null,"name":null,"attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":78.8,"bands":"All-S","xmlFile":"15SEP17081139-A1BS-057199891010_01_P001.XML","browseJpgFile":"15SEP17081139-A1BS-057199891010_01_P001-BROWSE.JPG","cloudCover_int":0,"imdFile":"15SEP17081139-A1BS-057199891010_01_P001.IMD","attFile":"15SEP17081139-A1BS-057199891010_01_P001.ATT","resolution_dbl":7.662,"bandsList":"BAND_S1,BAND_S2,BAND_S3,BAND_S4,BAND_S5,BAND_S6,BAND_S7,BAND_S8","geoFile":"15SEP17081139-A1BS-057199891010_01_P001.GEO","imageFile":"15SEP17081139-A1BS-057199891010_01_P001.TIF","vendor":"DigitalGlobe","sunElevation_dbl":70.9,"platformName":"WORLDVIEW03_SWIR","tilFile":"15SEP17081139-A1BS-057199891010_01_P001.TIL","sensorPlatformName":"WORLDVIEW03_SWIR","readmeTxtFile":"15SEP17081139-A1BS-057199891010_01_P001_README.TXT","rpbFile":"15SEP17081139-A1BS-057199891010_01_P001.RPB","offNadirAngle_dbl":16.6,"soli":"057199891","catalogID":"104A010010C29F00","productLevel":"LV1B","part_int":1,"ephFile":"15SEP17081139-A1BS-057199891010_01_P001.EPH","bucketPrefix":"057199891010_01_003/057199891010_01/057199891010_01_P001_SWR"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"104A010010C29F00_P001_SWR_057199891010","text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A104A010010C29F00&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[36.94581727,-1.3439529],[37.04540212,-1.34880129],[37.0453529,-1.4782121],[36.94582723,-1.47361863],[36.94581727,-1.3439529]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["7b216bd9-6523-4ca9-aa3b-1d8a5994f054"],"users":["acquisitionsvc"]},"item_date":"2015-09-17T08:11:39.286Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV03_SWIR"],"format":null,"ingest_date":"2017-11-09T19:32:09.746Z","source":null,"name":null,"attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2015-09-17T08:11:39.286Z","bucketName":"idaho-images","numBands_int":8,"sunAzimuth_dbl":78.8,"nativeTileFileFormat":"TIF","colorInterpretation":"WORLDVIEW_SWIR","cloudCover_int":0,"idahoImageId":"e84edd5f-ff94-4240-a773-a618262e62a8","satAzimuth_dbl":334.7,"satElevation_dbl":71.7,"pniirs_dbl":1.1,"numYTiles_int":8,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":70.9,"platformName":"WORLDVIEW03_SWIR","imageHeight_int":1838,"numXTiles_int":6,"sensorPlatformName":"WORLDVIEW03_SWIR","sensorName":"SWIR","dataType":"UNSIGNED_SHORT","imageWidth_int":1478,"tileXSize_int":256,"tileYSize_int":256,"offNadirAngle_dbl":16.6,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"104A010010C29F00","vendorDatasetIdentifier":"LV1B:057199891010_01_P001:104A010010C29F00:202001030F6EA900","groundSampleDistanceMeters_dbl":7.662},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"e84edd5f-ff94-4240-a773-a618262e62a8","text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://idaho.timbr.io/e84edd5f-ff94-4240-a773-a618262e62a8.json
  response:
    body: {string: !!python/unicode '{"geometry": {"type": "Polygon", "coordinates":
        [[[36.94582723, -1.47361863], [36.94582723, -1.34880129], [37.04540212, -1.34880129],
        [37.04540212, -1.47361863], [36.94582723, -1.47361863]]]}, "properties": {"bandid":
        "All-S", "latlonhae": [-1.3439529, 36.94581727, 1594.55], "mean_sun_el": 70.9,
        "center": {"type": "Point", "coordinates": [36.995614675, -1.41120996]}, "catid":
        "104A010010C29F00", "cloud_cover": 0.0, "tdilevel": [16.0, 16.0, 16.0, 16.0,
        16.0, 16.0, 16.0, 16.0], "img_datetime_obj_utc": {"$date": 1442477499286},
        "warp": {"yStep": 100, "xStep": 100, "numXCells": 15, "yStart": 0, "targetGeoTransform":
        {"translateX": 36.94581727, "translateY": -1.3439529, "scaleX": 6.882860222781171e-05,
        "scaleY": -6.882860222781171e-05, "shearY": 0.0, "shearX": 0.0, "spatialReferenceSystemCode":
        "EPSG:4326"}, "xStart": 0, "numYCells": 20}, "rrds": {"reducedResolutionDataset":
        [{"targetImage": "50e9674b-f208-4428-a18c-e23eb3710f15", "sourceImage": "e84edd5f-ff94-4240-a773-a618262e62a8",
        "inverseScaleFactor": 2.0}, {"targetImage": "c425c086-c645-4e6a-a529-f1dd015069c6",
        "sourceImage": "50e9674b-f208-4428-a18c-e23eb3710f15", "inverseScaleFactor":
        2.0}, {"targetImage": "e5eb1fcc-4339-459c-81eb-fa92410529db", "sourceImage":
        "c425c086-c645-4e6a-a529-f1dd015069c6", "inverseScaleFactor": 2.0}, {"targetImage":
        "8a5bd6f1-92da-42b7-9725-48a5f558a03b", "sourceImage": "e5eb1fcc-4339-459c-81eb-fa92410529db",
        "inverseScaleFactor": 2.0}, {"targetImage": "2f3db5d4-8e9e-4a9b-b04d-929187b577a0",
        "sourceImage": "8a5bd6f1-92da-42b7-9725-48a5f558a03b", "inverseScaleFactor":
        2.0}]}, "effbandwidth": [0.0679, 0.0409, 0.0476, 0.0416, 0.0389, 0.0397, 0.0373,
        0.033], "abscalfactor": [9.57251e-05, 9.21204e-05, 9.29215e-05, 0.000195999,
        8.931681e-05, 0.000230953, 0.000210689, 0.000357045], "bbox": [36.94582723,
        -1.47361863, 37.04540212, -1.34880129], "band_centers": [1209.06, 1571.61,
        1661.1, 1729.54, 2163.69, 2202.16, 2259.32, 2329.22], "satid": "WV03", "band_names":
        ["S1", "S2", "S3", "S4", "S5", "S6", "S7", "S8"], "off_nadir": 16.6, "image":
        {"satAzimuth": 334.7, "sunAzimuth": 78.8, "cloudCover": 0.0, "imageId": "e84edd5f-ff94-4240-a773-a618262e62a8",
        "nativeTileFileFormat": "TIF", "numXTiles": 6, "imageWidth": 1478, "tileYSize":
        256, "sensorName": "SWIR", "vendorDatasetIdentifier": "LV1B:057199891010_01_P001:104A010010C29F00:202001030F6EA900",
        "version": "1.0", "numBands": 8, "imageHeight": 1838, "offNadirAngle": 16.6,
        "vendorName": "DigitalGlobe, Inc.", "imageBoundsWGS84": "POLYGON ((36.94581727
        -1.3439529, 37.04540212 -1.34880129, 37.0453529 -1.4782121, 36.94582723 -1.47361863,
        36.94581727 -1.3439529))", "sunElevation": 70.9, "acquisitionDate": "2015-09-17T08:11:39.286Z",
        "dataType": "UNSIGNED_SHORT", "tileYOffset": 0, "tileXSize": 256, "colorInterpretation":
        "WORLDVIEW_SWIR", "profileName": "dg_1b", "tilePartition": "0000", "groundSampleDistanceMeters":
        7.662, "tileBucketName": "idaho-images", "tileXOffset": 0, "pniirs": 1.1,
        "satElevation": 71.7, "sensorPlatformName": "WV03", "numYTiles": 8}, "product_level":
        "LV1B"}, "_acquisitionDate": {"$date": 1442477499286}, "_id": {"$oid": "5a09b629f912bb22c227bca9"},
        "type": "Feature", "id": "e84edd5f-ff94-4240-a773-a618262e62a8"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"edges": [{"destination": "2b10c1ea-b116-542c-a913-83aea363297f",
      "id": "7ce80f72-a997-5565-9257-c8de0ab68ec2", "index": 1, "source": "2f6649bd-4d77-5e85-94d6-bdf56cfecd8d"},
      {"destination": "2f6649bd-4d77-5e85-94d6-bdf56cfecd8d", "id": "8ae2d5e8-516b-5565-8532-33fae064900f",
      "index": 1, "source": "983b5414-23ec-5ee2-a4cd-23c55f5cf994"}, {"destination":
      "983b5414-23ec-5ee2-a4cd-23c55f5cf994", "id": "edc3e7c4-4020-5b1a-a0ef-1f82ca0630ee",
      "index": 1, "source": "ff3058c0-3527-532c-8275-ce6902c71c45"}, {"destination":
      "ff3058c0-3527-532c-8275-ce6902c71c45", "id": "7e775342-94b7-5b30-9f5e-7e3e8c8746ff",
      "index": 1, "source": "658c0738-7ca0-5a5a-91ee-8c87ade73a59"}, {"destination":
      "658c0738-7ca0-5a5a-91ee-8c87ade73a59", "id": "d2fa7b8e-ea64-5086-8919-174f37575355",
      "index": 1, "source": "da271748-4602-5cb6-825b-4dbc23ef27b0"}], "nodes": [{"id":
      "2b10c1ea-b116-542c-a913-83aea363297f", "operator": "MultiplyConst", "parameters":
      {"constants": "[0.00701426325433498, 0.01273693548383146, 0.014914420394917895,
      0.01700800482823909, 0.0371604415262071, 0.03949917085951891, 0.043663870112010526,
      0.04933956794874929]"}}, {"id": "2f6649bd-4d77-5e85-94d6-bdf56cfecd8d", "operator":
      "AddConst", "parameters": {"constants": "[-4.479, -2.248, -1.806, -1.507, -0.622,
      -0.605, -0.423, -0.302]"}}, {"id": "983b5414-23ec-5ee2-a4cd-23c55f5cf994", "operator":
      "MultiplyConst", "parameters": {"constants": "[0.001635362533136966, 0.0026667617017114916,
      0.0022898512499999997, 0.005592567620192309, 0.0029527356724935736, 0.007772121108312343,
      0.0075689882037533514, 0.015060807272727272]"}}, {"id": "ff3058c0-3527-532c-8275-ce6902c71c45",
      "operator": "Format", "parameters": {"dataType": "4"}}, {"id": "658c0738-7ca0-5a5a-91ee-8c87ade73a59",
      "operator": "GeospatialMosaic", "parameters": {"Dest SRS Code": "EPSG:4326"}},
      {"id": "da271748-4602-5cb6-825b-4dbc23ef27b0", "operator": "IdahoRead", "parameters":
      {"bucketName": "idaho-images", "imageId": "e84edd5f-ff94-4240-a773-a618262e62a8",
      "objectStore": "S3"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://idahoapi.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode dc4a3740c4fb54487c305ea73ce72dd39e53f091c8176508bb941a8194ac65da}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/dc4a3740c4fb54487c305ea73ce72dd39e53f091c8176508bb941a8194ac65da/2b10c1ea-b116-542c-a913-83aea363297f/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"e84edd5f-ff94-4240-a773-a618262e62a8","version":"1.0","profileName":"dg_1b","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":6,"numYTiles":8,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"FLOAT","imageHeight":1951,"imageWidth":1447,"sensorPlatformName":"WV03","sensorName":"SWIR","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:057199891010_01_P001:104A010010C29F00:202001030F6EA900","acquisitionDate":"2015-09-17T08:11:39.286Z","colorInterpretation":"WORLDVIEW_SWIR","imageBoundsWGS84":"POLYGON
        ((36.94581727 -1.3439529, 37.04541225742364 -1.3439529, 37.04541225742364
        -1.4782375029464605, 36.94581727 -1.4782375029464605, 36.94581727 -1.3439529))","groundSampleDistanceMeters":7.662,"minX":0,"minY":0,"maxX":1446,"maxY":1950,"minTileX":0,"minTileY":0,"maxTileX":5,"maxTileY":7,"sunAzimuth":78.8,"sunElevation":70.9,"satAzimuth":334.7,"satElevation":71.7,"cloudCover":0.0,"offNadirAngle":16.6,"pniirs":1.1},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":6.882860222781171E-5,"scaleY":-6.882860222781171E-5,"translateX":36.94581727,"translateY":-1.3439529,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":36.94581727,"y":-1.3439529},"upperRightCorner":{"x":37.04540212,"y":-1.34880129},"lowerRightCorner":{"x":37.0453529,"y":-1.4782121},"lowerLeftCorner":{"x":36.94582723,"y":-1.47361863},"gsd":6.882860222781171E-5,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":918.0,"sampleOffset":738.0,"latOffset":-1.4113,"lonOffset":36.9958,"heightOffset":1540.0,"lineScale":919.0,"sampleScale":1250.0,"latScale":0.0701,"lonScale":0.0849,"heightScale":501.0,"lineNumCoefs":[0.002715608,-0.06020698,-1.081161,0.02043429,3.627992E-4,-6.258585E-6,5.760896E-5,-2.370913E-4,-0.001444852,-2.156671E-6,-9.886318E-8,3.435868E-8,2.744204E-6,-3.559845E-8,-1.777804E-6,-5.267575E-6,-7.133206E-7,3.626999E-8,8.581907E-8,1.097842E-8],"lineDenCoefs":[1.0,5.415463E-4,0.001392481,6.473687E-6,1.060759E-6,-6.571479E-8,3.001007E-8,-3.434023E-7,8.891058E-7,6.557474E-7,-5.321306E-8,0.0,1.421849E-6,0.0,7.224187E-8,8.204474E-6,0.0,0.0,-4.614751E-7,0.0],"sampleNumCoefs":[0.003496159,1.00834,1.739855E-4,0.007551448,3.635504E-4,4.058458E-4,-1.572407E-4,-0.002875611,5.667003E-5,5.665885E-6,1.350253E-6,4.430516E-7,-1.396138E-5,-3.17195E-6,2.228829E-5,-8.657331E-5,-1.412044E-7,-2.721008E-6,4.84026E-6,-2.350077E-8],"sampleDenCoefs":[1.0,-6.288391E-4,-3.656308E-4,-4.35656E-4,-1.934732E-5,1.465239E-6,-8.29835E-7,3.246603E-6,8.850129E-6,-3.414875E-6,-3.094909E-8,-3.259027E-8,-7.388753E-8,0.0,2.197143E-7,-2.964351E-7,0.0,0.0,2.019864E-8,0.0]},"histogram":{"histograms":{"0":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,[...]
