interactions:
- request:
    body: !!python/unicode '{"startDate": "2012-01-01T00:00:00.000Z", "endDate": "2012-03-01T00:00:00.000Z",
      "types": ["Acquisition"], "searchAreaWkt": "POLYGON((29.9 10.1, 30.1 10.1, 30.1
      9.9, 29.9 9.9, 29.9 10.1))"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://geobigdata.io/catalog/v1/search?includeRelationships=false
  response:
    body: {string: !!python/unicode '{"searchTag":null,"results":[{"identifier":"101001000ED81D00","owner":"7b216bd9-6523-4ca9-aa3b-1d8a5994f054","type":"DigitalGlobeAcquisition","properties":{"sunElevation":"46.59428","targetAzimuth":"194.79796","sensorPlatformName":"QUICKBIRD02","browseURL":"https://browse.digitalglobe.com/imagefinder/showBrowseMetadata?catalogId=101001000ED81D00","sunAzimuth":"129.6386","footprintWkt":"POLYGON
        ((30.1374 11.002536, 30.13884 11.002536, 30.138696 10.958472, 30.139128 10.941192,
        30.13884 10.908072, 30.138264 10.822392, 30.137976 10.809144, 30.137688 10.67724,
        30.137256 10.640952, 30.136104 10.283256, 30.13524 9.974376, 30.134952 9.874872,
        29.962584 9.867672, 29.961432 10.052856, 29.960424 10.282968, 29.959272 10.50372,
        29.958984 10.615464, 29.958552 10.646424, 29.958264 10.77948, 29.957976 10.786392,
        29.957256 10.986696, 30.00276 10.990728, 30.037896 10.994184, 30.044376 10.994472,
        30.133944 11.002104, 30.1374 11.002536))","cloudCover":"6.0","multiResolution":"3.02898407","vendorName":"DigitalGlobe","offNadirAngle":"27.0","panResolution":"0.759953082","catalogID":"101001000ED81D00","imageBands":"Pan_MS1","timestamp":"2012-01-31T00:00:00.000Z"}},{"identifier":"1020010019B7E700","owner":"7b216bd9-6523-4ca9-aa3b-1d8a5994f054","type":"DigitalGlobeAcquisition","properties":{"sunElevation":"53.79956","targetAzimuth":"255.25421","sensorPlatformName":"WORLDVIEW01","browseURL":"https://browse.digitalglobe.com/imagefinder/showBrowseMetadata?catalogId=1020010019B7E700","sunAzimuth":"137.1632","footprintWkt":"POLYGON
        ((30.160296 11.00916, 30.161736 11.00916, 30.16188 10.962936, 30.163752 10.944648,
        30.1[...]
