interactions:
- request:
    body: '{"type": "Polygon", "coordinates": [[[-76.65, 40.1], [-76.65, 40.14], [-76.55,
      40.14], [-76.55, 40.1], [-76.65, 40.1]]]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vector.geobigdata.io/insight-vector/api/index/aggregation/vector-gbdx-alpha-catalog-v2-*?count=10&aggs=terms%3Aingest_source
  response:
    body:
      string: '{"responseDate":"2019-12-04T22:08:04.953Z","geom":{"type":"Polygon","coordinates":[[[-76.65,40.1],[-76.65,40.14],[-76.55,40.14],[-76.55,40.1],[-76.65,40.1]]]},"query":null,"startDate":null,"endDate":null,"totalItems":1233,"aggregations":[{"name":"terms:ingest_source","terms":[{"term":"GBDX_INGEST_ALPHA","count":1233,"aggregations":null}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
