interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/metadata/search?free-text=IdahoTemplate
  response:
    body:
      string: '[{"isPublic":false,"keywords":["IdahoTemplate"],"sensors":["IdahoTemplate"],"keynodes":[{"id":"GeospatialCrop","description":"GeospatialCrop"}],"description":"Idaho
        Read, GeospatialCrop, Reproject","metadataAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"templateAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"datePublished":"2019-04-16T20:03:13.573Z","name":"IdahoTemplate","templateId":"cbd64af51fe1d35baff8cb0b3790ab185a8fa3fa5d5dccafda714f0d6855c8c3","id":"da88fb5eb9014292ae8b78201b0b5f40"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/cbd64af51fe1d35baff8cb0b3790ab185a8fa3fa5d5dccafda714f0d6855c8c3
  response:
    body:
      string: '{"id":"cbd64af51fe1d35baff8cb0b3790ab185a8fa3fa5d5dccafda714f0d6855c8c3","edges":[{"id":"edge-2","index":1,"source":"GeospatialCrop","destination":"Reproject"},{"id":"edge-1","index":1,"source":"IdahoRead","destination":"GeospatialCrop"}],"nodes":[{"id":"Reproject","operator":"Reproject","parameters":{"Dest
        SRS Code":"${DestSRSCode:-EPSG:4326}","Dest pixel-to-world transform":"null","Source
        SRS Code":"${SourceSRSCode:-EPSG:4326}","Source pixel-to-world transform":"null"}},{"id":"GeospatialCrop","operator":"GeospatialCrop","parameters":{"geospatialWKT":"${geospatialWKT}"}},{"id":"IdahoRead","operator":"IdahoRead","parameters":{"bucketName":"${bucketName}","imageId":"${imageId}","objectStore":"${objectStore}","targetGSD":"${targetGSD:-}"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/cbd64af51fe1d35baff8cb0b3790ab185a8fa3fa5d5dccafda714f0d6855c8c3/metadata?bucketName=rda-images-1&imageId=8c3c4fc6-abcb-4f5f-bce6-d496c1a91676&objectStore=S3&targetGSD=&nodeId=IdahoRead
  response:
    body:
      string: '{"imageMetadata":{"imageId":"8c3c4fc6-abcb-4f5f-bce6-d496c1a91676","version":1.1,"profileName":"dg_1b","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":27,"numYTiles":25,"tileXSize":256,"tileYSize":256,"numBands":4,"dataType":"UNSIGNED_SHORT","imageHeight":6231,"imageWidth":6876,"sensorPlatformName":"QB02","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","vendorName":"DigitalGlobe, Inc.","vendorDatasetIdentifier":"LV1B:057783836010_01_P001:1010010000786700:A010010366733D00","acquisitionDate":"2002-05-18T02:51:35.408Z","colorInterpretation":"BGRN","imageBoundsWGS84":"POLYGON
        ((112.65186454 -6.8681145, 112.65257249 -7.01067252, 112.81087661 -7.00526901,
        112.81136323 -6.86184235, 112.65186454 -6.8681145))","groundSampleDistanceMeters":2.546,"minX":0,"minY":0,"maxX":6875,"maxY":6230,"minTileX":0,"minTileY":0,"maxTileX":26,"maxTileY":24,"sunAzimuth":40.8,"sunElevation":54.9,"satAzimuth":53.6,"satElevation":75.0,"cloudCover":-999.0,"offNadirAngle":14.1,"sensorAlias":"QB02_MULTI","oneBResamplingKernel":"MTF","absoluteCalibrationFactors":[0.0160412,0.0143847,0.0126735,0.0154242],"effectiveBandwidths":[0.068,0.099,0.071,0.114],"tdiLevels":[1.0,1.0,1.0,1.0],"bandAliases":["B","G","R","N"],"pniirs":2.6},"imageGeoreferencing":null,"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":112.65186454,"y":-6.8681145},"upperRightCorner":{"x":112.81136323,"y":-6.86184235},"lowerRightCorner":{"x":112.81087661,"y":-7.00526901},"lowerLeftCorner":{"x":112.65257249,"y":-7.01067252},"gsd":2.2871002515271288E-5,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":3114.0,"sampleOffset":3437.0,"latOffset":-6.9362,"lonOffset":112.7315,"heightOffset":39.0,"lineScale":3116.0,"sampleScale":3438.0,"latScale":0.0752,"lonScale":0.0808,"heightScale":501.0,"lineNumCoefs":[-0.006018498,0.04144495,-1.051649,0.009796656,0.001212211,-2.586901E-5,2.822584E-4,-8.045405E-5,0.004599662,-3.448134E-6,1.400228E-7,-1.304141E-6,-1.415596E-5,-2.145596E-6,3.404885E-5,1.749145E-4,5.457586E-5,-2.96536E-7,-1.000023E-5,-5.07969E-7],"lineDenCoefs":[1.0,0.001528729,-0.001532891,3.571583E-4,-1.549296E-5,-1.226125E-6,-8.17284E-6,-4.562333E-5,1.586042E-4,-5.199895E-5,-1.241558E-7,-7.868897E-8,1.172464E-5,-1.487532E-7,-3.185598E-7,-1.414374E-4,-1.530322E-7,-1.800078E-8,3.065405E-6,-3.447969E-8],"sampleNumCoefs":[-0.005864949,1.016911,6.731651E-4,-0.01225928,-0.001975002,5.344226E-4,-3.231748E-4,0.005195248,-5.307185E-4,-2.744709E-6,-1.199638E-6,8.83361E-6,-3.267651E-5,-7.27708E-6,6.235877E-5,-1.458738E-4,-1.726833E-8,4.627943E-6,7.13821E-6,8.739276E-8],"sampleDenCoefs":[1.0,6.888988E-4,0.002007942,-6.1534E-4,-5.879947E-5,-2.182013E-6,-1.124136E-6,6.325625E-6,2.220653E-5,-7.648996E-6,-4.979062E-8,3.798411E-8,1.378624E-6,2.663431E-8,-5.023416E-7,-5.075304E-6,-2.719652E-8,-1.992307E-8,1.529735E-7,0.0]},"histogram":{"histograms":{"0":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,3,0,0,0,1,0,0,0,1,1,0,0,0,0,1,1,2,3,0,0,1,1,2,0,2,5,1,5,1,3,2,3,1,5,4,5,2,6,4,6,4,7,3,8,5,7,4,10,5,10,10,15,12,13,14,16,21,15,26,27,34,43,75,142,232,330,575,838,1243,1833,2651,3592,4809,6209,7821,9365,10969,12653,15119,18706,24136,31321,41604,54362,72066,94663,125112,161249,1[...]
