interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?q=item_type%3AGBDXCatalogRecord+AND+%28attributes.catalogID.keyword%3A103001006F31E000+OR+id%3A103001006F31E000%29+AND+NOT+item_type%3ADigitalGlobeAcquisition&count=1&left=-180.0&right=180.0&lower=-90.0&upper=90.0
  response:
    body:
      string: '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-95.54718653,28.73343808],[-95.27977453,28.81530178],[-95.27901947,28.67719351],[-95.54791416,28.59371958],[-95.54718653,28.73343808]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-08-30T17:14:58.662Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV02"],"name":null,"format":null,"ingest_date":"2018-07-13T08:33:12.382Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2017-08-30T17:14:58.662Z","bucketName":"rda-images-1","numBands_int":8,"sunAzimuth_dbl":138.1,"nativeTileFileFormat":"TIF","colorInterpretation":"WORLDVIEW_8_BAND","cloudCover_int":0,"idahoImageId":"7a15a6e8-a81c-4602-bf96-0a747f0674cd","satAzimuth_dbl":12.5,"satElevation_dbl":36.7,"pniirs_dbl":2.1,"numYTiles_int":14,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":64.7,"platformName":"WORLDVIEW02","imageHeight_int":3376,"numXTiles_int":35,"sensorPlatformName":"WORLDVIEW02","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":8820,"tileXSize_int":0,"tileYSize_int":0,"offNadirAngle_dbl":45.8,"tileBucketName":"rda-images-1","vendorName":"DigitalGlobe,
        Inc.","version":"1.1","tileYOffset_int":0,"catalogID":"103001006F31E000","vendorDatasetIdentifier":"LV1B:058162750010_01_P014:103001006F31E000:A0100103902C7D00","groundSampleDistanceMeters_dbl":3.798},"ingest_attributes":{"_rest_user":"idahosvc@digitalglobe.com","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"7a15a6e8-a81c-4602-bf96-0a747f0674cd","source":null,"text":""}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/metadata/search?free-text=DigitalGlobeStripTemplate
  response:
    body:
      string: '[{"isPublic":false,"keywords":["DigitalGlobeStripTemplate"],"sensors":["DigitalGlobeStripTemplate"],"keynodes":[{"id":"Format","description":"Format"}],"description":"DigitalGlobeStripTemplate
        and Format","metadataAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"templateAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"datePublished":"2019-04-16T20:01:15.299Z","name":"DigitalGlobeStripTemplate","templateId":"dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3","id":"8c1278beadd34612a531ba3d7fdd91ed"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3
  response:
    body:
      string: '{"id":"dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3","defaultNodeId":"Format","edges":[{"id":"edge-1","index":1,"source":"DigitalGlobeStrip","destination":"Format"},{"id":"edge-2","index":1,"source":"DigitalGlobeStrip","destination":"RadiometricDRA"}],"nodes":[{"id":"Format","operator":"Format","parameters":{"dataType":"${dataType}"}},{"id":"DigitalGlobeStrip","operator":"DigitalGlobeStrip","parameters":{"CRS":"${crs}","GSD":"${gsd}","bands":"${bands}","catId":"${catId}","correctionType":"${correctionType}","fallbackToTOA":"${fallbackToTOA}"}},{"id":"RadiometricDRA","operator":"RadiometricDRA","parameters":{}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3/metadata?catId=103001006F31E000&crs=EPSG%3A4326&gsd=null&correctionType=TOAREFLECTANCE&bands=MS&fallbackToTOA=True&nodeId=Format&dataType=4
  response:
    body:
      string: '{"imageMetadata":{"imageId":"bd8ecf04-404f-4d12-bbf2-868f31401a8d","version":1.1,"profileName":"georectified_image","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":35,"numYTiles":219,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"FLOAT","imageHeight":55860,"imageWidth":8883,"sensorPlatformName":"WV02","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:058162750010_01_P001:103001006F31E000:A0100103902C2000","acquisitionDate":"2017-08-30T17:14:51.914Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-95.54910653 30.0865228, -95.27787658928854 30.0865228, -95.27787658928854
        28.38091608063241, -95.54910653 28.38091608063241, -95.54910653 30.0865228))","groundSampleDistanceMeters":3.399,"minX":0,"minY":0,"maxX":8882,"maxY":55859,"minTileX":0,"minTileY":0,"maxTileX":34,"maxTileY":218,"sunAzimuth":139.8,"sunElevation":63.7,"satAzimuth":14.8,"satElevation":40.5,"cloudCover":0.997,"offNadirAngle":42.9,"sensorAlias":"WV02_MULTI","oneBResamplingKernel":"MTF","absoluteCalibrationFactors":[0.009295654,0.01783568,0.01364197,0.006810718,0.01103623,0.006063145,0.0122438,0.009042234],"effectiveBandwidths":[0.0473,0.0543,0.063,0.0374,0.0574,0.0393,0.0989,0.0996],"tdiLevels":[24.0,10.0,10.0,18.0,10.0,18.0,10.0,24.0],"bandAliases":["C","B","G","Y","R","RE","N","N2"],"pniirs":2.2},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":3.053359683794467E-5,"scaleY":-3.053359683794467E-5,"translateX":-95.54910653,"translateY":30.0865228,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,[...]
