interactions:
- request:
    body: !!python/unicode '{"startDate": null, "endDate": "2012-01-01T00:00:00.000Z",
      "types": ["Acquisition"], "searchAreaWkt": "POLYGON((29.9 10.1, 30.1 10.1, 30.1
      9.9, 29.9 9.9, 29.9 10.1))"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://geobigdata.io/catalog/v2/search?includeRelationships=false
  response:
    body: {string: !!python/unicode '{"stats": {"recordsReturned": 92, "totalRecords":
        92, "typeCounts": {"DigitalGlobeAcquisition": 76, "WV02": 21, "WV01": 29,
        "GBDXCatalogRecord": 92, "GE01": 11, "IKONOS": 16, "IKONOSAcquisition": 16,
        "Acquisition": 92, "QB02": 15}}, "results": [{"identifier": "1020010013A3CE00",
        "type": ["GBDXCatalogRecord", "Acquisition", "DigitalGlobeAcquisition", "WV01"],
        "properties": {"bearing": 179.999999, "offNadirAngle_min": 42.2863540649414,
        "offNadirAngle_start": 42.2863540649414, "targetAzimuth_min": 240.306076049805,
        "multiResolution_min": 0.0, "cloudCover": 46, "sunAzimuth_max": 98.0312576293945,
        "targetAzimuth": 245.735321044922, "multiResolution": 0.0, "catalogID": "1020010013A3CE00",
        "panResolution_max": 0.907488584518433, "timestamp": "2011-04-08T08:37:10.000Z",
        "sunAzimuth_min": 98.0312576293945, "browseURL": "https://geobigdata.io/thumbnails/v1/browse/1020010013A3CE00.large.png",
        "targetAzimuth_max": 251.362380981445, "sunAzimuth": 98.0312576293945, "sunElevation_min":
        68.7147369384766, "offNadirAngle": 43.0468139648438, "stereoPair": null, "platformName":
        "WORLDVIEW01", "multiResolution_start": 0.0, "sunElevation": 68.7147369384766,
        "vendor": "DigitalGlobe", "scanDirection": "Forward", "panResolution_end":
        0.907488584518433, "panResolution_start": 0.855130434036255, "targetAzimuth_end":
        240.306076049805, "panResolution_min": 0.855130434036255, "offNadirAngle_max":
        43.9642333984375, "multiResolution_end": 0.0, "multiResolution_max": 0.0,
        "sunElevation_max": 68.7147369384766, "offNadirAngle_end": 43.9642333984375,
        "panResolution": 0.878286242485046, "footprintWkt": "MULTIPOLYGON(((29.78785067
        11.52046703, 30.1037985 11.57523033, 30.10369573 11.51148582, 30.10377824
        11.4476714, 30.10409786 11.38376174, 30.10399681 11.31949134, 30.10387711
        11.25502416, 30.10403722 11.1904879, 30.10409046 11.12570307, 30.10407988
        11.06067986, 30.10414103 10.99547578, 30.10491132 10.93038321, 30.10462798
        10.86457797, 30.10385328 10.79828989, 30.10420953 10.73229771, 30.10497122
        10.66625253, 30.10382038 10.59897477, 30.10387115 10.53204311, 30.10393815
        10.46484088, 30.1040345 10.39735776, 30.1041274 10.32957541, 30.1042827 10.26152598,
        30.10430591 10.19307685, 30.10442621 10.15058564, 29.78301306 10.06008282,
        29.78324259 10.10377464, 29.78360203 10.1740436, 29.7839092 10.2439459, 29.7842411
        10.31354497, 29.78453802 10.38281519, 29.78482307 10.45176946, 29.78505944
        10.52040818, 29.78530852 10.5887834, 29.7857916 10.65699516, 29.78580151 10.72470695,
        29.78609839 10.79230033, 29.78721548 10.86000574, 29.7865755 10.92668955,
        29.78664391 10.99346469, 29.78703951 11.06015641, 29.78710902 11.12649251,
        29.78720158 11.19262499, 29.78734546 11.25858725, 29.78721514 11.32425337,
        29.78731737 11.38979915, 29.78754566 11.45519281, 29.78785067 11.52046703)))",
        "targetAzimuth_start": 251.362380981445, "imageBands": "PAN", "sensorPlatformName":
        "WORLDVIEW01"}}, {"identifier": "103001000E5D7400", "type": ["GBDXCatalogRecord",
        "Acquisition", "DigitalGlobeAcquisition", "WV02"], "properties": {"bearing":
        180.020041, "offNadirAngle_min": 0.719948530197144, "offNadirAngle_start":
        2.45210003852844, "targetAzimuth_min": 202.218307495117, "multiResolution_min":
        1.85370230674744, "cloudCover": 0, "sunAzimuth_max": 156.012680053711, "targetAzimuth":
        276.809326171875, "multiResolution": 1.8544039726[...]
