interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1010010002B93F00+AND+NOT+item_type%3AIDAHOImage+AND+NOT+item_type%3ADigitalGlobeAcquisition&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[125.1277069529589,41.1443609691685],[125.3851259955553,41.11342097783159],[125.3852348095896,40.97159030624521],[125.1255584970974,41.00204363963308],[125.1277069529589,41.1443609691685]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["7b216bd9-6523-4ca9-aa3b-1d8a5994f054"],"users":["acquisitionsvc"]},"item_date":"2004-02-20T02:33:03.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","QB02","DigitalGlobeProduct","1BProduct"],"format":null,"ingest_date":"2017-10-16T22:56:26.777Z","source":null,"name":null,"attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":156.0,"bands":"Multi","xmlFile":"04FEB20023303-M1BS-057114153010_01_P001.XML","browseJpgFile":"04FEB20023303-M1BS-057114153010_01_P001-BROWSE.JPG","cloudCover_int":-999,"imdFile":"04FEB20023303-M1BS-057114153010_01_P001.IMD","attFile":"04FEB20023303-M1BS-057114153010_01_P001.ATT","resolution_dbl":3.086,"bandsList":"BAND_B,BAND_G,BAND_R,BAND_N","geoFile":"04FEB20023303-M1BS-057114153010_01_P001.GEO","imageFile":"04FEB20023303-M1BS-057114153010_01_P001.TIF","vendor":"DigitalGlobe","sunElevation_dbl":34.8,"platformName":"QUICKBIRD02","tilFile":"04FEB20023303-M1BS-057114153010_01_P001.TIL","sensorPlatformName":"QUICKBIRD02","readmeTxtFile":"04FEB20023303-M1BS-057114153010_01_P001_README.TXT","rpbFile":"04FEB20023303-M1BS-057114153010_01_P001.RPB","offNadirAngle_dbl":29.5,"soli":"057114153","catalogID":"1010010002B93F00","productLevel":"LV1B","part_int":1,"ephFile":"04FEB20023303-M1BS-057114153010_01_P001.EPH","bucketPrefix":"057114153010_01_003/057114153010_01/057114153010_01_P001_MUL"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1010010002B93F00_P001_MUL_057114153010","text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1010010002B93F00+AND+attributes.colorInterpretation%3APAN&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[125.12438616,40.70272049],[125.38608166,40.67512844],[125.38589111,40.5266194],[125.1259341,40.55142738],[125.12438616,40.70272049]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["7b216bd9-6523-4ca9-aa3b-1d8a5994f054"],"users":["acquisitionsvc"]},"item_date":"2004-02-20T02:33:12.462Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","QB02"],"format":null,"ingest_date":"2017-10-12T18:50:11.063Z","source":null,"name":null,"attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2004-02-20T02:33:12.462Z","bucketName":"idaho-images","numBands_int":1,"sunAzimuth_dbl":155.9,"nativeTileFileFormat":"PNG","colorInterpretation":"PAN","cloudCover_int":-99900,"idahoImageId":"891880ac-23cf-4130-bc77-9fd8b7ad25df","satAzimuth_dbl":302.0,"satElevation_dbl":57.9,"pniirs_dbl":4.4,"numYTiles_int":22,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":35.2,"platformName":"QUICKBIRD02","imageHeight_int":22452,"numXTiles_int":27,"sensorPlatformName":"QUICKBIRD02","sensorName":"Panchromatic","dataType":"UNSIGNED_SHORT","imageWidth_int":27552,"tileXSize_int":1024,"tileYSize_int":1024,"offNadirAngle_dbl":29.9,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"1010010002B93F00","vendorDatasetIdentifier":"LV1B:057114153010_01_P005:1010010002B93F00:A0100103019CE700","groundSampleDistanceMeters_dbl":0.776},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"891880ac-23cf-4130-bc77-9fd8b7ad25df","text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[125.12638962,41.03282206],[125.38589218,41.00216386],[125.3831518,40.85354291],[125.12561187,40.88128608],[125.12638962,41.03282206]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["7b[...]
[...]
- request:
    body: !!python/unicode '{"edges": [{"destination": "e4a06e6f-7a67-5672-8ade-140d1a39ba57",
      "id": "386713f4-796d-5195-a3ea-db66167a5ac2", "index": 1, "source": "a5444954-9fa2-5c67-87d7-faaa7b5bbc91"},
      {"destination": "e4a06e6f-7a67-5672-8ade-140d1a39ba57", "id": "13c4aa61-ef71-507a-a8ac-7bbb44e87186",
      "index": 2, "source": "72705f81-4d81-5a3b-95bf-42bc0f33c71a"}, {"destination":
      "e4a06e6f-7a67-5672-8ade-140d1a39ba57", "id": "23ae382d-9db0-5172-8d9b-67b0852f31b0",
      "index": 3, "source": "d8b80a2e-a909-5d0b-bccc-9275d00e10ed"}, {"destination":
      "e4a06e6f-7a67-5672-8ade-140d1a39ba57", "id": "057fcdc5-18ee-5622-922[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/56fe9ab80411447eece8c22a319411c47d5f6f16884851ab3eda66267047a006/e4a06e6f-7a67-5672-8ade-140d1a39ba57/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"37f1fa07-1af6-4a67-96fb-0e9830ca5eee","version":"1.0","profileName":"dg_1b","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":155,"numYTiles":587,"tileXSize":256,"tileYSize":256,"numBands":1,"dataType":"UNSIGNED_SHORT","imageHeight":150114,"imageWidth":39560,"sensorPlatformName":"QB02","sensorName":"Panchromatic","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:057114153010_01_P003:1010010002B93F00:A010010301A30D00","acquisitionDate":"2004-02-20T02:33:07.723Z","colorInterpretation":"PAN","imageBoundsWGS84":"POLYGON
        ((125.1235482 41.13525635, 125.39789530743802 41.13525635, 125.39789530743802
        40.094221423661516, 125.1235482 40.094221423661516, 125.1235482 41.13525635))","groundSampleDistanceMeters":0.774,"minX":0,"minY":0,"maxX":39559,"maxY":150113,"minTileX":0,"minTileY":0,"maxTileX":154,"maxTileY":586,"sunAzimuth":155.9,"sunElevation":35.0,"satAzimuth":304.7,"satElevation":58.1,"cloudCover":-999.0,"offNadirAngle":29.7,"pniirs":4.4},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":6.934962270930651E-6,"scaleY":-6.934962270930651E-6,"translateX":125.1235482,"translateY":41.13525635,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":125.12429486,"y":40.92319574},"upperRightCorner":{"x":125.38372044,"y":40.8939016},"lowerRightCorner":{"x":125.38490971,"y":40.74376688},"lowerLeftCorner":{"x":125.1235482,"y":40.77212658},"gsd":6.952928494430471E-6,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":11223.0,"sampleOffset":13775.0,"latOffset":40.8334,"lonOffset":125.2543,"heightOffset":461.0,"lineScale":11224.0,"sampleScale":13776.0,"latScale":0.0911,"lonScale":0.1334,"heightScale":501.0,"lineNumCoefs":[-0.00270845,-0.1951562,-1.211361,0.0168795,-0.001757971,6.14008E-5,1.397429E-4,-0.001747858,0.002125051,-3.544667E-6,4.278671E-7,-2.571481E-6,3.586436E-5,1.753213E-6,1.015884E-5,2.572653E-5,1.097552E-5,3.5702E-7,-7.815448E-7,-1.539451E-7],"lineDenCoefs":[1.0,-0.003000254,-0.001061449,2.27175E-4,3.462466E-5,2.626024E-7,-8.041655E-7,-1.254826E-5,3.570201E-5,-9.13966E-6,-6.421496E-7,2.686159E-7,2.066862E-5,4.653718E-8,3.772089E-6,4.32518E-5,2.279555E-8,-4.783981E-8,-1.984733E-6,0.0],"sampleNumCoefs":[0.01089502,1.026099,-9.403786E-4,0.02336269,0.001236729,1.880872E-4,-2.851107E-4,-0.0106074,-0.001175957,1.402581E-5,1.343204E-6,1.011332E-4,-7.42093E-5,-2.273158E-5,3.922726E-5,-1.085855E-4,-1.61854E-7,-6.529669E-6,5.383967E-6,-5.120184E-7],"sampleDenCoefs":[1.0,-2.976189E-4,-0.001254109,-4.483457E-4,-3.658608E-5,6.725742E-6,-9.615634E-6,-7.845022E-6,5.562158E-5,-2.227558E-5,-1.135425E-7,8.330802E-7,1.752435E-6,-2.109506E-7,1.784472E-6,1.086477E-6,6.453064E-8,-1.884238E-7,-7.649599E-8,2.00759E-8]},"histogram":{"histograms":{"0":[0,11,1,1,2,1,1,0,0,0,1,0,0,0,1,1,2,0,2,0,0,1,0,2,0,2,0,1,1,0,2,0,1,1,1,3,3,3,1,2,2,3,3,2,2,4,2,1,4,1,1,2,1,3,3,0,6,7,8,3,4,5,3,4,3,6,6,3,12,2,8,8,8,12,16,10,9,9,13,12,15,22,13,18,18,19,14,27,19,24,27,30,19,28,40,28,37,44,56,48,55,64,52,67,74,66,76,93,86,105,116,126,123,134,163,184,181,217,254,259,265,314,333,381,467,470,525,616,669,790,923,1016,1162,1384,1606,1746,2080,2288,2716,3067,3575,3955,4488,5250,5960,6731,7778,8742,9781,10938,12223,13736,15130,16889,18712,20756,22952,25621,27724,30[...]
