interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+%28attributes.catalogID%3A104001002838EC00+OR+id%3A104001002838EC00%29+AND+NOT+item_type%3ADigitalGlobeAcquisition&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-85.82959724,10.30277905],[-85.68413321,10.32291966],[-85.68507931,10.19186139],[-85.82950676,10.17293912],[-85.82959724,10.30277905]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-02-07T16:45:13.539Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV03_VNIR"],"name":null,"format":null,"ingest_date":"2018-06-29T01:58:13.409Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2017-02-07T16:45:13.539Z","bucketName":"rda-images-1","numBands_int":1,"sunAzimuth_dbl":144.5,"nativeTileFileFormat":"PNG","colorInterpretation":"PAN","cloudCover_int":0,"idahoImageId":"d6cf7846-20b5-4a79-bc40-a95fd9fbb919","satAzimuth_dbl":223.5,"satElevation_dbl":60.4,"pniirs_dbl":5.4,"numYTiles_int":38,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":59.1,"platformName":"WORLDVIEW03_VNIR","imageHeight_int":38408,"numXTiles_int":42,"sensorPlatformName":"WORLDVIEW03_VNIR","sensorName":"Panchromatic","dataType":"UNSIGNED_SHORT","imageWidth_int":42500,"tileXSize_int":0,"tileYSize_int":0,"offNadirAngle_dbl":26.7,"tileBucketName":"rda-images-1","vendorName":"DigitalGlobe,
        Inc.","version":"1.1","tileYOffset_int":0,"catalogID":"104001002838EC00","vendorDatasetIdentifier":"LV1B:058116120010_01_P008:104001002838EC00:A01001038C188400","groundSampleDistanceMeters_dbl":0.377},"ingest_attributes":{"_rest_user":"idahosvc@digitalglobe.com","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"d6cf7846-20b5-4a79-bc40-a95fd9fbb919","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"edges": [{"destination": "f852bd1c-fe26-5531-b86d-1e0ba7d9aaa0",
      "id": "3a920516-1bf7-5660-a38c-27a6eb031c17", "index": 1, "source": "5d9d705a-191d-55db-9d39-6ecd033fd08a"}],
      "nodes": [{"id": "f852bd1c-fe26-5531-b86d-1e0ba7d9aaa0", "operator": "Format",
      "parameters": {"dataType": "4"}}, {"id": "5d9d705a-191d-55db-9d39-6ecd033fd08a",
      "operator": "DigitalGlobeStrip", "parameters": {"CRS": "EPSG:4326", "GSD": "null",
      "bands": "MS", "catId": "104001002838EC00", "correctionType": "ACOMP", "fallbackToTOA":
      "true"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode 82e5a107f2764f3948a13833acb88119567d91f47786b0c171bcacc74946c160}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/82e5a107f2764f3948a13833acb88119567d91f47786b0c171bcacc74946c160/f852bd1c-fe26-5531-b86d-1e0ba7d9aaa0/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"db6c2a28-488a-4355-a8f7-5e8e13e15213","version":1.1,"profileName":"georectified_image","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":43,"numYTiles":311,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"FLOAT","imageHeight":79387,"imageWidth":10890,"sensorPlatformName":"WV03","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:058116120010_01_P001:104001002838EC00:A01001038C186C00","acquisitionDate":"2017-02-07T16:45:03.042Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-85.82997948 11.03403918, -85.68343600173914 11.03403918, -85.68343600173914
        9.965752025849802, -85.82997948 9.965752025849802, -85.82997948 11.03403918))","groundSampleDistanceMeters":1.498,"minX":0,"minY":0,"maxX":10889,"maxY":79386,"minTileX":0,"minTileY":0,"maxTileX":42,"maxTileY":310,"sunAzimuth":145.1,"sunElevation":58.5,"satAzimuth":220.5,"satElevation":60.7,"cloudCover":0.0,"offNadirAngle":26.4,"sensorAlias":"WV03_MULTI","absoluteCalibrationFactors":[0.0143287,0.0176201,0.0133187,0.00684307,0.0102,0.00621996,0.0117971,0.0106378],"effectiveBandwidths":[0.0405,0.054,0.0618,0.0381,0.0585,0.0387,0.1004,0.0889],"tdiLevels":[24.0,14.0,14.0,24.0,14.0,24.0,14.0,24.0],"bandAliases":["C","B","G","Y","R","RE","N","N2"],"pniirs":3.4},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":1.3456701401365433E-5,"scaleY":-1.3456701401365433E-5,"translateX":-85.82997948,"translateY":11.03403918,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,0,0,0,0,0,0,1,0,2,3,6,32,60,154,355,559,945,1452,2083,3423,4946,6743,9464,12350,16511,21511,28744,37714,48583,59458,75571,90551,114483,135853,162820,191357,226386,270043,318380,365688,433659,489861,565663,643036,772045,907985,1047952,1068327,1428865,1204580,1998227,1550172,2519507,3071072,2212464,3482419,2513267,3847168,2454697,3548484,2470524,1917730,1981482,1310196,1541430,1037349,1179052,888049,925746,735202,717106,642793,604426,555968,516708,494152,461402,443908,418200,400602,380595,[...]
