interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A104001002838EC00&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-85.82930142673992,10.61232163010509],[-85.68430690211953,10.63202914746609],[-85.68441104302723,10.50172236215794],[-85.8294093844424,10.48216396004404],[-85.82930142673992,10.61232163010509]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-02-07T16:45:08.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","WV03_VNIR","DigitalGlobeProduct","1BProduct"],"name":null,"format":null,"ingest_date":"2017-04-15T23:22:42.741Z","attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":144.8,"bands":"Multi","xmlFile":"17FEB07164508-M1BS-056165420010_01_P005.XML","browseJpgFile":"17FEB07164508-M1BS-056165420010_01_P005-BROWSE.JPG","cloudCover_int":0,"imdFile":"17FEB07164508-M1BS-056165420010_01_P005.IMD","attFile":"17FEB07164508-M1BS-056165420010_01_P005.ATT","resolution_dbl":1.503,"bandsList":"BAND_C,BAND_B,BAND_G,BAND_Y,BAND_R,BAND_RE,BAND_N,BAND_N2","geoFile":"17FEB07164508-M1BS-056165420010_01_P005.GEO","imageFile":"17FEB07164508-M1BS-056165420010_01_P005.TIF","vendor":"DigitalGlobe","sunElevation_dbl":58.8,"platformName":"WORLDVIEW03_VNIR","tilFile":"17FEB07164508-M1BS-056165420010_01_P005.TIL","sensorPlatformName":"WORLDVIEW03_VNIR","readmeTxtFile":"17FEB07164508-M1BS-056165420010_01_P005_README.TXT","rpbFile":"17FEB07164508-M1BS-056165420010_01_P005.RPB","offNadirAngle_dbl":26.6,"soli":"056165420","catalogID":"104001002838EC00","productLevel":"LV1B","part_int":5,"ephFile":"17FEB07164508-M1BS-056165420010_01_P005.EPH","bucketPrefix":"056165420010_01_003/056165420010_01/056165420010_01_P005_MUL"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"104001002838EC00_P005_MUL_056165420010","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A104001002838EC00+AND+attributes.colorInterpretation%3AWORLDVIEW_8_BAND&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-85.82977031,10.30275313],[-85.68396602,10.3229359],[-85.68491035,10.19188948],[-85.82968334,10.17291976],[-85.82977031,10.30275313]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-02-07T16:45:13.540Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV03_VNIR"],"name":null,"format":null,"ingest_date":"2017-06-15T17:05:55.755Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2017-02-07T16:45:13.540Z","bucketName":"idaho-images","numBands_int":8,"sunAzimuth_dbl":144.5,"nativeTileFileFormat":"TIF","colorInterpretation":"WORLDVIEW_8_BAND","cloudCover_int":0,"idahoImageId":"50942a6f-8765-468d-8dd8-c4f4f20bec73","satAzimuth_dbl":223.5,"satElevation_dbl":60.3,"pniirs_dbl":3.4,"numYTiles_int":38,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":59.1,"platformName":"WORLDVIEW03_VNIR","imageHeight_int":9602,"numXTiles_int":42,"sensorPlatformName":"WORLDVIEW03_VNIR","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":10651,"tileXSize_int":256,"tileYSize_int":256,"offNadirAngle_dbl":26.7,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"104001002838EC00","vendorDatasetIdentifier":"LV1B:056165420010_01_P008:104001002838EC00:A01001025E728600","groundSampleDistanceMeters_dbl":1.507},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"50942a6f-8765-468d-8dd8-c4f4f20bec73","source":null,"text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-85.82920591,10.71548045],[-85.68433263,10.7351781],[-85.6841903,10.60513388],[-85.8293217,10.58531315],[-85.82920591,10.71548045]]]]},"properties":{"ingest_source":"GBDX_INGEST_AL[...]
