interactions:
- request:
    body: !!python/unicode '{"startDate": "2008-01-01T00:00:00.000Z", "filters": ["(sensorPlatformName
      = ''WORLDVIEW01'' OR sensorPlatformName =''QUICKBIRD02'')", "cloudCover < 10",
      "offNadirAngle < 10"], "endDate": "2012-01-03T00:00:00.000Z", "types": ["Acquisition"],
      "searchAreaWkt": "POLYGON((29.9 10.1, 30.1 10.1, 30.1 9.9, 29.9 9.9, 29.9 10.1))"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://geobigdata.io/catalog/v2/search?includeRelationships=false
  response:
    body: {string: !!python/unicode '{"stats": {"recordsReturned": 4, "totalRecords":
        4, "typeCounts": {"GBDXCatalogRecord": 4, "DigitalGlobeAcquisition": 4, "WV01":
        1, "Acquisition": 4, "QB02": 3}}, "results": [{"identifier": "101001000E823000",
        "type": ["GBDXCatalogRecord", "Acquisition", "DigitalGlobeAcquisition", "QB02"],
        "properties": {"bearing": 179.999998471117, "offNadirAngle_min": 3.13494205474854,
        "offNadirAngle_start": 8.71535491943359, "targetAzimuth_min": 228.226593017578,
        "multiResolution_min": 2.56798148155212, "cloudCover": 0, "sunAzimuth_max":
        139.551391601562, "targetAzimuth": 261.009613037109, "multiResolution": 2.58073306083679,
        "catalogID": "101001000E823000", "panResolution_max": 0.654562771320343, "timestamp":
        "2011-11-23T08:00:05.000Z", "sunAzimuth_min": 139.551391601562, "browseURL":
        "https://geobigdata.io/thumbnails/v1/browse/101001000E823000.large.png", "targetAzimuth_max":
        314.963989257812, "sunAzimuth": 139.551391601562, "sunElevation_min": 49.7296676635742,
        "offNadirAngle": 5.04430866241455, "stereoPair": null, "platformName": "QUICKBIRD02",
        "multiResolution_start": 2.61212921142578, "sunElevation": 49.7296676635742,
        "vendor": "DigitalGlobe", "scanDirection": "Forward", "panResolution_end":
        0.64328920841217, "panResolution_start": 0.654562771320343, "targetAzimuth_end":
        314.963989257812, "panResolution_min": 0.643248200416565, "offNadirAngle_max":
        8.71535491943359, "multiResolution_end": 2.56827521324158, "multiResolution_max":
        2.61212921142578, "sunElevation_max": 49.7296676635742, "offNadirAngle_end":
        3.24465227127075, "panResolution": 0.646541237831116, "footprintWkt": "MULTIPOLYGON(((29.84210507
        10.97648728, 30.00518512 10.97847419, 30.00474236 10.91967206, 30.00431842
        10.86098816, 30.00404783 10.8025132, 30.00397777 10.74423663, 30.00387187
        10.68597409, 30.00384228 10.62783587, 30.00381262 10.56976897, 30.00384146
        10.51177734, 30.00388282 10.45384126, 30.00393811 10.3959792, 30.00400593
        10.33816966, 30.00404989 10.2803798, 30.00412926 10.22262369, 30.00419117
        10.16485824, 30.00424862 10.10709734, 30.00431969 10.04934547, 30.00438224
        9.991580222, 30.0044077 9.964635185, 29.84461433 9.96503136, 29.84457209 9.991919591,
        29.84446222 10.04960649, 29.84432133 10.10727471, 29.84417367 10.1649448,
        29.84400474 10.22261057, 29.84381708 10.2802586, 29.84362342 10.33793221,
        29.84340499 10.39562201, 29.8431768 10.45335524, 29.84293875 10.51115384,
        29.84269984 10.56900028, 29.84248768 10.62690558, 29.84229824 10.68489912,
        29.84207861 10.74294953, 29.84194369 10.80111568, 29.84189814 10.85939597,
        29.84199519 10.91788032, 29.84210507 10.97648728)))", "targetAzimuth_start":
        228.226593017578, "imageBands": "PAN_MS1", "sensorPlatformName": "QUICKBIRD02"}},
        {"identifier": "10100100078B6F00", "type": ["GBDXCatalogRecord", "Acquisition",
        "DigitalGlobeAcquisition", "QB02"], "properties": {"bearing": 180.0, "offNadirAngle_min":
        4.82015514373779, "offNadirAngle_start": 14.1519737243652, "targetAzimuth_min":
        58.607234954834, "multiResolution_min": 2.5621702671051, "cloudCover": 0,
        "sunAzimuth_max": 152.219699257298, "targetAzimuth": 133.643476787366, "multiResolution":
        2.5621702671051, "ca[...]
