interactions:
- request:
    body: '["10400100120FEA00"]'
    headers:
    method: POST
    uri: https://geobigdata.io/orders/v2/order/
  response:
    body: {string: !!python/unicode '{"order_id": "c5cd8157-3001-4a03-a716-4ef673748c7a",
        "acquisitions": [{"acquisition_id": "10400100120FEA00", "state": "delivered",
        "location": "s3://bucket/prefix"}]}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [77824d9d-f8e7-11e5-9bb8-352d050ed02a]
    status: {code: 200, message: OK}
version: 1
