interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1010010002B93F00+AND+NOT+item_type%3AIDAHOImage+AND+NOT+item_type%3ADigitalGlobeAcquisition&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[125.1242948567494,40.92319574494742],[125.3837204435143,40.89390159965966],[125.38490970779,40.74376688210813],[125.1235481955323,40.77212657803891],[125.1242948567494,40.92319574494742]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2004-02-20T02:33:07.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","QB02","DigitalGlobeProduct","1BProduct"],"name":null,"format":null,"ingest_date":"2017-10-16T22:56:26.778Z","attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":155.9,"bands":"P","xmlFile":"04FEB20023307-P1BS-057114153010_01_P003.XML","browseJpgFile":"04FEB20023307-P1BS-057114153010_01_P003-BROWSE.JPG","cloudCover_int":-999,"imdFile":"04FEB20023307-P1BS-057114153010_01_P003.IMD","attFile":"04FEB20023307-P1BS-057114153010_01_P003.ATT","resolution_dbl":0.774,"bandsList":"BAND_P","geoFile":"04FEB20023307-P1BS-057114153010_01_P003.GEO","imageFile":"04FEB20023307-P1BS-057114153010_01_P003.TIF","vendor":"DigitalGlobe","sunElevation_dbl":35.0,"platformName":"QUICKBIRD02","tilFile":"04FEB20023307-P1BS-057114153010_01_P003.TIL","sensorPlatformName":"QUICKBIRD02","readmeTxtFile":"04FEB20023307-P1BS-057114153010_01_P003_README.TXT","rpbFile":"04FEB20023307-P1BS-057114153010_01_P003.RPB","offNadirAngle_dbl":29.7,"soli":"057114153","catalogID":"1010010002B93F00","productLevel":"LV1B","part_int":3,"ephFile":"04FEB20023307-P1BS-057114153010_01_P003.EPH","bucketPrefix":"057114153010_01_003/057114153010_01/057114153010_01_P003_PAN"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1010010002B93F00_P003_PAN_057114153010","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1010010002B93F00+AND+attributes.colorInterpretation%3APAN&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[125.12438616,40.70272049],[125.38608166,40.67512844],[125.38589111,40.5266194],[125.1259341,40.55142738],[125.12438616,40.70272049]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2004-02-20T02:33:12.462Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","QB02"],"name":null,"format":null,"ingest_date":"2017-10-12T18:50:11.063Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2004-02-20T02:33:12.462Z","bucketName":"idaho-images","numBands_int":1,"sunAzimuth_dbl":155.9,"nativeTileFileFormat":"PNG","colorInterpretation":"PAN","cloudCover_int":-99900,"idahoImageId":"891880ac-23cf-4130-bc77-9fd8b7ad25df","satAzimuth_dbl":302.0,"satElevation_dbl":57.9,"pniirs_dbl":4.4,"numYTiles_int":22,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":35.2,"platformName":"QUICKBIRD02","imageHeight_int":22452,"numXTiles_int":27,"sensorPlatformName":"QUICKBIRD02","sensorName":"Panchromatic","dataType":"UNSIGNED_SHORT","imageWidth_int":27552,"tileXSize_int":1024,"tileYSize_int":1024,"offNadirAngle_dbl":29.9,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"1010010002B93F00","vendorDatasetIdentifier":"LV1B:057114153010_01_P005:1010010002B93F00:A0100103019CE700","groundSampleDistanceMeters_dbl":0.776},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"891880ac-23cf-4130-bc77-9fd8b7ad25df","source":null,"text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[125.12638962,41.03282206],[125.38589218,41.00216386],[125.3831518,40.85354291],[125.12561187,40.88128608],[125.12638962,41.03282206]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_dat[...]
[...]
- request:
    body: !!python/unicode '{"edges": [{"destination": "daa232c5-e927-5160-a998-5fbc987525ad",
      "id": "f8efcff3-7261-5a85-b678-0f6eafe401e3", "index": 1, "source": "99db6692-e349-5a8d-9c28-04da85478cac"},
      {"destination": "daa232c5-e927-5160-a998-5fbc987525ad", "id": "02124924-50fc-587d-960a-55450a0dd2d1",
      "index": 2, "source": "2382496a-a36e-5338-95d6-cdcab065192a"}, {"destination":
      "daa232c5-e927-5160-a998-5fbc987525ad", "id": "b73e482f-174f-5c45-a681-0608199eddb6",
      "index": 3, "source": "50363dab-e2c8-5d4d-97b0-4e328324442d"}, {"destination":
      "daa232c5-e927-5160-a998-5fbc987525ad", "id": "d6c69d5a-910f-50b4-a5c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/01571a0a10a665e8ac64e113f9c3e058b7045a71f144594d99c4b466689f6678/daa232c5-e927-5160-a998-5fbc987525ad/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"37f1fa07-1af6-4a67-96fb-0e9830ca5eee","version":1.0,"profileName":"georectified_image","tileBucketName":"idaho-images","tilePartition":"0000","nativeTileFileFormat":"PNG","tileXOffset":0,"tileYOffset":0,"numXTiles":39,"numYTiles":147,"tileXSize":1024,"tileYSize":1024,"numBands":1,"dataType":"UNSIGNED_SHORT","imageHeight":150114,"imageWidth":39560,"sensorPlatformName":"QB02","sensorName":"Panchromatic","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:057114153010_01_P003:1010010002B93F00:A010010301A30D00","acquisitionDate":"2004-02-20T02:33:07.723Z","colorInterpretation":"PAN","imageBoundsWGS84":"POLYGON
        ((125.1235482 41.13525635, 125.39789530743802 41.13525635, 125.39789530743802
        40.094221423661516, 125.1235482 40.094221423661516, 125.1235482 41.13525635))","groundSampleDistanceMeters":0.774,"minX":0,"minY":0,"maxX":39559,"maxY":150113,"minTileX":0,"minTileY":0,"maxTileX":38,"maxTileY":146,"sunAzimuth":155.9,"sunElevation":35.0,"satAzimuth":304.7,"satElevation":58.1,"cloudCover":-999.0,"offNadirAngle":29.7,"pniirs":4.4},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":6.934962270930651E-6,"scaleY":-6.934962270930651E-6,"translateX":125.1235482,"translateY":41.13525635,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":125.12429486,"y":40.92319574},"upperRightCorner":{"x":125.38372044,"y":40.8939016},"lowerRightCorner":{"x":125.38490971,"y":40.74376688},"lowerLeftCorner":{"x":125.1235482,"y":40.77212658},"gsd":6.952928494430471E-6,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":11223.0,"sampleOffset":13775.0,"latOffset":40.8334,"lonOffset":125.2543,"heightOffset":461.0,"lineScale":11224.0,"sampleScale":13776.0,"latScale":0.0911,"lonScale":0.1334,"heightScale":501.0,"lineNumCoefs":[-0.00270845,-0.1951562,-1.211361,0.0168795,-0.001757971,6.14008E-5,1.397429E-4,-0.001747858,0.002125051,-3.544667E-6,4.278671E-7,-2.571481E-6,3.586436E-5,1.753213E-6,1.015884E-5,2.572653E-5,1.097552E-5,3.5702E-7,-7.815448E-7,-1.539451E-7],"lineDenCoefs":[1.0,-0.003000254,-0.001061449,2.27175E-4,3.462466E-5,2.626024E-7,-8.041655E-7,-1.254826E-5,3.570201E-5,-9.13966E-6,-6.421496E-7,2.686159E-7,2.066862E-5,4.653718E-8,3.772089E-6,4.32518E-5,2.279555E-8,-4.783981E-8,-1.984733E-6,0.0],"sampleNumCoefs":[0.01089502,1.026099,-9.403786E-4,0.02336269,0.001236729,1.880872E-4,-2.851107E-4,-0.0106074,-0.001175957,1.402581E-5,1.343204E-6,1.011332E-4,-7.42093E-5,-2.273158E-5,3.922726E-5,-1.085855E-4,-1.61854E-7,-6.529669E-6,5.383967E-6,-5.120184E-7],"sampleDenCoefs":[1.0,-2.976189E-4,-0.001254109,-4.483457E-4,-3.658608E-5,6.725742E-6,-9.615634E-6,-7.845022E-6,5.562158E-5,-2.227558E-5,-1.135425E-7,8.330802E-7,1.752435E-6,-2.109506E-7,1.784472E-6,1.086477E-6,6.453064E-8,-1.884238E-7,-7.649599E-8,2.00759E-8]},"histogram":{"histograms":{"0":[0,1063,10,2,4,5,7,3,3,4,5,3,2,8,1,2,5,4,5,3,1,2,6,7,3,3,3,2,5,3,7,6,1,6,3,7,7,11,5,5,8,8,10,11,5,15,13,7,9,5,3,13,8,10,10,9,14,17,18,18,12,18,21,16,14,23,24,28,36,21,28,22,34,28,38,34,47,31,39,36,38,58,52,57,60,56,57,62,70,75,97,106,77,92,111,93,130,127,150,174,176,196,188,227,262,254,288,346,382,404,466,531,587,644,735,921,1058,1285,1492,1709,2020,2323,2701,3238,3921,4535,5216,6336,7300,8558,9734,11320,13054,14999,17197,19448,22184,24893,27965,31193,35018,38588,42602,46797,51933,56488,618[...]
