interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geobigdata.io/orders/v2/order/c5cd8157-3001-4a03-a716-4ef673748c7a
  response:
    body: {string: !!python/unicode '{"order_id": "c5cd8157-3001-4a03-a716-4ef673748c7a",
        "acquisitions": [{"acquisition_id": "10400100120FEA00", "state": "delivered",
        "location": "s3://bucketname/prefixname"}]}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [9564cb02-f8e8-11e5-892f-d554c4212b14]
    status: {code: 200, message: OK}
version: 1
