interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=25.0&lower=24.0&right=18.0&q=item_type%3AWV02&left=17.0
  response:
    body:
      string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[17.13868542,25.03594608],[17.3248864,25.02059203],[17.32495621,24.96982266],[17.32510251,24.91876135],[17.32520777,24.86759617],[17.32533848,24.81631748],[17.32545805,24.7649499],[17.32552987,24.71347315],[17.3255365,24.66173281],[17.32563609,24.60997024],[17.3256891,24.55805315],[17.32581558,24.50595179],[17.32591919,24.47446298],[17.13724676,24.49247262],[17.13731786,24.5238097],[17.13742628,24.57566739],[17.1376093,24.62732983],[17.13774275,24.67883811],[17.13796263,24.73033825],[17.1381354,24.78152467],[17.13829497,24.83256415],[17.13836854,24.88362727],[17.13846691,24.93459701],[17.1385984,24.98532285],[17.13868542,25.03594608]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2009-12-25T09:47:45.576Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","Acquisition","DigitalGlobeAcquisition","WV02"],"name":null,"format":null,"ingest_date":"2017-04-11T21:05:13.447Z","attributes":{"sunAzimuth_dbl":161.023468017578,"targetAzimuth_start_dbl":150.030548095703,"stereoPair":null,"cloudCover_int":0,"offNadirAngle_end_dbl":25.9078350067139,"scanDirection":"Forward","vendor":"DigitalGlobe","panResolution_end_dbl":0.561886847019196,"sunElevation_dbl":39.6108551025391,"imageBands":"PAN_MS1_MS2","platformName":"WORLDVIEW02","targetAzimuth_end_dbl":150.796493530273,"multiResolution_max_dbl":2.24955916404724,"offNadirAngle_min_dbl":24.2641429901123,"offNadirAngle_start_dbl":24.2641429901123,"sensorPlatformName":"WORLDVIEW02","browseURL":"https://api.discover.digitalglobe.com/show?id=1030010003502C00&f=jpeg","multiResolution_min_dbl":2.19245791435242,"offNadirAngle_max_dbl":25.9078350067139,"multiResolution_start_dbl":2.19245791435242,"offNadirAngle_dbl":25.0966625213623,"targetAzimuth_min_dbl":150.030548095703,"sunElevation_max_dbl":39.8809661865234,"panResolution_min_dbl":0.547668099403381,"catalogID":"1030010003502C00","sunAzimuth_max_dbl":161.087860107422,"panResolution_dbl":0.554554462432861,"panResolution_start_dbl":0.547668099403381,"sunAzimuth_min_dbl":160.959976196289,"targetAzimuth_max_dbl":150.796493530273,"multiResolution_end_dbl":2.24955916404724,"sunElevation_min_dbl":39.3336791992188,"multiResolution_dbl":2.22011423110962,"panResolution_max_dbl":0.561886847019196,"targetAzimuth_dbl":150.418212890625},"ingest_attributes":{"_rest_user":"acquisition-gbdx-support@digitalglobe.com","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1030010003502C00","source":null,"text":""}}]'
    headers:
      content-type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
