interactions:
- request:
    body: '{"type": "Polygon", "coordinates": [[[-76.65, 40.1], [-76.65, 40.14], [-76.55,
      40.14], [-76.55, 40.1], [-76.65, 40.1]]]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vector.geobigdata.io/insight-vector/api/index/aggregation/vector-gbdx-alpha-catalog-v2-*?count=10&aggs=terms%3Aitem_type
  response:
    body:
      string: '{"responseDate":"2019-12-04T22:08:06.399Z","geom":{"type":"Polygon","coordinates":[[[-76.65,40.1],[-76.65,40.14],[-76.55,40.14],[-76.55,40.1],[-76.65,40.1]]]},"query":null,"startDate":null,"endDate":null,"totalItems":1233,"aggregations":[{"name":"terms:item_type","terms":[{"term":"GBDXCatalogRecord","count":1233,"aggregations":null},{"term":"ESAProduct","count":591,"aggregations":null},{"term":"Acquisition","count":471,"aggregations":null},{"term":"SENTINEL2","count":420,"aggregations":null},{"term":"Landsat8","count":340,"aggregations":null},{"term":"LandsatAcquisition","count":340,"aggregations":null},{"term":"SENTINEL1","count":171,"aggregations":null},{"term":"DigitalGlobeAcquisition","count":100,"aggregations":null},{"term":"DigitalGlobeProduct","count":92,"aggregations":null},{"term":"IDAHOImage","count":62,"aggregations":null}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
