interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1010010002B93F00&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[125.1242948567494,40.92319574494742],[125.3837204435143,40.89390159965966],[125.38490970779,40.74376688210813],[125.1235481955323,40.77212657803891],[125.1242948567494,40.92319574494742]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2004-02-20T02:33:07.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","QB02","DigitalGlobeProduct","1BProduct"],"name":null,"format":null,"ingest_date":"2017-10-16T22:56:26.778Z","attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":155.9,"bands":"P","xmlFile":"04FEB20023307-P1BS-057114153010_01_P003.XML","browseJpgFile":"04FEB20023307-P1BS-057114153010_01_P003-BROWSE.JPG","cloudCover_int":-999,"imdFile":"04FEB20023307-P1BS-057114153010_01_P003.IMD","attFile":"04FEB20023307-P1BS-057114153010_01_P003.ATT","resolution_dbl":0.774,"bandsList":"BAND_P","geoFile":"04FEB20023307-P1BS-057114153010_01_P003.GEO","imageFile":"04FEB20023307-P1BS-057114153010_01_P003.TIF","vendor":"DigitalGlobe","sunElevation_dbl":35.0,"platformName":"QUICKBIRD02","tilFile":"04FEB20023307-P1BS-057114153010_01_P003.TIL","sensorPlatformName":"QUICKBIRD02","readmeTxtFile":"04FEB20023307-P1BS-057114153010_01_P003_README.TXT","rpbFile":"04FEB20023307-P1BS-057114153010_01_P003.RPB","offNadirAngle_dbl":29.7,"soli":"057114153","catalogID":"1010010002B93F00","productLevel":"LV1B","part_int":3,"ephFile":"04FEB20023307-P1BS-057114153010_01_P003.EPH","bucketPrefix":"057114153010_01_003/057114153010_01/057114153010_01_P003_PAN"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1010010002B93F00_P003_PAN_057114153010","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"edges": [{"destination": "766cd76f-66b1-57c1-8005-b629c582f477",
      "id": "8325e4cb-59b1-593d-8276-1fffbf2403a7", "index": 1, "source": "b7f2b1ff-7bcf-586b-9606-03b770ef1543"}],
      "nodes": [{"id": "766cd76f-66b1-57c1-8005-b629c582f477", "operator": "Format",
      "parameters": {"dataType": "4"}}, {"id": "b7f2b1ff-7bcf-586b-9606-03b770ef1543",
      "operator": "DigitalGlobeStrip", "parameters": {"CRS": "EPSG:4326", "GSD": "null",
      "bands": "MS", "catId": "1010010002B93F00", "correctionType": "DN", "fallbackToTOA":
      "true"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode 6f03287f4114f2f494f4e62ccefcfb824a33407a1a0d0bb804cec44faf8d178b}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/6f03287f4114f2f494f4e62ccefcfb824a33407a1a0d0bb804cec44faf8d178b/766cd76f-66b1-57c1-8005-b629c582f477/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"3430c260-1996-45b5-834e-e5c663c06259","version":1.0,"profileName":"georectified_image","tileBucketName":"idaho-images","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":39,"numYTiles":147,"tileXSize":256,"tileYSize":256,"numBands":4,"dataType":"FLOAT","imageHeight":37521,"imageWidth":9851,"sensorPlatformName":"QB02","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","vendorName":"DigitalGlobe, Inc.","vendorDatasetIdentifier":"LV1B:057114153010_01_P001:1010010002B93F00:A010010301A33A00","acquisitionDate":"2004-02-20T02:33:03.177Z","colorInterpretation":"BGRN","imageBoundsWGS84":"POLYGON
        ((125.12409803 41.14436097, 125.39718629805606 41.14436097, 125.39718629805606
        40.10420820320158, 125.12409803 40.10420820320158, 125.12409803 41.14436097))","groundSampleDistanceMeters":3.086,"minX":0,"minY":0,"maxX":9850,"maxY":37520,"minTileX":0,"minTileY":0,"maxTileX":38,"maxTileY":146,"sunAzimuth":156.0,"sunElevation":34.8,"satAzimuth":306.8,"satElevation":58.4,"cloudCover":-999.0,"offNadirAngle":29.5,"pniirs":2.4},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":2.772188286022278E-5,"scaleY":-2.772188286022278E-5,"translateX":125.12409803,"translateY":41.14436097,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,1,0,2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2,1,1,0,1,4,1,2,3,3,3,1,2,3,1,0,2,5,5,2,3,6,10,11,8,10,11,12,10,16,21,20,33,21,40,42,59,81,109,130,204,288,328,440,540,703,907,1181,1570,1902,2472,3087,3803,4542,5639,6731,7956,9393,11536,13813,16278,18855,22020,25378,28812,33127,37302,42068,46985,52847,59181,66039,73765,81015,89674,98219,108528,119956,131180,146229,159620,174[...]
