interactions:
- request:
    body: '[{"geometry": {"type": "Polygon", "coordinates": [[[0.0, 3.0], [3.0, 3.0],
      [3.0, 0.0], [0.0, 0.0], [0.0, 3.0]]]}, "type": "Feature", "properties": {"item_type":
      "test_type_123", "ingest_source": "api", "attributes": {"attribute2": "something",
      "date": "2015-06-06", "attribute1": "nothing", "number": 6}}}]'
    headers:
    method: POST
    uri: https://vector.geobigdata.io/insight-vector/api/vectors
  response:
    body: {string: !!python/unicode '["/insight-vector/api/vector/vector-web-s/b1af66c3-2e41-4696-9924-6ab264336692"]'}
    headers:
      content-type: [application/json]
    status: {code: 201, message: Created}
version: 1
