interactions:
- request:
    body: !!python/unicode '{"startDate": null, "endDate": null, "types": ["Acquisition"],
      "searchAreaWkt": "POLYGON((-105.2705456 40.0149856, -105.2705456 40.0149856,
      -105.2705456 40.0149856, -105.2705456 40.0149856, -105.2705456 40.0149856))"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://geobigdata.io/catalog/v1/search?includeRelationships=false
  response:
    body: {string: !!python/unicode '{"searchTag":null,"results":[{"identifier":"101001000A2FA700","owner":"7b216bd9-6523-4ca9-aa3b-1d8a5994f054","type":"DigitalGlobeAcquisition","properties":{"sunElevation":"55.54284","ordered":"true","targetAzimuth":"346.6619","sensorPlatformName":"QUICKBIRD02","browseURL":"https://browse.digitalglobe.com/imagefinder/showBrowseMetadata?catalogId=101001000A2FA700","sunAzimuth":"150.9856","footprintWkt":"POLYGON
        ((-105.398568 40.613976, -105.37596 40.613976, -105.356376 40.613832, -105.33924
        40.613112, -105.309144 40.61268, -105.255864 40.611816, -105.19812 40.611528,
        -105.197832 40.578264, -105.198264 40.516632, -105.198552 40.35708, -105.19884
        39.987, -105.330888 39.987, -105.40404 39.987576, -105.404184 40.040712, -105.403752
        40.060008, -105.403608 40.160952, -105.40332 40.23252, -105.403032 40.25484,
        -105.402744 40.287096, -105.402744 40.324536, -105.402312 40.384008, -105.4026
        40.414968, -105.402456 40.423608, -105.402744 40.451544, -105.401736 40.486968,
        -105.40188 40.576824, -105.401304 40.613832, -105.398568 40.613976))","cloudCover":"92.0","multiResolution":"2.63475275","vendorName":"DigitalGlobe","offNadirAngle":"18.0","panResolution":"0.659010231","catalogID":"101001000A2FA700","imageBands":"Pan_MS1","timestamp":"2009-08-30T00:00:00.000Z"}},{"identifier":"102001001F29BC00","owner":"7b216bd9-6523-4ca9-aa3b-1d8a5994f054","type":"DigitalGlobeAcquisition","properties":{"sunElevation":"25.48549","ordered":"true","targetAzimuth":"212.53188","sensorPlatformName":"WORLDVIEW01","browseURL":"https://browse.digitalglobe.com/imagefinder/showBrowseMetadata?catalogId=102001001F29BC00","sunAzimuth":"161.43","footprintWkt":"POLYGON
        ((-105.185736 41.036616, -105.18516 41.036616, -105.185448 40.992984, -105.18559[...]
