interactions:
- request:
    body: !!python/unicode '{"startDate": "2008-01-01T00:00:00.000Z", "endDate": "2008-01-03T00:00:00.000Z",
      "types": ["Acquisition"], "searchAreaWkt": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://geobigdata.io/catalog/v2/search?includeRelationships=false
  response:
    body: {string: !!python/unicode '{"stats": {"recordsReturned": 643, "totalRecords":
        643, "typeCounts": {"DigitalGlobeAcquisition": 506, "WV01": 286, "GBDXCatalogRecord":
        643, "IKONOS": 137, "IKONOSAcquisition": 137, "Acquisition": 643, "QB02":
        220}}, "results": [{"identifier": "1020010001CC7F00", "type": ["GBDXCatalogRecord",
        "Acquisition", "DigitalGlobeAcquisition", "WV01"], "properties": {"bearing":
        180.0, "offNadirAngle_min": 24.549222946167, "offNadirAngle_start": 24.549222946167,
        "targetAzimuth_min": 40.470531463623, "multiResolution_min": 0.0, "cloudCover":
        10, "sunAzimuth_max": 156.551430838449, "targetAzimuth": 42.9131851196289,
        "multiResolution": 0.0, "catalogID": "1020010001CC7F00", "panResolution_max":
        0.586271286010742, "timestamp": "2008-01-02T07:07:56.000Z", "sunAzimuth_min":
        156.551430838449, "browseURL": "https://geobigdata.io/thumbnails/v1/browse/1020010001CC7F00.large.png",
        "targetAzimuth_max": 45.0596771240234, "sunAzimuth": 156.551430838449, "sunElevation_min":
        35.9764131818499, "offNadirAngle": 25.347887311663, "stereoPair": null, "platformName":
        "WORLDVIEW01", "multiResolution_start": 0.0, "sunElevation": 35.9764131818499,
        "vendor": "DigitalGlobe", "scanDirection": "Forward", "panResolution_end":
        0.586271286010742, "panResolution_start": 0.586271286010742, "targetAzimuth_end":
        45.0596771240234, "panResolution_min": 0.586271286010742, "offNadirAngle_max":
        26.0660018920898, "multiResolution_end": 0.0, "multiResolution_max": 0.0,
        "sunElevation_max": 35.9764131818499, "offNadirAngle_end": 26.0660018920898,
        "panResolution": 0.586271286010742, "footprintWkt": "MULTIPOLYGON(((53.32166393
        28.01854727, 53.52899607 28.03799499, 53.52874478 27.98505295, 53.53031618
        27.93377098, 53.53074656 27.88137932, 53.53077257 27.82857669, 53.52990713
        27.77492406, 53.53097485 27.72303563, 53.53085799 27.67002967, 53.53113587
        27.6173589, 53.53122747 27.56450016, 53.53077203 27.51113806, 53.53023022
        27.45768526, 53.53107735 27.40543992, 53.5305058 27.35192041, 53.53117646
        27.29945774, 53.53123065 27.24643404, 53.52928854 27.19167711, 53.52853689
        27.13792366, 53.53138281 27.0871831, 53.53127454 27.03391325, 53.53147376
        26.98087165, 53.53184802 26.97368255, 53.31867402 26.95066436, 53.31873042
        26.95820151, 53.31910615 27.01165412, 53.31819348 27.06386872, 53.31911295
        27.11778539, 53.3182028 27.16993419, 53.31726578 27.22201221, 53.31924312
        27.27688149, 53.31976428 27.33033196, 53.32007453 27.38355262, 53.31861644
        27.43499175, 53.32039806 27.48963823, 53.32053587 27.54262931, 53.32091287
        27.59585198, 53.32086026 27.64862105, 53.32030767 27.70084739, 53.32134461
        27.75470263, 53.32152927 27.8076528, 53.32124395 27.86008179, 53.32078521
        27.91229111, 53.32147364 27.96571792, 53.32166393 28.01854727)))", "targetAzimuth_start":
        40.470531463623, "imageBands": "PAN", "sensorPlatformName": "WORLDVIEW01"}},
        {"identifier": "1020010001CCC600", "type": ["GBDXCatalogRecord", "Acquisition",
        "DigitalGlobeAcquisition", "WV01"], "properties": {"bearing": 180.0, "offNadirAngle_min":
        24.2007122039795, "offNadirAngle_start": 24.4820804595947, "targetAzimuth_min":
        195.640258789062, "multiResolution_min": 0.0, "cloudCover": 0, "sunAzimuth_max":
        157.084566388811, "targetAzimuth": 198.484911237444, "multiResolution": 0.0,
        "catalogID": "1020010001CC[...]
