interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/stripMetadata/1050410000B1BD00
  response:
    body:
      string: '{"error":"Metadata not found for catalog ID 1050410000B1BD00"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 404
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/stripMetadata/104001002ABEA500
  response:
    body:
      string: '{"catalogIdentifier":"104001002ABEA500","vnirImages":[{"imageId":"68e04e68-153e-4fb0-87db-7bdb77bd0174","version":1.1,"profileName":"dg_1b","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":42,"numYTiles":42,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"UNSIGNED_SHORT","imageHeight":10506,"imageWidth":10651,"sensorPlatformName":"WV03","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:058263525010_01_P001:104001002ABEA500:A01001039C728B00","acquisitionDate":"2017-03-13T11:02:56.905Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-1.57198415 12.49360777, -1.57193381 12.37604212, -1.45118228 12.37601304,
        -1.45119182 12.49355377, -1.57198415 12.49360777))","groundSampleDistanceMeters":1.236,"minX":0,"minY":0,"minTileX":0,"minTileY":0,"maxTileX":42,"maxTileY":42,"sunAzimuth":128.8,"sunElevation":66.5,"satAzimuth":177.9,"satElevation":86.1,"cloudCover":0.321,"offNadirAngle":3.4,"sensorAlias":"WV03_MULTI","oneBResamplingKernel":"MTF","absoluteCalibrationFactors":[0.0143287,0.0176201,0.0133187,0.00684307,0.0143856,0.00621996,0.0166926,0.0106378],"effectiveBandwidths":[0.0405,0.054,0.0618,0.0381,0.0585,0.0387,0.1004,0.0889],"tdiLevels":[24.0,14.0,14.0,24.0,10.0,24.0,10.0,24.0],"bandAliases":["C","B","G","Y","R","RE","N","N2"],"pniirs":3.7},{"imageId":"70d75461-20cb-4354-8316-883da982403e","version":1.1,"profileName":"dg_1b","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":42,"numYTiles":45,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"UNSIGNED_SHORT","imageHeight":11410,"imageWidth":10651,"sensorPlatformName":"WV03","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"Digital[...]
