interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/paging?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+id%3A10300100373FAF00&ttl=5m&left=-180.0
  response:
    body: {string: !!python/unicode '{ "data" : [{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-110.0442452,44.05404252],[-109.7807758,44.03928976],[-109.7795417,43.99146379],[-109.7835522,43.94498678],[-109.7828074,43.89740268],[-109.7845456,43.85044553],[-109.7813873,43.80239653],[-109.7835302,43.75562602],[-109.7862849,43.70901894],[-109.7877973,43.66217847],[-109.7887425,43.61524776],[-109.7865553,43.56769427],[-109.7853223,43.52040476],[-109.7840138,43.47311961],[-109.7837962,43.42616221],[-109.7821214,43.37894268],[-109.7823648,43.3321555],[-109.7839686,43.28566631],[-109.7885183,43.23977243],[-109.7849466,43.19237656],[-109.7847119,43.14565577],[-109.7866819,43.09937572],[-109.7878277,43.05298356],[-109.7915562,43.00706456],[-109.7917741,42.96876979],[-110.0416865,42.97746405],[-110.0415783,43.01569826],[-110.0416145,43.06242787],[-110.0418263,43.10922276],[-110.0422742,43.15610396],[-110.0413359,43.2027875],[-110.041462,43.24969294],[-110.0416693,43.29665374],[-110.0420447,43.34369252],[-110.0410364,43.39050726],[-110.0410108,43.43754498],[-110.0412449,43.48466024],[-110.0419655,43.53196838],[-110.040489,43.5788445],[-110.0411417,43.6261949],[-110.0396843,43.67316079],[-110.0417899,43.7209148],[-110.0395955,43.76781476],[-110.0427396,43.81590452],[-110.04407,43.86366024],[-110.0418515,43.91067593],[-110.0411947,43.95806939],[-110.0405716,44.00551751],[-110.0442452,44.05404252]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["_ALL_"],"users":["_ALL_"]},"item_date":"2014-09-12T18:15:42.232Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","Acquisition","DigitalGlobeAcquisition","WV02"],"format":null,"ingest_date":"2017-04-12T01:08:46.759Z","source":null,"name":null,"attributes":{"sunAzimuth_dbl":157.037506103516,"targetAzimuth_start_dbl":291.299407958984,"stereoPair":null,"cloudCover_int":0,"offNadirAngle_end_dbl":24.554386138916,"scanDirection":"Forward","vendor":"DigitalGlobe","panResolution_end_dbl":0.550244867801666,"sunElevation_dbl":48.5293922424316,"imageBands":"PAN_MS1_MS2","platformName":"WORLDVIEW02","targetAzimuth_end_dbl":284.97314453125,"multiResolution_max_dbl":2.26214909553528,"offNadirAngle_min_dbl":24.554386138916,"offNadirAngle_start_dbl":26.1108894348144,"sensorPlatformName":"WORLDVIEW02","browseURL":"https://geobigdata.io/thumbnails/v1/browse/10300100373FAF00.large.png","multiResolution_min_dbl":2.20670747756958,"offNadirAngle_max_dbl":26.1108894348144,"multiResolution_start_dbl":2.26214909553528,"offNadirAngle_dbl":25.2607917785644,"targetAzimuth_min_dbl":284.97314453125,"sunElevation_max_dbl":49.0053329467773,"panResolution_min_dbl":0.550244867801666,"catalogID":"10300100373FAF00","sunAzimuth_max_dbl":157.262802124023,"panResolution_dbl":0.556405067443848,"panResolution_start_dbl":0.564173817634583,"sunAzimuth_min_dbl":156.838653564453,"targetAzimuth_max_dbl":291.299407958984,"multiResolution_end_dbl":2.20670747756958,"sunElevation_min_dbl":47.9762763977051,"multiResolution_dbl":2.2314350605011,"panResolution_max_dbl":0.564173817634583,"targetAzimuth_dbl":287.945831298828},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"10300100373FAF00","text":""}}],"next_paging_id":"DnF1ZXJ5VGhlbkZldGNoHwAAAAAABnF5FmxXeTZ4THZXVGpDTFZmLUdhVGFiQWcAAAAAAAZxeBZsV3k2eEx2V1RqQ0xWZi1HYVRhYkFnAAAAAAATV60WZjlXdWEyNUVUZ0NZUUJ4ZFd3NzdSQQAAAAAAFYpSFmtadHYtVDRSUVdDQzVGVmtkS2Y1NmcAAAAAAAXB3hZuLU84SFBJSVRKYXhtTWV3bHNTSV93AAAAAAAGcXoWbFd5NnhMdldUakNMVmYtR2FUYWJBZwAAAAAABnF7FmxXeTZ4THZXVGpDTFZmLUdhVGFiQWcAAAAAAAbKThZPck9HY2laMVR6eVJrWk5IS3RrbTRRAAAAAAAD3fwWbUJpbmNaNjFUMnVYVDdqRkpMMXRVQQAAAAAAEDpRFlVxV2dQcmpaVHVpRVN2SkVNam9XMHcAAAAAABqUwxZhV3JmSGhiNVJ4YUtTWTJPR0g4OUpnAAAAAAAVilMWa1p0di1UNFJRV0NDNUZWa2RLZjU2ZwAAAAAABJ4yFlA4MWNtZk9pVGp1STZsV0UyRGdhd3cAAAAAAB9nnRZRLW9vTHZaM1FveXJjRXB0bWd1b1hnAAAAAAAM8zwWWnREamNITXZUUzIxcWM3NnNzSDJkQQAAAAAAFYpUFmtadHYtVDRSUVdDQzVGVmtkS2Y1NmcAAAAAAA7wZxZFWVlSTTFMSFJPLWtPbTRISGp0ZnNnAAAAAAATz0cWQUx5eDhWSzJUbDJNZ1hGdmNoNnl3UQAAAAAABJ4zFlA4MWNtZk9pVGp1STZsV0UyRGdhd3cAAAAAABPPSBZBTHl4OFZLMlRsMk1nWEZ2Y2g2eXdRAAAAAAAW9wMWNWxsdkFWU0NUNmliOEVpT1R1RndLdwAAAAAAAo5EFmE1Vy13M1ZVUlBpUFhOaHRXMEFnVXcAAAAAAAbKTxZPck9HY2laMVR6eVJrWk5IS3RrbTRRAAAAAAATz0kWQUx5eDhWSzJUbDJNZ1hGdmNoNnl3UQAAAAAAAWmbFndaZEdJSGI5Um5tM20zc2loLWd1WGcAAAAAAAzzPRZadERqY0hNdlRTMjFxYzc2c3NIMmRBAAAAAAACjkUWYTVXLXczVlVSUGlQWE5odFcwQWdVdwAAAAAAA939Fm1CaW5jWjYxVDJ1WFQ3akZKTDF0VUEAAAAAACLidRZTcTVGMEJPWFFDdUw3WUF6c1o1QUJ3AAAAAAAGylAWT3JPR2NpWjFUenlSa1pOSEt0a200UQAAAAAADiRhFnM2ZFRXSjR6U09peGFRRnVncE9OR3c=","item_count":"1","total_count":"1"}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/paging?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A10300100373FAF00+AND+attributes.colorInterpretation%3AWORLDVIEW_8_BAND&ttl=5m&left=-180.0
  response:
    body: {string: !!python/unicode '{ "data" : [{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-110.04223912,43.45665435],[-109.78197064,43.44476411],[-109.78351631,43.31806637],[-110.04331161,43.32940341],[-110.04223912,43.45665435]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["_ALL_"],"users":["_ALL_"]},"item_date":"2014-09-12T18:15:48.699Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV02"],"format":null,"ingest_date":"2017-06-17T06:44:43.188Z","source":null,"name":null,"attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2014-09-12T18:15:48.699Z","bucketName":"idaho-images","numBands_int":8,"sunAzimuth_dbl":157.0,"nativeTileFileFormat":"TIF","colorInterpretation":"WORLDVIEW_8_BAND","cloudCover_int":0,"idahoImageId":"4b397df2-81ce-495e-9558-db50ced086e1","satAzimuth_dbl":105.0,"satElevation_dbl":61.5,"pniirs_dbl":2.8,"numYTiles_int":27,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":48.6,"platformName":"WORLDVIEW02","imageHeight_int":6777,"numXTiles_int":35,"sensorPlatformName":"WORLDVIEW02","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":8820,"tileXSize_int":256,"tileYSize_int":256,"offNadirAngle_dbl":25.1,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"10300100373FAF00","vendorDatasetIdentifier":"LV1B:056068342010_01_P007:10300100373FAF00:A0100102478D0800","groundSampleDistanceMeters_dbl":2.228},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"4b397df2-81ce-495e-9558-db50ced086e1","text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-110.04283798,43.25597176],[-109.78691055,43.24562803],[-109.78519923,43.1187545],[-110.04268646,43.12894854],[-110.04283798,43.25597176]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","a[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://idaho.timbr.io/00777f58-1a9b-4754-a80e-d57894207011.json
  response:
    body: {string: !!python/unicode '{"geometry": {"type": "Polygon", "coordinates":
        [[[-110.04317269, 43.73237677], [-110.04317269, 43.84808075], [-109.78447453,
        43.84808075], [-109.78447453, 43.73237677], [-110.04317269, 43.73237677]]]},
        "properties": {"bandid": "Multi", "latlonhae": [43.86137398, -110.04531815,
        2579.91], "mean_sun_el": 48.2, "center": {"type": "Point", "coordinates":
        [-109.91382361000001, 43.790228760000005]}, "catid": "10300100373FAF00", "cloud_cover":
        0.0, "tdilevel": [24.0, 24.0, 14.0, 24.0, 14.0, 24.0, 10.0, 10.0], "img_datetime_obj_utc":
        {"$date": 1410545744426}, "warp": {"yStep": 100, "xStep": 100, "numXCells":
        130, "yStart": 0, "targetGeoTransform": {"translateX": -110.04531815, "translateY":
        43.86137398, "scaleX": 2.020301832554797e-05, "scaleY": -2.020301832554797e-05,
        "shearY": 0.0, "shearX": 0.0, "spatialReferenceSystemCode": "EPSG:4326"},
        "xStart": 0, "numYCells": 70}, "rrds": {"reducedResolutionDataset": [{"targetImage":
        "436d7cf5-2585-482e-bfd9-8d4a4977bf26", "sourceImage": "00777f58-1a9b-4754-a80e-d57894207011",
        "inverseScaleFactor": 2.0}, {"targetImage": "1cb8ef14-5641-4ac3-86f1-fe18dd085dc0",
        "sourceImage": "436d7cf5-2585-482e-bfd9-8d4a4977bf26", "inverseScaleFactor":
        2.0}, {"targetImage": "207b8925-1424-49a9-866f-f72db6903651", "sourceImage":
        "1cb8ef14-5641-4ac3-86f1-fe18dd085dc0", "inverseScaleFactor": 2.0}, {"targetImage":
        "d1da0ac0-c3d0-4b88-8abb-394daf585ba5", "sourceImage": "207b8925-1424-49a9-866f-f72db6903651",
        "inverseScaleFactor": 2.0}, {"targetImage": "9f1a0f86-3c60-4a23-9b29-f8f3cbe40376",
        "sourceImage": "d1da0ac0-c3d0-4b88-8abb-394daf585ba5", "inverseScaleFactor":
        2.0}]}, "effbandwidth": [0.0996, 0.0393, 0.063, 0.0374, 0.0543, 0.0473, 0.0989,
        0.0574], "abscalfactor": [0.009042234, 0.004539619, 0.009713071, 0.005101088,
        0.01260825, 0.009295654, 0.0122438, 0.01103623], "bbox": [-110.04317269, 43.73237677,
        -109.78447453, 43.84808075], "band_centers": [428.58, 479.35, 548.07, 607.78,
        658.92, 723.27, 825.06, 914.55], "satid": "WV02", "band_names": ["C", "B",
        "G", "Y", "R", "RE", "N1", "N2"], "off_nadir": 25.7, "image": {"satAzimuth":
        107.2, "sunAzimuth": 157.1, "cloudCover": 0.0, "imageId": "00777f58-1a9b-4754-a80e-d57894207011",
        "nativeTileFileFormat": "TIF", "numXTiles": 35, "imageWidth": 8820, "tileYSize":
        256, "sensorName": "8-band (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1,
        NIR2) Multispectral", "vendorDatasetIdentifier": "LV1B:056068342010_01_P003:10300100373FAF00:A0100102478D3B00",
        "version": "1.0", "numBands": 8, "imageHeight": 6777, "offNadirAngle": 25.7,
        "vendorName": "DigitalGlobe, Inc.", "imageBoundsWGS84": "POLYGON ((-110.04531815
        43.86137398, -109.78447453 43.84808075, -109.78522437 43.72011004, -110.04317269
        43.73237677, -110.04531815 43.86137398))", "sunElevation": 48.2, "acquisitionDate":
        "2014-09-12T18:15:44.426Z", "dataType": "UNSIGNED_SHORT", "tileYOffset": 0,
        "tileXSize": 256, "colorInterpretation": "WORLDVIEW_8_BAND", "profileName":
        "dg_1b", "tilePartition": "0000", "groundSampleDistanceMeters": 2.249, "tileBucketName":
        "idaho-images", "tileXOffset": 0, "pniirs": 2.8, "satElevation": 60.9, "sensorPlatformName":
        "WV02", "numYTiles": 27}, "product_level": "LV1B"}, "_acquisitionDate": {"$date":
        1410545744426}, "_id": {"$oid": "59776a909db347af059f6a42"}, "type": "Feature",
        "id": "00777f58-1a9b-4754-a80e-d57894207011"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/paging?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A10300100373FAF00+AND+attributes.colorInterpretation%3APAN&ttl=5m&left=-180.0
  response:
    body: {string: !!python/unicode '{ "data" : [{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-110.04336998,43.15598434],[-109.[...]
[...]
- request:
    body: !!python/unicode '{"edges": [{"destination": "a10c3350-beaf-59de-8b6a-b3b35d60e502",
      "id": "f95eaff8-6957-503e-acdc-6a179eeb74a2", "index": 1, "source": "d9d44047-f51e-56a7-87ff-8f90a40a6944"},
      {"destination": "d9d44047-f51e-56a7-87ff-8f90a40a6944", "id": "55530fc5-d051-530d-99af-a3460d74ca9e",
      "index": 1, "source": "844708e7-b97a-57ac-8c82-4ae3477e8f9e"}, {"destination":
      "844708e7-b97a-57ac-8c82-4ae3477e8f9e", "id": "a62a0fd3-4578-57fc-8fb8-393bb5f85551",
      "index": 1, "source": "75d5b46e-4079-5877-827e-025e128cbe83"}, {"destination":
      "75d5b46e-4079-5877-827e-025e128cbe83", "id": "165fb527-3fbc-52e4-94d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/179aad9eb48e91d752cc94f3d3b671b60465f28f5955619aa2064183d9796df3/a10c3350-beaf-59de-8b6a-b3b35d60e502/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"00777f58-1a9b-4754-a80e-d57894207011","version":"1.0","profileName":"dg_1b","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":53,"numYTiles":214,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"FLOAT","imageHeight":54612,"imageWidth":13348,"sensorPlatformName":"WV02","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:056068342010_01_P003:10300100373FAF00:A0100102478D3B00","acquisitionDate":"2014-09-12T18:15:44.426Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-110.04559626 44.05392599, -109.78048282126481 44.05392599, -109.78048282126481
        42.96924100976285, -110.04559626 42.96924100976285, -110.04559626 44.05392599))","groundSampleDistanceMeters":2.249,"minX":0,"minY":0,"maxX":13347,"maxY":54611,"minTileX":0,"minTileY":0,"maxTileX":52,"maxTileY":213,"sunAzimuth":157.1,"sunElevation":48.2,"satAzimuth":107.2,"satElevation":60.9,"cloudCover":0.0,"offNadirAngle":25.7,"pniirs":2.8},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":1.9861660079051383E-5,"scaleY":-1.9861660079051383E-5,"translateX":-110.04559626,"translateY":44.05392599,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":-110.04531815,"y":43.86137398},"upperRightCorner":{"x":-109.78447453,"y":43.84808075},"lowerRightCorner":{"x":-109.78522437,"y":43.72011004},"lowerLeftCorner":{"x":-110.04317269,"y":43.73237677},"gsd":2.020301832554797E-5,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":3388.0,"sampleOffset":4409.0,"latOffset":43.7904,"lonOffset":-109.9136,"heightOffset":2840.0,"lineScale":3388.0,"sampleScale":4410.0,"latScale":0.0715,"lonScale":0.134,"heightScale":574.0,"lineNumCoefs":[-0.002092297,-0.1032388,-1.11449,-0.01029575,-9.807348E-4,-2.156283E-5,-9.486536E-5,-0.001175815,0.001568026,-1.377473E-7,2.832194E-7,-2.551673E-7,7.943247E-6,1.216803E-6,1.21846E-5,4.214944E-5,1.308456E-5,0.0,9.379067E-7,1.225759E-7],"lineDenCoefs":[1.0,-0.001429824,-6.844182E-4,-1.294887E-4,9.862629E-6,-6.058228E-7,1.218712E-6,-8.063903E-6,3.347186E-5,-1.173512E-5,-7.831715E-8,0.0,-4.886821E-6,2.84777E-8,-5.633735E-7,-7.939351E-6,0.0,0.0,-1.380441E-7,0.0],"sampleNumCoefs":[-0.007498886,1.032251,-2.460447E-4,-0.02926233,-0.001433161,1.296897E-4,-7.810921E-5,0.006977909,6.976503E-5,-7.493803E-6,-6.434838E-7,3.777862E-5,3.205147E-7,-3.03214E-6,-6.837734E-6,4.477428E-5,-3.323635E-8,2.71191E-6,1.639626E-6,8.862603E-8],"sampleDenCoefs":[1.0,5.409326E-4,0.001474812,-3.535382E-4,3.399275E-6,-2.554198E-6,9.337243E-7,7.712597E-6,-4.07597E-6,-3.001743E-6,0.0,-1.645579E-7,-7.435119E-8,1.546559E-8,-3.159641E-8,-3.87492E-7,0.0,-4.335326E-8,0.0,0.0]},"histogram":{"histograms":{"0":[0,73,2,4,3,3,3,2,2,6,3,6,1,2,3,5,4,3,4,6,1,7,9,2,6,6,7,7,7,9,5,8,7,5,7,8,12,8,10,12,6,11,4,12,8,10,10,12,18,19,18,9,20,12,18,15,19,16,15,11,25,26,18,19,24,22,12,22,23,21,30,17,32,36,28,36,41,32,46,43,41,53,44,35,50,54,45,82,49,55,68,55,52,67,64,64,71,68,66,74,90,96,90,106,96,97,117,123,113,111,120,132,135,169,154,151,157,146,164,201,168,208,189,226,212,208,250,251,266,260,288,282,319,313,342,332,326,368,417,416,427,444,453,490,502,487,548,581,526,625,591,661,683,774,748,803,784,831,874,904[...]
