interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?q=item_type%3AGBDXCatalogRecord+AND+%28attributes.catalogID.keyword%3A104001002838EC00+OR+id%3A104001002838EC00%29+AND+NOT+item_type%3ADigitalGlobeAcquisition&count=1&left=-180.0&right=180.0&lower=-90.0&upper=90.0
  response:
    body:
      string: '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-85.82959724,10.30277905],[-85.68413321,10.32291966],[-85.68507931,10.19186139],[-85.82950676,10.17293912],[-85.82959724,10.30277905]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-02-07T16:45:13.539Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV03_VNIR"],"name":null,"format":null,"ingest_date":"2018-06-29T01:58:13.409Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2017-02-07T16:45:13.539Z","bucketName":"rda-images-1","numBands_int":1,"sunAzimuth_dbl":144.5,"nativeTileFileFormat":"PNG","colorInterpretation":"PAN","cloudCover_int":0,"idahoImageId":"d6cf7846-20b5-4a79-bc40-a95fd9fbb919","satAzimuth_dbl":223.5,"satElevation_dbl":60.4,"pniirs_dbl":5.4,"numYTiles_int":38,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":59.1,"platformName":"WORLDVIEW03_VNIR","imageHeight_int":38408,"numXTiles_int":42,"sensorPlatformName":"WORLDVIEW03_VNIR","sensorName":"Panchromatic","dataType":"UNSIGNED_SHORT","imageWidth_int":42500,"tileXSize_int":0,"tileYSize_int":0,"offNadirAngle_dbl":26.7,"tileBucketName":"rda-images-1","vendorName":"DigitalGlobe,
        Inc.","version":"1.1","tileYOffset_int":0,"catalogID":"104001002838EC00","vendorDatasetIdentifier":"LV1B:058116120010_01_P008:104001002838EC00:A01001038C188400","groundSampleDistanceMeters_dbl":0.377},"ingest_attributes":{"_rest_user":"idahosvc@digitalglobe.com","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"d6cf7846-20b5-4a79-bc40-a95fd9fbb919","source":null,"text":""}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/metadata/search?free-text=DigitalGlobeStripTemplate
  response:
    body:
      string: '[{"isPublic":false,"keywords":["DigitalGlobeStripTemplate"],"sensors":["DigitalGlobeStripTemplate"],"keynodes":[{"id":"Format","description":"Format"}],"description":"DigitalGlobeStripTemplate
        and Format","metadataAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"templateAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"datePublished":"2019-04-16T20:01:15.299Z","name":"DigitalGlobeStripTemplate","templateId":"dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3","id":"8c1278beadd34612a531ba3d7fdd91ed"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3
  response:
    body:
      string: '{"id":"dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3","defaultNodeId":"Format","edges":[{"id":"edge-1","index":1,"source":"DigitalGlobeStrip","destination":"Format"},{"id":"edge-2","index":1,"source":"DigitalGlobeStrip","destination":"RadiometricDRA"}],"nodes":[{"id":"Format","operator":"Format","parameters":{"dataType":"${dataType}"}},{"id":"DigitalGlobeStrip","operator":"DigitalGlobeStrip","parameters":{"CRS":"${crs}","GSD":"${gsd}","bands":"${bands}","catId":"${catId}","correctionType":"${correctionType}","fallbackToTOA":"${fallbackToTOA}"}},{"id":"RadiometricDRA","operator":"RadiometricDRA","parameters":{}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3/metadata?catId=104001002838EC00&crs=EPSG%3A4326&gsd=null&correctionType=TOAREFLECTANCE&bands=PAN&fallbackToTOA=True&nodeId=Format&dataType=4
  response:
    body:
      string: '{"imageMetadata":{"imageId":"405338d8-ae52-4bd1-b66e-7c7f94af3482","version":1.1,"profileName":"georectified_image","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"PNG","tileXOffset":0,"tileYOffset":0,"numXTiles":170,"numYTiles":1243,"tileXSize":256,"tileYSize":256,"numBands":1,"dataType":"FLOAT","imageHeight":317960,"imageWidth":43512,"sensorPlatformName":"WV03","sensorName":"Panchromatic","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:058116120010_01_P001:104001002838EC00:A01001038C186C00","acquisitionDate":"2017-02-07T16:45:03.042Z","colorInterpretation":"PAN","imageBoundsWGS84":"POLYGON
        ((-85.82979631 11.03402185, -85.68360974873518 11.03402185, -85.68360974873518
        9.965776790711462, -85.82979631 9.965776790711462, -85.82979631 11.03402185))","groundSampleDistanceMeters":0.374,"minX":0,"minY":0,"maxX":43511,"maxY":317959,"minTileX":0,"minTileY":0,"maxTileX":169,"maxTileY":1242,"sunAzimuth":145.2,"sunElevation":58.5,"satAzimuth":220.6,"satElevation":60.8,"cloudCover":0.0,"offNadirAngle":26.4,"sensorAlias":"WV03_P","oneBResamplingKernel":"MTF","absoluteCalibrationFactors":[0.0527336],"effectiveBandwidths":[0.2896],"tdiLevels":[48.0],"bandAliases":["P"],"pniirs":5.4},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":3.359683794466403E-6,"scaleY":-3.359683794466403E-6,"translateX":-85.82979631,"translateY":11.03402185,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,0,0,0,0,0,0,0,0,0,0,965,0,0,0,0,0,0,0,0,0,0,0,1084,0,0,0,0,0,0,0,0,0,0,0,114,947,0,0,0,0,0,0,0,0,0,0,0,1116,0,0,0,0,0,0,0,0,0,0,0,188,1058,0,0,0,0,0,0,0,0,0,0,0,1174,0,0,0,0,0,0,0,0,0,0,0,207,1185,0,0,0,0,0,0,0,0,0,0,0,1356,0,0,0,0,0,0,0,0,0,0,0,184,1219,0,0,0,0,0,0,0,0,0,0,93,1342,0,0,0,0,0,0,0,0,0,0,0,187,1307,0,0,0,0,0,0,0,0,0,0,116,1466,21,0,0,0,0,0,0,0,0,0,0,209,1482,0,0,0,0,0,0,0,0,0,0,180,1573,42,0,0,0,0,0,0,0,0,0,0,285,1514,0,0,0,0,0,0,0,0,0,0,214,1685,32,0,0,0,0,0,0,0,0,0,151,15[...]
