interactions:
- request:
    body: '{"direction": "both", "labels": ["_acquisition", "_imageFiles"], "rootRecordId":
      "LC81740532014364LGN00", "maxdepth": 2}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://geobigdata.io/catalog/v1/traverse
  response:
    body: {string: !!python/unicode '{"searchTag":null,"results":[{"identifier":"LC81740532014364LGN00","owner":null,"type":"LandsatAcquisition","properties":{"path":"174","panResolution":"15.0","browseURL":"https://s3-us-west-2.amazonaws.com/landsat-pds/L8/174/053/LC81740532014364LGN00/LC81740532014364LGN00_thumb_large.jpg","epsgCode":"4326","footprintWkt":"POLYGON
        ((29.25006 9.05111, 29.25006 11.1657, 31.35772 11.1657, 31.35772 9.05111,
        29.25006 9.05111))","cloudCover":"0.36","multiResolution":"30.0","row":"53","timestamp":"2014-12-30T00:00:00.000Z","timestampWkt":"2014-12-30T08:17:06.000Z"}}],"stats":{"totalRecords":1,"recordsReturned":1,"typeCounts":{"LandsatAcquisition":1}}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
