interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?q=item_type%3AGBDXCatalogRecord+AND+%28attributes.catalogID.keyword%3A8c3c4fc6-abcb-4f5f-bce6-d496c1a91676+OR+id%3A8c3c4fc6-abcb-4f5f-bce6-d496c1a91676%29+AND+NOT+item_type%3ADigitalGlobeAcquisition&count=1&left=-180.0&right=180.0&lower=-90.0&upper=90.0
  response:
    body:
      string: '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[112.65186454,-6.8681145],[112.81136323,-6.86184235],[112.81087661,-7.00526901],[112.65257249,-7.01067252],[112.65186454,-6.8681145]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2002-05-18T02:51:35.408Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","QB02"],"name":null,"format":null,"ingest_date":"2018-04-06T08:50:11.066Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2002-05-18T02:51:35.408Z","bucketName":"rda-images-1","numBands_int":4,"sunAzimuth_dbl":40.8,"nativeTileFileFormat":"TIF","colorInterpretation":"BGRN","cloudCover_int":-99900,"idahoImageId":"8c3c4fc6-abcb-4f5f-bce6-d496c1a91676","satAzimuth_dbl":53.6,"satElevation_dbl":75.0,"pniirs_dbl":2.6,"numYTiles_int":25,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":54.9,"platformName":"QUICKBIRD02","imageHeight_int":6231,"numXTiles_int":27,"sensorPlatformName":"QUICKBIRD02","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":6876,"tileXSize_int":0,"tileYSize_int":0,"offNadirAngle_dbl":14.1,"tileBucketName":"rda-images-1","vendorName":"DigitalGlobe,
        Inc.","version":"1.1","tileYOffset_int":0,"catalogID":"1010010000786700","vendorDatasetIdentifier":"LV1B:057783836010_01_P001:1010010000786700:A010010366733D00","groundSampleDistanceMeters_dbl":2.546},"ingest_attributes":{"_rest_user":"acquisition-gbdx-support@digitalglobe.com","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"8c3c4fc6-abcb-4f5f-bce6-d496c1a91676","source":null,"text":""}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/metadata/search?free-text=DigitalGlobeStripTemplate
  response:
    body:
      string: '[{"isPublic":false,"keywords":["DigitalGlobeStripTemplate"],"sensors":["DigitalGlobeStripTemplate"],"keynodes":[{"id":"Format","description":"Format"}],"description":"DigitalGlobeStripTemplate
        and Format","metadataAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"templateAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"datePublished":"2019-04-16T20:01:15.299Z","name":"DigitalGlobeStripTemplate","templateId":"dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3","id":"8c1278beadd34612a531ba3d7fdd91ed"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3
  response:
    body:
      string: '{"id":"dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3","defaultNodeId":"Format","edges":[{"id":"edge-1","index":1,"source":"DigitalGlobeStrip","destination":"Format"},{"id":"edge-2","index":1,"source":"DigitalGlobeStrip","destination":"RadiometricDRA"}],"nodes":[{"id":"Format","operator":"Format","parameters":{"dataType":"${dataType}"}},{"id":"DigitalGlobeStrip","operator":"DigitalGlobeStrip","parameters":{"CRS":"${crs}","GSD":"${gsd}","bands":"${bands}","catId":"${catId}","correctionType":"${correctionType}","fallbackToTOA":"${fallbackToTOA}"}},{"id":"RadiometricDRA","operator":"RadiometricDRA","parameters":{}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3/metadata?catId=1010010000786700&crs=EPSG%3A4326&gsd=null&correctionType=DN&bands=MS&fallbackToTOA=True&nodeId=Format&dataType=4
  response:
    body:
      string: '{"imageMetadata":{"imageId":"8c3c4fc6-abcb-4f5f-bce6-d496c1a91676","version":1.1,"profileName":"georectified_image","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":28,"numYTiles":100,"tileXSize":256,"tileYSize":256,"numBands":4,"dataType":"FLOAT","imageHeight":25467,"imageWidth":7131,"sensorPlatformName":"QB02","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","vendorName":"DigitalGlobe, Inc.","vendorDatasetIdentifier":"LV1B:057783836010_01_P001:1010010000786700:A010010366733D00","acquisitionDate":"2002-05-18T02:51:35.408Z","colorInterpretation":"BGRN","imageBoundsWGS84":"POLYGON
        ((112.65186454 -6.86184235, 112.81137037902265 -6.86184235, 112.81137037902265
        -7.431486888268056, 112.65186454 -7.431486888268056, 112.65186454 -6.86184235))","groundSampleDistanceMeters":2.546,"minX":0,"minY":0,"maxX":7130,"maxY":25466,"minTileX":0,"minTileY":0,"maxTileX":27,"maxTileY":99,"sunAzimuth":40.8,"sunElevation":54.9,"satAzimuth":53.6,"satElevation":75.0,"cloudCover":-999.0,"offNadirAngle":14.1,"sensorAlias":"QB02_MULTI","oneBResamplingKernel":"MTF","absoluteCalibrationFactors":[0.0160412,0.0143847,0.0126735,0.0154242],"effectiveBandwidths":[0.068,0.099,0.071,0.114],"tdiLevels":[1.0,1.0,1.0,1.0],"bandAliases":["B","G","R","N"],"pniirs":2.6},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":2.236794825727632E-5,"scaleY":-2.236794825727632E-5,"translateX":112.65186454,"translateY":-6.86184235,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,144,1,3,1,3,0,2,5,0,1,2,3,1,6,1,2,4,3,2,1,2,3,2,5,7,2,5,6,4,3,7,3,2,7,7,5,8,6,5,4,4,5,1,5,6,6,13,7,13,13,6,13,10,5,7,10,9,10,13,4,8,9,12,13,10,17,7,15,18,17,12,12,14,16,9,14,20,19,18,16,27,19,15,9,21,31,20,19,27,29,31,46,40,56,39,42,46,34,41,48,52,55,77,64,72,62,83,73,81,86,96,119,85,112,122,134,113,175,134,153,186,183,202,179,253,241,238,245,303,313,313,376,364,417,432,493,514,571,593,588,731,711,788,820,927,905,1143,1168,1264,1385,1492,1753,1737,1965,2211,2534,2646,3046,3349,4087,4440,[...]
- request:
    body: '{"defaultNodeId": "Format", "edges": [{"id": "edge-1", "index": 1, "source":
      "DigitalGlobeStrip", "destination": "Format"}, {"id": "edge-2", "index": 1,
      "source": "DigitalGlobeStrip", "destination": "RadiometricDRA"}], "nodes": [{"id":
      "Format", "operator": "Format", "parameters": {"dataType": "${dataType}"}},
      {"id": "DigitalGlobeStrip", "operator": "DigitalGlobeStrip", "parameters": {"CRS":
      "${crs}", "GSD": "${gsd}", "bands": "${bands}", "catI[...]
- request:
    body: '{"imageReference": {"templateId": "dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3",
      "nodeId": "Format", "parameters": {}}, "outputFormat": "TILE_STREAM", "cropGeometryWKT":
      "POLYGON ((112.7786684386705 -7.222682091286382, 112.7786684386705 -7.200314143029106,
      112.7563004904132 -7.200314143029106, 112.7563004904132 -7.222682091286382,
      112.7786684386705 -7.222682091286382))"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://rda.geobigdata.io/v1/template/materialize
  response:
    body:
      string: '{"error":"DigitalGlobe Catalog Identifier is a required parameter."}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 400
      message: ''
version: 1
