interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1040010004457A00+AND+NOT+item_type%3AIDAHOImage+AND+NOT+item_type%3ADigitalGlobeAcquisition&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-109.007767292626,30.93224997429354],[-108.857172354431,30.92238302611497],[-108.8576364832714,30.79480140744287],[-109.0080359945906,30.80483844359131],[-109.007767292626,30.93224997429354]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["_ALL_"],"users":["_ALL_"]},"item_date":"2014-11-19T17:49:30.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","WV03_VNIR","DigitalGlobeProduct","1BProduct"],"format":null,"ingest_date":"2017-05-03T13:18:23.545Z","source":null,"name":null,"attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":158.8,"bands":"Multi","xmlFile":"14NOV19174930-M1BS-056507212010_01_P002.XML","browseJpgFile":"14NOV19174930-M1BS-056507212010_01_P002-BROWSE.JPG","cloudCover_int":0,"imdFile":"14NOV19174930-M1BS-056507212010_01_P002.IMD","attFile":"14NOV19174930-M1BS-056507212010_01_P002.ATT","resolution_dbl":1.374,"bandsList":"BAND_C,BAND_B,BAND_G,BAND_Y,BAND_R,BAND_RE,BAND_N,BAND_N2","geoFile":"14NOV19174930-M1BS-056507212010_01_P002.GEO","imageFile":"14NOV19174930-M1BS-056507212010_01_P002.TIF","vendor":"DigitalGlobe","sunElevation_dbl":36.9,"platformName":"WORLDVIEW03_VNIR","tilFile":"14NOV19174930-M1BS-056507212010_01_P002.TIL","sensorPlatformName":"WORLDVIEW03_VNIR","readmeTxtFile":"14NOV19174930-M1BS-056507212010_01_P002_README.TXT","rpbFile":"14NOV19174930-M1BS-056507212010_01_P002.RPB","offNadirAngle_dbl":20.0,"soli":"056507212","catalogID":"1040010004457A00","productLevel":"LV1B","part_int":2,"ephFile":"14NOV19174930-M1BS-056507212010_01_P002.EPH","bucketPrefix":"056507212010_01_003/056507212010_01/056507212010_01_P002_MUL"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1040010004457A00_P002_MUL_056507212010","text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1040010004457A00+AND+attributes.colorInterpretation%3AWORLDVIEW_8_BAND&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-109.00769381,30.83089222],[-108.85755693,30.82129019],[-108.85724974,30.69271244],[-109.00852369,30.70438834],[-109.00769381,30.83089222]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["_ALL_"],"users":["_ALL_"]},"item_date":"2014-11-19T17:49:32.383Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV03_VNIR"],"format":null,"ingest_date":"2017-06-16T18:58:08.670Z","source":null,"name":null,"attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2014-11-19T17:49:32.383Z","bucketName":"idaho-images","numBands_int":8,"sunAzimuth_dbl":158.7,"nativeTileFileFormat":"TIF","colorInterpretation":"WORLDVIEW_8_BAND","cloudCover_int":0,"idahoImageId":"fc3f8365-cf4e-430f-bc68-7f9b053ec098","satAzimuth_dbl":148.4,"satElevation_dbl":67.9,"pniirs_dbl":3.5,"numYTiles_int":40,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":37.0,"platformName":"WORLDVIEW03_VNIR","imageHeight_int":10203,"numXTiles_int":42,"sensorPlatformName":"WORLDVIEW03_VNIR","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":10651,"tileXSize_int":256,"tileYSize_int":256,"offNadirAngle_dbl":19.9,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"1040010004457A00","vendorDatasetIdentifier":"LV1B:056507212010_01_P003:1040010004457A00:A01001029E341100","groundSampleDistanceMeters_dbl":1.372},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"fc3f8365-cf4e-430f-bc68-7f9b053ec098","text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-109.00702048,30.22432274],[-108.85953996,30.21642406],[-108.85894417,30.08789564],[-109.00686897,30.09710505],[-109.00702048,30.22432274]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://idaho.timbr.io/14779b27-9845-4c10-b99a-128aa3476893.json
  response:
    body: {string: !!python/unicode '{"geometry": {"type": "Polygon", "coordinates":
        [[[-109.00801526, 30.60266373], [-109.00801526, 30.71979907], [-108.85758822,
        30.71979907], [-108.85758822, 30.60266373], [-109.00801526, 30.60266373]]]},
        "_acquisitionDate": {"$date": 1416419374000}, "type": "Feature", "id": "14779b27-9845-4c10-b99a-128aa3476893",
        "properties": {"bandid": "Multi", "latlonhae": [30.73050004, -109.00825813,
        1200.03], "mean_sun_el": 37.1, "band_centers": [427.38, 481.92, 547.14, 604.28,
        660.11, 722.73, 824.04, 913.65], "catid": "1040010004457A00", "cloud_cover":
        0.0, "tdilevel": [24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 14.0, 14.0], "img_datetime_obj_utc":
        {"$date": 1416419374000}, "center": {"type": "Point", "coordinates": [-108.93280174,
        30.661231400000002]}, "warp": {"yStep": 100, "xStep": 100, "numXCells": 123,
        "yStart": 0, "targetGeoTransform": {"translateX": -109.00825813, "translateY":
        30.73050004, "scaleX": 1.2306863097376931e-05, "scaleY": -1.2306863097376931e-05,
        "shearY": 0.0, "shearX": 0.0, "spatialReferenceSystemCode": "EPSG:4326"},
        "xStart": 0, "numYCells": 112}, "rrds": {"reducedResolutionDataset": [{"targetImage":
        "498c306e-ca6a-47c5-bd9f-fbafaee6f469", "sourceImage": "14779b27-9845-4c10-b99a-128aa3476893",
        "inverseScaleFactor": 2.0}, {"targetImage": "15c9093f-d32e-415d-b96b-8e7c362dea8f",
        "sourceImage": "498c306e-ca6a-47c5-bd9f-fbafaee6f469", "inverseScaleFactor":
        2.0}, {"targetImage": "35c51c5e-2d2d-4a17-a631-d7d1a4e9024d", "sourceImage":
        "15c9093f-d32e-415d-b96b-8e7c362dea8f", "inverseScaleFactor": 2.0}, {"targetImage":
        "ae830e83-9a46-4d47-9c23-ce608b5f7c9a", "sourceImage": "35c51c5e-2d2d-4a17-a631-d7d1a4e9024d",
        "inverseScaleFactor": 2.0}, {"targetImage": "c460c1a5-217c-448c-a9db-2a556d9db311",
        "sourceImage": "ae830e83-9a46-4d47-9c23-ce608b5f7c9a", "inverseScaleFactor":
        2.0}]}, "effbandwidth": [0.0889, 0.0387, 0.0618, 0.0381, 0.054, 0.0405, 0.1004,
        0.0585], "abscalfactor": [0.0106378, 0.00621996, 0.007802301, 0.00684307,
        0.0103103, 0.0143287, 0.0117971, 0.0102], "bbox": [-109.00801526, 30.60266373,
        -108.85758822, 30.71979907], "satid": "WV03", "band_names": ["C", "B", "G",
        "Y", "R", "RE", "N1", "N2"], "product_level": "LV1B", "image": {"satAzimuth":
        148.9, "sunAzimuth": 158.7, "cloudCover": 0.0, "imageId": "14779b27-9845-4c10-b99a-128aa3476893",
        "tileXOffset": 0, "numXTiles": 42, "imageWidth": 10651, "tileYSize": 256,
        "sensorName": "8-band (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1,
        NIR2) Multispectral", "vendorDatasetIdentifier": "LV1B:056507212010_01_P004:1040010004457A00:A01001029E341200",
        "version": "1.0", "numBands": 8, "imageHeight": 10204, "offNadirAngle": 19.8,
        "vendorName": "DigitalGlobe, Inc.", "imageBoundsWGS84": "POLYGON ((-109.00825813
        30.73050004, -108.85758822 30.71979907, -108.85821731 30.59272738, -109.00801526
        30.60266373, -109.00825813 30.73050004))", "sunElevation": 37.1, "acquisitionDate":
        "2014-11-19T17:49:34.000Z", "dataType": "UNSIGNED_SHORT", "tileYOffset": 0,
        "tileXSize": 256, "colorInterpretation": "WORLDVIEW_8_BAND", "profileName":
        "dg_1b", "tilePartition": "0000", "groundSampleDistanceMeters": 1.37, "tileBucketName":
        "idaho-images", "nativeTileFileFormat": "TIF", "pniirs": 3.5, "satElevation":
        68.0, "sensorPlatformName": "WV03", "numYTiles": 40}, "off_nadir": 19.8}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1040010004457A00+AND+attributes.colorInterpretation%3APAN&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-109.00750916,30.83088468],[-108.85772749,30.8213041[...]
[...]
- request:
    body: !!python/unicode '{"edges": [{"destination": "2114c0fa-c668-5588-8f31-52333196c5ad",
      "id": "08ddac7c-5ccd-50bd-844c-93c2f0b2a387", "index": 1, "source": "4b52fb30-7dee-5a23-a7e6-dd629078fd10"},
      {"destination": "4b52fb30-7dee-5a23-a7e6-dd629078fd10", "id": "ee46d627-e344-56ba-ad62-c994cf880e14",
      "index": 1, "source": "76274c90-453e-5c9b-bdbf-b9706bd92838"}, {"destination":
      "76274c90-453e-5c9b-bdbf-b9706bd92838", "id": "76b049cc-3c39-5ac7-87d8-293b889b3cd3",
      "index": 1, "source": "edcfcfe4-1bd3-5b4d-a905-b7d207d2328a"}, {"destination":
      "edcfcfe4-1bd3-5b4d-a905-b7d207d2328a", "id": "b057fee7-a867-5c2e-ba1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/37232a949d76f4ed6b0268e268e5390b21bb10c574dfaf652e95b4a86027ffe1/2114c0fa-c668-5588-8f31-52333196c5ad/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"14779b27-9845-4c10-b99a-128aa3476893","version":"1.0","profileName":"dg_1b","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":50,"numYTiles":334,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"FLOAT","imageHeight":85403,"imageWidth":12449,"sensorPlatformName":"WV03","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:056507212010_01_P004:1040010004457A00:A01001029E341200","acquisitionDate":"2014-11-19T17:49:34.000Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-109.00853590703198 31.02234266, -108.85644607591449 31.02234266, -108.85644607591449
        29.978971477822494, -109.00853590703198 29.978971477822494, -109.00853590703198
        31.02234266))","groundSampleDistanceMeters":1.37,"minX":-1,"minY":0,"maxX":12447,"maxY":85402,"minTileX":-1,"minTileY":0,"maxTileX":48,"maxTileY":333,"sunAzimuth":158.7,"sunElevation":37.1,"satAzimuth":148.9,"satElevation":68.0,"cloudCover":0.0,"offNadirAngle":19.8,"pniirs":3.5},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":1.221703197987783E-5,"scaleY":-1.221703197987783E-5,"translateX":-109.00852369,"translateY":31.02234266,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":-109.00825813,"y":30.73050004},"upperRightCorner":{"x":-108.85758822,"y":30.71979907},"lowerRightCorner":{"x":-108.85821731,"y":30.59272738},"lowerLeftCorner":{"x":-109.00801526,"y":30.60266373},"gsd":1.2306863097376931E-5,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":5101.0,"sampleOffset":5325.0,"latOffset":30.6609,"lonOffset":-108.9327,"heightOffset":1608.0,"lineScale":5102.0,"sampleScale":5325.0,"latScale":0.0706,"lonScale":0.0763,"heightScale":708.0,"lineNumCoefs":[-8.556746E-4,-0.07115976,-1.105079,-0.03299376,-3.43347E-4,-1.124257E-5,3.31515E-5,-1.823046E-4,6.344879E-4,4.023955E-6,5.752642E-7,7.114656E-7,7.320098E-6,1.093072E-6,1.205088E-5,5.790439E-5,1.668852E-5,3.799003E-7,2.802987E-6,5.06342E-7],"lineDenCoefs":[1.0,-4.530368E-4,-2.666116E-4,7.798193E-6,9.648324E-6,0.0,4.555969E-6,-1.127E-5,4.251436E-5,-1.499871E-5,-2.236808E-7,0.0,-3.552189E-6,0.0,-3.33966E-7,-7.645302E-6,-3.048819E-8,-1.049454E-8,-7.592549E-7,0.0],"sampleNumCoefs":[-0.004166371,1.022917,1.097372E-4,-0.02063453,-9.271526E-4,5.103845E-4,-2.767023E-4,0.003356172,1.147453E-4,-1.820548E-5,-2.990379E-6,5.49017E-6,-1.668578E-5,-2.325775E-6,9.432725E-6,-1.19864E-4,-4.517537E-7,3.807969E-6,-1.073888E-5,4.525666E-8],"sampleDenCoefs":[1.0,8.393473E-4,9.429135E-4,-6.083675E-4,-1.423938E-5,-2.163581E-6,1.35949E-6,2.583532E-6,1.440207E-5,-2.704919E-6,0.0,0.0,2.493099E-7,0.0,-1.342877E-7,6.381308E-7,0.0,-1.572693E-8,5.590035E-8,0.0]},"histogram":{"histograms":{"0":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,2,0,0,1,3,0,1,1,2,3,7,4,3,4,8,8,10,23,13,16,29,36,39,66,67,97,137,170,305,400,586,1015,1565,2428,3785,5804,8589,12542,17962,24572,32718,42434,54476,69619,86780,107730,133077,160529,190329,223779,258727,294969,332378,370708,406988,442038,473126,503479,531612,560319,588582,[...]
