interactions:
- request:
    body: !!python/unicode '{"type": "Polygon", "coordinates": [[[-76.65, 40.1], [-76.65,
      40.14], [-76.55, 40.14], [-76.55, 40.1], [-76.65, 40.1]]]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vector.geobigdata.io/insight-vector/api/index/aggregation/read-vector-osm-*?count=10&aggs=terms%3Aitem_type
  response:
    body:
      string: !!python/unicode '{"responseDate":"2019-06-13T21:30:56.825Z","geom":{"type":"Polygon","coordinates":[[[-76.65,40.1],[-76.65,40.14],[-76.55,40.14],[-76.55,40.1],[-76.65,40.1]]]},"query":null,"startDate":null,"endDate":null,"totalItems":553,"aggregations":[{"name":"terms:item_type","terms":[{"term":"Road","count":258,"aggregations":null},{"term":"Stream","count":39,"aggregations":null},{"term":"Tower","count":34,"aggregations":null},{"term":"Building","count":27,"aggregations":null},{"term":"Pedestrian","count":12,"aggregations":null},{"term":"House","count":10,"aggregations":null},{"term":"Uncategorized","count":10,"aggregations":null},{"term":"Terrace","count":9,"aggregations":null},{"term":"Farmland","count":8,"aggregations":null},{"term":"Turning
        Circle","count":8,"aggregations":null}]}]}'
    headers:
      content-type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
