interactions:
- request:
    body: '{"type": "Polygon", "coordinates": [[[180.0, -90.0], [180.0, 90.0], [-180.0,
      90.0], [-180.0, -90.0], [180.0, -90.0]]]}'
    headers:
    method: POST
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?q=item_type%3AGBDXCatalogRecord+AND+%28attributes.catalogID.keyword%3A103001007B9DD400+OR+id%3A103001007B9DD400%29+AND+NOT+item_type%3ADigitalGlobeAcquisition&count=1
  response:
    body:
      string: '[{"geometry":{"coordinates":[[[[-105.17273202,39.32096039],[-105.17247651,39.19420951],[-104.97904635,39.19507779],[-104.97840049,39.32276131],[-105.17273202,39.32096039]]]],"type":"MultiPolygon"},"type":"Feature","properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2018-03-26T18:06:23.443Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV02"],"name":null,"format":null,"ingest_date":"2019-10-08T06:40:09.750Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2018-03-26T18:06:23.443Z","bucketName":"rda-images-1","numBands_int":8,"sunAzimuth_dbl":156.0,"nativeTileFileFormat":"TIF","colorInterpretation":"WORLDVIEW_8_BAND","cloudCover_int":14,"idahoImageId":"0139ad3f-f687-4331-b011-ab784ba39691","satAzimuth_dbl":192.1,"satElevation_dbl":78.0,"pniirs_dbl":3.1,"numYTiles_int":29,"tileXOffset_int":0,"epsgCode":4326,"vendor":"DigitalGlobe","sunElevation_dbl":50.9,"platformName":"WORLDVIEW02","imageHeight_int":7295,"numXTiles_int":35,"sensorPlatformName":"WORLDVIEW02","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":8820,"tileXSize_int":0,"tileYSize_int":0,"offNadirAngle_dbl":10.5,"tileBucketName":"rda-images-1","vendorName":"DigitalGlobe,
        Inc.","version":1.1,"tileYOffset_int":0,"catalogID":"103001007B9DD400","vendorDatasetIdentifier":"LV1B:011162744010_01_P008:103001007B9DD400:A01001051D075300","groundSampleDistanceMeters_dbl":1.923},"ingest_attributes":{"_rest_user":"application-b58f81cc-ac1e-4c85-8ae0-0a0f711fec73","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"0139ad3f-f687-4331-b011-ab784ba39691","source":null,"text":""}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/metadata/search?free-text=DigitalGlobeStripTemplate
  response:
    body:
      string: '[{"isPublic":false,"keywords":["DigitalGlobeStripTemplate"],"sensors":["DigitalGlobeStripTemplate"],"keynodes":[{"id":"Format","description":"Format"}],"description":"DigitalGlobeStripTemplate
        and Format","metadataAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"templateAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"datePublished":"2019-05-06T20:26:40.308Z","name":"DigitalGlobeStripTemplate","templateId":"d9b75d1acd350a65777e7533efb8a0eca02ca3d97572f0afb833c7f48bdf64a3","id":"8c1278beadd34612a531ba3d7fdd91ed"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/d9b75d1acd350a65777e7533efb8a0eca02ca3d97572f0afb833c7f48bdf64a3
  response:
    body:
      string: '{"id":"d9b75d1acd350a65777e7533efb8a0eca02ca3d97572f0afb833c7f48bdf64a3","defaultNodeId":"Format","edges":[{"id":"edge-1","index":1,"source":"DigitalGlobeStrip","destination":"Format"},{"id":"edge-2","index":1,"source":"DigitalGlobeStrip","destination":"RadiometricDRA"},{"id":"edge-3","index":1,"source":"DigitalGlobeStrip","destination":"SmartBandSelect"}],"nodes":[{"id":"Format","operator":"Format","parameters":{"dataType":"${dataType}"}},{"id":"DigitalGlobeStrip","operator":"DigitalGlobeStrip","parameters":{"CRS":"${crs}","GSD":"${gsd}","bands":"${bands}","catId":"${catId}","correctionType":"${correctionType}","fallbackToTOA":"${fallbackToTOA}"}},{"id":"RadiometricDRA","operator":"RadiometricDRA","parameters":{}},{"id":"SmartBandSelect","operator":"SmartBandSelect","parameters":{"bandSelection":"${bandSelection:-All}"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/d9b75d1acd350a65777e7533efb8a0eca02ca3d97572f0afb833c7f48bdf64a3/metadata?catId=103001007B9DD400&crs=epsg%3A4326&gsd=null&correctionType=TOAREFLECTANCE&bands=PAN&fallbackToTOA=True&nodeId=Format&dataType=4
  response:
    body:
      string: '{"imageMetadata":{"imageId":"5d1bcdc5-2b77-412a-b9d4-480e60c232f4","version":1.1,"profileName":"georectified_image","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"PNG","tileXOffset":0,"tileYOffset":0,"numXTiles":179,"numYTiles":937,"tileXSize":256,"tileYSize":256,"numBands":1,"dataType":"FLOAT","imageHeight":239756,"imageWidth":45774,"sensorPlatformName":"WV02","sensorName":"Panchromatic","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:011162744010_01_P001:103001007B9DD400:A01001051D072800","acquisitionDate":"2018-03-26T18:06:15.509Z","colorInterpretation":"PAN","imageBoundsWGS84":"POLYGON
        ((-105.1741775 40.01723353, -104.97721607348186 40.01723353, -104.97721607348186
        38.98558491339921, -105.1741775 38.98558491339921, -105.1741775 40.01723353))","groundSampleDistanceMeters":0.486,"minX":0,"minY":0,"maxX":45773,"maxY":239755,"minTileX":0,"minTileY":0,"maxTileX":178,"maxTileY":936,"sunAzimuth":156.3,"sunElevation":50.2,"satAzimuth":185.9,"satElevation":76.1,"cloudCover":0.63,"offNadirAngle":12.2,"sensorAlias":"WV02_P","oneBResamplingKernel":"MTF","absoluteCalibrationFactors":[0.05678345],"effectiveBandwidths":[0.2846],"tdiLevels":[32.0],"bandAliases":["P"],"pniirs":5.0},"imageGeoreferencing":{"spatialReferenceSystemCode":"epsg:4326","scaleX":4.302910528206971E-6,"scaleY":-4.302910528206971E-6,"translateX":-105.1741775,"translateY":40.01723353,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,0,0,0,0,0,0,0,0,593,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,554,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,576,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,537,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,418,156,0,0,0,0,0,0,0,0,0,0,0,0,0,0,224,386,0,0,0,0,0,0,0,0,0,0,0,0,0,0,18,570,0,0,0,0,0,0,0,0,0,0,0,0,0,0,14,636,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22,552,24,0,0,0,0,0,0,0,0,0,0,0,0,0,17,470,155,0,0,0,0,0,0,0,0,0,0,0,0,0,12,232,407,0,0,0,0,0,0,0,0,0,0,0,0,0,14,55,530,0,0,0,0,0,0,0,0,0,0,0,0,0,21,58,546,33,0,0,0,0,0,0,0,0,0,0,0,0,7,15,459,173,0,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/stripMetadata/103001007B9DD400
  response:
    body:
      string: '{"catalogIdentifier":"103001007B9DD400","vnirImages":[{"imageId":"d8fdda05-541a-45e9-989b-f8165f065164","version":1.1,"profileName":"dg_1b","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":35,"numYTiles":27,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"UNSIGNED_SHORT","imageHeight":6686,"imageWidth":8820,"sensorPlatformName":"WV02","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,[...]
