interactions:
- request:
    body: '{"type": "Polygon", "coordinates": [[[-76.65, 40.1], [-76.65, 40.14], [-76.55,
      40.14], [-76.55, 40.1], [-76.65, 40.1]]]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://vector.geobigdata.io/insight-vector/api/index/aggregation/vector-gbdx-alpha-catalog-v2-*?aggs=terms%3Aitem_type&count=10
  response:
    body: {string: '{"responseDate":"2017-05-03T17:52:56Z","geom":{"type":"Polygon","coordinates":[[[-76.65,40.1],[-76.65,40.14],[-76.55,40.14],[-76.55,40.1],[-76.65,40.1]]]},"query":null,"startDate":null,"endDate":null,"totalItems":310,"aggregations":[{"name":"terms:item_type","terms":[{"term":"GBDXCatalogRecord","count":310,"aggregations":null},{"term":"Acquisition","count":274,"aggregations":null},{"term":"Landsat8","count":184,"aggregations":null},{"term":"LandsatAcquisition","count":184,"aggregations":null},{"term":"DigitalGlobeAcquisition","count":86,"aggregations":null},{"term":"WV02","count":44,"aggregations":null},{"term":"DigitalGlobeProduct","count":36,"aggregations":null},{"term":"QB02","count":34,"aggregations":null},{"term":"WV01","count":21,"aggregations":null},{"term":"GE01","count":19,"aggregations":null}]}]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
