interactions:
- request:
    body: '{"direction": "both", "labels": ["_acquisition", "_imageFiles"], "rootRecordId":
      "nonexistent_asdfasdfasdfdfasffds", "maxdepth": 2}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://geobigdata.io/catalog/v1/traverse
  response:
    body: {string: !!python/unicode '{"status":"400 Bad Request","message":"The supplied
        rootRecordId does not exist in catalog."}'}
    headers:
      content-type: [application/json]
    status: {code: 400, message: Bad Request}
version: 1
