interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1030010079016D00+AND+NOT+item_type%3AIDAHOImage+AND+NOT+item_type%3ADigitalGlobeAcquisition&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[103.5001296232719,1.50829475977104],[103.6622162173481,1.520371729713004],[103.662165257973,1.402029851082593],[103.5001881419254,1.390025476830193],[103.5001296232719,1.50829475977104]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2018-02-15T03:48:45.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","WV02","DigitalGlobeProduct","1BProduct"],"name":null,"format":null,"ingest_date":"2018-02-15T08:50:15.125Z","attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":122.7,"bands":"Multi","xmlFile":"18FEB15034845-M1BS-057575530010_01_P001.XML","browseJpgFile":"18FEB15034845-M1BS-057575530010_01_P001-BROWSE.JPG","cloudCover_int":11,"imdFile":"18FEB15034845-M1BS-057575530010_01_P001.IMD","attFile":"18FEB15034845-M1BS-057575530010_01_P001.ATT","resolution_dbl":2.079,"bandsList":"BAND_C,BAND_B,BAND_G,BAND_Y,BAND_R,BAND_RE,BAND_N,BAND_N2","geoFile":"18FEB15034845-M1BS-057575530010_01_P001.GEO","imageFile":"18FEB15034845-M1BS-057575530010_01_P001.TIF","vendor":"DigitalGlobe","sunElevation_dbl":63.3,"platformName":"WORLDVIEW02","tilFile":"18FEB15034845-M1BS-057575530010_01_P001.TIL","sensorPlatformName":"WORLDVIEW02","readmeTxtFile":"18FEB15034845-M1BS-057575530010_01_P001_README.TXT","rpbFile":"18FEB15034845-M1BS-057575530010_01_P001.RPB","offNadirAngle_dbl":19.9,"soli":"057575530","catalogID":"1030010079016D00","productLevel":"LV1B","part_int":1,"ephFile":"18FEB15034845-M1BS-057575530010_01_P001.EPH","bucketPrefix":"057575530010_01_003/057575530010_01/057575530010_01_P001_MUL"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1030010079016D00_P001_MUL_057575530010","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1030010079016D00+AND+attributes.colorInterpretation%3AWORLDVIEW_8_BAND&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[103.50037734,1.11367235],[103.66204632,1.12535204],[103.66202898,1.04373216],[103.50044008,1.03215021],[103.50037734,1.11367235]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2018-02-15T03:48:49.261Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV02"],"name":null,"format":null,"ingest_date":"2018-02-15T09:05:08.721Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2018-02-15T03:48:49.261Z","bucketName":"rda-images-1","numBands_int":8,"sunAzimuth_dbl":122.1,"nativeTileFileFormat":"TIF","colorInterpretation":"WORLDVIEW_8_BAND","cloudCover_int":0,"idahoImageId":"75b2a3a8-0218-4efd-b5d9-318e59a25c2e","satAzimuth_dbl":215.4,"satElevation_dbl":68.2,"pniirs_dbl":3.0,"numYTiles_int":17,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":63.6,"platformName":"WORLDVIEW02","imageHeight_int":4351,"numXTiles_int":35,"sensorPlatformName":"WORLDVIEW02","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":8820,"tileXSize_int":0,"tileYSize_int":0,"offNadirAngle_dbl":19.3,"tileBucketName":"rda-images-1","vendorName":"DigitalGlobe,
        Inc.","version":"1.0","tileYOffset_int":0,"catalogID":"1030010079016D00","vendorDatasetIdentifier":"LV1B:057575530010_01_P005:1030010079016D00:A010010348063500","groundSampleDistanceMeters_dbl":2.064},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"75b2a3a8-0218-4efd-b5d9-318e59a25c2e","source":null,"text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[103.50031486,1.21461092],[103.6620901,1.22641013],[103.66204077,1.09818097],[103.50039899,1.08653371],[103.50031486,1.21461092]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1030010079016D00+AND+attributes.colorInterpretation%3APAN&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[103.50056986,1.11369322],[103.66179396,1.12534074],[[...]
- request:
    body: !!python/unicode '{"edges": [{"destination": "301a8fb1-2482-5ef2-9452-548436de13f6",
      "id": "e5d35416-c27b-5cdb-9614-10bf5d4616fb", "index": 1, "source": "1ec9ff65-4173-584a-ac3a-f6e552153f59"},
      {"destination": "1ec9ff65-4173-584a-ac3a-f6e552153f59", "id": "e0835923-f195-5d02-b53c-764ade630edc",
      "index": 1, "source": "504bdcc7-a624-5d32-b0ba-8a8d28f1a41a"}, {"destination":
      "1ec9ff65-4173-584a-ac3a-f6e552153f59", "id": "7d4238ac-8055-598b-8ad8-77c2c6f8f8c2",
      "index": 2, "source": "51ac3079-1268-5b2c-bbd9-0fb37f73bd2e"}, {"destination":
      "1ec9ff65-4173-584a-ac3a-f6e552153f59", "id": "169f0ace-a63b-5e02-b05[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/c08f4b14e8b16354c5be028cce838720cb68d834f9c804ce5a306da01e61f868/301a8fb1-2482-5ef2-9452-548436de13f6/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"4f0bcb52-da50-4b42-836d-806dbe713eeb","version":1.0,"profileName":"georectified_image","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":35,"numYTiles":103,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"FLOAT","imageHeight":26332,"imageWidth":8742,"sensorPlatformName":"WV02","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:057575530010_01_P001:1030010079016D00:A010010348061D00","acquisitionDate":"2018-02-15T03:48:45.078Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((103.50012962 1.52037173, 103.66221628906216 1.52037173, 103.66221628906216
        1.0321463616924182, 103.50012962 1.0321463616924182, 103.50012962 1.52037173))","groundSampleDistanceMeters":2.079,"minX":0,"minY":0,"maxX":8741,"maxY":26331,"minTileX":0,"minTileY":0,"maxTileX":34,"maxTileY":102,"sunAzimuth":122.7,"sunElevation":63.3,"satAzimuth":212.7,"satElevation":67.5,"cloudCover":0.118,"offNadirAngle":19.9,"sensorAlias":"WV02_MULTI","absoluteCalibrationFactors":[0.009295654,0.01783568,0.01364197,0.006810718,0.01103623,0.006063145,0.0122438,0.009042234],"effectiveBandwidths":[0.0473,0.0543,0.063,0.0374,0.0574,0.0393,0.0989,0.0996],"tdiLevels":[24.0,10.0,10.0,18.0,10.0,18.0,10.0,24.0],"bandAliases":["C","B","G","Y","R","RE","N","N2"],"pniirs":2.9},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":1.854114265181459E-5,"scaleY":-1.854114265181459E-5,"translateX":103.50012962,"translateY":1.52037173,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":103.50012962,"y":1.50829476},"upperRightCorner":{"x":103.66221622,"y":1.52037173},"lowerRightCorner":{"x":103.66216526,"y":1.40202985},"lowerLeftCorner":{"x":103.50018814,"y":1.39002548},"gsd":1.867588932806324E-5,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":3121.0,"sampleOffset":4409.0,"latOffset":1.4551,"lonOffset":103.5812,"heightOffset":36.0,"lineScale":3121.0,"sampleScale":4410.0,"latScale":0.0668,"lonScale":0.0821,"heightScale":501.0,"lineNumCoefs":[-7.19426E-4,0.1034145,-1.129448,-0.02536744,1.050543E-4,1.540989E-5,-9.452298E-5,2.874957E-4,0.001270467,-7.964204E-7,-2.558397E-6,-6.743542E-6,-6.008209E-5,-8.707871E-6,7.510525E-5,3.298212E-4,9.479825E-5,1.802583E-6,1.196585E-5,2.129724E-6],"lineDenCoefs":[1.0,1.574549E-4,7.711662E-4,-1.251725E-4,-8.157174E-5,-9.333622E-7,1.981268E-5,-5.685374E-5,2.524834E-4,-8.362479E-5,8.189701E-6,5.102075E-7,1.822711E-4,5.809161E-8,-1.699946E-5,-6.727887E-4,-1.129345E-6,-3.610633E-7,-4.527366E-5,1.309896E-8],"sampleNumCoefs":[0.003533677,1.013198,-3.365646E-4,0.01239072,-2.41208E-4,3.106048E-4,-9.323517E-5,-0.003122707,-1.951782E-4,1.253919E-6,-1.183721E-6,-9.001929E-7,-4.299938E-5,-6.475367E-6,2.434091E-5,2.621695E-4,3.753032E-7,-1.643078E-6,1.807444E-5,-7.826299E-8],"sampleDenCoefs":[1.0,-4.203279E-4,2.480915E-4,-3.586029E-4,-1.599038E-6,8.177403E-7,1.690527E-6,1.420804E-6,3.962407E-5,-6.538145E-6,-3.179732E-8,-2.750577E-8,-2.499554E-7,-1.629419E-8,1.06853E-7,2.052245E-6,0.0,0.0,1.286539E-7,0.0]},"histogram":{"histograms":{"0":[16136,132380,288208,153487,225875,138795,146456,98816,56550,64344,100855,95320,54832,74824,75046,55107,81121,57204,71783,73267,64269,83152,61479,77744,68108,82084,86743,97875,102763,95776,112766,107622,128835,119068,129049,132212,120810,133013,120527,124967,122813,121721,125495,122561,125722,112374,118308,120099,111811,121286,113347,119173,121908,122401,124111,122024,125269,122054,128061,128270,126528,132539,129477,130121,128083,128618,127798,128279,123619,126944,123641,122196,118895,11576[...]
