interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/metadata/search?free-text=DigitalGlobeStripTemplate
  response:
    body:
      string: '[{"isPublic":false,"keywords":["DigitalGlobeStripTemplate"],"sensors":["DigitalGlobeStripTemplate"],"keynodes":[{"id":"Format","description":"Format"}],"description":"DigitalGlobeStripTemplate
        and Format","metadataAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"templateAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"datePublished":"2019-04-24T20:57:28.649Z","name":"DigitalGlobeStripTemplate","templateId":"d9b75d1acd350a65777e7533efb8a0eca02ca3d97572f0afb833c7f48bdf64a3","id":"8c1278beadd34612a531ba3d7fdd91ed"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/d9b75d1acd350a65777e7533efb8a0eca02ca3d97572f0afb833c7f48bdf64a3
  response:
    body:
      string: '{"id":"d9b75d1acd350a65777e7533efb8a0eca02ca3d97572f0afb833c7f48bdf64a3","defaultNodeId":"Format","edges":[{"id":"edge-1","index":1,"source":"DigitalGlobeStrip","destination":"Format"},{"id":"edge-2","index":1,"source":"DigitalGlobeStrip","destination":"RadiometricDRA"},{"id":"edge-3","index":1,"source":"DigitalGlobeStrip","destination":"SmartBandSelect"}],"nodes":[{"id":"Format","operator":"Format","parameters":{"dataType":"${dataType}"}},{"id":"DigitalGlobeStrip","operator":"DigitalGlobeStrip","parameters":{"CRS":"${crs}","GSD":"${gsd}","bands":"${bands}","catId":"${catId}","correctionType":"${correctionType}","fallbackToTOA":"${fallbackToTOA}"}},{"id":"RadiometricDRA","operator":"RadiometricDRA","parameters":{}},{"id":"SmartBandSelect","operator":"SmartBandSelect","parameters":{"bandSelection":"${bandSelection:-All}"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/d9b75d1acd350a65777e7533efb8a0eca02ca3d97572f0afb833c7f48bdf64a3/metadata?catId=e9d158c6-2af0-481d-a1f0-d82b7234db33-inv&correctionType=AComp&draType=HistogramDRA&bands=PanSharp&bandSelection=RGB&crs=UTM&nodeId=SmartBandSelect
  response:
    body:
      string: '{"imageMetadata":{"imageId":"f05f3266-5398-46c0-af9c-29a7f9eb5cec","version":1.1,"profileName":"georectified_image","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"PNG","tileXOffset":0,"tileYOffset":0,"numXTiles":205,"numYTiles":456,"tileXSize":256,"tileYSize":256,"numBands":3,"dataType":"SHORT","imageHeight":116278,"imageWidth":52242,"sensorPlatformName":"WV04","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","vendorName":"DigitalGlobe, Inc.","vendorDatasetIdentifier":"LV1B:I00000238780_01_P001:e9d158c6-2af0-481d-a1f0-d82b7234db33-inv:None","acquisitionDate":"2018-08-15T10:27:49.434Z","colorInterpretation":"BGRN","imageBoundsWGS84":"POLYGON
        ((8.788383090467613 44.617642002696414, 8.988559793334026 44.61783747705058,
        8.98862176422741 44.299602468869864, 8.789529395894927 44.29940913989231,
        8.788383090467613 44.617642002696414))","groundSampleDistanceMeters":0.304,"minX":0,"minY":-1,"maxX":52241,"maxY":116276,"minTileX":0,"minTileY":-1,"maxTileX":204,"maxTileY":454,"sunAzimuth":152.0,"sunElevation":57.0,"satAzimuth":49.3,"satElevation":62.8,"cloudCover":0.03,"offNadirAngle":24.7,"sensorAlias":"WV04_MULTI","oneBResamplingKernel":"MTF","absoluteCalibrationFactors":[0.011877,0.011296,0.006515,0.008995],"effectiveBandwidths":[0.058972,0.067195,0.034426,0.104893],"tdiLevels":[24.0,18.0,24.0,18.0],"bandAliases":["B","G","R","N"],"pniirs":5.4},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:32632","scaleX":0.304,"scaleY":-0.304,"translateX":483210.7950645548,"translateY":4940498.174001622,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[8,126,1871,16788,70935,141721,201305,248912,288057,323053,357242,385453,413813,440805,463550,479854,493579,505721,514475,512380,513964,506267,490019,472501,447375,423236,402385,377383,352937,334201,310552,309740,301361,278869,266401,268878,261947,247395,229721,216108,206598,211939,242633,286412,313922,389955,458373,447886,471026,519272,529178,514784,449912,463900,420003,376244,322184,298599,273767,244848,216245,199570,177244,159804,144625,130813,120979,108630,100932,92170,85452,78870,73051[...]
