interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A10400100343F3D00+AND+NOT+item_type%3AIDAHOImage+AND+NOT+item_type%3ADigitalGlobeAcquisition&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-105.0443383800957,39.72480110635914],[-104.8388076590973,39.72372772701181],[-104.8388777961669,39.59617219419522],[-105.0435875624915,39.59718596031765],[-105.0443383800957,39.72480110635914]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-12-27T18:02:28.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","WV03_VNIR","DigitalGlobeProduct","1BProduct"],"name":null,"format":null,"ingest_date":"2017-12-28T04:10:21.800Z","attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":165.1,"bands":"Multi","xmlFile":"17DEC27180228-M1BS-057381114010_01_P004.XML","browseJpgFile":"17DEC27180228-M1BS-057381114010_01_P004-BROWSE.JPG","cloudCover_int":20,"imdFile":"17DEC27180228-M1BS-057381114010_01_P004.IMD","attFile":"17DEC27180228-M1BS-057381114010_01_P004.ATT","resolution_dbl":1.532,"bandsList":"BAND_C,BAND_B,BAND_G,BAND_Y,BAND_R,BAND_RE,BAND_N,BAND_N2","geoFile":"17DEC27180228-M1BS-057381114010_01_P004.GEO","imageFile":"17DEC27180228-M1BS-057381114010_01_P004.TIF","vendor":"DigitalGlobe","sunElevation_dbl":25.8,"platformName":"WORLDVIEW03_VNIR","tilFile":"17DEC27180228-M1BS-057381114010_01_P004.TIL","sensorPlatformName":"WORLDVIEW03_VNIR","readmeTxtFile":"17DEC27180228-M1BS-057381114010_01_P004_README.TXT","rpbFile":"17DEC27180228-M1BS-057381114010_01_P004.RPB","offNadirAngle_dbl":27.9,"soli":"057381114","catalogID":"10400100343F3D00","productLevel":"LV1B","part_int":4,"ephFile":"17DEC27180228-M1BS-057381114010_01_P004.EPH","bucketPrefix":"057381114010_01_003/057381114010_01/057381114010_01_P004_MUL"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"10400100343F3D00_P004_MUL_057381114010","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A10400100343F3D00+AND+attributes.colorInterpretation%3AWORLDVIEW_8_BAND&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-105.04538641,39.92756534],[-104.83868632,39.92639383],[-104.83879025,39.79845218],[-105.04487934,39.79956336],[-105.04538641,39.92756534]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-12-27T18:02:25.091Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV03_VNIR"],"name":null,"format":null,"ingest_date":"2017-12-28T05:02:09.901Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2017-12-27T18:02:25.091Z","bucketName":"rda-images-1","numBands_int":8,"sunAzimuth_dbl":165.1,"nativeTileFileFormat":"TIF","colorInterpretation":"WORLDVIEW_8_BAND","cloudCover_int":83,"idahoImageId":"ef0a6a95-bdfb-4442-970e-e598d0f19784","satAzimuth_dbl":91.7,"satElevation_dbl":58.8,"pniirs_dbl":3.4,"numYTiles_int":40,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":25.6,"platformName":"WORLDVIEW03_VNIR","imageHeight_int":10005,"numXTiles_int":42,"sensorPlatformName":"WORLDVIEW03_VNIR","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":10651,"tileXSize_int":0,"tileYSize_int":0,"offNadirAngle_dbl":28.2,"tileBucketName":"rda-images-1","vendorName":"DigitalGlobe,
        Inc.","version":"1.0","tileYOffset_int":0,"catalogID":"10400100343F3D00","vendorDatasetIdentifier":"LV1B:057381114010_01_P002:10400100343F3D00:A01001032DDAA600","groundSampleDistanceMeters_dbl":1.539},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"ef0a6a95-bdfb-4442-970e-e598d0f19784","source":null,"text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-105.04433838,39.72480111],[-104.83880766,39.72372773],[-104.8388778,39.59617219],[-105.04358756,39.59718596],[-105.04433838,39.72480111]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","ite[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A10400100343F3D00+AND+attributes.colorInterpretation%3APAN&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-105.03300234,39.12010574],[-104.83772261,39.1193701[...]
- request:
    body: !!python/unicode '{"edges": [{"destination": "0fbe103b-3b63-571e-adf1-a29ba318bbf5",
      "id": "765af7ab-7970-5a95-b0f1-7168365f6419", "index": 1, "source": "5c6372c8-a6ca-5b99-ae7d-a815ccf619dd"},
      {"destination": "0fbe103b-3b63-571e-adf1-a29ba318bbf5", "id": "d346c80c-7cde-558d-a269-6398e448930e",
      "index": 2, "source": "63820f3c-7e0b-5e8e-9fa9-af2ea6b62e54"}, {"destination":
      "0fbe103b-3b63-571e-adf1-a29ba318bbf5", "id": "aaaae901-7805-52c3-b629-986cb82abed0",
      "index": 3, "source": "86418578-b875-529e-85d2-d90883234312"}, {"destination":
      "0fbe103b-3b63-571e-adf1-a29ba318bbf5", "id": "b3f19fbc-bd8f-5340-8d8[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/7a1bd83c67f7c92112cdf1b90430fd09aba69955a1e170cde9392f823196e6ec/0fbe103b-3b63-571e-adf1-a29ba318bbf5/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"089f62c4-05f1-4d00-883a-86769b572233","version":1.0,"profileName":"georectified_image","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":61,"numYTiles":299,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"UNSIGNED_SHORT","imageHeight":76415,"imageWidth":15412,"sensorPlatformName":"WV03","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:057381114010_01_P005:10400100343F3D00:A01001032DDA9000","acquisitionDate":"2017-12-27T18:02:29.848Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-105.04641075 40.01890131, -104.83749314310097 40.01890131, -104.83749314310097
        38.983056583086594, -105.04641075 38.983056583086594, -105.04641075 40.01890131))","groundSampleDistanceMeters":1.529,"minX":0,"minY":0,"maxX":15411,"maxY":76414,"minTileX":0,"minTileY":0,"maxTileX":60,"maxTileY":298,"sunAzimuth":165.0,"sunElevation":25.9,"satAzimuth":91.5,"satElevation":59.3,"cloudCover":0.11,"offNadirAngle":27.8,"sensorAlias":"WV03_MULTI","absoluteCalibrationFactors":[0.0143287,0.0259527,0.0186196,0.00908216,0.0143856,0.00822459,0.0166926,0.0106378],"effectiveBandwidths":[0.0405,0.054,0.0618,0.0381,0.0585,0.0387,0.1004,0.0889],"tdiLevels":[24.0,10.0,10.0,18.0,10.0,18.0,10.0,24.0],"bandAliases":["C","B","G","Y","R","RE","N","N2"],"pniirs":3.4},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":1.3555515630614444E-5,"scaleY":-1.3555515630614444E-5,"translateX":-105.04641075,"translateY":40.01890131,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":-105.04356568,"y":39.62366062},"upperRightCorner":{"x":-104.83898827,"y":39.6226403},"lowerRightCorner":{"x":-104.83818321,"y":39.49523088},"lowerLeftCorner":{"x":-105.04248353,"y":39.49620574},"gsd":1.3735177865612648E-5,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":5002.0,"sampleOffset":5325.0,"latOffset":39.5594,"lonOffset":-104.9406,"heightOffset":1780.0,"lineScale":5003.0,"sampleScale":5325.0,"latScale":0.0643,"lonScale":0.1057,"heightScale":501.0,"lineNumCoefs":[8.103412E-4,-0.008015115,-1.009225,-7.531765E-4,-1.17732E-4,-1.838841E-7,-1.00526E-5,-7.455129E-4,-1.963256E-4,4.316041E-8,8.855104E-8,-7.037348E-8,-2.421187E-6,3.196641E-8,2.57803E-6,1.491848E-5,4.006162E-6,0.0,-1.478955E-7,0.0],"lineDenCoefs":[1.0,-1.177957E-4,6.089156E-4,-9.537566E-6,-1.23795E-6,-1.002663E-7,-1.414644E-8,-2.50548E-6,8.620887E-6,-3.968718E-6,0.0,0.0,-1.151853E-6,0.0,2.13057E-8,3.306769E-5,0.0,0.0,1.239564E-7,0.0],"sampleNumCoefs":[-0.007799339,1.0377,6.907195E-5,-0.03402336,-0.001467798,9.697019E-5,-1.204263E-4,0.007529723,7.989397E-5,-8.558362E-6,-7.665371E-7,4.575982E-5,-4.197504E-6,-3.628994E-6,-1.049712E-5,-1.564507E-4,-5.055403E-8,2.684558E-6,-2.127075E-7,1.197391E-7],"sampleDenCoefs":[1.0,2.826792E-4,0.001519958,-3.666774E-4,-7.583319E-6,-2.873984E-6,1.208039E-6,6.127079E-6,1.240611E-6,-3.559505E-6,1.1768E-8,-2.430899E-7,4.024185E-7,2.091932E-8,0.0,1.022395E-7,0.0,-5.31182E-8,1.403339E-8,0.0]},"histogram":{"histograms":{"0":[0,48,1,2,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,2,0,1,0,1,1,1,0,0,1,2,1,4,1,0,0,2,1,0,1,0,2,0,1,2,3,1,2,3,2,1,1,3,4,2,3,3,1,3,0,3,2,1,1,4,6,4,6,2,5,6,3,6,9,11,9,9,5,6,4,7,7,11,10,14,13,10,14,13,12,15,19,23,24,25,30,21,30,30,39,43,43,46,57,57,59,62,66,68,66,80,76,90,131,111,140,140,138,162,163,204,193,210,237,255,274,320,336,382,386,410,530,540,590,645,727,759,804,875,978,1130,1126,1301,1457,1645,1761,1882,2155,2353,2631,2898,3195,3537,4003,4551,5183,5863,6639,7724,8661,9740,11429,12973,15076,17105,[...]
