interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/paging?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1050410002D77600+AND+NOT+item_type%3AIDAHOImage+AND+NOT+item_type%3ADigitalGlobeAcquisition&ttl=5m&left=-180.0
  response:
    body: {string: !!python/unicode '{ "data" : [{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-94.97539484958556,29.12722299904154],[-94.9823681323632,28.97907280929035],[-95.13218142834862,28.97795930863359],[-95.12499602440046,29.12864520684073],[-94.97539484958556,29.12722299904154]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["_ALL_"],"users":["_ALL_"]},"item_date":"2012-11-02T17:07:06.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","GE01","DigitalGlobeProduct","1BProduct"],"format":null,"ingest_date":"2017-04-15T06:57:04.129Z","source":null,"name":null,"attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":160.8,"bands":"Multi","xmlFile":"12NOV02170706-M1BS-056067713010_01_P001.XML","browseJpgFile":"12NOV02170706-M1BS-056067713010_01_P001-BROWSE.JPG","cloudCover_int":0,"imdFile":"12NOV02170706-M1BS-056067713010_01_P001.IMD","attFile":"12NOV02170706-M1BS-056067713010_01_P001.ATT","resolution_dbl":2.047,"bandsList":"BAND_B,BAND_G,BAND_R,BAND_N","geoFile":"12NOV02170706-M1BS-056067713010_01_P001.GEO","imageFile":"12NOV02170706-M1BS-056067713010_01_P001.TIF","vendor":"DigitalGlobe","sunElevation_dbl":44.0,"platformName":"GEOEYE01","tilFile":"12NOV02170706-M1BS-056067713010_01_P001.TIL","sensorPlatformName":"GEOEYE01","readmeTxtFile":"12NOV02170706-M1BS-056067713010_01_P001_README.TXT","rpbFile":"12NOV02170706-M1BS-056067713010_01_P001.RPB","offNadirAngle_dbl":16.4,"soli":"056067713","catalogID":"1050410002D77600","productLevel":"LV1B","part_int":1,"ephFile":"12NOV02170706-M1BS-056067713010_01_P001.EPH","bucketPrefix":"056067713010_01_003/056067713010_01/056067713010_01_P001_MUL"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1050410002D77600_P001_MUL_056067713010","text":""}}],"next_paging_id":"DnF1ZXJ5VGhlbkZldGNoHwAAAAAA334TFlNxNUYwQk9YUUN1TDdZQXpzWjVBQncAAAAAAMUslBZsV3k2eEx2V1RqQ0xWZi1HYVRhYkFnAAAAAAF-gnkWZjlXdWEyNUVUZ0NZUUJ4ZFd3NzdSQQAAAAACBqmrFmtadHYtVDRSUVdDQzVGVmtkS2Y1NmcAAAAAAhvubBZuLU84SFBJSVRKYXhtTWV3bHNTSV93AAAAAADFLJUWbFd5NnhMdldUakNMVmYtR2FUYWJBZwAAAAAAxSyWFmxXeTZ4THZXVGpDTFZmLUdhVGFiQWcAAAAAAkrXHhZPck9HY2laMVR6eVJrWk5IS3RrbTRRAAAAAAF-gnoWZjlXdWEyNUVUZ0NZUUJ4ZFd3NzdSQQAAAAAA334UFlNxNUYwQk9YUUN1TDdZQXpzWjVBQncAAAAAAYZPghZzNmRUV0o0elNPaXhhUUZ1Z3BPTkd3AAAAAAJK1x8WT3JPR2NpWjFUenlSa1pOSEt0a200UQAAAAABmyghFkVZWVJNMUxIUk8ta09tNEhIanRmc2cAAAAAAgzafxZRLW9vTHZaM1FveXJjRXB0bWd1b1hnAAAAAAGljw0WVXFXZ1ByalpUdWlFU3ZKRU1qb1cwdwAAAAABpY8OFlVxV2dQcmpaVHVpRVN2SkVNam9XMHcAAAAAAZsoIhZFWVlSTTFMSFJPLWtPbTRISGp0ZnNnAAAAAAF7YGoWQUx5eDhWSzJUbDJNZ1hGdmNoNnl3UQAAAAAA334VFlNxNUYwQk9YUUN1TDdZQXpzWjVBQncAAAAAAaXu3BY1bGx2QVZTQ1Q2aWI4RWlPVHVGd0t3AAAAAAIM2oAWUS1vb0x2WjNRb3lyY0VwdG1ndW9YZwAAAAACStchFk9yT0djaVoxVHp5UmtaTkhLdGttNFEAAAAAAkrXIBZPck9HY2laMVR6eVJrWk5IS3RrbTRRAAAAAAF7YGsWQUx5eDhWSzJUbDJNZ1hGdmNoNnl3UQAAAAAA5EVBFndaZEdJSGI5Um5tM20zc2loLWd1WGcAAAAAAVCsMhZadERqY0hNdlRTMjFxYzc2c3NIMmRBAAAAAAF-gnsWZjlXdWEyNUVUZ0NZUUJ4ZFd3NzdSQQAAAAACG-5tFm4tTzhIUElJVEpheG1NZXdsc1NJX3cAAAAAAN9-FhZTcTVGMEJPWFFDdUw3WUF6c1o1QUJ3AAAAAAIb7m4Wbi1POEhQSUlUSmF4bU1ld2xzU0lfdwAAAAABhk-DFnM2ZFRXSjR6U09peGFRRnVncE9OR3c=","item_count":"1","total_count":"18"}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/paging?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1050410002D77600+AND+attributes.colorInterpretation%3ABGRN&ttl=5m&left=-180.0
  response:
    body: {string: !!python/unicode '{ "data" : [{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-95.71322769,29.13533528],[-95.71935629,28.97105013],[-95.88480573,28.96860077],[-95.87953425,29.13770108],[-95.71322769,29.13533528]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","access":{"groups":["_ALL_"],"users":["_ALL_"]},"item_date":"2012-11-02T17:07:22.628Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","GE01"],"format":null,"ingest_date":"2017-06-17T10:18:22.758Z","source":null,"name":null,"attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2012-11-02T17:07:22.628Z","bucketName":"idaho-images","numBands_int":4,"sunAzimuth_dbl":159.9,"nativeTileFileFormat":"TIF","colorInterpretation":"BGRN","cloudCover_int":18,"idahoImageId":"cef044dd-099c-4530-9f2a-650e6dd01a67","satAzimuth_dbl":189.4,"satElevation_dbl":64.0,"pniirs_dbl":2.8,"numYTiles_int":32,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":43.8,"platformName":"GEOEYE01","imageHeight_int":8021,"numXTiles_int":33,"sensorPlatformName":"GEOEYE01","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":8296,"tileXSize_int":256,"tileYSize_int":256,"offNadirAngle_dbl":23.2,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"1050410002D77600","vendorDatasetIdentifier":"LV1B:056067713010_01_P007:1050410002D77600:A010010247576600","groundSampleDistanceMeters_dbl":2.124},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"cef044dd-099c-4530-9f2a-650e6dd01a67","text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-95.08831207,29.12829088],[-95.09546057,28.97827219],[-95.25579269,28.97677836],[-95.24858233,29.12983328],[-95.08831207,29.12829088]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","acces[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/paging?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1050410002D77600+AND+attributes.colorInterpretation%3APAN&ttl=5m&left=-180.0
  response:
    body: {string: !!python/unicode '{ "data" : [{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-95.21173194,29.12948261],[-95.21[...]
- request:
    body: !!python/unicode '{"edges": [{"destination": "22a175eb-0f36-5d76-b8fe-64f8cb510907",
      "id": "45129045-27ea-5acb-a0ab-1a70a7b5dd86", "index": 1, "source": "568a6a39-6a49-5325-9661-2c8110ca6fe0"},
      {"destination": "22a175eb-0f36-5d76-b8fe-64f8cb510907", "id": "ef1c1b6c-52e3-5b9c-ae44-cba269ae00e3",
      "index": 2, "source": "22f4ab42-6d61-59a1-bfd7-affb986158cb"}, {"destination":
      "568a6a39-6a49-5325-9661-2c8110ca6fe0", "id": "abba793f-952f-557d-94da-5cb45ea782e5",
      "index": 1, "source": "736d728a-c4be-5ae3-a773-2c0906283407"}, {"destination":
      "568a6a39-6a49-5325-9661-2c8110ca6fe0", "id": "e51f156f-2716-5b64-ae8[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/1b3018956ff92dc7e114f7fcf73a9a0fda18cacef401ba528ae6e339eedeebbc/22a175eb-0f36-5d76-b8fe-64f8cb510907/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"0cc170a1-c2a4-4e16-86a0-ebb9e9a93c63","version":"1.0","profileName":"dg_1b","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":887,"numYTiles":148,"tileXSize":256,"tileYSize":256,"numBands":4,"dataType":"UNSIGNED_SHORT","imageHeight":37695,"imageWidth":227026,"sensorPlatformName":"GE01","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","vendorName":"DigitalGlobe, Inc.","vendorDatasetIdentifier":"LV1B:056067713010_01_P002:1050410002D77600:A010010247576300","acquisitionDate":"2012-11-02T17:07:14.246Z","colorInterpretation":"BGRN","imageBoundsWGS84":"POLYGON
        ((-96.01955409 29.13980538, -94.97538132679483 29.13980538, -94.97538132679483
        28.96643276052461, -96.01955409 28.96643276052461, -96.01955409 29.13980538))","groundSampleDistanceMeters":0.518,"minX":0,"minY":0,"maxX":227025,"maxY":37694,"minTileX":0,"minTileY":0,"maxTileX":886,"maxTileY":147,"sunAzimuth":160.4,"sunElevation":43.9,"satAzimuth":197.4,"satElevation":68.2,"cloudCover":0.026,"offNadirAngle":19.5,"pniirs":4.8},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":4.599353215954006E-6,"scaleY":-4.599353215954006E-6,"translateX":-96.01955409,"translateY":29.13980538,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":-95.08831207,"y":29.12829088},"upperRightCorner":{"x":-95.09546057,"y":28.97827219},"lowerRightCorner":{"x":-95.25579269,"y":28.97677836},"lowerLeftCorner":{"x":-95.24858233,"y":29.12983328},"gsd":1.8397412863816025E-5,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":3889.0,"sampleOffset":4023.0,"latOffset":29.0533,"lonOffset":-95.1721,"heightOffset":-26.0,"lineScale":3889.0,"sampleScale":4023.0,"latScale":0.0781,"lonScale":0.0845,"heightScale":500.0,"lineNumCoefs":[0.001922792,-1.05442,0.04638181,-0.008497364,2.407546E-4,-3.127807E-4,8.061665E-6,-0.001670826,1.283483E-4,-1.849222E-6,-2.100713E-6,9.528411E-5,3.303685E-5,2.983014E-5,-1.349072E-4,-1.076944E-6,-1.322445E-6,-9.024478E-7,2.960824E-7,2.415274E-7],"lineDenCoefs":[1.0,2.491571E-4,1.591559E-4,-3.139855E-4,-9.316491E-5,3.694726E-8,-8.626702E-7,6.809693E-5,-9.188002E-6,-2.844029E-5,-3.284145E-7,9.457461E-6,1.98833E-7,4.065522E-8,-3.396618E-6,3.91872E-8,-1.045522E-8,5.835814E-7,2.481565E-8,1.698281E-8],"sampleNumCoefs":[-0.003696723,1.60006E-4,-1.03111,-0.01902384,-0.005294015,0.001171477,-3.765599E-4,-2.310914E-4,0.004114832,4.52829E-6,-9.105543E-6,-9.183729E-5,-1.439107E-4,1.166661E-6,2.064012E-4,4.922626E-5,4.261234E-5,8.510392E-6,-1.051097E-7,8.222401E-7],"sampleDenCoefs":[1.0,-0.005433837,4.247292E-4,-4.58964E-4,-9.116451E-5,-6.661784E-6,3.73783E-6,1.629055E-4,-4.267484E-5,-4.172479E-5,-5.633202E-7,6.370642E-6,2.596157E-6,4.512678E-7,-8.19265E-6,-2.734691E-7,-1.923122E-7,1.118891E-6,7.526001E-8,3.455423E-8]},"histogram":{"histograms":{"0":[0,2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,2,0,0,0,1,0,1,1,0,0,1,0,1,3,0,1,0,0,2,1,0,2,3,2,2,0,1,1,0,1,1,0,2,1,3,2,2,2,4,0,2,3,1,0,1,0,3,3,4,4,3,6,3,7,6,4,4,4,3,4,3,11,4,5,4,4,8,10,4,10,8,7,8,7,7,9,6,7,13,8,17,13,20,17,20,11,17,19,26,24,19,30,39,30,36,39,45,45,69,56,50,48,72,72,67,83,85,126,111,132,155,156,160,203,244,273,389,479,819,1196,1806,2729,4124,6539,10714,17658,32923,66899,145417,314335,616598,1060565,1606935,2[...]
