interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+%28attributes.catalogID.keyword%3A881e61e5-5c56-44bf-a0d0-c4f5260a8aff-inv+OR+id%3A881e61e5-5c56-44bf-a0d0-c4f5260a8aff-inv%29+AND+NOT+item_type%3ADigitalGlobeAcquisition&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-77.97506272,34.9596065],[-77.77805797,34.9497647],[-77.77829761,34.84722502],[-77.97446011,34.85693329],[-77.97506272,34.9596065]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2018-10-13T16:01:11.985Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV04"],"name":null,"format":null,"ingest_date":"2018-10-13T20:03:08.909Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2018-10-13T16:01:11.985Z","bucketName":"rda-images-1","numBands_int":4,"sunAzimuth_dbl":159.9,"nativeTileFileFormat":"TIF","colorInterpretation":"BGRN","cloudCover_int":0,"idahoImageId":"fdadf688-fffd-4525-ab04-01fa3f920af2","satAzimuth_dbl":102.6,"satElevation_dbl":57.6,"pniirs_dbl":3.3,"numYTiles_int":29,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":45.3,"platformName":"WORLDVIEW04","imageHeight_int":7389,"numXTiles_int":40,"sensorPlatformName":"WORLDVIEW04","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":10027,"tileXSize_int":0,"tileYSize_int":0,"offNadirAngle_dbl":29.2,"tileBucketName":"rda-images-1","vendorName":"DigitalGlobe,
        Inc.","version":"1.1","tileYOffset_int":0,"catalogID":"881e61e5-5c56-44bf-a0d0-c4f5260a8aff-inv","vendorDatasetIdentifier":"LV1B:I00000163817_01_P002:881e61e5-5c56-44bf-a0d0-c4f5260a8aff-inv:None","groundSampleDistanceMeters_dbl":1.664},"ingest_attributes":{"_rest_user":"idahosvc@digitalglobe.com","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"fdadf688-fffd-4525-ab04-01fa3f920af2","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"edges": [{"destination": "3994eae4-bb7b-5dc3-a661-6f24b8a21323",
      "id": "6bb1bfc2-2f45-525a-975e-4636fe19479a", "index": 1, "source": "a152add0-5671-5583-842c-9053f35f486c"}],
      "nodes": [{"id": "3994eae4-bb7b-5dc3-a661-6f24b8a21323", "operator": "Format",
      "parameters": {"dataType": "4"}}, {"id": "a152add0-5671-5583-842c-9053f35f486c",
      "operator": "DigitalGlobeStrip", "parameters": {"CRS": "EPSG:4326", "GSD": "null",
      "bands": "MS", "catId": "881e61e5-5c56-44bf-a0d0-c4f5260a8aff-inv", "correctionType":
      "TOAREFLECTANCE", "fallbackToTOA": "true"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode 790709d959906009c8a4ebe09d8519b5d29c3427bf59f5b98ce431cd04f9c5dd}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/790709d959906009c8a4ebe09d8519b5d29c3427bf59f5b98ce431cd04f9c5dd/3994eae4-bb7b-5dc3-a661-6f24b8a21323/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"9c1d5cbb-90e1-4310-bc7a-4eb23c600694","version":1.1,"profileName":"georectified_image","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":53,"numYTiles":279,"tileXSize":256,"tileYSize":256,"numBands":4,"dataType":"FLOAT","imageHeight":71236,"imageWidth":13333,"sensorPlatformName":"WV04","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","vendorName":"DigitalGlobe, Inc.","vendorDatasetIdentifier":"LV1B:I00000163817_01_P001:881e61e5-5c56-44bf-a0d0-c4f5260a8aff-inv:None","acquisitionDate":"2018-10-13T16:01:10.918Z","colorInterpretation":"BGRN","imageBoundsWGS84":"POLYGON
        ((-77.97551493 35.0294841, -77.77777164038449 35.0294841, -77.77777164038449
        33.97297461383399, -77.97551493 33.97297461383399, -77.97551493 35.0294841))","groundSampleDistanceMeters":1.664,"minX":0,"minY":0,"maxX":13332,"maxY":71235,"minTileX":0,"minTileY":0,"maxTileX":52,"maxTileY":278,"sunAzimuth":159.9,"sunElevation":45.2,"satAzimuth":102.7,"satElevation":57.5,"cloudCover":0.0,"offNadirAngle":29.3,"sensorAlias":"WV04_MULTI","oneBResamplingKernel":"MTF","absoluteCalibrationFactors":[0.011877,0.009682,0.006515,0.007710001],"effectiveBandwidths":[0.058972,0.067195,0.034426,0.104893],"tdiLevels":[24.0,21.0,24.0,21.0],"bandAliases":["B","G","R","N"],"pniirs":3.3},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":1.4831117499101688E-5,"scaleY":-1.4831117499101688E-5,"translateX":-77.97551493,"translateY":35.0294841,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,1603,0,0,0,0,0,0,0,0,0,0,0,0,0,14,0,0,0,0,0,0,0,0,0,0,0,0,0,11,6,0,0,0,0,0,0,0,0,0,0,0,0,0,13,0,0,0,0,0,0,0,0,0,0,0,0,0,17,0,0,0,0,0,0,0,0,0,0,0,0,0,7,6,0,0,0,0,0,0,0,0,0,0,0,0,0,8,7,0,0,0,0,0,0,0,0,0,0,0,0,10,5,0,0,0,0,0,0,0,0,0,0,0,0,6,6,1,0,0,0,0,0,0,0,0,0,0,0,0,21,1,0,0,0,0,0,0,0,0,0,0,0,0,20,2,1,0,0,0,0,0,0,0,0,0,0,0,4,16,1,1,0,0,0,0,0,0,0,0,0,0,0,12,1,1,0,0,0,0,0,0,0,0,0,0,0,12,2,2,0,0,0,0,0,0,0,0,0,0,1,5,6,0,1,0,0,0,0,0,0,0,0,0,0,4,7,1,3,1,0,0,0,0,0,0,0,0[...]
