interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A104001002838EC00+AND+NOT+item_type%3AIDAHOImage+AND+NOT+item_type%3ADigitalGlobeAcquisition&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-85.82930142673992,10.61232163010509],[-85.68430690211953,10.63202914746609],[-85.68441104302723,10.50172236215794],[-85.8294093844424,10.48216396004404],[-85.82930142673992,10.61232163010509]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-02-07T16:45:08.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","WV03_VNIR","DigitalGlobeProduct","1BProduct"],"name":null,"format":null,"ingest_date":"2017-04-15T23:22:42.741Z","attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":144.8,"bands":"Multi","xmlFile":"17FEB07164508-M1BS-056165420010_01_P005.XML","browseJpgFile":"17FEB07164508-M1BS-056165420010_01_P005-BROWSE.JPG","cloudCover_int":0,"imdFile":"17FEB07164508-M1BS-056165420010_01_P005.IMD","attFile":"17FEB07164508-M1BS-056165420010_01_P005.ATT","resolution_dbl":1.503,"bandsList":"BAND_C,BAND_B,BAND_G,BAND_Y,BAND_R,BAND_RE,BAND_N,BAND_N2","geoFile":"17FEB07164508-M1BS-056165420010_01_P005.GEO","imageFile":"17FEB07164508-M1BS-056165420010_01_P005.TIF","vendor":"DigitalGlobe","sunElevation_dbl":58.8,"platformName":"WORLDVIEW03_VNIR","tilFile":"17FEB07164508-M1BS-056165420010_01_P005.TIL","sensorPlatformName":"WORLDVIEW03_VNIR","readmeTxtFile":"17FEB07164508-M1BS-056165420010_01_P005_README.TXT","rpbFile":"17FEB07164508-M1BS-056165420010_01_P005.RPB","offNadirAngle_dbl":26.6,"soli":"056165420","catalogID":"104001002838EC00","productLevel":"LV1B","part_int":5,"ephFile":"17FEB07164508-M1BS-056165420010_01_P005.EPH","bucketPrefix":"056165420010_01_003/056165420010_01/056165420010_01_P005_MUL"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"104001002838EC00_P005_MUL_056165420010","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A104001002838EC00+AND+attributes.colorInterpretation%3APAN&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-85.82958424,10.0969036],[-85.68499042,10.11590445],[-85.6836112,9.98719598],[-85.82972943,9.96686083],[-85.82958424,10.0969036]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-02-07T16:45:16.583Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV03_VNIR"],"name":null,"format":null,"ingest_date":"2017-06-15T21:12:10.737Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2017-02-07T16:45:16.583Z","bucketName":"idaho-images","numBands_int":1,"sunAzimuth_dbl":144.4,"nativeTileFileFormat":"PNG","colorInterpretation":"PAN","cloudCover_int":0,"idahoImageId":"0f6aaf6a-7e8a-49f8-8b09-d209dd95f310","satAzimuth_dbl":224.3,"satElevation_dbl":60.3,"pniirs_dbl":5.4,"numYTiles_int":38,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":59.3,"platformName":"WORLDVIEW03_VNIR","imageHeight_int":38412,"numXTiles_int":42,"sensorPlatformName":"WORLDVIEW03_VNIR","sensorName":"Panchromatic","dataType":"UNSIGNED_SHORT","imageWidth_int":42500,"tileXSize_int":1024,"tileYSize_int":1024,"offNadirAngle_dbl":26.8,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"104001002838EC00","vendorDatasetIdentifier":"LV1B:056165420010_01_P010:104001002838EC00:A01001025E725E00","groundSampleDistanceMeters_dbl":0.377},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"0f6aaf6a-7e8a-49f8-8b09-d209dd95f310","source":null,"text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-85.82959724,10.30277905],[-85.68413321,10.32291966],[-85.68507931,10.19186139],[-85.82950676,10.17293912],[-85.82959724,10.30277905]]]]},"properties":{"ingest_source":"GBDX_INGEST[...]
[...]
- request:
    body: !!python/unicode '{"edges": [{"destination": "86f736b9-fc2c-5698-8313-5d286f4048eb",
      "id": "7069029a-ab9f-5f90-a27f-7f62bc17a964", "index": 1, "source": "c9807203-2ca7-592a-9378-fde6f3cfb1d4"},
      {"destination": "86f736b9-fc2c-5698-8313-5d286f4048eb", "id": "6e00c2b2-6609-5e24-afee-dcb7cab4cb79",
      "index": 2, "source": "dde5b596-27d0-585c-8a7a-fece8b79ca02"}, {"destination":
      "86f736b9-fc2c-5698-8313-5d286f4048eb", "id": "29322291-52ea-5b8d-9255-e7879cb05225",
      "index": 3, "source": "11e1c0a8-befa-53b9-b81d-da951dc46c57"}, {"destination":
      "86f736b9-fc2c-5698-8313-5d286f4048eb", "id": "33e6fd92-1248-5e35-826[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/b9f1a2d1025d94d6463440996302f4ef6266fd30ecb1d3c95dfadacad8f11e74/86f736b9-fc2c-5698-8313-5d286f4048eb/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"0f6aaf6a-7e8a-49f8-8b09-d209dd95f310","version":1.0,"profileName":"georectified_image","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":170,"numYTiles":1243,"tileXSize":256,"tileYSize":256,"numBands":1,"dataType":"UNSIGNED_SHORT","imageHeight":317960,"imageWidth":43512,"sensorPlatformName":"WV03","sensorName":"Panchromatic","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:056165420010_01_P010:104001002838EC00:A01001025E725E00","acquisitionDate":"2017-02-07T16:45:16.583Z","colorInterpretation":"PAN","imageBoundsWGS84":"POLYGON
        ((-85.82979631 11.03402185, -85.68360974873518 11.03402185, -85.68360974873518
        9.965776790711462, -85.82979631 9.965776790711462, -85.82979631 11.03402185))","groundSampleDistanceMeters":0.377,"minX":0,"minY":0,"maxX":43511,"maxY":317959,"minTileX":0,"minTileY":0,"maxTileX":169,"maxTileY":1242,"sunAzimuth":144.4,"sunElevation":59.3,"satAzimuth":224.3,"satElevation":60.3,"cloudCover":0.0,"offNadirAngle":26.8,"pniirs":5.4},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":3.359683794466403E-6,"scaleY":-3.359683794466403E-6,"translateX":-85.82979631,"translateY":11.03402185,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":-85.82958424,"y":10.0969036},"upperRightCorner":{"x":-85.68499042,"y":10.11590445},"lowerRightCorner":{"x":-85.6836112,"y":9.98719598},"lowerLeftCorner":{"x":-85.82972943,"y":9.96686083},"gsd":3.386633129716134E-6,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":19205.0,"sampleOffset":21249.0,"latOffset":10.0412,"lonOffset":-85.7574,"heightOffset":220.0,"lineScale":19206.0,"sampleScale":21250.0,"latScale":0.077,"lonScale":0.0749,"heightScale":501.0,"lineNumCoefs":[7.349162E-4,0.1604375,-1.184912,-0.02453921,-8.691045E-5,4.366244E-6,-6.335279E-5,1.46145E-4,-3.052356E-4,6.181367E-7,-1.119265E-6,-2.853775E-6,-2.152556E-5,-3.766718E-6,2.212322E-5,9.013712E-5,2.769856E-5,5.469549E-7,2.828603E-6,5.752207E-7],"lineDenCoefs":[1.0,-2.446012E-4,5.461321E-4,-5.751175E-5,-3.354968E-5,-1.9798E-7,5.412017E-6,-1.459392E-5,7.797672E-5,-2.329336E-5,1.868481E-6,2.697995E-7,4.436038E-5,2.758123E-8,-5.935921E-6,-1.110495E-4,-1.534338E-7,-1.231053E-7,-7.00948E-6,0.0],"sampleNumCoefs":[0.004888492,1.026257,-5.580045E-5,0.02499662,5.729461E-4,3.035744E-4,-1.518368E-4,-0.005062962,3.157461E-4,4.060568E-6,4.132045E-7,1.594681E-5,-4.379603E-8,2.284483E-7,1.443681E-5,-1.628046E-5,-1.308134E-7,-3.048507E-6,-1.335703E-6,0.0],"sampleDenCoefs":[1.0,1.716124E-4,-5.826156E-4,-4.338506E-4,-1.291269E-5,1.835628E-6,-2.262055E-6,4.536613E-6,1.645329E-6,0.0,-3.934008E-8,1.876553E-8,-4.000717E-7,0.0,2.612328E-7,6.623141E-7,0.0,-1.87952E-8,5.060107E-8,0.0]},"histogram":{"histograms":{"0":[0,1632,32,52,55,39,57,45,52,61,49,68,80,69,64,73,63,91,77,75,77,79,77,74,117,119,133,132,143,131,138,132,170,159,180,197,224,229,226,281,262,282,318,316,326,368,367,403,424,456,465,517,583,643,638,727,805,819,916,966,1030,1174,1153,1261,1453,1564,1724,1911,2004,2222,2459,2702,2955,3336,3692,4101,4465,5063,5646,6328,6983,7969,8980,10503,11674,13659,15439,18068,20792,24340,29624,35868,44453,56717,74922,103844,151701,228646,356586,565432,906533,1433799,2244711,3422909,5089737,7370213,10427916[...]
