interactions:
- request:
    body: '[{"geometry": {"type": "Point", "coordinates": [1.0, 1.0]}, "type": "Feature",
      "properties": {"text": "item text", "ingest_source": "source", "attributes":
      {"latitude": 1, "institute_founded": "2015-07-17", "mascot": "moth"}, "name":
      "item name", "item_type": "type"}}]'
    headers:
    method: POST
    uri: https://vector.geobigdata.io/insight-vector/api/vectors
  response:
    body: {string: !!python/unicode '["/insight-vector/api/vector/vector-web-s/ce0699f3-bef8-402f-a18e-d149dc2f5f90"]'}
    headers:
      content-type: [application/json]
    status: {code: 201, message: Created}
version: 1
