interactions:
- request:
    body: '[{"geometry": {"type": "Point", "coordinates": [1.0, 1.0]}, "type": "Feature",
      "properties": {"text": "item text", "ingest_source": "source", "attributes":
      {"latitude": 1, "institute_founded": "2015-07-17", "mascot": "moth"}, "name":
      "item name", "item_type": "type"}}, {"geometry": {"type": "Point", "coordinates":
      [1.0, 1.0]}, "type": "Feature", "properties": {"text": "item text", "ingest_source":
      "source", "attributes": {"latitude": 1, "institute_founded": "2015-07-17", "mascot":
      "asdfadsfadf"}, "name": "item name", "item_type": "type"}}]'
    headers:
    method: POST
    uri: https://vector.geobigdata.io/insight-vector/api/vectors
  response:
    body: {string: !!python/unicode '["/insight-vector/api/vector/vector-web-s/2dc6b85f-64fc-4963-b43f-f4a1a8443d70","/insight-vector/api/vector/vector-web-s/8da235df-f0bb-45fd-ae43-0d9e487df1c1"]'}
    headers:
      content-type: [application/json]
    status: {code: 201, message: Created}
version: 1
