interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geobigdata.io/catalog/v2/record/10400100203F1300?includeRelationships=false
  response:
    body: {string: !!python/unicode '{"identifier": "10400100203F1300", "type": ["GBDXCatalogRecord",
        "Acquisition", "DigitalGlobeAcquisition", "WV03_VNIR"], "properties": {"bearing":
        179.998178877497, "offNadirAngle_min": 19.5235328674316, "offNadirAngle_start":
        19.5235328674316, "targetAzimuth_min": 39.3894958496094, "multiResolution_min":
        1.37444138526917, "cloudCover": 0, "sunAzimuth_max": 154.474685668945, "targetAzimuth":
        41.2207984924316, "multiResolution": 1.38124108314514, "catalogID": "10400100203F1300",
        "panResolution_max": 0.346667915582657, "timestamp": "2016-08-12T18:18:28.000Z",
        "sunAzimuth_min": 154.474685668945, "browseURL": "https://geobigdata.io/thumbnails/v1/browse/10400100203F1300.large.png",
        "targetAzimuth_max": 42.7114448547363, "sunAzimuth": 154.474685668945, "sunElevation_min":
        63.1596984863281, "offNadirAngle": 19.9738235473633, "stereoPair": null, "platformName":
        "WORLDVIEW03_VNIR", "multiResolution_start": 1.37444138526917, "sunElevation":
        63.1596984863281, "vendor": "DigitalGlobe", "scanDirection": "Forward", "panResolution_end":
        0.346667915582657, "panResolution_start": 0.343499302864075, "targetAzimuth_end":
        42.7114448547363, "panResolution_min": 0.343499302864075, "offNadirAngle_max":
        20.3526706695557, "multiResolution_end": 1.38705396652222, "multiResolution_max":
        1.38705396652222, "sunElevation_max": 63.1596984863281, "offNadirAngle_end":
        20.3526706695557, "panResolution": 0.345211237668991, "footprintWkt": "MULTIPOLYGON(((-105.0954356
        40.01549666, -104.9255554 40.02505995, -104.9256069 39.99412001, -104.9257522
        39.96308826, -104.9257023 39.9321297, -104.9256311 39.90116222, -104.9255095
        39.8702882, -104.9255083 39.83926894, -104.9255176 39.80823627, -104.9255881
        39.77717166, -104.9256504 39.7461096, -104.9257057 39.71503266, -104.9257142
        39.68400715, -104.9257801 39.65290363, -104.9257338 39.62187235, -104.9257925
        39.59077649, -104.9259056 39.55961892, -104.9260653 39.52839417, -104.9264414
        39.49702078, -104.9264994 39.46591446, -104.926055 39.43516845, -104.9259955
        39.42676914, -105.0974984 39.4152336, -105.0974267 39.4238931, -105.0970047
        39.45536418, -105.095928 39.48737265, -105.0959886 39.51841279, -105.0958966
        39.54960944, -105.0959918 39.58061148, -105.0959416 39.61172177, -105.095898
        39.64284814, -105.0958755 39.67393848, -105.0958875 39.70496434, -105.0958244
        39.73607203, -105.0957954 39.76712816, -105.0956627 39.79827475, -105.0958557
        39.82914225, -105.0957939 39.86024199, -105.0956966 39.89132964, -105.0957276
        39.92235175, -105.0955687 39.95352696, -105.0954812 39.98453815, -105.0954356
        40.01549666)))", "targetAzimuth_start": 39.3894958496094, "imageBands": "PAN_MS1_MS2",
        "sensorPlatformName": "WORLDVIEW03_VNIR"}}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [39a93a4d-132c-11e7-89f3-f1b64e8a8c28]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"searchAreaWkt": "POLYGON((-105.0954356 40.01549666,
      -104.9255554 40.02505995, -104.9256069 39.99412001, -104.9257522 39.96308826,
      -104.9257023 39.9321297, -104.9256311 39.90116222, -104.9255095 39.8702882,
      -104.9255083 39.83926894, -104.9255176 39.80823627, -104.9255881 39.77717166,
      -104.9256504 39.7461096, -104.9257057 39.71503266, -104.9257142 39.68400715,
      -104.9257801 39.65290363, -104.9257338 39.62187235, -104.9257925 39.59077649,
      -104.9259056 39.55961892, -104.9260653 39.52839417, -104.9264414 39.49702078,
      -104.9264994 39.46591446, -104.926055 39.43516845, -104.9259955 39.42676914,
      -105.0974984 39.4152336, -105.0974267 39.4238931, -105.0970047 39.45536418,
      -105.095928 39.48737265, -105.0959886 39.51841279, -105.0958966 39.54960944,
      -105.0959918 39.58061148, -105.0959416 39.61172177, -105.095898 39.64284814,
      -105.0958755 39.67393848, -105.0958875 39.70496434, -105.0958244 39.73607203,
      -105.0957954 39.76712816, -105.0956627 39.79827475, -105.0958557 39.82914225,
      -105.0957939 39.86024199, -105.0956966 39.89132964, -105.0957276 39.92235175,
      -105.0955687 39.95352696, -105.0954812 39.98453815, -105.0954356 40.01549666))",
      "types": ["IDAHOImage"], "filters": ["catalogID = ''10400100203F1300''"]}'
    headers:
    method: POST
    uri: https://geobigdata.io/catalog/v2/search
  response:
    body: {string: !!python/unicode '{"stats": {"recordsReturned": 12, "totalRecords":
        12, "typeCounts": {"IDAHOImage": 12, "GBDXCatalogRecord": 12, "WV03_VNIR":
        12, "DigitalGlobeProduct": 12}}, "results": [{"identifier": "74cc8feb-191a-4e48-b9a9-a3103743d47b",
        "type": ["GBDXCatalogRecord", "IDAHOImage", "DigitalGlobeProduct", "WV03_VNIR"],
        "properties": {"satAzimuth": 223.0, "sunAzimuth": 154.5, "epsgCode": "4326",
        "cloudCover": 0, "numYTiles": 161, "numXTiles": 167, "imageWidth": 42500,
        "tileXOffset": 0, "tileYSize": 256, "idahoImageId": "74cc8feb-191a-4e48-b9a9-a3103743d47b",
        "catalogID": "10400100203F1300", "vendorDatasetIdentifier": "LV1B:055640773010_01_P004:10400100203F1300:A01001020110DC00",
        "version": "1.0", "numBands": 1, "offNadirAngle": 20.0, "platformName": "WORLDVIEW03_VNIR",
        "vendorName": "DigitalGlobe", "imageHeight": 40964, "sunElevation": 63.2,
        "vendor": "DigitalGlobe", "acquisitionDate": "2016-08-12T18:18:32.887Z", "dataType":
        "UNSIGNED_SHORT", "timestamp": "2017-02-13T19:22:59.000Z", "tileYOffset":
        0, "bucketName": "idaho-images", "tileXSize": 256, "colorInterpretation":
        "PAN", "profileName": "dg_1b", "tilePartition": "0000", "groundSampleDistanceMeters":
        0.345, "sensorName": "Panchromatic", "tileBucketName": "idaho-images", "footprintWkt":
        "MULTIPOLYGON(((-105.09569255 39.72300451, -104.92582708 39.73309971, -104.92592982
        39.60584978, -105.09579591 39.5956688, -105.09569255 39.72300451)))", "nativeTileFileFormat":
        "PNG", "pniirs": 5.5, "satElevation": 67.8, "sensorPlatformName": "WORLDVIEW03_VNIR"}},
        {"identifier": "d78c7379-8362-4822-969d-aca1b78fb01d", "type": ["GBDXCatalogRecord",
        "IDAHOImage", "DigitalGlobeProduct", "WV03_VNIR"], "properties": {"satAzimuth":
        223.9, "sunAzimuth": 154.3, "epsgCode": "4326", "cloudCover": 0, "numYTiles":
        33, "numXTiles": 42, "imageWidth": 10651, "tileXOffset": 0, "tileYSize": 256,
        "idahoImageId": "d78c7379-8362-4822-969d-aca1b78fb01d", "catalogID": "10400100203F1300",[...]
