interactions:
- request:
    body: '{"type": "Polygon", "coordinates": [[[-117.1, 37.9], [-117.1, 38.1], [-117.3,
      38.1], [-117.3, 37.9], [-117.1, 37.9]]]}'
    headers:
    method: POST
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-sma-twitter*/items?q=item_type%3Atweet&count=100
  response:
    body:
      string: '[{"geometry":{"coordinates":[[[-117.23132932467948,38.067874970482386],[-117.23132932467948,38.06877588948301],[-117.23018973532055,38.06877588948301],[-117.23018973532055,38.067874970482386],[-117.23132932467948,38.067874970482386]]],"type":"Polygon"},"type":"Feature","properties":{"ingest_source":"Twitter","item_date":null,"original_crs":"EPSG:4326","item_type":["tweet"],"name":null,"format":"Gnip
        JSON","ingest_date":"2019-11-22T21:10:38.210Z","attributes":{"link":"http://twitter.com/nyecounty/statuses/1197985742011547648","sentiment_negative_dbl":0.21937166825657842,"id":"1197985742011547648","sentiment_positive_dbl":0.7806283317434215},"ingest_attributes":{"process_version":"20140909T120800Z\n"},"id":"1197985742011547648","source":null,"text":""}},{"geometry":{"coordinates":[[[-117.23832855573171,38.07187799078999],[-117.23832855573171,38.07277890917539],[-117.23718890426827,38.07277890917539],[-117.23718890426827,38.07187799078999],[-117.23832855573171,38.07187799078999]]],"type":"Polygon"},"type":"Feature","properties":{"ingest_source":"Twitter","item_date":null,"original_crs":"EPSG:4326","item_type":["tweet"],"name":null,"format":"Gnip
        JSON","ingest_date":"2019-11-30T05:24:20.874Z","attributes":{"link":"http://twitter.com/[...]
