interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geobigdata.io/catalog/v1/record/1010010011AD6E00?includeRelationships=false
  response:
    body: {string: !!python/unicode '{"identifier":"1010010011AD6E00","owner":"7b216bd9-6523-4ca9-aa3b-1d8a5994f054","type":"DigitalGlobeAcquisition","properties":{"sunElevation":"53.88194","targetAzimuth":"315.08475","sensorPlatformName":"QUICKBIRD02","browseURL":"https://browse.digitalglobe.com/imagefinder/showBrowseMetadata?catalogId=1010010011AD6E00","sunAzimuth":"67.08003","footprintWkt":"POLYGON
        ((29.875176 10.525608, 29.919096 10.515672, 29.975832 10.503, 30.084552 10.478952,
        30.084408 10.398888, 30.083688 10.268136, 30.082824 10.108872, 30.082104 10.011384,
        29.875176 10.060344, 29.87532 10.230984, 29.875176 10.525608))","cloudCover":"73.0","multiResolution":"3.357536793","vendorName":"DigitalGlobe","offNadirAngle":"34.0","panResolution":"0.839438498","catalogID":"1010010011AD6E00","imageBands":"Pan_MS1","timestamp":"2013-07-14T00:00:00.000Z"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
