interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/metadata/search?free-text=LandsatTemplate
  response:
    body:
      string: '[{"isPublic":false,"keywords":["LandsatTemplate"],"sensors":["Landsat"],"keynodes":[{"id":"Reproject","description":"Reproject"}],"description":"Landsat
        Read and Reproject","metadataAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"templateAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"datePublished":"2019-04-16T20:05:28.084Z","name":"LandsatTemplate","templateId":"5109a915f6c5ba62397e3f0bde2cbf6c7c5f4c9030b055361d77a90c605cf550","id":"e1b505a03d9446ee8c6dad96a83403b1"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/5109a915f6c5ba62397e3f0bde2cbf6c7c5f4c9030b055361d77a90c605cf550
  response:
    body:
      string: '{"id":"5109a915f6c5ba62397e3f0bde2cbf6c7c5f4c9030b055361d77a90c605cf550","defaultNodeId":"LandsatRead","edges":[{"id":"edge-1","index":1,"source":"LandsatRead","destination":"Reproject"}],"nodes":[{"id":"Reproject","operator":"Reproject","parameters":{"Dest
        SRS Code":"${DestSRSCode:-EPSG:4326}","Dest pixel-to-world transform":"null","Source
        SRS Code":"${SourceSRSCode:-EPSG:4326}","Source pixel-to-world transform":"null"}},{"id":"LandsatRead","operator":"LandsatRead","parameters":{"landsatId":"${catalogId}","productSpec":"${productSpec}"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/5109a915f6c5ba62397e3f0bde2cbf6c7c5f4c9030b055361d77a90c605cf550/metadata?catalogId=LC80370302014268LGN00&productSpec=multispectral&nodeId=Reproject&SourceSRSCode=EPSG%3A4326&DestSRSCode=EPSG%3A4326
  response:
    body:
      string: '{"imageMetadata":{"imageId":"LC80370302014268LGN00","version":1.1,"profileName":"georectified_image","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":37,"numYTiles":27,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"UNSIGNED_SHORT","imageHeight":6787,"imageWidth":9101,"sensorPlatformName":"LANDSAT8","sensorName":"Operational
        Land Imager","vendorName":"NASA/USGS","vendorDatasetIdentifier":"Path=37:Row=30","acquisitionDate":"2014-09-25T18:01:18.581Z","colorInterpretation":"LANDSAT_8_30M","imageBoundsWGS84":"POLYGON
        ((-110.88552639621763 44.246537170966825, -108.00423432976561 44.246537170966825,
        -108.00423432976561 42.09783601120308, -110.88552639621763 42.09783601120308,
        -110.88552639621763 44.246537170966825))","groundSampleDistanceMeters":30.0,"minX":-55,"minY":1,"maxX":9045,"maxY":6787,"minTileX":-1,"minTileY":0,"maxTileX":35,"maxTileY":26,"sunAzimuth":156.24916298,"sunElevation":43.39473382,"cloudCover":0.04},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":3.165907116198241E-4,"scaleY":-3.165907116198241E-4,"translateX":-110.86811390707854,"translateY":44.246853761678445,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":null,"sensorMetadata":null,"imageAssociations":null,"rrdMetadata":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
