interactions:
- request:
    body: !!python/unicode '{"type": "Polygon", "coordinates": [[[-76.65, 40.1], [-76.65,
      40.14], [-76.55, 40.14], [-76.55, 40.1], [-76.65, 40.1]]]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vector.geobigdata.io/insight-vector/api/index/aggregation/vector-gbdx-alpha-catalog-v2-*?count=10&aggs=terms%3Aitem_type
  response:
    body:
      string: !!python/unicode '{"responseDate":"2019-06-13T21:30:06.337Z","geom":{"type":"Polygon","coordinates":[[[-76.65,40.1],[-76.65,40.14],[-76.55,40.14],[-76.55,40.1],[-76.65,40.1]]]},"query":null,"startDate":null,"endDate":null,"totalItems":1044,"aggregations":[{"name":"terms:item_type","terms":[{"term":"GBDXCatalogRecord","count":1044,"aggregations":null},{"term":"ESAProduct","count":491,"aggregations":null},{"term":"Acquisition","count":436,"aggregations":null},{"term":"SENTINEL2","count":350,"aggregations":null},{"term":"Landsat8","count":329,"aggregations":null},{"term":"LandsatAcquisition","count":329,"aggregations":null},{"term":"SENTINEL1","count":141,"aggregations":null},{"term":"DigitalGlobeAcquisition","count":98,"aggregations":null},{"term":"DigitalGlobeProduct","count":44,"aggregations":null},{"term":"MODISProduct","count":44,"aggregations":null}]}]}'
    headers:
      content-type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
