interactions:
- request:
    body: '{"type": "Polygon", "coordinates": [[[-76.65, 40.1], [-76.65, 40.14], [-76.55,
      40.14], [-76.55, 40.1], [-76.65, 40.1]]]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://vector.geobigdata.io/insight-vector/api/index/aggregation/read-vector-osm-*?aggs=terms%3Aitem_type&count=10
  response:
    body: {string: '{"responseDate":"2017-05-03T17:57:52Z","geom":{"type":"Polygon","coordinates":[[[-76.65,40.1],[-76.65,40.14],[-76.55,40.14],[-76.55,40.1],[-76.65,40.1]]]},"query":null,"startDate":null,"endDate":null,"totalItems":475,"aggregations":[{"name":"terms:item_type","terms":[{"term":"Road","count":234,"aggregations":null},{"term":"Stream","count":39,"aggregations":null},{"term":"Tower","count":34,"aggregations":null},{"term":"Building","count":25,"aggregations":null},{"term":"Uncategorized","count":16,"aggregations":null},{"term":"Pedestrian","count":13,"aggregations":null},{"term":"Bank","count":8,"aggregations":null},{"term":"Fuel","count":8,"aggregations":null},{"term":"House","count":8,"aggregations":null},{"term":"Restaurant","count":8,"aggregations":null}]}]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
