interactions:
- request:
    body: '{"type": "Polygon", "coordinates": [[[180.0, -90.0], [180.0, 90.0], [-180.0,
      90.0], [-180.0, -90.0], [180.0, -90.0]]]}'
    headers:
    method: POST
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?q=item_type%3AGBDXCatalogRecord+AND+%28attributes.catalogID.keyword%3A104001003A32FA00+OR+id%3A104001003A32FA00%29+AND+NOT+item_type%3ADigitalGlobeAcquisition&count=1
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "Polygon", "coordinates": [[[180.0, -90.0], [180.0, 90.0], [-180.0,
      90.0], [-180.0, -90.0], [180.0, -90.0]]]}'
    headers:
    method: POST
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?q=item_type%3ADigitalGlobeAcquisition+AND+%28attributes.catalogID.keyword%3A104001003A32FA00+OR+id%3A104001003A32FA00%29&count=1
  response:
    body:
      string: '[{"geometry":{"coordinates":[[[[-77.50361032999996,38.55960143000004],[-77.50356621999998,38.52957774000004],[-77.50352080999994,38.49956208000003],[-77.50347463999998,38.46959269000007],[-77.50345641999996,38.44002347000003],[-77.34701029999997,38.44196145000006],[-77.34694735999994,38.47158736000006],[-77.34689293999998,38.50163025000006],[-77.34686049999993,38.53163555000003],[-77.34680885999995,38.56172527000007],[-77.50361032999996,38.55960143000004]]]],"type":"MultiPolygon"},"type":"Feature","properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2018-03-31T16:26:27.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","Acquisition","DigitalGlobeAcquisition","WV03_VNIR"],"name":null,"format":null,"ingest_date":"2020-01-06T03:15:36.275Z","attributes":{"sunAzimuth_dbl":159.45549,"targetAzimuth_start_dbl":193.24132,"stereoPair":null,"cloudCover_int":0,"offNadirAngle_end_dbl":14.750136,"scanDirection":"Forward","vendor":"DigitalGlobe","panResolution_end_dbl":0.32730705000000004,"sunElevation_dbl":54.33322,"imageBands":"PAN_MS1_MS2","platformName":"WORLDVIEW03_VNIR","targetAzimuth_end_dbl":192.004,"multiResolution_max_dbl":1.310466,"offNadirAngle_min_dbl":14.750136,"offNadirAngle_start_dbl":14.83961,"sensorPlatformName":"WORLDVIEW03_VNIR","browseURL":"https://api.discover.digitalglobe.com/show?id=104001003A32FA00&f=jpeg","multiResolution_min_dbl":1.3096052,"offNadirAngle_max_dbl":14.83961,"multiResolution_start_dbl":1.3103034,"offNadirAngle_dbl":14.794655,"targetAzimuth_min_dbl":192.004,"sunElevation_max_dbl":54.39985,"panResolution_min_dbl":0.32730705000000004,"catalogID":"104001003A32FA00","sunAzimuth_max_dbl":159.48164,"panResolution_dbl":0.32743677000000004,"panResolution_start_dbl":0.32748136,"sunAzimuth_min_dbl":159.42929,"targetAzimuth_max_dbl":193.24132,"multiResolution_end_dbl":1.3096052,"sunElevation_min_dbl":54.26657,"multiResolution_dbl":1.3101249000000001,"panResolution_max_dbl":0.32752190000000003,"targetAzimuth_dbl":192.62312},"ingest_attributes":{"_rest_user":"application-5cd210b7-a3af-4ebf-8ff2-7240c2d64f05","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"104001003A32FA00","source":null,"text":""}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
