interactions:
- request:
    body: '{"startDate": "2008-01-01T00:00:00.000Z", "endDate": "2008-01-03T00:00:00.000Z",
      "types": ["Acquisition"], "searchAreaWkt": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://geobigdata.io/catalog/v1/search?includeRelationships=false
  response:
    body: {string: !!python/unicode '{"searchTag":null,"results":[{"identifier":"101001000787A000","owner":"7b216bd9-6523-4ca9-aa3b-1d8a5994f054","type":"DigitalGlobeAcquisition","properties":{"sunElevation":"37.13903","targetAzimuth":"228.13152","sensorPlatformName":"QUICKBIRD02","browseURL":"https://browse.digitalglobe.com/imagefinder/showBrowseMetadata?catalogId=101001000787A000","sunAzimuth":"161.7388","footprintWkt":"POLYGON
        ((-106.59276 27.891576, -106.591464 27.891576, -106.592472 27.837432, -106.59276
        27.773784, -106.592904 27.700488, -106.609032 27.699768, -106.773624 27.692136,
        -106.7742 27.759672, -106.775064 27.7974, -106.775208 27.815688, -106.77564
        27.85428, -106.775784 27.88092, -106.659144 27.887544, -106.59276 27.891576))","cloudCover":"0.0","multiResolution":"2.680316687","vendorName":"DigitalGlobe","offNadirAngle":"19.0","panResolution":"0.670358896","catalogID":"101001000787A000","imageBands":"Pan_MS1","timestamp":"2008-01-01T00:00:00.000Z"}},{"identifier":"101001000787BC00","owner":"7b216bd9-6523-4ca9-aa3b-1d8a5994f054","type":"DigitalGlobeAcquisition","properties":{"sunElevation":"64.17982","targetAzimuth":"217.0936","sensorPlatformName":"QUICKBIRD02","browseURL":"https://browse.digitalglobe.com/imagefinder/showBrowseMetadata?catalogId=101001000787BC00","sunAzimuth":"132.4341","footprintWkt":"POLYGON
        ((176.39028 -6.116328, 176.390712 -6.116328, 176.39028 -6.173208, 176.389848
        -6.4494, 17[...]
