interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A03f4955d-c7da-45a8-8289-ba73bec5e127-inv&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-73.50374537,-3.64680909],[-73.37784988,-3.64894879],[-73.37794553,-3.73924315],[-73.5036181,-3.73710012],[-73.50374537,-3.64680909]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2018-03-23T15:23:20.609Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV04"],"name":null,"format":null,"ingest_date":"2018-03-29T03:23:09.487Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2018-03-23T15:23:20.609Z","bucketName":"rda-images-1","numBands_int":1,"sunAzimuth_dbl":79.1,"nativeTileFileFormat":"PNG","colorInterpretation":"PAN","cloudCover_int":99,"idahoImageId":"88239a1a-aa65-4584-a1f1-8f4eb30c03bc","satAzimuth_dbl":104.4,"satElevation_dbl":74.6,"pniirs_dbl":5.6,"numYTiles_int":31,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":65.3,"platformName":null,"imageHeight_int":30800,"numXTiles_int":41,"sensorPlatformName":null,"sensorName":"Panchromatic","dataType":"UNSIGNED_SHORT","imageWidth_int":41888,"tileXSize_int":0,"tileYSize_int":0,"offNadirAngle_dbl":14.0,"tileBucketName":"rda-images-1","vendorName":"DigitalGlobe,
        Inc.","version":"1.1","tileYOffset_int":0,"catalogID":"03f4955d-c7da-45a8-8289-ba73bec5e127-inv","vendorDatasetIdentifier":"LV1B:I00000049224_01_P001:03f4955d-c7da-45a8-8289-ba73bec5e127-inv:None","groundSampleDistanceMeters_dbl":0.329},"ingest_attributes":{"_rest_user":"acquisition-gbdx-support@digitalglobe.com","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"88239a1a-aa65-4584-a1f1-8f4eb30c03bc","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"edges": [], "nodes": [{"id": "623eed07-d903-5bd3-bc1a-740267313f48",
      "operator": "DigitalGlobeStrip", "parameters": {"CRS": "EPSG:4326", "GSD": "null",
      "bands": "PAN", "catId": "03f4955d-c7da-45a8-8289-ba73bec5e127-inv", "correctionType":
      "TOAREFLECTANCE", "fallbackToTOA": "true"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode 69c5fd29e035453ff0d061f47a3642e7a58140745298ed91e0b835a3ee62f6db}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/69c5fd29e035453ff0d061f47a3642e7a58140745298ed91e0b835a3ee62f6db/623eed07-d903-5bd3-bc1a-740267313f48/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"a75e951f-ad47-4aa0-80b4-f948cebb65ba","version":1.1,"profileName":"georectified_image","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"PNG","tileXOffset":0,"tileYOffset":0,"numXTiles":168,"numYTiles":709,"tileXSize":256,"tileYSize":256,"numBands":1,"dataType":"SHORT","imageHeight":181501,"imageWidth":42868,"sensorPlatformName":"WV04","sensorName":"Panchromatic","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:I00000049224_01_P001:03f4955d-c7da-45a8-8289-ba73bec5e127-inv:None","acquisitionDate":"2018-03-23T15:23:23.422Z","colorInterpretation":"PAN","imageBoundsWGS84":"POLYGON
        ((-73.50395278 -3.4841001, -73.3776439046856 -3.4841001, -73.3776439046856
        -4.018885655156306, -73.50395278 -4.018885655156306, -73.50395278 -3.4841001))","groundSampleDistanceMeters":0.328,"minX":0,"minY":0,"maxX":42867,"maxY":181500,"minTileX":0,"minTileY":0,"maxTileX":167,"maxTileY":708,"sunAzimuth":78.8,"sunElevation":65.3,"satAzimuth":105.2,"satElevation":75.0,"cloudCover":0.997,"offNadirAngle":13.7,"sensorAlias":"WV04_P","absoluteCalibrationFactors":[0.05333822],"effectiveBandwidths":[0.306681],"tdiLevels":[48.0],"bandAliases":["P"],"pniirs":5.6},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":2.9464606539705354E-6,"scaleY":-2.9464606539705354E-6,"translateX":-73.50395278,"translateY":-3.4841001,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[8388155776,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0[...]
