interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://idaho.timbr.io/1ec49348-8950-49ff-bd71-ea2e4d8754ac.json
  response:
    body: {string: !!python/unicode '{"geometry": {"type": "Polygon", "coordinates":
        [[[-74.0190588, 45.39276835], [-74.0190588, 45.51937376], [-73.83890812, 45.51937376],
        [-73.83890812, 45.39276835], [-74.0190588, 45.39276835]]]}, "properties":
        {"bandid": "Multi", "latlonhae": [45.51934028, -74.0192839, 160.07], "mean_sun_el":
        37.0, "center": {"type": "Point", "coordinates": [-73.92898346, 45.456071055]},
        "catid": "1040010023142D00", "cloud_cover": 0.0, "tdilevel": [24.0, 24.0,
        24.0, 24.0, 24.0, 24.0, 14.0, 14.0], "img_datetime_obj_utc": {"$date": 1476202403770},
        "warp": {"yStep": 100, "xStep": 100, "numXCells": 147, "yStart": 0, "targetGeoTransform":
        {"translateX": -74.0192839, "translateY": 45.51937376, "scaleX": 1.2324829320876753e-05,
        "scaleY": -1.2324829320876753e-05, "shearY": 0.0, "shearX": 0.0, "spatialReferenceSystemCode":
        "EPSG:4326"}, "xStart": 0, "numYCells": 103}, "rrds": {"reducedResolutionDataset":
        [{"targetImage": "2a5ee008-820a-470b-92e3-b674a7369407", "sourceImage": "1ec49348-8950-49ff-bd71-ea2e4d8754ac",
        "inverseScaleFactor": 2.0}, {"targetImage": "13f3aa8e-6b58-42b5-8322-c3d15fb1b4c4",
        "sourceImage": "2a5ee008-820a-470b-92e3-b674a7369407", "inverseScaleFactor":
        2.0}, {"targetImage": "eb1df95b-978e-4c66-aa86-291b3109368a", "sourceImage":
        "13f3aa8e-6b58-42b5-8322-c3d15fb1b4c4", "inverseScaleFactor": 2.0}, {"targetImage":
        "ac893db0-2ee9-4d66-9442-0bc0c9419035", "sourceImage": "eb1df95b-978e-4c66-aa86-291b3109368a",
        "inverseScaleFactor": 2.0}, {"targetImage": "ccdad1cb-1438-482b-81f9-ee75ad9f8830",
        "sourceImage": "ac893db0-2ee9-4d66-9442-0bc0c9419035", "inverseScaleFactor":
        2.0}]}, "effbandwidth": [0.0889, 0.0387, 0.0618, 0.0381, 0.054, 0.0405, 0.1004,
        0.0585], "abscalfactor": [0.0106378, 0.00621996, 0.007802301, 0.00684307,
        0.0103103, 0.0143287, 0.0117971, 0.0102], "bbox": [-74.0190588, 45.39276835,
        -73.83890812, 45.51937376], "band_centers": [427.38, 481.92, 547.14, 604.28,
        660.11, 722.73, 824.04, 913.65], "satid": "WV03", "band_names": ["C", "B",
        "G", "Y", "R", "RE", "N1", "N2"], "off_nadir": 19.4, "image": {"satAzimuth":
        178.9, "sunAzimuth": 171.0, "cloudCover": 0.0, "imageId": "1ec49348-8950-49ff-bd71-ea2e4d8754ac",
        "nativeTileFileFormat": "TIF", "numXTiles": 42, "imageWidth": 10651, "tileYSize":
        256, "sensorName": "8-band (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1,
        NIR2) Multispectral", "vendorDatasetIdentifier": "LV1B:055927792010_01_P006:1040010023142D00:A01001022FD0EC00",
        "version": "1.0", "numBands": 8, "imageHeight": 9922, "offNadirAngle": 19.4,
        "vendorName": "DigitalGlobe, Inc.", "imageBoundsWGS84": "POLYGON ((-74.0192839
        45.51934028, -73.83890812 45.51937376, -73.83912668 45.39250174, -74.0190588
        45.39276835, -74.0192839 45.51934028))", "sunElevation": 37.0, "acquisitionDate":
        "2016-10-11T16:13:23.770Z", "dataType": "UNSIGNED_SHORT", "tileYOffset": 0,
        "tileXSize": 256, "colorInterpretation": "WORLDVIEW_8_BAND", "profileName":
        "dg_1b", "tilePartition": "0000", "groundSampleDistanceMeters": 1.372, "tileBucketName":
        "idaho-images", "tileXOffset": 0, "pniirs": 3.5, "satElevation": 68.4, "sensorPlatformName":
        "WV03", "numYTiles": 39}, "product_level": "LV1B"}, "_acquisitionDate": {"$date":
        1476202403770}, "_id": {"$oid": "58c800519db347af059f57e5"}, "type": "Feature",
        "id": "1ec49348-8950-49ff-bd71-ea2e4d8754ac"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"nodes": [{"operator": "MultiplyConst", "id": "a9a095f3-9f1d-544d-a517-bb1960a0ff42",
      "parameters": {"constants": "[0.002958531417393051, 0.002594406290161713, 0.002841672837273421,
      0.0030377103700906334, 0.003387397362991064, 0.003857911098244222, 0.0049252540800813205,
      0.006056071815877442]"}}, {"operator": "AddConst", "id": "42692291-47f7-5e33-b8e5-751674c1dc36",
      "parameters": {"constants": "[-7.154, -4.189, -3.287, -1.816, -1.35, -2.617,
      -3.752, -1.507]"}}, {"operator": "MultiplyConst", "id": "76d73a39-8255-5495-8ba2-b01619ff5d7e",
      "parameters": {"constants": "[0.10326683239595048, 0.1454538449612403, 0.11450949849514563,
      0.16847243202099735, 0.18043025, 0.3467191604938271, 0.11538597808764939, 0.16633846153846152]"}},
      {"operator": "Format", "id": "c733b763-ab2c-5880-ac1c-f1b2c2e2a7b8", "parameters":
      {"dataType": "4"}}, {"operator": "Orthorectify", "id": "a3cc3633-a312-5df8-b306-e058b750e78b",
      "parameters": {"Elevation Source": "null", "Output Coordinate Reference System":
      "EPSG:3857", "Output Pixel to World Transform": "null", "Sensor Model": "null"}},
      {"operator": "IdahoRead", "id": "1278f144-46fa-56be-8751-e7439abf31a4", "parameters":
      {"objectStore": "S3", "bucketName": "idaho-images", "imageId": "1ec49348-8950-49ff-bd71-ea2e4d8754ac"}}],
      "edges": [{"index": 1, "destination": "a9a095f3-9f1d-544d-a517-bb1960a0ff42",
      "id": "5c323ad3-17e8-5fe6-a1f6-b9cf49ef5cb3", "source": "42692291-47f7-5e33-b8e5-751674c1dc36"},
      {"index": 1, "destination": "42692291-47f7-5e33-b8e5-751674c1dc36", "id": "ebe4f801-eff1-51d9-80dc-0c5cf0e7d936",
      "source": "76d73a39-8255-5495-8ba2-b01619ff5d7e"}, {"index": 1, "destination":
      "76d73a39-8255-5495-8ba2-b01619ff5d7e", "id": "2175e9f3-eca7-5a27-ab78-9f7fbcadff17",
      "source": "c733b763-ab2c-5880-ac1c-f1b2c2e2a7b8"}, {"index": 1, "destination":
      "c733b763-ab2c-5880-ac1c-f1b2c2e2a7b8", "id": "66dc99c5-46ad-5e88-a683-f39c9bb3a712",
      "source": "a3cc3633-a312-5df8-b306-e058b750e78b"}, {"index": 1, "destination":
      "a3cc3633-a312-5df8-b306-e058b750e78b", "id": "316913f7-ea85-53f2-8cce-c69e9ed38be4",
      "source": "1278f144-46fa-56be-8751-e7439abf31a4"}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://idahoapi.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode 9f2766925fe588460e423e19aa06a12e70bd3411088a071249e6c2bae5e7d9f0}
    headers:
      content-type: [text/plain]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/idaho-virtual/9f2766925fe588460e423e19aa06a12e70bd3411088a071249e6c2bae5e7d9f0/a9a095f3-9f1d-544d-a517-bb1960a0ff42/image.json
  response:
    body: {string: !!python/unicode '{"imageId":"1ec49348-8950-49ff-bd71-ea2e4d8754ac","version":"1.0","profileName":"dg_1b","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":58,"numYTiles":59,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"FLOAT","imageHeight":14670,"imageWidth":14632,"sensorPlatformName":"WV03","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:055927792010_01_P006:1040010023142D00:A01001022FD0EC00","acquisitionDate":"2016-10-11T16:13:23.770Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-74.0192592502286 45.51948602338497, -73.8389215226937 45.51948602338497,
        -73.8389215226937 45.39265861684942, -74.0192592502286 45.39265861684942,
        -74.0192592502286 45.51948602338497))","groundSampleDistanceMeters":1.372,"minX":2,"minY":-13,"maxX":14633,"maxY":14656,"minTileX":0,"minTileY":-1,"maxTileX":57,"maxTileY":57,"sunAzimuth":171.0,"sunElevation":37.0,"satAzimuth":178.9,"satElevation":68.4,"cloudCover":0.0,"offNadirAngle":19.4,"pniirs":3.5}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/idaho-virtual/9f2766925fe588460e423e19aa06a12e70bd3411088a071249e6c2bae5e7d9f0/a9a095f3-9f1d-544d-a517-bb1960a0ff42/georeferencing.json
  response:
    body: {string: !!python/unicode '{"spatialReferenceSystemCode":"EPSG:3857","scaleX":1.372,"scaleY":-1.372,"translateX":-8239788.992630752,"translateY":5703660.232416099,"shearX":0.0,"shearY":0.0}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
