interactions:
- request:
    body: '{"edges": [{"destination": "7befa7c2-7fde-527a-ae2c-d5478ba6e143", "id":
      "8f7985bb-1318-5fbc-943d-576d76cb5ef7", "index": 1, "source": "7d130cd0-3bd2-59be-80d0-0f7160ce0cfa"},
      {"destination": "7befa7c2-7fde-527a-ae2c-d5478ba6e143", "id": "84073d97-c245-50ba-adf4-36562260f201",
      "index": 2, "source": "25f12b47-9db6-51e5-8f91-51dd22cf2fb7"}], "nodes": [{"id":
      "7befa7c2-7fde-527a-ae2c-d5478ba6e143", "operator": "LocallyProjectivePanSharpen",
      "parameters": {}}, {"id": "7d130cd0-3bd2-59be-80d0-0f7160ce0cfa", "operator":
      "LandsatRead", "parameters": {"landsatId": "LC80370302014268LGN00", "productSpec":
      "multispectral"}}, {"id": "25f12b47-9db6-51e5-8f91-51dd22cf2fb7", "operator":
      "LandsatRead", "parameters": {"landsatId": "LC80370302014268LGN00", "productSpec":
      "panchromatic"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: 1cfdad9dbb81c8503631305922a500005b7e847248185395cfb75a45422d1deb}
    headers:
      Content-Type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/1cfdad9dbb81c8503631305922a500005b7e847248185395cfb75a45422d1deb/7befa7c2-7fde-527a-ae2c-d5478ba6e143/metadata.json
  response:
    body: {string: '{"imageMetadata":{"imageId":"LC80370302014268LGN00","version":1.1,"profileName":"georectified_image","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":61,"numYTiles":62,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"UNSIGNED_SHORT","imageHeight":15661,"imageWidth":15401,"sensorPlatformName":"LANDSAT8","sensorName":"Operational
        Land Imager","vendorName":"NASA/USGS","vendorDatasetIdentifier":"Path=37:Row=30","acquisitionDate":"2014-09-25T18:01:18.581Z","colorInterpretation":"LANDSAT_8_30M","imageBoundsWGS84":"POLYGON
        ((-110.86347858369699 44.246853761678445, -107.9721339914049 44.206789904569156,
        -108.07475186534529 42.09427294284964, -110.86811362682216 42.13149907506905,
        -110.86347858369699 44.246853761678445))","groundSampleDistanceMeters":15.0,"minX":0,"minY":0,"maxX":15400,"maxY":15660,"minTileX":0,"minTileY":0,"maxTileX":60,"maxTileY":61,"sunAzimuth":156.24916298,"sunElevation":43.39473382,"cloudCover":0.04},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:32612","scaleX":15.0,"scaleY":-15.0,"translateX":510900.0,"translateY":4899300.0,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":null,"sensorMetadata":null,"imageAssociations":null,"rrdMetadata":null}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: ''}
version: 1
