interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1050010009569E00+AND+NOT+item_type%3AIDAHOImage+AND+NOT+item_type%3ADigitalGlobeAcquisition&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-107.0285891746167,38.43814057709461],[-106.8278780862746,38.42311301996205],[-106.8274452447164,38.28628519668077],[-107.0266933986514,38.29878284814359],[-107.0285891746167,38.43814057709461]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-04-20T17:54:00.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","GE01","DigitalGlobeProduct","1BProduct"],"name":null,"format":null,"ingest_date":"2017-07-26T20:51:24.723Z","attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":143.7,"bands":"Multi","xmlFile":"17APR20175400-M1BS-056817215010_01_P004.XML","browseJpgFile":"17APR20175400-M1BS-056817215010_01_P004-BROWSE.JPG","cloudCover_int":65,"imdFile":"17APR20175400-M1BS-056817215010_01_P004.IMD","attFile":"17APR20175400-M1BS-056817215010_01_P004.ATT","resolution_dbl":2.063,"bandsList":"BAND_B,BAND_G,BAND_R,BAND_N","geoFile":"17APR20175400-M1BS-056817215010_01_P004.GEO","imageFile":"17APR20175400-M1BS-056817215010_01_P004.TIF","vendor":"DigitalGlobe","sunElevation_dbl":59.0,"platformName":"GEOEYE01","tilFile":"17APR20175400-M1BS-056817215010_01_P004.TIL","sensorPlatformName":"GEOEYE01","readmeTxtFile":"17APR20175400-M1BS-056817215010_01_P004_README.TXT","rpbFile":"17APR20175400-M1BS-056817215010_01_P004.RPB","offNadirAngle_dbl":21.1,"soli":"056817215","catalogID":"1050010009569E00","productLevel":"LV1B","part_int":4,"ephFile":"17APR20175400-M1BS-056817215010_01_P004.EPH","bucketPrefix":"056817215010_01_003/056817215010_01/056817215010_01_P004_MUL"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1050010009569E00_P004_MUL_056817215010","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1050010009569E00+AND+attributes.colorInterpretation%3ABGRN&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-107.03227196,39.01631176],[-106.81754716,38.98887685],[-106.82253772,38.83611501],[-107.03166138,38.85869407],[-107.03227196,39.01631176]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-04-20T17:54:13.921Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","GE01"],"name":null,"format":null,"ingest_date":"2017-07-26T21:21:09.202Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2017-04-20T17:54:13.921Z","bucketName":"idaho-images","numBands_int":4,"sunAzimuth_dbl":144.3,"nativeTileFileFormat":"TIF","colorInterpretation":"BGRN","cloudCover_int":38,"idahoImageId":"19d7deed-a670-47ff-8ea9-6a8e7369b8bf","satAzimuth_dbl":149.2,"satElevation_dbl":58.7,"pniirs_dbl":2.8,"numYTiles_int":32,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":58.6,"platformName":"GEOEYE01","imageHeight_int":8186,"numXTiles_int":36,"sensorPlatformName":"GEOEYE01","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":9158,"tileXSize_int":256,"tileYSize_int":256,"offNadirAngle_dbl":27.8,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"1050010009569E00","vendorDatasetIdentifier":"LV1B:056817215010_01_P009:1050010009569E00:A0100102CE7BD100","groundSampleDistanceMeters_dbl":2.096},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"19d7deed-a670-47ff-8ea9-6a8e7369b8bf","source":null,"text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-107.02858917,38.43814058],[-106.82787809,38.42311302],[-106.82744524,38.2862852],[-107.0266934,38.29878285],[-107.02858917,38.43814058]]]]},"properties":{"ingest_source":"GBDX_ING[...]
