interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://idaho.timbr.io/1ec49348-8950-49ff-bd71-ea2e4d8754ac.json
  response:
    body: {string: !!python/unicode '{"geometry": {"type": "Polygon", "coordinates":
        [[[-74.0190588, 45.39276835], [-74.0190588, 45.51937376], [-73.83890812, 45.51937376],
        [-73.83890812, 45.39276835], [-74.0190588, 45.39276835]]]}, "properties":
        {"bandid": "Multi", "latlonhae": [45.51934028, -74.0192839, 160.07], "mean_sun_el":
        37.0, "center": {"type": "Point", "coordinates": [-73.92898346, 45.456071055]},
        "catid": "1040010023142D00", "cloud_cover": 0.0, "tdilevel": [24.0, 24.0,
        24.0, 24.0, 24.0, 24.0, 14.0, 14.0], "img_datetime_obj_utc": {"$date": 1476202403770},
        "warp": {"yStep": 100, "xStep": 100, "numXCells": 147, "yStart": 0, "targetGeoTransform":
        {"translateX": -74.0192839, "translateY": 45.51937376, "scaleX": 1.2324829320876753e-05,
        "scaleY": -1.2324829320876753e-05, "shearY": 0.0, "shearX": 0.0, "spatialReferenceSystemCode":
        "EPSG:4326"}, "xStart": 0, "numYCells": 103}, "rrds": {"reducedResolutionDataset":
        [{"targetImage": "2a5ee008-820a-470b-92e3-b674a7369407", "sourceImage": "1ec49348-8950-49ff-bd71-ea2e4d8754ac",
        "inverseScaleFactor": 2.0}, {"targetImage": "13f3aa8e-6b58-42b5-8322-c3d15fb1b4c4",
        "sourceImage": "2a5ee008-820a-470b-92e3-b674a7369407", "inverseScaleFactor":
        2.0}, {"targetImage": "eb1df95b-978e-4c66-aa86-291b3109368a", "sourceImage":
        "13f3aa8e-6b58-42b5-8322-c3d15fb1b4c4", "inverseScaleFactor": 2.0}, {"targetImage":
        "ac893db0-2ee9-4d66-9442-0bc0c9419035", "sourceImage": "eb1df95b-978e-4c66-aa86-291b3109368a",
        "inverseScaleFactor": 2.0}, {"targetImage": "ccdad1cb-1438-482b-81f9-ee75ad9f8830",
        "sourceImage": "ac893db0-2ee9-4d66-9442-0bc0c9419035", "inverseScaleFactor":
        2.0}]}, "effbandwidth": [0.0889, 0.0387, 0.0618, 0.0381, 0.054, 0.0405, 0.1004,
        0.0585], "abscalfactor": [0.0106378, 0.00621996, 0.007802301, 0.00684307,
        0.0103103, 0.0143287, 0.0117971, 0.0102], "bbox": [-74.0190588, 45.39276835,
        -73.83890812, 45.51937376], "band_centers": [427.38, 481.92, 547.14, 604.28,
        660.11, 722.73, 824.04, 913.65], "satid": "WV03", "band_names": ["C", "B",
        "G", "Y", "R", "RE", "N1", "N2"], "off_nadir": 19.4, "image": {"satAzimuth":
        178.9, "sunAzimuth": 171.0, "cloudCover": 0.0, "imageId": "1ec49348-8950-49ff-bd71-ea2e4d8754ac",
        "nativeTileFileFormat": "TIF", "numXTiles": 42, "imageWidth": 10651, "tileYSize":
        256, "sensorName": "8-band (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1,
        NIR2) Multispectral", "vendorDatasetIdentifier": "LV1B:055927792010_01_P006:1040010023142D00:A01001022FD0EC00",
        "version": "1.0", "numBands": 8, "imageHeight": 9922, "offNadirAngle": 19.4,
        "vendorName": "DigitalGlobe, Inc.", "imageBoundsWGS84": "POLYGON ((-74.0192839
        45.51934028, -73.83890812 45.51937376, -73.83912668 45.39250174, -74.0190588
        45.39276835, -74.0192839 45.51934028))", "sunElevation": 37.0, "acquisitionDate":
        "2016-10-11T16:13:23.770Z", "dataType": "UNSIGNED_SHORT", "tileYOffset": 0,
        "tileXSize": 256, "colorInterpretation": "WORLDVIEW_8_BAND", "profileName":
        "dg_1b", "tilePartition": "0000", "groundSampleDistanceMeters": 1.372, "tileBucketName":
        "idaho-images", "tileXOffset": 0, "pniirs": 3.5, "satElevation": 68.4, "sensorPlatformName":
        "WV03", "numYTiles": 39}, "product_level": "LV1B"}, "_acquisitionDate": {"$date":
        1476202403770}, "_id": {"$oid": "58c800519db347af059f57e5"}, "type": "Feature",
        "id": "1ec49348-8950-49ff-bd71-ea2e4d8754ac"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"edges": [{"destination": "d7b7e3db-6ca0-5e5e-81f3-4190d033b9eb",
      "id": "1a0534cb-fa68-53b2-aabc-e0babfe2a0aa", "index": 1, "source": "5ad80f1f-2e86-574e-95f2-a12f1fde939a"},
      {"destination": "5ad80f1f-2e86-574e-95f2-a12f1fde939a", "id": "8ec03e37-2ce5-53ec-96dd-6096d25d49fa",
      "index": 1, "source": "d2116982-61f2-545b-93c4-2b718dec16d6"}, {"destination":
      "d2116982-61f2-545b-93c4-2b718dec16d6", "id": "025289bb-50c9-536c-b153-1d901b442bcb",
      "index": 1, "source": "fa1c5c0e-d444-597d-aa1b-9679c9296cec"}, {"destination":
      "fa1c5c0e-d444-597d-aa1b-9679c9296cec", "id": "4a3f5234-c4ab-5879-8b46-b84a4e3663bf",
      "index": 1, "source": "3ceb1ddb-9fc8-5117-8d1f-09c9839c6106"}, {"destination":
      "3ceb1ddb-9fc8-5117-8d1f-09c9839c6106", "id": "e900320c-d54b-5c8c-99a1-2b8ad24de316",
      "index": 1, "source": "d7d4d67e-2a30-5ec2-8c74-51e82118f00d"}], "nodes": [{"id":
      "d7b7e3db-6ca0-5e5e-81f3-4190d033b9eb", "operator": "MultiplyConst", "parameters":
      {"constants": "[0.002958531417393051, 0.002594406290161713, 0.002841672837273421,
      0.0030377103700906334, 0.003387397362991064, 0.003857911098244222, 0.0049252540800813205,
      0.006056071815877442]"}}, {"id": "5ad80f1f-2e86-574e-95f2-a12f1fde939a", "operator":
      "AddConst", "parameters": {"constants": "[-7.154, -4.189, -3.287, -1.816, -1.35,
      -2.617, -3.752, -1.507]"}}, {"id": "d2116982-61f2-545b-93c4-2b718dec16d6", "operator":
      "MultiplyConst", "parameters": {"constants": "[0.10326683239595048, 0.1454538449612403,
      0.11450949849514563, 0.16847243202099735, 0.18043025, 0.3467191604938271, 0.11538597808764939,
      0.16633846153846152]"}}, {"id": "fa1c5c0e-d444-597d-aa1b-9679c9296cec", "operator":
      "Format", "parameters": {"dataType": "4"}}, {"id": "3ceb1ddb-9fc8-5117-8d1f-09c9839c6106",
      "operator": "Orthorectify", "parameters": {"Elevation Source": "null", "Output
      Coordinate Reference System": "EPSG:3857", "Output Pixel to World Transform":
      "null", "Sensor Model": "null"}}, {"id": "d7d4d67e-2a30-5ec2-8c74-51e82118f00d",
      "operator": "IdahoRead", "parameters": {"bucketName": "idaho-images", "imageId":
      "1ec49348-8950-49ff-bd71-ea2e4d8754ac", "objectStore": "S3"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://idahoapi.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode dfd975d81b713a7eeb3047e115f1616fd68736af55a34fc55f65fdd4366e5549}
    headers:
      content-type: [text/plain]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/idaho-virtual/dfd975d81b713a7eeb3047e115f1616fd68736af55a34fc55f65fdd4366e5549/d7b7e3db-6ca0-5e5e-81f3-4190d033b9eb/image.json
  response:
    body: {string: !!python/unicode '{"imageId":"1ec49348-8950-49ff-bd71-ea2e4d8754ac","version":"1.0","profileName":"dg_1b","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":58,"numYTiles":59,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"FLOAT","imageHeight":14670,"imageWidth":14632,"sensorPlatformName":"WV03","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:055927792010_01_P006:1040010023142D00:A01001022FD0EC00","acquisitionDate":"2016-10-11T16:13:23.770Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-74.0192592502286 45.51948602338497, -73.8389215226937 45.51948602338497,
        -73.8389215226937 45.39265861684942, -74.0192592502286 45.39265861684942,
        -74.0192592502286 45.51948602338497))","groundSampleDistanceMeters":1.372,"minX":2,"minY":-13,"maxX":14633,"maxY":14656,"minTileX":0,"minTileY":-1,"maxTileX":57,"maxTileY":57,"sunAzimuth":171.0,"sunElevation":37.0,"satAzimuth":178.9,"satElevation":68.4,"cloudCover":0.0,"offNadirAngle":19.4,"pniirs":3.5}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/idaho-virtual/dfd975d81b713a7eeb3047e115f1616fd68736af55a34fc55f65fdd4366e5549/d7b7e3db-6ca0-5e5e-81f3-4190d033b9eb/georeferencing.json
  response:
    body: {string: !!python/unicode '{"spatialReferenceSystemCode":"EPSG:3857","scaleX":1.372,"scaleY":-1.372,"translateX":-8239788.992630752,"translateY":5703660.232416099,"shearX":0.0,"shearY":0.0}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/idaho-virtual/dfd975d81b713a7eeb3047e115f1616fd68736af55a34fc55f65fdd4366e5549/d7b7e3db-6ca0-5e5e-81f3-4190d033b9eb/rpcs.json
  response:
    body: {string: !!python/unicode '{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":-74.0192839,"y":45.51934028},"upperRightCorner":{"x":-73.83890812,"y":45.51937376},"lowerRightCorner":{"x":-73.83912668,"y":45.39250174},"lowerLeftCorner":{"x":-74.0190588,"y":45.39276835},"gsd":1.2324829320876753E-5,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":4960.0,"sampleOffset":5325.0,"latOffset":45.4559,"lonOffset":-73.9292,"heightOffset":74.0,"lineScale":4961.0,"sampleScale":5325.0,"latScale":0.0656,"lonScale":0.0903,"heightScale":500.0,"lineNumCoefs":[-6.264289E-4,-0.00331274,-1.032516,-0.02792593,-5.658825E-4,-1.545959E-5,-3.322127E-6,-3.453907E-4,4.52076E-4,1.715536E-6,-9.778179E-8,-2.665711E-7,1.066227E-6,-1.025611E-7,-2.356947E-5,-1.128293E-4,-3.112471E-5,-6.527058E-7,-5.192224E-6,-8.372485E-7],"lineDenCoefs":[1.0,-5.878758E-4,-1.718753E-4,-2.08662E-5,-1.432635E-6,4.740456E-8,-7.34269E-6,2.22742E-5,-6.584344E-5,2.995913E-5,-1.067398E-7,-2.622412E-8,-2.073882E-6,-3.507768E-8,-1.649266E-7,-3.265655E-5,-5.679004E-8,0.0,-2.514363E-6,0.0],"sampleNumCoefs":[-0.001215714,1.002505,1.163159E-4,-5.497399E-4,-7.106491E-4,4.403911E-4,-2.108358E-4,6.564136E-4,1.445884E-5,-5.90437E-6,-3.493949E-7,-5.511943E-6,-6.836421E-6,-2.189112E-6,2.062717E-5,-2.416284E-5,-1.373796E-7,9.608614E-7,-1.966204E-6,0.0],"sampleDenCoefs":[1.0,5.610289E-4,7.12494E-4,-4.421477E-4,-1.390862E-5,-5.473036E-7,5.743327E-7,1.164875E-6,3.606521E-6,-2.491765E-6,-3.005073E-8,0.0,1.09839E-7,0.0,-7.706471E-8,-5.394707E-7,0.0,0.0,-3.005369E-8,0.0]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
