interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=1&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AGBDXCatalogRecord+AND+attributes.catalogID%3A1050010009569E00+AND+NOT+item_type%3AIDAHOImage+AND+NOT+item_type%3ADigitalGlobeAcquisition&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-107.0285891746167,38.43814057709461],[-106.8278780862746,38.42311301996205],[-106.8274452447164,38.28628519668077],[-107.0266933986514,38.29878284814359],[-107.0285891746167,38.43814057709461]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-04-20T17:54:00.000Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","GE01","DigitalGlobeProduct","1BProduct"],"name":null,"format":null,"ingest_date":"2017-07-26T20:51:24.723Z","attributes":{"bucketName":"receiving-dgcs-tdgplatform-com","sunAzimuth_dbl":143.7,"bands":"Multi","xmlFile":"17APR20175400-M1BS-056817215010_01_P004.XML","browseJpgFile":"17APR20175400-M1BS-056817215010_01_P004-BROWSE.JPG","cloudCover_int":65,"imdFile":"17APR20175400-M1BS-056817215010_01_P004.IMD","attFile":"17APR20175400-M1BS-056817215010_01_P004.ATT","resolution_dbl":2.063,"bandsList":"BAND_B,BAND_G,BAND_R,BAND_N","geoFile":"17APR20175400-M1BS-056817215010_01_P004.GEO","imageFile":"17APR20175400-M1BS-056817215010_01_P004.TIF","vendor":"DigitalGlobe","sunElevation_dbl":59.0,"platformName":"GEOEYE01","tilFile":"17APR20175400-M1BS-056817215010_01_P004.TIL","sensorPlatformName":"GEOEYE01","readmeTxtFile":"17APR20175400-M1BS-056817215010_01_P004_README.TXT","rpbFile":"17APR20175400-M1BS-056817215010_01_P004.RPB","offNadirAngle_dbl":21.1,"soli":"056817215","catalogID":"1050010009569E00","productLevel":"LV1B","part_int":4,"ephFile":"17APR20175400-M1BS-056817215010_01_P004.EPH","bucketPrefix":"056817215010_01_003/056817215010_01/056817215010_01_P004_MUL"},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"1050010009569E00_P004_MUL_056817215010","source":null,"text":""}}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1050010009569E00+AND+attributes.colorInterpretation%3ABGRN&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-107.03227196,39.01631176],[-106.81754716,38.98887685],[-106.82253772,38.83611501],[-107.03166138,38.85869407],[-107.03227196,39.01631176]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-04-20T17:54:13.921Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","GE01"],"name":null,"format":null,"ingest_date":"2017-07-26T21:21:09.202Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2017-04-20T17:54:13.921Z","bucketName":"idaho-images","numBands_int":4,"sunAzimuth_dbl":144.3,"nativeTileFileFormat":"TIF","colorInterpretation":"BGRN","cloudCover_int":38,"idahoImageId":"19d7deed-a670-47ff-8ea9-6a8e7369b8bf","satAzimuth_dbl":149.2,"satElevation_dbl":58.7,"pniirs_dbl":2.8,"numYTiles_int":32,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":58.6,"platformName":"GEOEYE01","imageHeight_int":8186,"numXTiles_int":36,"sensorPlatformName":"GEOEYE01","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","dataType":"UNSIGNED_SHORT","imageWidth_int":9158,"tileXSize_int":256,"tileYSize_int":256,"offNadirAngle_dbl":27.8,"tileBucketName":"idaho-images","vendorName":"DigitalGlobe","version":"1.0","tileYOffset_int":0,"catalogID":"1050010009569E00","vendorDatasetIdentifier":"LV1B:056817215010_01_P009:1050010009569E00:A0100102CE7BD100","groundSampleDistanceMeters_dbl":2.096},"ingest_attributes":{"_rest_user":"acquisitionsvc","_rest_url":"https://vector.geobigdata.io/insight-vector/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"19d7deed-a670-47ff-8ea9-6a8e7369b8bf","source":null,"text":""}},{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-107.02858917,38.43814058],[-106.82787809,38.42311302],[-106.82744524,38.2862852],[-107.0266934,38.29878285],[-107.02858917,38.43814058]]]]},"properties":{"ingest_source":"GBDX_ING[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?count=100&upper=90.0&lower=-90.0&right=180.0&q=item_type%3AIDAHOImage+AND+attributes.catalogID%3A1050010009569E00+AND+attributes.colorInterpretation%3APAN&left=-180.0
  response:
    body: {string: !!python/unicode '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-107.02982921,38.54817241],[-106.82816671,38.5318536[...]
- request:
    body: !!python/unicode '{"edges": [{"destination": "219522ba-6405-5eb1-a878-23cadd7cb8d1",
      "id": "26ea82d7-54be-5399-aade-e398ec6af812", "index": 1, "source": "fe4bbff0-81f6-5e42-8294-0bd73b46b889"},
      {"destination": "219522ba-6405-5eb1-a878-23cadd7cb8d1", "id": "c7e95b07-a1ff-56ed-8286-358e4fd6e696",
      "index": 2, "source": "4d09e733-49e5-5645-97c9-bc156bac7d40"}, {"destination":
      "219522ba-6405-5eb1-a878-23cadd7cb8d1", "id": "1c112471-67bf-5e36-b293-7da9a34f9a6c",
      "index": 3, "source": "46e3f609-0645-582d-b768-74ce7ca9ef94"}, {"destination":
      "219522ba-6405-5eb1-a878-23cadd7cb8d1", "id": "2b33ab26-b653-52fb-b85[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/9aa0a7c7eff2e207741d311b933bf515559db844d551c49e5ccebbd5bbdfd7fb/219522ba-6405-5eb1-a878-23cadd7cb8d1/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"01d7bf95-5383-4873-a19a-74da01f34598","version":1.0,"profileName":"georectified_image","tileBucketName":"idaho-images","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":41,"numYTiles":252,"tileXSize":256,"tileYSize":256,"numBands":4,"dataType":"UNSIGNED_SHORT","imageHeight":64284,"imageWidth":10257,"sensorPlatformName":"GE01","sensorName":"4-band
        (Blue, Green, Red, NIR) Multispectral","vendorName":"DigitalGlobe, Inc.","vendorDatasetIdentifier":"LV1B:056817215010_01_P008:1050010009569E00:A0100102CE7BB400","acquisitionDate":"2017-04-20T17:54:11.336Z","colorInterpretation":"BGRN","imageBoundsWGS84":"POLYGON
        ((-107.03227196 39.04357118999997, -106.81754206908795 39.04357118999997,
        -106.81754206908795 37.99063414159624, -107.03227196 37.99063414159624, -107.03227196
        39.04357118999997))","groundSampleDistanceMeters":2.074,"minX":0,"minY":0,"maxX":10256,"maxY":64283,"minTileX":0,"minTileY":0,"maxTileX":40,"maxTileY":251,"sunAzimuth":144.2,"sunElevation":58.7,"satAzimuth":146.0,"satElevation":60.4,"cloudCover":0.33,"offNadirAngle":26.3,"pniirs":2.8},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:3857","scaleX":2.3304691541801037,"scaleY":-2.3304691541801037,"translateX":-1.1914778013034374E7,"translateY":4727914.694775935,"shearX":0.0,"shearY":0.0},"rpcSensorModel":{"spatialReferenceSystem":"EPSG:4326","upperLeftCorner":{"x":-107.03110658,"y":38.89332476},"upperRightCorner":{"x":-106.82046685,"y":38.8692204},"lowerRightCorner":{"x":-106.82494192,"y":38.72093467},"lowerLeftCorner":{"x":-107.03170379,"y":38.74187672},"gsd":1.8630973769313688E-5,"postScaleFactorX":1.0,"postScaleFactorY":1.0,"lineOffset":4032.0,"sampleOffset":4510.0,"latOffset":38.8069,"lonOffset":-106.9268,"heightOffset":3070.0,"lineScale":4033.0,"sampleScale":4511.0,"latScale":0.0901,"lonScale":0.1074,"heightScale":584.0,"lineNumCoefs":[-0.02231185,-0.1506191,-1.179489,-0.02975707,-8.886805E-4,-1.948384E-4,-3.512484E-4,-7.464221E-4,0.01942955,-1.759526E-5,5.786336E-6,4.017013E-6,2.029426E-4,6.058972E-6,7.227589E-5,-1.686705E-4,4.912341E-5,1.745441E-7,3.108743E-5,1.223864E-6],"lineDenCoefs":[1.0,-0.004530041,-0.003536589,-0.001108953,1.993934E-4,-1.555724E-7,3.032536E-5,-3.1354E-6,2.132631E-4,-4.168209E-5,1.212442E-6,6.733949E-7,-9.363521E-6,3.161519E-7,1.975231E-6,-1.230474E-5,-4.297197E-7,1.967687E-7,-7.262069E-7,7.568672E-8],"sampleNumCoefs":[-0.005608502,1.030208,-3.270902E-4,-0.02038855,-0.005801541,2.332992E-4,3.534552E-4,0.004355612,-2.419503E-5,3.189516E-6,-1.403585E-5,-3.693109E-5,-1.761475E-4,-3.221461E-5,-1.501473E-4,1.236073E-5,7.832218E-7,-1.077878E-6,-1.158354E-6,6.585029E-7],"sampleDenCoefs":[1.0,0.001291698,0.005981539,-3.548983E-4,1.070076E-4,5.829535E-7,1.620201E-5,-1.692795E-5,1.584849E-4,-3.109252E-5,7.940396E-7,4.023964E-7,-2.167291E-6,1.127769E-7,1.76015E-6,-1.712742E-5,-2.992536E-7,1.507843E-7,2.244311E-7,2.095817E-8]},"histogram":{"histograms":{"0":[0,1847,67,63,60,42,62,68,73,79,85,71,76,65,69,82,93,84,99,79,101,102,108,104,111,129,124,150,154,135,116,143,164,162,188,143,176,192,171,188,179,201,189,218,237,225,228,265,229,245,258,251,275,316,289,282,280,313,318,295,349,385,369,356,365,416,379,456,441,416,479,521,475,535,514,526,577,550,578,614,627,607,597,717,653,746,723,718,728,786,800,825,855,821,890,884,936,1029,1028,1125,1094,1093,1249,1187,1230,1215,1267,1330,1440,1387,1412,1531,1589,1650,1642,1654,1727,1783,1805,1879,2001,2024,[...]
