interactions:
- request:
    body: !!python/unicode '{"type": "Polygon", "coordinates": [[[-76.65, 40.1], [-76.65,
      40.14], [-76.55, 40.14], [-76.55, 40.1], [-76.65, 40.1]]]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://vector.geobigdata.io/insight-vector/api/aggregation?count=10&aggs=terms%3Aingest_source
  response:
    body: {string: !!python/unicode '{"responseDate":"2017-04-20T17:37:02Z","geom":{"type":"Polygon","coordinates":[[[-76.65,40.1],[-76.65,40.14],[-76.55,40.14],[-76.55,40.1],[-76.65,40.1]]]},"query":null,"startDate":null,"endDate":null,"totalItems":1693,"aggregations":[{"name":"terms:ingest_source","terms":[{"term":"GDELT","count":680,"aggregations":null},{"term":"OSM","count":481,"aggregations":null},{"term":"GBDX_INGEST_ALPHA","count":309,"aggregations":null},{"term":"Twitter","count":109,"aggregations":null},{"term":"DG
        Catalog","count":86,"aggregations":null},{"term":"Gazetteer","count":28,"aggregations":null}]}]}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
