interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/metadata/search?free-text=LandsatPanSharpenTemplate
  response:
    body:
      string: '[{"isPublic":false,"keywords":["LandsatPanSharpenTemplate"],"sensors":["LandsatPanSharpen"],"keynodes":[{"id":"LocallyProjectivePanSharpen","description":"LocallyProjectivePanSharpen"}],"description":"LandsatPanSharpen
        and LocallyProjectivePanSharpen","metadataAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"templateAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"datePublished":"2019-04-16T20:05:57.109Z","name":"LandsatPanSharpenTemplate","templateId":"d69cfa9981d778e67f2c62343b3e5d60ef194e46b8187f218e739939fc5b0297","id":"cdd6eef185f746c6a5656518f469ee18"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/d69cfa9981d778e67f2c62343b3e5d60ef194e46b8187f218e739939fc5b0297
  response:
    body:
      string: '{"id":"d69cfa9981d778e67f2c62343b3e5d60ef194e46b8187f218e739939fc5b0297","defaultNodeId":"LocallyProjectivePanSharpen","edges":[{"id":"edge-2","index":2,"source":"LandsatReadPanchromatic","destination":"LocallyProjectivePanSharpen"},{"id":"edge-1","index":1,"source":"LandsatReadMultispectral","destination":"LocallyProjectivePanSharpen"},{"id":"edge-3","index":1,"source":"LocallyProjectivePanSharpen","destination":"Reproject"}],"nodes":[{"id":"Reproject","operator":"Reproject","parameters":{"Dest
        SRS Code":"${DestSRSCode:-EPSG:4326}","Dest pixel-to-world transform":"null","Source
        SRS Code":"${SourceSRSCode:-EPSG:4326}","Source pixel-to-world transform":"null"}},{"id":"LocallyProjectivePanSharpen","operator":"LocallyProjectivePanSharpen","parameters":{}},{"id":"LandsatReadMultispectral","operator":"LandsatRead","parameters":{"landsatId":"${catalogIdMultispectral}","productSpec":"multispectral"}},{"id":"LandsatReadPanchromatic","operator":"LandsatRead","parameters":{"landsatId":"${catalogIdPanchromatic}","productSpec":"panchromatic"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/d69cfa9981d778e67f2c62343b3e5d60ef194e46b8187f218e739939fc5b0297/metadata?catalogIdMultispectral=LC80370302014268LGN00&catalogIdPanchromatic=LC80370302014268LGN00
  response:
    body:
      string: '{"imageMetadata":{"imageId":"LC80370302014268LGN00","version":1.1,"profileName":"georectified_image","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":61,"numYTiles":62,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"UNSIGNED_SHORT","imageHeight":15661,"imageWidth":15401,"sensorPlatformName":"LANDSAT8","sensorName":"Operational
        Land Imager","vendorName":"NASA/USGS","vendorDatasetIdentifier":"Path=37:Row=30","acquisitionDate":"2014-09-25T18:01:18.581Z","colorInterpretation":"LANDSAT_8_30M","imageBoundsWGS84":"POLYGON
        ((-110.86347858369699 44.246853761678445, -107.9721339914049 44.20678990456917,
        -108.07475186534529 42.09427294284964, -110.86811362682216 42.13149907506905,
        -110.86347858369699 44.246853761678445))","groundSampleDistanceMeters":15.0,"minX":0,"minY":0,"maxX":15400,"maxY":15660,"minTileX":0,"minTileY":0,"maxTileX":60,"maxTileY":61,"sunAzimuth":156.24916298,"sunElevation":43.39473382,"cloudCover":0.04},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:32612","scaleX":15.0,"scaleY":-15.0,"translateX":510900.0,"translateY":4899300.0,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":null,"sensorMetadata":null,"imageAssociations":null,"rrdMetadata":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
