interactions:
- request:
    body: !!python/unicode '{"edges": [{"destination": "ef464c65-9376-5014-aa24-dc5a7a55c8d5",
      "id": "6fe38ece-2411-50d9-809b-f467b7794faf", "index": 1, "source": "c8b61793-d3c8-526e-9da6-6e2d4b4373f1"},
      {"destination": "c8b61793-d3c8-526e-9da6-6e2d4b4373f1", "id": "42b94d89-8f1b-5dc7-9ff5-2b82a9e00396",
      "index": 1, "source": "89cf9ab6-324c-5a59-aaa9-65ea49031168"}], "nodes": [{"id":
      "ef464c65-9376-5014-aa24-dc5a7a55c8d5", "operator": "Reproject", "parameters":
      {"Dest SRS Code": "EPSG:3857", "Dest pixel-to-world transform": "null", "Source
      SRS Code": "EPSG:4326", "Source pixel-to-world transform": "null"}}, {"id":
      "c8b61793-d3c8-526e-9da6-6e2d4b4373f1", "operator": "GeospatialCrop", "parameters":
      {"geospatialWKT": "POLYGON ((-109.49 43.19, -109.49 43.34, -109.72 43.34, -109.72
      43.19, -109.49 43.19))"}}, {"id": "89cf9ab6-324c-5a59-aaa9-65ea49031168", "operator":
      "IdahoRead", "parameters": {"bucketName": "idaho-dems", "imageId": "dgdem-2016-08-12-f-b193-7aa90f8d11f1",
      "objectStore": "S3"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode bc9ebc5af7e742fc348672024503aa38cdd45c58c31ffae56ae56bfbcba82fda}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/bc9ebc5af7e742fc348672024503aa38cdd45c58c31ffae56ae56bfbcba82fda/ef464c65-9376-5014-aa24-dc5a7a55c8d5/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"dgdem-2016-08-12-f-b193-7aa90f8d11f1","version":1.0,"profileName":"georectified_image","tileBucketName":"idaho-dems","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":4,"numYTiles":3,"tileXSize":256,"tileYSize":256,"numBands":1,"dataType":"SHORT","imageHeight":467,"imageWidth":716,"colorInterpretation":"PAN","imageBoundsWGS84":"POLYGON
        ((-109.73375566180614 39.72965453620991, -109.50304501650264 39.72965453620991,
        -109.50304501650264 39.61382988999376, -109.73375566180614 39.61382988999376,
        -109.73375566180614 39.72965453620991))","groundSampleDistanceMeters":30.104540264424465,"minX":-42,"minY":14975,"maxX":673,"maxY":15441,"minTileX":-1,"minTileY":58,"maxTileX":2,"maxTileY":60},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:3857","scaleX":35.869541279015905,"scaleY":-35.869541279015905,"translateX":-1.2213999282372043E7,"translateY":5363880.215157016,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[2871,23454,66384,34020,213316,306307,372454,372446,219176,227128,191923,218637,218010,178810,204236,199604,140699,148240,107508,141454,112670,117284,127280,105993,155583,162484,242810,141832,147884,210413,153196,192499,136925,138908,189707,146620,226436,151500,153529,201546,125607,161541,131671,137934,188920,135857,198289,156282,169793,220433,171813,216503,170029,222953,159231,160628,216868,268689,214653,168017,150069,183698,136438,221017,179307,124292,155633,112176,135784,95985,89983,1187[...]
