interactions:
- request:
    body: !!python/unicode '{"searchAreaWkt": "POLYGON ((-105.0207996368408345 39.7338828628182839,
      -105.0207996368408345 39.7365972921260067, -105.0158751010894775 39.7365972921260067,
      -105.0158751010894775 39.7338828628182839, -105.0207996368408345 39.7338828628182839))",
      "types": ["IDAHOImage"], "filters": ["catalogID = ''10400100203F1300''"]}'
    headers:
    method: POST
    uri: https://geobigdata.io/catalog/v2/search
  response:
    body: {string: !!python/unicode '{"stats": {"recordsReturned": 2, "totalRecords":
        2, "typeCounts": {"IDAHOImage": 2, "GBDXCatalogRecord": 2, "WV03_VNIR": 2,
        "DigitalGlobeProduct": 2}}, "results": [{"identifier": "cea67467-f90f-4eb8-85f0-62b875f51dea",
        "type": ["GBDXCatalogRecord", "IDAHOImage", "DigitalGlobeProduct", "WV03_VNIR"],
        "properties": {"satAzimuth": 222.5, "sunAzimuth": 154.5, "epsgCode": "4326",
        "cloudCover": 0, "numYTiles": 41, "numXTiles": 42, "imageWidth": 10651, "tileXOffset":
        0, "tileYSize": 256, "idahoImageId": "cea67467-f90f-4eb8-85f0-62b875f51dea",
        "catalogID": "10400100203F1300", "vendorDatasetIdentifier": "LV1B:055640773010_01_P003:10400100203F1300:A01001020110C700",
        "version": "1.0", "numBands": 8, "offNadirAngle": 19.9, "platformName": "WORLDVIEW03_VNIR",
        "vendorName": "DigitalGlobe", "imageHeight": 10241, "sunElevation": 63.1,
        "vendor": "DigitalGlobe", "acquisitionDate": "2016-08-12T18:18:31.264Z", "dataType":
        "UNSIGNED_SHORT", "timestamp": "2016-08-12T18:18:31.264Z", "tileYOffset":
        0, "bucketName": "idaho-images", "tileXSize": 256, "colorInterpretation":
        "WORLDVIEW_8_BAND", "profileName": "dg_1b", "tilePartition": "0000", "groundSampleDistanceMeters":
        1.379, "sensorName": "8-band (Coastal, Blue, Green, Yellow, Red, Red-edge,
        NIR1, NIR2) Multispectral", "tileBucketName": "idaho-images", "footprintWkt":
        "MULTIPOLYGON(((-105.09591364 39.82376149, -104.92549201 39.83394599, -104.92564966
        39.70676557, -105.09596923 39.69658308, -105.09591364 39.82376149)))", "nativeTileFileFormat":
        "TIF", "pniirs": 3.5, "satElevation": 67.9, "sensorPlatformName": "WORLDVIEW03_VNIR"}},
        {"identifier": "f715c76b-7483-42ca-b146-cd88064f27cf", "type": ["GBDXCatalogRecord",
        "IDAHOImage", "DigitalGlobeProduct", "WV03_VNIR"], "properties": {"satAzimuth":
        222.5, "sunAzimuth": 154.5, "epsgCode": "4326", "cloudCover": 0, "numYTiles":
        161, "numXTiles": 167, "imageWidth": 42500, "tileXOffset": 0, "tileYSize":
        256, "idahoImageId": "f715c76b-7483-42ca-b146-cd88064f27cf", "catalogID":
        "10400100203F1300", "vendorDatasetIde[...]
