interactions:
- request:
    body: !!python/unicode '{"edges": [{"destination": "b4002706-8d03-5bc4-9ada-47bed2760beb",
      "id": "8e5ff05d-1437-568b-8529-aaf8a1f18a95", "index": 1, "source": "79c59ebf-a95d-5084-a5d6-66e8ed69096f"}],
      "nodes": [{"id": "b4002706-8d03-5bc4-9ada-47bed2760beb", "operator": "Reproject",
      "parameters": {"Dest SRS Code": "EPSG:4326", "Dest pixel-to-world transform":
      "null", "Source SRS Code": "EPSG:4326", "Source pixel-to-world transform": "null"}},
      {"id": "79c59ebf-a95d-5084-a5d6-66e8ed69096f", "operator": "LandsatRead", "parameters":
      {"landsatId": "LC80370302014268LGN00", "productSpec": "multispectral"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rda.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode f7bd9046f4d25e03b2bf687582a87e4f4799fe3feaabee39ac0f56020deb8fd1}
    headers:
      content-type: [text/plain;charset=UTF-8]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/metadata/f7bd9046f4d25e03b2bf687582a87e4f4799fe3feaabee39ac0f56020deb8fd1/b4002706-8d03-5bc4-9ada-47bed2760beb/metadata.json
  response:
    body: {string: !!python/unicode '{"imageMetadata":{"imageId":"LC80370302014268LGN00","version":1.1,"profileName":"georectified_image","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":37,"numYTiles":27,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"UNSIGNED_SHORT","imageHeight":6787,"imageWidth":9101,"sensorPlatformName":"LANDSAT8","sensorName":"Operational
        Land Imager","vendorName":"NASA/USGS","vendorDatasetIdentifier":"Path=37:Row=30","acquisitionDate":"2014-09-25T18:01:18.581Z","colorInterpretation":"LANDSAT_8_30M","imageBoundsWGS84":"POLYGON
        ((-110.88552639621763 44.246537170966825, -108.00423432976561 44.246537170966825,
        -108.00423432976561 42.09783601120308, -110.88552639621763 42.09783601120308,
        -110.88552639621763 44.246537170966825))","groundSampleDistanceMeters":30.0,"minX":-55,"minY":1,"maxX":9045,"maxY":6787,"minTileX":-1,"minTileY":0,"maxTileX":35,"maxTileY":26,"sunAzimuth":156.24916298,"sunElevation":43.39473382,"cloudCover":0.04},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":3.165907116198241E-4,"scaleY":-3.165907116198241E-4,"translateX":-110.86811390707854,"translateY":44.246853761678445,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":null,"sensorMetadata":null,"imageAssociations":null,"rrdMetadata":null}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: ''}
version: 1
