interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/stripMetadata/103001007B9DD400
  response:
    body:
      string: '{"catalogIdentifier":"103001007B9DD400","vnirImages":[{"imageId":"d8fdda05-541a-45e9-989b-f8165f065164","version":1.1,"profileName":"dg_1b","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":35,"numYTiles":27,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"UNSIGNED_SHORT","imageHeight":6686,"imageWidth":8820,"sensorPlatformName":"WV02","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:011162744010_01_P001:103001007B9DD400:A01001051D072800","acquisitionDate":"2018-03-26T18:06:15.509Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-105.17441386 40.0162811, -105.17415577 39.89818394, -104.97721534 39.89949595,
        -104.97691213 40.01722868, -105.17441386 40.0162811))","groundSampleDistanceMeters":1.943,"minX":0,"minY":0,"minTileX":0,"minTileY":0,"maxTileX":35,"maxTileY":27,"sunAzimuth":156.3,"sunElevation":50.3,"satAzimuth":185.9,"satElevation":76.1,"cloudCover":0.63,"offNadirAngle":12.1,"sensorAlias":"WV02_MULTI","oneBResamplingKernel":"MTF","absoluteCalibrationFactors":[0.009295654,0.01260825,0.009713071,0.005101088,0.01103623,0.004539619,0.0122438,0.009042234],"effectiveBandwidths":[0.0473,0.0543,0.063,0.0374,0.0574,0.0393,0.0989,0.0996],"tdiLevels":[24.0,14.0,14.0,24.0,10.0,24.0,10.0,24.0],"bandAliases":["C","B","G","Y","R","RE","N","N2"],"pniirs":3.0},{"imageId":"24f779dc-cc3e-4f10-81a8-8da42305147e","version":1.1,"profileName":"dg_1b","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":35,"numYTiles":29,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"UNSIGNED_SHORT","imageHeight":7294,"imageWidth":8820,"sensorPlatformName":"WV02","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGl[...]
