interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vector.geobigdata.io/insight-vector/api/index/query/vector-gbdx-alpha-catalog-v2-*/items?q=item_type%3AGBDXCatalogRecord+AND+%28attributes.catalogID.keyword%3A104001002838EC00+OR+id%3A104001002838EC00%29+AND+NOT+item_type%3ADigitalGlobeAcquisition&count=1&left=-180.0&right=180.0&lower=-90.0&upper=90.0
  response:
    body:
      string: '[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[-85.82959724,10.30277905],[-85.68413321,10.32291966],[-85.68507931,10.19186139],[-85.82950676,10.17293912],[-85.82959724,10.30277905]]]]},"properties":{"ingest_source":"GBDX_INGEST_ALPHA","item_date":"2017-02-07T16:45:13.539Z","original_crs":"EPSG:4326","item_type":["GBDXCatalogRecord","IDAHOImage","DigitalGlobeProduct","WV03_VNIR"],"name":null,"format":null,"ingest_date":"2018-06-29T01:58:13.409Z","attributes":{"profileName":"dg_1b","tilePartition":"0000","acquisitionDate":"2017-02-07T16:45:13.539Z","bucketName":"rda-images-1","numBands_int":1,"sunAzimuth_dbl":144.5,"nativeTileFileFormat":"PNG","colorInterpretation":"PAN","cloudCover_int":0,"idahoImageId":"d6cf7846-20b5-4a79-bc40-a95fd9fbb919","satAzimuth_dbl":223.5,"satElevation_dbl":60.4,"pniirs_dbl":5.4,"numYTiles_int":38,"tileXOffset_int":0,"epsgCode":"4326","vendor":"DigitalGlobe","sunElevation_dbl":59.1,"platformName":"WORLDVIEW03_VNIR","imageHeight_int":38408,"numXTiles_int":42,"sensorPlatformName":"WORLDVIEW03_VNIR","sensorName":"Panchromatic","dataType":"UNSIGNED_SHORT","imageWidth_int":42500,"tileXSize_int":0,"tileYSize_int":0,"offNadirAngle_dbl":26.7,"tileBucketName":"rda-images-1","vendorName":"DigitalGlobe,
        Inc.","version":"1.1","tileYOffset_int":0,"catalogID":"104001002838EC00","vendorDatasetIdentifier":"LV1B:058116120010_01_P008:104001002838EC00:A01001038C188400","groundSampleDistanceMeters_dbl":0.377},"ingest_attributes":{"_rest_user":"idahosvc@digitalglobe.com","_rest_url":"http://vector.geobigdata.io/api/vectors/gbdx-alpha-catalog-v2-%257Bitem_date%253Ayyyy%257D"},"id":"d6cf7846-20b5-4a79-bc40-a95fd9fbb919","source":null,"text":""}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/metadata/search?free-text=DigitalGlobeStripTemplate
  response:
    body:
      string: '[{"isPublic":false,"keywords":["DigitalGlobeStripTemplate"],"sensors":["DigitalGlobeStripTemplate"],"keynodes":[{"id":"Format","description":"Format"}],"description":"DigitalGlobeStripTemplate
        and Format","metadataAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"templateAuthor":{"firstName":"Brett","familyName":"Cullen","email":"brett.cullen@digitalglobe.com"},"datePublished":"2019-04-16T20:01:15.299Z","name":"DigitalGlobeStripTemplate","templateId":"dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3","id":"8c1278beadd34612a531ba3d7fdd91ed"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3
  response:
    body:
      string: '{"id":"dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3","defaultNodeId":"Format","edges":[{"id":"edge-1","index":1,"source":"DigitalGlobeStrip","destination":"Format"},{"id":"edge-2","index":1,"source":"DigitalGlobeStrip","destination":"RadiometricDRA"}],"nodes":[{"id":"Format","operator":"Format","parameters":{"dataType":"${dataType}"}},{"id":"DigitalGlobeStrip","operator":"DigitalGlobeStrip","parameters":{"CRS":"${crs}","GSD":"${gsd}","bands":"${bands}","catId":"${catId}","correctionType":"${correctionType}","fallbackToTOA":"${fallbackToTOA}"}},{"id":"RadiometricDRA","operator":"RadiometricDRA","parameters":{}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://rda.geobigdata.io/v1/template/dba0e8799ca2f5cf3bb056f81ad7fd5d71e283a9eaf50109830bf7233d328fa3/metadata?catId=104001002838EC00&crs=EPSG%3A4326&gsd=null&correctionType=TOAREFLECTANCE&bands=MS&fallbackToTOA=True&nodeId=Format&dataType=4
  response:
    body:
      string: '{"imageMetadata":{"imageId":"db6c2a28-488a-4355-a8f7-5e8e13e15213","version":1.1,"profileName":"georectified_image","tileBucketName":"rda-images-1","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":0,"tileYOffset":0,"numXTiles":43,"numYTiles":311,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"FLOAT","imageHeight":79387,"imageWidth":10890,"sensorPlatformName":"WV03","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:058116120010_01_P001:104001002838EC00:A01001038C186C00","acquisitionDate":"2017-02-07T16:45:03.042Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-85.82997948 11.03403918, -85.68343600173914 11.03403918, -85.68343600173914
        9.965752025849802, -85.82997948 9.965752025849802, -85.82997948 11.03403918))","groundSampleDistanceMeters":1.498,"minX":0,"minY":0,"maxX":10889,"maxY":79386,"minTileX":0,"minTileY":0,"maxTileX":42,"maxTileY":310,"sunAzimuth":145.1,"sunElevation":58.5,"satAzimuth":220.5,"satElevation":60.7,"cloudCover":0.0,"offNadirAngle":26.4,"sensorAlias":"WV03_MULTI","oneBResamplingKernel":"MTF","absoluteCalibrationFactors":[0.0143287,0.0176201,0.0133187,0.00684307,0.0102,0.00621996,0.0117971,0.0106378],"effectiveBandwidths":[0.0405,0.054,0.0618,0.0381,0.0585,0.0387,0.1004,0.0889],"tdiLevels":[24.0,14.0,14.0,24.0,14.0,24.0,14.0,24.0],"bandAliases":["C","B","G","Y","R","RE","N","N2"],"pniirs":3.4},"imageGeoreferencing":{"spatialReferenceSystemCode":"EPSG:4326","scaleX":1.3456701401365433E-5,"scaleY":-1.3456701401365433E-5,"translateX":-85.82997948,"translateY":11.03403918,"shearX":0.0,"shearY":0.0},"rpcSensorModel":null,"histogram":{"histograms":{"0":[0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,[...]
